.card-header-icon {
    padding-right: 1rem;
}

.card-body-item {
    border-left: 4px solid #2395FF;
    border-radius: 6px;
    padding:10px;
    margin-top: 9px;
}

.card-body-item.active {
    border-left: 4px solid #2395FF;
}

.card-body-item.inactive {
    border-left: 4px solid #A1ACB8;
}

.card-body-item:not(:first) {
   margin-top: 1rem;
}

.opacity-8 {
    opacity: 0.8
}

.text-gray{
    color: #929CA9;
}

.bg-active{
    background-color: #F9FBFF;
}


.bg-inactive{
    background-color: #EBEDEF;
}