<div class="o_control_panel">
    <ol class="breadcrumb">
        <li class="active">Sổ quỹ tiền</li>
    </ol>
</div>

<div class="p-3">
    <nav>
        <div class="nav nav-pills">
            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-page-1" 
                (click)="clickTabPage('so_quy_tien')">Sổ quỹ tiền</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-page-2"
                (click)="clickTabPage('phieu_thu')">Phiếu thu</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-page-2"
                (click)="clickTabPage('phieu_chi')">Phiếu chi</a>
        </div>
    </nav>
    <div class="tab-content mt-3">
        <div class="tab-pane active" id="nav-page-1">
            <app-cash-book-tab-page-ca-bo></app-cash-book-tab-page-ca-bo>
        </div>
        <div class="tab-pane" id="nav-page-2">
            <app-cash-book-tab-page-re-pa></app-cash-book-tab-page-re-pa>
        </div>
    </div>
</div>