.filter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 14px;
}

.filter-left {
    width: 40%;
}

.filter-right {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#filteredAdvance {
    font-weight: 500;
}

.filter-container {
    width: 450px;
}

.filter-title {
    font-size: 1.05rem;
    font-weight: 500;
    width: 100%;
    background: #f2f7ff;
    padding: 0.5rem;
    height: 36px;
}

.filter-label {
    font-weight: 500;
    padding: 0.5rem 0;
}

.filter-content {
    /* padding: 0 0.5rem; */
}

.filter-info {
    width: fit-content;
    margin-right: 10px;
    position: relative;
}

.filter-info i {
    position: absolute;
    top: 5px;
    right: 5px;
    /* height: 100%; */
}

.data-filter {
    display: flex;
    flex-wrap: wrap;
}

.alert {
    padding: 5px 15px 5px 10px !important;
}

.filter-dropdown, .revenue-cmp {
    margin-top: 0;
}

@media only screen and (max-width: 940px) {
    .revenue-cmp {
        margin-top: 7px;
    }
}

@media only screen and (max-width: 1354px) {
    .filter-dropdown {
        margin-top: 7px;
    }
}