.filter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 14px;
}

.filter-left {
    width: 40%;
}

.filter-right {
    width: 60%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.demo-chart {
    height: 480px;
}

.filter-container {
    width: 450px;
}

.filter-title {
    font-size: 1.05rem;
    font-weight: 500;
    width: 100%;
    background: #f2f7ff;
    padding: 0.5rem;
    height: 36px;
}

.filter-label {
    font-weight: 500;
    padding: 0.5rem;
}

.filter-content {
    padding: 0 0.5rem;
}