<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="active">{{title}}</li>
        </ol>
        <div class="o_cp_searchview">
            <input type="text" class="o_searchview_input form-control btn-sm" placeholder="Tìm kiếm theo tên nhân viên"
                [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)" />
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <!-- <button class="btn btn-primary mr-2 btn-sm" (click)="changeWeekMonth('weeks')"
                        accesskey="c">Tuần</button> -->
                    <!-- <button class="btn btn-primary btn-sm" (click)="changeWeekMonth('months')"
                        accesskey="c">Tháng</button> -->
                </div>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<div class="o_content">
    <div ngbDropdown class="d-inline-flex mr-2 float-right pb-2">
        <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle><i
                class="fas fa-cog"></i></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button (click)="setupTimeKeeping()" ngbDropdownItem>Cầu hình chấm công</button>
            <button (click)="setupWordEntryType()" ngbDropdownItem>Loại đầu vào công việc</button>
        </div>
    </div>
    <div class="float-right pb-2">
        <!-- <div class="d-inline-flex">
            <button (click)="exportFileTimeKeeping()" class="btn btn-outline-primary mr-3 btn-sm">Xuất file <i
                    class="fas fa-file-export"></i></button>
        </div> -->
    </div>
    <div class="float-right pb-2 mr-3">
        <app-tai-date-range-filter-dropdown [dateFrom]="monthStart" (searchChange)="buttonFilterMonth($event)"
            [title]="'Thời gian'" [dateTo]="monthEnd"></app-tai-date-range-filter-dropdown>
    </div>
    <table class="table table-bordered table-content">
        <thead>
            <tr>
                <th *ngIf="flag" colspan="32" scope="col">
                    <div class="float-left">
                        <button class="btn btn-secondary btn-sm" (click)="previousMonthFilter(filterMonth)">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <span class="title_month">Tháng {{filterMonth | date:'MM - yyyy'}}</span>
                        <button class="btn btn-secondary btn-sm" (click)="nextMonthFilter(filterMonth)">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>

                    <div class="float-right">
                        <span class="mr-4 text-success">
                            <i class="fas fa-circle mt-2 mr-1 "></i>
                            <span class="pr-3"></span>
                            Hoàn thành
                        </span>
                        <span class="mr-4 text-primary">
                            <i class="fas fa-circle mt-2 mr-1"></i>
                            <span class="pr-3"></span>
                            Vào/ra
                        </span>
                        <span class="mr-4 text-warning">
                            <i class="fas fa-circle mt-2 mr-1 "></i>
                            <span class="pr-3"></span>
                            Chưa chấm
                        </span>
                    </div>
                </th>
                <!-- <th *ngIf="!flag" colspan="31" scope="col">
                    <button class="btn btn-primary btn-sm" (click)="previousWeekFilter()">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    Tháng {{filterMonth | date:'MM - yyyy'}}
                    <button class="btn btn-primary btn-sm" (click)="nextWeekFilter()"><i
                            class="fas fa-chevron-right"></i></button>
                </th> -->
            </tr>
            <tr>
                <th class="align-self-center" scope="col">Tên Nhân viên</th>
                <th scope="col" *ngFor="let date of dateList">
                    <div class="o_kanban_header">
                        <div class="o_kanban_header_title" *ngIf="date.toDateString() != today.toDateString()">
                            <!-- <span class="o_column_title">{{date | date: 'EE'}}</span> -->
                            <span class="o_column_title"> {{date | date: 'dd'}}</span>
                        </div>
                        <div class="o_kanban_header_title text-success"
                            *ngIf="date.toDateString() == today.toDateString()">
                            <!-- <span class="o_column_title">{{date | date: 'EE'}}</span> -->
                            <span class="o_column_title"> {{date | date: 'dd'}}</span>
                        </div>
                    </div>
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empl of listEmployeies">
                <th scope="row" style="min-width: 200px;">{{empl.name}}</th>
                <td *ngFor="let date of this.listTimeSheetByEmpId[empl.id]">
                    <div class="oe_kanban_content">
                        <div class="oe_kanban_timekepping" *ngFor="let cc of date.chamCongs"
                            (click)="clickTimeSheet($event, cc.id, date.date, empl)">
                            <div class="oe_kanban_timeSheet"
                                ngbPopover="Tên: {{empl.name}} | Loại: {{cc.workEntryType ? cc.workEntryType.name: ''}} | Giờ vào : {{cc.timeIn ? (cc.timeIn | date: 'HH:mm'): 'Chưa chấm'}} | Giờ ra : {{cc.timeOut ? (cc.timeOut | date: 'HH:mm'): 'Chưa chấm'}}"
                                popoverTitle="Chấm công {{empl.name}}"
                                [ngStyle]="{'background-color': cc.workEntryType ? cc.workEntryType.color: '#dee2e6'}">
                                <span
                                    title="{{cc.workEntryType ? cc.workEntryType.name: ''}}">{{cc.workEntryType ? cc.workEntryType.name: ''}}
                                </span>
                                <span class="time_sheet_type">
                                    <i title="Hoàn thành chấm công" *ngIf="cc.status == 'done'"
                                        class="text-success fas fa-circle"></i>
                                    <i title="Chấm vào/Chấm ra" *ngIf="cc.status == 'process'"
                                        class="text-primary fas fa-circle"></i>
                                    <i title="Chưa chấm công" *ngIf="cc.status == 'intitial'"
                                        class="text-warning fas fa-circle"></i>
                                </span>
                            </div>
                        </div>
                        <div (click)="clickTimeSheetCreate($event,date.date,empl)" class="oe_kanban_timekepping">
                            <div class="oe_kanban_timeSheet_create"
                                (click)="clickTimeSheetCreate($event,date.date,empl)">
                                <i class="fas fa-plus text-primary"></i>
                            </div>
                        </div>
                        <div class="oe_kanban_timeSheet" *ngIf="!date.chamCongs">
                            <div class="oe_kanban_timeSheet"></div>
                        </div>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>