<div class="o_content">
    <div class="container p3">
        <div class="card">
            <div class="card-body" style="height: 430px">
                <h5 class="card-title">5 dịch vụ được sử dụng nhiều nhất</h5>
                <div>
                    <kendo-chart [seriesColors]="['pink']" style="height: 350px">
                        <kendo-chart-series>
                            <kendo-chart-series-item type="bar" [data]="topServiceItems" field="productQtyTotal"
                                categoryField="productName">
                            </kendo-chart-series-item>
                        </kendo-chart-series>
                    </kendo-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="container p3">
        <div class="card">
            <div class="card-body">
                <div class="row" style="height: 400px">
                    <div class="col">
                        <h5 class="card-title">Doanh thu tuần qua</h5>
                        <kendo-chart [seriesColors]="['#ff8566', '#668cff']" [class.emptyItems]="isInvoiceEmpty"
                            style="height: 350px">
                            <ng-template kendoChartDonutCenterTemplate>
                                <h3>{{invoiceLabel}}</h3>
                            </ng-template>
                            <kendo-chart-series>
                                <kendo-chart-series-item type="donut" [data]="invoiceItems" categoryField="name"
                                    field="value">
                                    <kendo-chart-series-item-labels *ngIf="!isInvoiceEmpty" [content]="labelAmRs"
                                        color="#fff" background="none">
                                    </kendo-chart-series-item-labels>
                                </kendo-chart-series-item>
                            </kendo-chart-series>
                            <kendo-chart-legend [visible]="false"></kendo-chart-legend>
                        </kendo-chart>
                        <!-- <kendo-chart style="height: 350px">
                                    <kendo-chart-title text="Units sold"></kendo-chart-title>
                                    <kendo-chart-category-axis>
                                        <kendo-chart-category-axis-item [categories]="['T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'CN']"
                                            [title]="{ text: 'Ngày trong tuần' }">
                                        </kendo-chart-category-axis-item>
                                    </kendo-chart-category-axis>
                                    <kendo-chart-series>
                                        <kendo-chart-series-item type="area" [data]="[123, 276, 310, 212, 240, 156, 98]">
                                        </kendo-chart-series-item>
                                        <kendo-chart-series-item type="area" [data]="[165, 210, 287, 144, 190, 167, 212]">
                                        </kendo-chart-series-item>
                                        <kendo-chart-series-item type="area" [data]="[56, 140, 195, 46, 123, 78, 95]">
                                        </kendo-chart-series-item>
                                    </kendo-chart-series>
                                    <kendo-chart-legend [visible]="true"></kendo-chart-legend>
                                </kendo-chart> -->
                    </div>
                    <div class="col">
                        <h5 class="card-title">Lịch hẹn hôm nay</h5>
                        <kendo-chart [class.emptyItems]="isAppointEmpty" style="height: 350px">
                            <ng-template kendoChartDonutCenterTemplate>
                                <h3><a *ngIf="!isAppointEmpty"
                                        [routerLink]="['/appointments/']">{{appointLabel}}</a><span
                                        *ngIf="isAppointEmpty">{{appointLabel}}</span></h3>
                            </ng-template>
                            <kendo-chart-series>
                                <kendo-chart-series-item type="donut" [data]="appointItems" categoryField="state"
                                    field="count" colorField="color">
                                    <kendo-chart-series-item-labels *ngIf="!isAppointEmpty" [content]="getState"
                                        color="#fff" background="none">
                                    </kendo-chart-series-item-labels>
                                </kendo-chart-series-item>
                            </kendo-chart-series>
                            <kendo-chart-legend [visible]="false"></kendo-chart-legend>
                        </kendo-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>