<div class="o_form_view o_form_editable" [formGroup]="formGroup">
    <div class="o_form_sheet_bg">
        <div class="o_form_statusbar">
            <div class="o_statusbar_buttons">
                <button type="button" class="btn btn-primary btn-sm"
                    *ngIf="id && ['draft', 'stopped'].indexOf(campaign.state) !== -1" (click)="startCampaign()">
                    Chạy chiến dịch
                </button>
                <button type="button" class="btn btn-primary btn-sm" *ngIf="campaign.state == 'running'"
                    (click)="stopCampaign()">
                    Dừng chiến dịch
                </button>
                <button type="button" class="btn btn-primary btn-sm" (click)="onSave()"
                    *ngIf="['draft', 'stopped'].indexOf(campaign.state) !== -1">
                    Lưu chiến dịch
                </button>
                <button type="button" class="btn btn-sm btn-light" *ngIf="id" (click)="createNew()">
                    Thêm mới
                </button>
                <!-- <button type="button" class="btn btn-primary btn-sm" (click)="onStop()">
                    Dừng lại
                </button> -->
            </div>
            <div class="o_statusbar_status o_field_widget o_readonly_modifier">
                <button [disabled]="campaign.state !== 'stopped'" class="btn o_arrow_button disabled"
                    [ngClass]="{'btn-primary': campaign.state === 'stopped', 'btn-secondary': campaign.state !== 'stopped'}"
                    type="button">
                    Đã dừng
                </button>
                <button [disabled]="campaign.state !== 'running'" class="btn o_arrow_button disabled"
                    [ngClass]="{'btn-primary': campaign.state === 'running', 'btn-secondary': campaign.state !== 'running'}"
                    type="button">
                    Đang chạy
                </button>
                <button [disabled]="campaign.state !== 'draft'" class="btn o_arrow_button disabled"
                    [ngClass]="{'btn-primary': campaign.state === 'draft', 'btn-secondary': campaign.state !== 'draft'}"
                    type="button">
                    Mới
                </button>
            </div>
        </div>
        <div class="o_form_sheet">
            <div class="oe_title">
                <div class="oe_title">
                    <label class="o_form_label oe_edit_only">Tên chiến dịch</label>
                    <h1>
                        <input class="form-control" formControlName="name" required>
                    </h1>
                </div>
            </div>

            <div class="o_group" *ngIf="campaign.dateStart">
                <table class="o_group o_inner_group o_group_col_6">
                    <tbody>
                        <tr>
                            <td class="o_td_label">
                                <label class="o_form_label">Chạy lúc</label>
                            </td>
                            <td style="width:100%">
                                {{campaign.dateStart | date: 'short'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="o_group">
                <div class="mb-2">
                    <button accesskey="a" *ngIf="['draft', 'stopped'].indexOf(campaign.state) !== -1"
                        class="btn btn-secondary btn-sm" type="button" (click)="addActivity()">Thêm hoạt động</button>
                </div>
                <div>
                    <div *ngFor="let activity of activities" class="activity-item d-flex p-1" style="width: fit-content; "
                        (click)="editActivity(activity)">
                        <div class="pr-3 d-flex justify-content-end align-items-center" style="width: 90px;">
                            <small class="font-weight-600 text-secondary">{{activity.intervalNumber}} {{convertIntervalType(activity.intervalType)}}</small>
                        </div>
                        <div class="btn border p-2 shadow-sm" style="cursor: pointer;">
                            <i class="fas mx-1" [class.fa-envelope]="activity.activityType === 'message'" [class.fa-th-list]="activity.activityType === 'action'"></i>
                            <span class="mx-1 font-weight-600">
                                {{activity.name}}
                            </span>
                            <i class="activity-close fas fa-times mx-1" 
                                (click)="deleteActivity(activity.id)"></i>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-sm" (click)="clickSort()">Sắp xếp</button>
        </div>
    </div>
</div>