.button-border-bottom {
    border: 1px solid #cfcfcf;
    border-top-style: none !important;
    border-right-style: none !important;
    border-left-style: none !important;
    -webkit-align-items: baseline;
    align-items: baseline;
    display: inline-flex;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
}

.form-check-inline {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: 0rem;
}

input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: #efefef;
    color: black;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all .3s ease-out;
}

input[type="radio"]:checked+label {
    background-color: #007bff;
}