<div class="border rounded p-2 mt-2">
    <div [formGroup]="formGroup" class="bg-white my-2">
        <div class="div-table w-100">
            <div class="div-row">
                <div style="width: 200px; font-size: 1.1rem;" class="div-cell font-weight-600 pl-2">
                    {{line.name}}
                </div>
            </div>
        </div>
        <div class="px-2 w-100 pb-2">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-xs-12">
                    <table class="mw-100 o_form_view o_group">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label" style="width: 110px;">
                                    <label class="o_form_label_help">
                                        Răng
                                    </label>
                                </td>
                                <td colspan="1" style="vertical-align: top;">
                                    <span class="font-weight-600">{{teethList}}</span>
                                    <img *ngIf="isEditting" class="ml-2" style="cursor: pointer;"
                                        [src]="'' || 'assets/icons/teeth.svg'" alt="" (click)="toothSelection()"
                                        onerror="this.src='assets/teeth/box.svg';">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label" style="width: 110px;">
                                    <label class="o_form_label_help">
                                        Chẩn đoán
                                    </label>
                                </td>
                                <td colspan="1" class="o_td_label" style="vertical-align: top;">
                                    <span class="font-weight-600" *ngIf="!isEditting">{{line.diagnostic}}</span>
                                </td>
                            </tr>
                            <tr *ngIf="isEditting">
                                <td colspan="2" class="">
                                    <textarea formControlName="diagnostic" class="form-control"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xl-8 col-md-6 col-xs-12">
                    <div class="row">
                        <div class="col-xl-6 col-md-12 col-xs-12" style="padding: 0;">
                            <table class="o_group o_inner_group ">
                                <tbody>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label_help">
                                                Bác sĩ
                                            </label>
                                        </td>
                                        <td colspan="1" style="width: 100%; padding: 0 0 7px 0;">
                                            <span class="font-weight-600"
                                                *ngIf="!isEditting">{{line.employee?.name}}</span>
                                            <kendo-combobox [filterable]="true"
                                                (filterChange)="onEmployeeDoctor($event)" *ngIf="isEditting"
                                                style="width: 100%;" [data]="filteredEmployeesDoctor"
                                                [textField]="'name'" #employeeCbx formControlName="employee"
                                                [valueField]="'id'">
                                            </kendo-combobox>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label_help">
                                                Phụ tá
                                            </label>
                                        </td>
                                        <td colspan="1" style="width: 100%; padding: 0 0 7px 0;">
                                            <span class="font-weight-600"
                                                *ngIf="!isEditting">{{line.assistant?.name}}</span>
                                            <kendo-combobox [filterable]="true"
                                                (filterChange)="onEmployeeAssistant($event)" *ngIf="isEditting"
                                                style="width: 100%;" [data]="filteredEmployeesAssistant"
                                                [textField]="'name'" #assistantCbx formControlName="assistant"
                                                [valueField]="'id'">
                                            </kendo-combobox>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label_help">
                                                Người tư vấn
                                            </label>
                                        </td>
                                        <td colspan="1" style="width: 100%; padding: 0 0 7px 0;">
                                            <span class="font-weight-600"
                                                *ngIf="!isEditting">{{line.counselor?.name}}</span>
                                            <kendo-combobox [filterable]="true"
                                                (filterChange)="onEmployeeCounselor($event)" *ngIf="isEditting"
                                                style="width: 100%;" [data]="filteredEmployeesCounselor"
                                                [textField]="'name'" #counselorCbx formControlName="counselor"
                                                [valueField]="'id'">
                                            </kendo-combobox>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xl-6 col-md-12 col-xs-12">
                            <table class="o_group o_inner_group ">
                                <tbody>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label_help">
                                                Đơn giá
                                            </label>
                                        </td>
                                        <td colspan="1" style="width: 100%; text-align: end; padding: 0 7px 7px 0;">
                                            <div class="font-weight-600">
                                                <ng-container *ngIf="!isEditting; else elseTemplatePriceUnitPro">
                                                    {{getPriceUnitLinePromotion(line) | number}}
                                                </ng-container>
                                                <ng-template #elseTemplatePriceUnitPro>
                                                    {{getPriceUnitLinePromotion(formGroup.value) | number}}
                                                </ng-template>
                                            </div>
                                            <div>
                                                <ng-container *ngIf="!isEditting; else elseTemplatePriceUnit">
                                                    Giá gốc: <span class="font-weight-600">{{line.subPrice |
                                                        number}}</span>
                                                </ng-container>
                                                <ng-template #elseTemplatePriceUnit>
                                                    Giá gốc: <span
                                                        class="font-weight-600 mr-2">{{getValueFormControl('subPrice') |
                                                        number}}</span>
                                                    <i _ngcontent-sgd-c6="" class="far fa-edit text-success pointer"
                                                        [ngbPopover]="popContent" [popoverTitle]="popTitle"
                                                        [autoClose]="'outside'"></i>
                                                </ng-template>

                                                <ng-template #popContent let-greeting="greeting">
                                                    <kendo-numerictextbox style="width:100%;" [format]="'n0'" [min]="0"
                                                        [spinners]="false" formControlName="subPrice">
                                                    </kendo-numerictextbox>
                                                </ng-template>
                                                <ng-template #popTitle let-language="language">Giá gốc</ng-template>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label_help">
                                                Số lượng
                                            </label>
                                        </td>
                                        <td colspan="1" style="width: 100%; text-align: end; padding: 0 7px 7px 0;">
                                            <ng-container *ngIf="!isEditting; else elseTemplateQty">
                                                <span class="font-weight-600">
                                                    {{line.qty | number}}
                                                </span>
                                            </ng-container>
                                            <ng-template #elseTemplateQty>
                                                <kendo-numerictextbox style="width: 80px;" [format]="'n0'" [min]="0"
                                                    [spinners]="true" formControlName="qty">
                                                </kendo-numerictextbox>
                                            </ng-template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label_help">
                                                Thành tiền
                                            </label>
                                        </td>
                                        <td colspan="1" style="width: 100%; text-align: end; padding: 0 7px 7px 0;">
                                            <div class="font-weight-600">
                                                <ng-container *ngIf="!isEditting; else elseTemplatePriceSub">
                                                    {{line.amount | number}}
                                                </ng-container>
                                                <ng-template #elseTemplatePriceSub>
                                                    {{getPriceSubTotalFormGroup() | number}}
                                                </ng-template>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between pl-2">
        <div class="card border promotions">
            <div class="card-body px-3 py-2">
                <div class="d-flex">
                    <span>Ưu đãi phiếu điều trị</span>
                    <span class="ml-auto">{{line.amountPromotionToOrder | number}}</span>
                </div>
                <div class="d-flex">
                    <span>Ưu đãi dịch vụ</span>
                    <img (click)="onOpenPromotion()" class="ml-2 pointer"
                        src="../../../assets/icons/promotion-bg-primary.svg" alt="">
                    <span class="ml-auto">{{line.amountPromotionToOrderLine | number}}</span>
                </div>
            </div>
        </div>
        <div class="popover-footer d-flex" style="padding-top: 2.5rem">
            <button *ngIf="!isEditting" type="button" (click)="editLine()" title="Sửa dịch vụ"
                class="btn btn-sm btn-primary">
                <i class="far fa-edit pr-1"></i>
                <span>Chỉnh sửa</span>
            </button>
            <button *ngIf="isEditting" (click)="updateLineInfo(true)" class="btn btn-sm btn-primary">
                <i class="far fa-edit pr-1"></i>
                <span>Cập nhật</span>
            </button>
            <button (click)="deleteLine()" class="btn btn-danger btn-sm ml-2" title="Xóa dịch vụ">
                <i class="fas fa-trash pr-1"></i>
                <span>Xóa</span>
            </button>
            <button *ngIf="isEditting" (click)="onCancel()" class="btn btn-sm btn-danger ml-2">Hủy</button>
        </div>
    </div>
</div>