<header class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    <button type="button" ngbAutofocus class="close" data-dismiss="modal" aria-label="Close"
        (click)="onClose()" tabindex="-1">×</button>
</header>
<div class="modal-body o_act_window">
    <div class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_statusbar">
                <div class="o_statusbar_status o_field_widget o_readonly_modifier">
                    <button *ngIf="productRequestLineDisplay.state == 'done'" class="btn o_arrow_button disabled"
                        [class.btn-primary]="productRequestLineDisplay.state == 'done'"
                        [class.btn-secondary]="productRequestLineDisplay.state == 'done'" type="button">
                        Đã xuất
                    </button>
                    <button [disabled]="productRequestLineDisplay.state == 'confirmed'" class="btn o_arrow_button disabled"
                        [class.btn-primary]="productRequestLineDisplay.state == 'confirmed'"
                        [class.btn-secondary]="productRequestLineDisplay.state == 'confirmed'" type="button">
                        Đang yêu cầu
                    </button>
                    <button [disabled]="productRequestLineDisplay.state == 'draft'" class="btn o_arrow_button disabled"
                        [class.btn-primary]="productRequestLineDisplay.state == 'draft'"
                        [class.btn-secondary]="productRequestLineDisplay.state == 'draft'" type="button">
                        Nháp
                    </button>
                </div>
            </div>
            <div class="o_form_sheet">
                <div class="o_group">
                    <h3 *ngIf="productRequestLineDisplay.name" class="font-weight-bold">{{productRequestLineDisplay.name}}</h3>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Ngày yêu cầu</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <span *ngIf="seeForm">
                                        {{paymentDisplay.paymentDate | date: 'shortDate'}}
                                    </span>
                                    <kendo-datepicker *ngIf="!seeForm" formControlName="dateObj">
                                    </kendo-datepicker>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Phương thức</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <span *ngIf="seeForm">{{paymentDisplay.journal.name}}</span>
                                    <div *ngIf="!seeForm">
                                        <kendo-combobox [data]="filteredJournals" [textField]="'name'"
                                            [filterable]="true" #journalCbx formControlName="journal"
                                            [valueField]="'id'">
                                        </kendo-combobox>
                                        <div *ngIf="f.journal.errors && (f.journal.touched || f.journal.dirty || submitted)"
                                            class="text-danger">
                                            <div *ngIf="f.journal.errors.required">Vui lòng chọn phương thức thanh toán
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Số tiền</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <span *ngIf="seeForm">{{paymentDisplay.amount | number}}</span>
                                    <kendo-numerictextbox *ngIf="!seeForm" [min]="0" [format]="'n0'"
                                        formControlName="amount">
                                    </kendo-numerictextbox>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Nội dung</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <span *ngIf="seeForm">{{paymentDisplay.communication}}</span>
                                    <textarea *ngIf="!seeForm" type="text" class="form-control"
                                        formControlName="communication"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Ngày</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <span *ngIf="seeForm">
                                        {{paymentDisplay.paymentDate | date: 'shortDate'}}
                                    </span>
                                    <kendo-datepicker *ngIf="!seeForm" formControlName="paymentDateObj">
                                    </kendo-datepicker>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Nhóm người {{ getType() == 'thu' ? 'nộp' : 'nhận' }}</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <span *ngIf="seeForm">
                                        {{displayPartnerType(paymentDisplay.partnerType)}}
                                    </span>
                                    <div *ngIf="!seeForm">
                                        <kendo-dropdownlist
                                            [data]="filteredPartnerTypes"
                                            textField="text"
                                            valueField="value"
                                            [valuePrimitive]="true"
                                            formControlName="partnerType"
                                            (valueChange)="change_partnerType($event)">
                                        </kendo-dropdownlist>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label *ngIf="getType() == 'thu'" class="o_form_label">Người nộp tiền</label>
                                    <label *ngIf="getType() == 'chi'" class="o_form_label">Người nhận tiền</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-combobox [class.d-none]="seeForm" [data]="filteredPartners" 
                                        [textField]="'displayName'" [valueField]="'id'" [filterable]="true"
                                        #partnerCbx formControlName="partner">
                                    </kendo-combobox>
                                    <div *ngIf="f.partner.errors && (f.partner.touched || f.partner.dirty || submitted)"
                                        class="text-danger">
                                        <div *ngIf="f.partner.errors.required">Vui lòng chọn người {{ getType() == 'thu' ? 'nộp' : 'nhận' }} tiền</div>
                                    </div>
                                    <span *ngIf="seeForm">{{paymentDisplay.partner?.displayName}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button type="button" *ngIf="paymentDisplay.state == 'draft'" class="btn btn-primary mr-2" (click)="onSave()">Lưu</button> -->
    <button type="button" class="btn btn-primary mr-2" (click)="onSave()">Lưu</button>
    <button type="button" class="btn btn-primary mr-2" (click)="onRequest()">Yêu cầu</button>
    <button type="button" class="btn btn-danger mr-2" (click)="onCancel()">Hủy yêu cầu</button>
    <button type="button" class="btn btn-light mr-2" (click)="onClose()">Đóng</button>
</div>