.section {
    width: 100%;
    height: 100%;
    display: flex;
}
.section-left {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.section-right {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.section-full {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}