<header class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    <button type="button" ngbAutofocus class="close" data-dismiss="modal" aria-label="Close"
        (click)="onClose()" tabindex="-1">×</button>
</header>
<div class="modal-body o_act_window">
    <div class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_statusbar">
                <div class="o_statusbar_status o_field_widget o_readonly_modifier">
                    <button [disabled]="productRequestDisplay.state == 'done'" class="btn o_arrow_button disabled"
                        [class.btn-primary]="productRequestDisplay.state == 'done'"
                        [class.btn-secondary]="productRequestDisplay.state == 'done'" type="button">
                        Đã xuất
                    </button>
                    <button [disabled]="productRequestDisplay.state == 'confirmed'" class="btn o_arrow_button disabled"
                        [class.btn-primary]="productRequestDisplay.state == 'confirmed'"
                        [class.btn-secondary]="productRequestDisplay.state == 'confirmed'" type="button">
                        Đang yêu cầu
                    </button>
                    <button [disabled]="productRequestDisplay.state == 'draft'" class="btn o_arrow_button disabled"
                        [class.btn-primary]="productRequestDisplay.state == 'draft'"
                        [class.btn-secondary]="productRequestDisplay.state == 'draft'" type="button">
                        Nháp
                    </button>
                </div>
            </div>
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Ngày yêu cầu</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <!-- <span *ngIf="seeForm">
                                        {{productRequestDisplay.date | date: 'shortDate'}}
                                    </span>
                                    <kendo-datepicker *ngIf="!seeForm" formControlName="dateObj">
                                    </kendo-datepicker> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Người yêu cầu</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <span>---:"))---</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Bác sĩ chỉ định</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <!-- <span *ngIf="seeForm">{{productRequestDisplay.journal.name}}</span>
                                    <div *ngIf="!seeForm">
                                        <kendo-combobox [data]="filteredJournals" [textField]="'name'"
                                            [filterable]="true" #journalCbx formControlName="journal"
                                            [valueField]="'id'">
                                        </kendo-combobox>
                                        <div *ngIf="f.journal.errors && (f.journal.touched || f.journal.dirty || submitted)"
                                            class="text-danger">
                                            <div *ngIf="f.journal.errors.required">Vui lòng chọn phương thức thanh toán
                                            </div>
                                        </div>
                                    </div> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="section">
                    <div class="section-left">
                        hello
                    </div>
                    <div class="section-right">
                        hey
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button type="button" *ngIf="paymentDisplay.state == 'draft'" class="btn btn-primary mr-2" (click)="onSave()">Lưu</button> -->
    <button type="button" class="btn btn-primary mr-2" (click)="onSave()">Lưu</button>
    <button type="button" class="btn btn-primary mr-2" (click)="onRequest()">Yêu cầu</button>
    <button type="button" class="btn btn-danger mr-2" (click)="onCancel()">Hủy yêu cầu</button>
    <button type="button" class="btn btn-light mr-2" (click)="onClose()">Đóng</button>
</div>