<div class="text-left">
    <div class="tooltip_title">
        <label class="pl-2">Lưu ý</label>
    </div>
    <div class="p-2">
        <span>Người dùng không được nhập các ký tự đặt biệt @ _ {{"{}"}} [] | ~ ^ \\ $ và các từ khóa
            khuyến mãi sau:</span>
        <table class="table b-table-border table-sm mb-0 mt-2 b-table-text">
            <tbody>
                <tr>
                    <td>Giam gia</td>
                    <td>giam d</td>
                    <td>sale off</td>
                </tr>
                <tr>
                    <td>Khuyen mai</td>
                    <td>giamd</td>
                    <td>sale</td>
                </tr>
                <tr>
                    <td>Uu dai</td>
                    <td>giam&nbsp;&nbsp;d</td>
                    <td>sale d</td>
                </tr>
                <tr>
                    <td>Tang</td>
                    <td>giam toi</td>
                    <td>sale off</td>
                </tr>
                <tr>
                    <td>chiet khau</td>
                    <td>giam den</td>
                    <td>kmai</td>
                </tr>
                <tr>
                    <td>khuyen mai</td>
                    <td>giam gia</td>
                    <td>uu-dai</td>
                </tr>
                <tr>
                    <td>co hoi nhan ngay</td>
                    <td>giam ngay</td>
                    <td>giam-gia</td>
                </tr>
                <tr>
                    <td>co hoi boc tham</td>
                    <td>giam hoc phi</td>
                    <td>sale-off</td>
                </tr>
                <tr>
                    <td>rut tham</td>
                    <td>giam hphi</td>
                    <td>K.Mai</td>
                </tr>
                <tr>
                    <td>trung thuong</td>
                    <td></td>
                    <td>ma KM</td>
                </tr>
                <tr>
                    <td>giam***%</td>
                    <td></td>
                    <td>hoc bong (*) khi dang ky</td>
                </tr>
                <tr>
                    <td>sale***up to</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>mua* tang*</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>giamgia</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>