<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li><a routerLink="/hr/payslip-to-pay">Phiếu lương</a></li>
            <li class="active">{{payslipRecord !=null?payslipRecord.name :'Mới'}}</li>
        </ol>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <button type="button" class="btn btn-primary btn-sm" accesskey="s"
                        (click)="onSaveOrUpdate()">Lưu</button>
                    <a [routerLink]="['/hr/payslip-to-pay/create']" accesskey="c" *ngIf="id"
                        class="btn btn-secondary btn-sm">Thêm
                        mới</a>
                </div>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<div class="o_content">
    <div class="o_form_view" [formGroup]="payslipForm">
        <div class="o_form_sheet_bg">
            <div class="o_form_statusbar">
                <div class="o_statusbar_buttons">
                    <button type="button" *ngIf="this.lines?.value" accesskey="1" class="btn btn-primary btn-sm"
                        (click)="ConfirmSalary()">
                        Xác nhận
                    </button>
                    <button type="button" *ngIf="!this.lines?.value" accesskey="1" class="btn btn-primary btn-sm"
                        (click)="ComputeSalary()">
                        Tính lương
                    </button>
                    <button type="button" *ngIf="this.lines?.value" accesskey="1" class="btn btn-danger btn-sm"
                        (click)="Cancel()">
                        hủy
                    </button>
                </div>
                <div class="o_statusbar_status o_field_widget o_readonly_modifier">
                    <button class="btn o_arrow_button disabled"
                        [ngClass]="{'btn-primary': payslipRecord && payslipRecord.state === 'done', 'btn-secondary':  !payslipRecord || payslipRecord.state !== 'done'}"
                        type="button">
                        Hoàn thành
                    </button>
                    <button class="btn o_arrow_button disabled"
                        [ngClass]="{'btn-primary':  payslipRecord && payslipRecord.state === 'process', 'btn-secondary':  !payslipRecord || payslipRecord.state !== 'process'}"
                        type="button">
                        đang xử lý
                    </button>
                    <button class="btn o_arrow_button disabled"
                        [ngClass]="{'btn-primary':  !payslipRecord || payslipRecord.state === 'draft', 'btn-secondary':  payslipRecord && payslipRecord.state !== 'draft'}"
                        type="button">
                        Nháp
                    </button>
                </div>
            </div>
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Nhân viên
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-combobox class="w-100" [data]="listEmployees" [textField]="'name'"
                                        [filterable]="true" (selectionChange)="EmployeeChange($event)"
                                        (filterChange)="EmployeeFilter($event)" formControlName="employee"
                                        [valueField]="'id'">
                                    </kendo-combobox>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        thời gian
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <label>từ:</label>
                                    <kendo-datepicker formControlName="dateFrom"></kendo-datepicker>
                                    <label>đến:</label>
                                    <kendo-datepicker formControlName='dateTo'></kendo-datepicker>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        tên
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input type="text" class="form-control" formControlName="name" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Lương hợp đồng
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <label>{{this.employee? (this.employee.wage? (this.employee.wage | currency: "VND"): 'chưa thiết lập') : 'chưa chọn nhân viên'}}</label>
                                    &nbsp; <a *ngIf="employee && !employee.struct" href="#">thiết lập</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Mẫu lương
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <label>{{this.employee? (this.employee.struct? this.employee.struct.name: 'chưa thiết lập') : 'chưa chọn nhân viên'}}</label>
                                    &nbsp; <a *ngIf="employee && !employee.struct" href="#">thiết lập</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="this.IsShowLines == true " class="tab-contanner">
                    <app-hr-payslip-line-list></app-hr-payslip-line-list>
                </div>
            </div>
        </div>
    </div>
</div>