<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li><a routerLink="/hr/payslips">Phiếu lương</a></li>
            <li class="active">{{payslip.name || 'Mới'}}</li>
        </ol>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <button *ngIf="this.state.value != 'done'" type="button" class="btn btn-primary btn-sm"
                        accesskey="s" (click)="onSaveOrUpdate()">Lưu</button>
                    <a [routerLink]="['/hr/payslips/create']" accesskey="c" *ngIf="id"
                        class="btn btn-secondary btn-sm">Thêm
                        mới</a>
                </div>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<div class="o_content">
    <div class="o_form_view" [formGroup]="payslipForm">
        <div class="o_form_sheet_bg">
            <div class="o_form_statusbar">
                <div class="o_statusbar_buttons">
                    <button type="button" *ngIf="this.state.value == 'verify'" accesskey="1"
                        class="btn btn-primary btn-sm" (click)="ConfirmSalary()">
                        Xác nhận
                    </button>
                    <button type="button" *ngIf="this.state.value == 'draft' || this.state.value == 'verify'" accesskey="1"
                        class="btn btn-primary btn-sm" (click)="ComputeSalary()">
                        Tính toán lương
                    </button>
                    <button type="button" *ngIf="this.state.value !== 'draft'" accesskey="1" class="btn btn-danger btn-sm" (click)="actionCancel()">
                        Hủy phiếu
                    </button>
                </div>
                <div class="o_statusbar_status o_field_widget o_readonly_modifier">
                    <button class="btn o_arrow_button disabled"
                        [ngClass]="{'btn-primary': this.state.value === 'done', 'btn-secondary':  this.state.value !== 'done'}"
                        type="button">
                        Hoàn thành
                    </button>
                    <button class="btn o_arrow_button disabled"
                        [ngClass]="{'btn-primary':  this.state.value === 'verify', 'btn-secondary':  this.state.value  !== 'verify'}"
                        type="button">
                        Chờ xác nhận
                    </button>
                    <button class="btn o_arrow_button disabled"
                        [ngClass]="{'btn-primary':  this.state.value === 'draft', 'btn-secondary':  this.state.value !== 'draft'}"
                        type="button">
                        Nháp
                    </button>
                </div>
            </div>
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Nhân viên
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-combobox [class.d-none]="this.state.value !== 'draft'" [data]="listEmployees" [textField]="'name'" [filterable]="true"
                                        (valueChange)="EmployeeValueChange()" #empCbx formControlName="employee"
                                        [valueField]="'id'">
                                    </kendo-combobox>
                                    <span [class.d-none]="this.state.value === 'draft'">{{this.employee.value ? this.employee.value.name : ''}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Từ ngày
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-datepicker [class.d-none]="this.state.value !== 'draft'" (valueChange)="EmployeeValueChange(false)" formControlName="dateFrom">
                                    </kendo-datepicker>
                                    <span [class.d-none]="this.state.value === 'draft'">{{this.dateFrom.value | date:'shortDate'}}</span>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Đến ngày
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-datepicker  [class.d-none]="this.state.value !== 'draft'"  (valueChange)="EmployeeValueChange(false)" formControlName='dateTo'>
                                    </kendo-datepicker>
                                    <span [class.d-none]="this.state.value === 'draft'">{{this.dateTo.value | date:'shortDate'}}</span>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr *ngIf="this.structureType.value">
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Loại mẫu lương
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <span>{{this.structureType.value.name}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Mẫu lương
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-combobox [class.d-none]="this.state.value !== 'draft'" [data]="listStructs" [textField]="'name'" [filterable]="true"
                                        formControlName="struct" #structCbx [valueField]="'id'">
                                    </kendo-combobox>
                                    <span [class.d-none]="this.state.value === 'draft'">{{this.struct.value? this.struct.value.name : ''}}</span>

                                    <!-- <div *ngIf="!listStructs && this.employeeId?.value" class="text-warning">
                                        <div>
                                            <label
                                                class="text-danger">{{this.employeeId?.value? (this.struct.value? this.struct.value.name: 'chưa thiết lập loại mẫu lương') : ''}}</label>
                                            &nbsp; <a class="text-primary" (click)="editEmployee()"
                                                *ngIf="this.employeeId?.value && !this.struct.value">thiết
                                                lập</a>
                                        </div>
                                    </div> -->
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Tên
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input type="text" [class.d-none]="this.state.value === 'done'" class="form-control" formControlName="name" required>
                                    <span [class.d-none]="this.state.value !== 'done'">{{this.name.value ? this.name.value : '' }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Số
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input [class.d-none]="this.state.value === 'done'" type="text" class="form-control" formControlName="number">
                                    <span [class.d-none]="this.state.value !== 'done'">{{this.number.value? this.number.value : ''}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="o_notebook">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">
                                Thông tin ngày công
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">
                                Tính toán lương
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <table class="table table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Loại</th>
                                        <th scope="col">Số ngày công</th>
                                        <th scope="col">Số giờ công</th>
                                        <th scope="col">Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of WorkedDay.value">
                                        <td>{{ item.name}}</td>
                                        <td>{{ item.numberOfDays}}</td>
                                        <td>{{ item.numberOfHours | number}}</td>
                                        <td>{{ item.amount |  number}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Tên</th>
                                        <th scope="col" class="text-right">Tổng tiền</th>
                                        <th class="text-right" *ngIf="this.state.value != 'done'" scope="col">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="lines">
                                    <ng-container  *ngFor="let item of Lines.controls; let i = index;">
                                    <tr [formGroupName]="i">
                                        <td>{{item.value.name}}</td>
                                        <td class="text-right">
                                            <kendo-numerictextbox [min]="0" [format]="'n0'"
                                            *ngIf="this.state.value !== 'done'" [class]="text-center"  (valueChange)="changeAmount()"
                                               formControlName="amount" style="width: 120px" [spinners]="false">
                                           </kendo-numerictextbox>
                                           <span *ngIf="this.state.value === 'done'">{{item.value.amount | number}}</span>
                                        </td>
                                        <td class="text-right" *ngIf="this.state.value != 'done'" >
                                            <button type="button" title="Xóa {{item.value.name}}" class="btn btn-danger btn-sm"
                                            (click)="deleteLine(i,item.value)">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                        </td>
                                    </tr>
                                </ng-container>

                                </tbody>
                            </table>

                            <div class="o_group o_inner_group o_group_col_6">
                                <table class="o_group o_inner_group oe_subtotal_footer oe_right">
                                    <tbody>
                                        <tr>
                                            <td colspan="1" class="o_td_label pb-0">
                                                <label class="o_form_label oe_subtotal_footer_separator">
                                                    Tổng tiền:
                                                </label>
                                            </td>
                                            <td colspan="1">
                                                <span
                                                    class="oe_subtotal_footer_separator o_field_widget">{{payslip.totalAmount |  number}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>