<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <div class="tab-pane m-3"  
    aria-labelledby="labo-tab">
    <div class="mb-2">
        <button type="button" class="btn btn-secondary btn-sm"
           (click)="actionLabo()">
            Tạo phiếu labo
        </button>
    </div>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Số phiếu</th>
                <th>Labo</th>
                <th>Ngày gửi</th>
                <th>Ngày nhận</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lb of laboOrders">
                <td (click)="actionLabo(lb)" style="cursor: pointer; color: #007bff;">
                    {{lb.name}}</td>
                <td>{{lb.partnerName }}</td>
                <td>{{lb.dateOrder | date: 'short' }}</td>
                <td>{{lb.datePlanned | date: 'short' }}</td>
                <td>{{lb.amountTotal | number }}</td>
                <td>
                    <span *ngIf="lb.state==='purchase'">Đơn hàng</span>
                    <span *ngIf="lb.state==='draft'">Nháp</span>
                </td>
                <td>
                    <a title="Xóa" (click)="deleteLabo(lb)">
                        <span class="far fa-trash-alt"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

<div class="modal-footer">
    <div>
        <button type="button" class="btn btn-secondary btn-sm mr-2" (click)="onCancel()" accesskey="q">Đóng</button>
    </div>
</div>