<kendo-grid [data]="gridData" [loading]="loading" >
    <kendo-grid-column [headerStyle]="{'color': 'black', 'font-weight':'600','line-height': '1em'}" field="name"
        title="Dịch vụ" width="150">
    </kendo-grid-column>
    <kendo-grid-column [headerStyle]="{'color': 'black', 'font-weight':'600','line-height': '1em'}"
        title="ĐVT" width="120" field="productUOMName">
    </kendo-grid-column>
    <kendo-grid-column class="text-right" [headerStyle]="{'color': 'black', 'font-weight':'600','line-height': '1em'}"
        field="productUOMQty" title="Số lượng" width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.productUOMQty | number}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column class="text-right" [headerStyle]="{'color': 'black', 'font-weight':'600','line-height': '1em'}"
        field="priceSubTotal" title="Thành tiền" width="150">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.priceSubTotal | number}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column class="text-right" [headerStyle]="{'color': 'black', 'font-weight':'600','line-height': '1em'}"
        field="amountInvoiced" title="Thanh toán" width="150">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.amountInvoiced | number}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column class="text-right" [headerStyle]="{'color': 'black', 'font-weight':'600','line-height': '1em'}"
        field="amountResidual" title="Còn lại" width="150">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.amountResidual | number}}
        </ng-template>
    </kendo-grid-column>
</kendo-grid>