.o_form_view .o_group .o_group_col_12 {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.o_form_view .o_group .o_group_col_12 .o_td_label .o_form_label {
  font-weight: 600;
  margin-right: 0px;
  width: 150px;
}

.mainRight .grid-icon{
    padding: 0 5px 0 12px;
}

.o_form_view .oe_avatar>img {
    max-height: 90px;
    max-width: 90px;
    margin-bottom: 10px;
}

.o_form_view .o_field_image .o_form_image_controls {
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
    width: 100%;
    color: #fff;
    background-color: #7c7bad;
    opacity: 0;
    transition: opacity ease 400ms;
}

.o_form_view .o_field_image .o_form_image_controls>.fa {
    cursor: pointer;
    margin: 5px;
}

.o_form_view .o_form_binary_progress, .o_form_view .o_hidden_input_file .o_input_file {
    display: none;
}

.o_form_view .o_field_image:hover .o_form_image_controls {
	opacity: .8
}

.o_form_view .o_field_image {
    position: relative;
}

.o_form_view .oe_avatar+.oe_title {
    padding-left: 95px;
    margin-left: 5px;
}

.o_form_view .oe_avatar {
    float: left;
}

