a {
    cursor: pointer;
}

@media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
        max-width: 980px;
    }
}

.modal .modal-dialog .o_form_view .o_form_sheet_bg {
    padding: 0;
    width: 100%;
}

.modal .modal-dialog .o_form_view .o_form_sheet_bg>.o_form_sheet {
    box-shadow: none;
    width: 100%;
    margin: 0 auto;
    max-width: none;
}

.modal.o_technical_modal .modal-content .modal-body.o_act_window {
    padding: 0;
}

.o_form_view .o_group.o_inner_group > tbody > tr > td.o_td_label {
    width: 0%;
    padding: 0px 15px 15px 0px;
    min-width: 150px;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

.o_web_client {
    direction: ltr;
    position: relative;
    background-color: #f9f9f9;
}

html .o_web_client {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

html .o_web_client .o_action_manager {
    direction: ltr;
    flex: 1 1 100%;
    min-height: 1px;
    display: flex;
}

@media (min-width: 768px) {
    html .o_web_client > .o_action_manager {
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
    }
}

html .o_web_client .o_action_manager .o_action {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    position: relative;
}

html .o_web_client .o_action_manager .o_action>.o_cp_controller {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

html .o_web_client .o_action_manager .o_action>.o_content {
    flex: 1 1 100%;
    position: relative;
}

html .o_web_client>.o_action_manager .o_action .o_cp_controller {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

html .o_web_client>.o_action_manager .o_action .o_content {
    flex: 1 1 100%;
    position: relative;
    min-height: 1px;
}

@media (min-width: 768px) {
    html .o_web_client>.o_action_manager .o_action .o_content {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.o_cp_searchview_group {
    display: flex;
}

.o_cp_searchview_group .o_searchview {
    flex: 1 1 100%;
    border-radius: 0!important;
}

.o_cp_searchview_group .o_searchview_advance {
    flex: 0 0 auto;
}

.o_advance_search {
    position: absolute;
    height: 100%;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    z-index: 1000;
}

.o_advance_search .o_advance_search_container {
    width: 300px;
    margin-right: -300px;
    transition: margin-right 250ms ease-out, transform 250ms ease-out;
    padding: 15px;
}

.o_advance_search_dropdown .o_advance_search_dropdown_container {
    width: 300px;
}

.o_advance_search .o_advance_search_container.show {
    margin-right: 0;
}

.oe_subtotal_footer td.oe_form_group_cell {
    text-align: right;
    padding: 0 !important;
}

td.oe_form_group_cell_label label {
    line-height: 18px;
    display: block;
    min-width: 150px;
    font-weight: bold;
    margin-bottom: 0;
}

.pophover_table label.oe_form_label {
    font-weight: bold;
    text-align: left;
    min-width: 100px;
    padding-right: 15px;
}

.o_form_view .o_form_field_radio .o_radio_item {
    -ms-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.o_form_view .o_form_field_radio .o_radio_item>input {
    -ms-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 5px 0 0;
}

.o_form_view .o_form_field_radio .o_radio_item>label {
    margin: 0;
}

.o_form_view .o_form_field_radio.o_vertical .o_radio_item {
    margin-bottom: 5px;
}

