.w-20 {width: 20%;}
.w-30 {width: 30%;}
.w-40 {width: 40%;}
.w-60 {width: 60%;}
.w-70 {width: 70%;}
.w-80 {width: 80%;}
.h-20 {height: 20%;}
.h-30 {height: 30%;}
.h-40 {height: 40%;}
.h-60 {height: 60%;}
.h-70 {height: 70%;}
.h-80 {height: 80%;}
.t-align-top > tr > td {vertical-align: top;}
.text-nowrap {white-space: nowrap;}
.t-thead-nowrap > thead > tr > th {white-space: nowrap;}
.t-tbody-nowrap > tbody > tr > td {white-space: nowrap;}
.table-borderless { th, td {border: none;}}
.table-text-left { th, td {text-align: left;}}
.table-text-right { th, td {text-align: right;}}
.t-conTable {
    position: relative;
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction:column;
    .t-parTable {
        flex:1;
        position: relative;
        width: 100%;
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        overflow: auto;
        background: white;
        table {
            position: absolute;
            min-width: 100%;
            background: white;
            border-collapse: separate;
            border-spacing: 0;
            th, td {
                padding: .5rem .75rem;
                cursor: default;
            }
            thead {
                tr {
                    th {
                        font-weight: 600;
                        white-space: nowrap;
                        color: #212529;
                        background: white;
                        border-top: 2px solid #dee2e6;
                        border-bottom: 2px solid #dee2e6;
                        border-right: 1px solid #dee2e6;
                        &:last-child {border-right: 0;}
                    }
                }
            }
            tbody {
                tr {
                    background: #f5f5f5;
                    &:hover {background: white;}
                    td {
                        border-bottom: 1px solid #dee2e6;
                        border-right: 1px solid #dee2e6;
                        &:last-child {border-right: 0;}
                    }
                }
                .t-tRowAdd {
                    td {
                        border-bottom: 2px solid #dee2e6;
                    }
                }
            }
            tfoot {
                tr {
                    td {
                        background: white;
                        border-top: 1px solid #dee2e6;
                        border-bottom: 1px solid #dee2e6;
                    }
                }
            }
        }
    }
    .t-tControlBar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px solid #dee2e6;
        padding: .5rem 10px;
        background: white;
        .t-tPagination {
            flex-grow: 1;
            text-align: center;
        }
    }
}

.t-sticky-thead {
    thead tr th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}

.t-sticky-tfoot {
    tfoot tr td {
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
    }
}

.t-sticky-col-left {
    th:first-child, td:first-child {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        z-index: 1;
        background: white;
        border-right: 1px solid #dee2e6;
    }
}

.t-sticky-col-right {
    th:last-child, td:last-child {
        position: -webkit-sticky;
        position: sticky;
        right: 0;
        z-index: 1;
        background: white;
        border-left: 1px solid #dee2e6;
    }
}

.t-sticky-thead > thead > tr > th:first-child,
.t-sticky-tfoot > tfoot > tr > td:first-child {
    z-index: 2;
}

.t-tPagination {
    font-weight: 600;
    span.active {
        color: #007bff;
    }
}

/* Custom Scrollbar using CSS */
.t-scrollbar {
    overflow-y: scroll;
}
/* scrollbar width */
.t-scrollbar::-webkit-scrollbar {
    height: 10px;              /* height of horizontal scrollbar */
    width: 10px;               /* width of vertical scrollbar */
}
/* scrollbar track */
.t-scrollbar::-webkit-scrollbar-track {
    background: #eee;
}
/* scrollbar handle */
.t-scrollbar::-webkit-scrollbar-thumb {
    background-color: #00d2ff;
}
.t-scrollbar::-webkit-scrollbar-thumb:vertical  {
    background-image: linear-gradient(to top, #00d2ff 0%, #3a7bd5 100%);
}
.t-scrollbar::-webkit-scrollbar-thumb:horizontal {
    background-image: linear-gradient(to left, #00d2ff 0%, #3a7bd5 100%);
}
