<div class="o_cp_controller ">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="mb-2">Thống kê tin nhắn đã gửi</li>
        </ol>
        <div class="o_cp_searchview">
            <div class="o_searchview">
                <input type="text" class="o_searchview_input"
                    placeholder="Tìm kiếm theo họ tên, số điện thoại, tên tin nhắn" [(ngModel)]="search"
                    (ngModelChange)="this.searchUpdate.next($event)" />
            </div>
        </div>
    </div>
    <div class="o_control_panel d-flex justify-content-between">
        <div class="d-flex">
            <kendo-combobox #campaignCbx [filterable]="true" class="kendo-combobox-sm mr-2" placeholder="Lọc chiến dịch"
                [data]="campaignData" [textField]="'name'" [valueField]="'id'" (valueChange)="onChangeCampaign($event)">
            </kendo-combobox>
            <app-tai-date-range-filter-dropdown title="Thời gian" [dateFrom]="dateFrom" [dateTo]="dateTo"
                (searchChange)="onSearchDateChange($event)">
            </app-tai-date-range-filter-dropdown>
            <kendo-combobox (valueChange)="onChangeState($event)" placeholder="Tất cả trạng thái"
                class="kendo-combobox-sm ml-2" [data]="filteredState" [textField]="'name'" [valueField]="'value'">
            </kendo-combobox>
        </div>
    </div>
</div>

<div class="o_content">
    <kendo-grid [data]="gridData" [resizable]="true" (pageChange)="pageChange($event)" [skip]="skip" [pageable]="true"
        [pageSize]="limit">
        <kendo-grid-column field="partnerName" title="Khách hàng" width="200"></kendo-grid-column>
        <kendo-grid-column field="number" title="Số điện thoại" width="150"></kendo-grid-column>
        <kendo-grid-column title="Thời gian gửi tin" width="150">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.dateCreated | date:'short'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="brandName" title="Brandname" width="150"></kendo-grid-column>
        <kendo-grid-column field="smsCampaignName" title="Chiến dịch" width="200"></kendo-grid-column>
        <kendo-grid-column field="smsMessageName" title="Tên tin nhắn" width="200"></kendo-grid-column>
        <kendo-grid-column field="body" field="body" title="Nội dung tin nhắn"></kendo-grid-column>
        <kendo-grid-column title="Nguyên nhân lỗi" width="150">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{stranslateCodeResponse(dataItem.errorCode)}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Trạng thái" width="150">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span *ngIf="dataItem.state=='sending'">Đang gửi</span>
                <span *ngIf="dataItem.state=='success'">Thành công</span>
                <span *ngIf="dataItem.state=='fails'">Thất bại</span>
            </ng-template>
        </kendo-grid-column>

    </kendo-grid>
</div>