<div class="px-3 py-3 bg-white">
    <div class="mb-2">
        <button type="button" class="btn btn-primary btn-sm" (click)="createProductToaThuoc()" accesskey="c">
            <i class="fas fa-plus"></i> Thêm đơn thuốc
        </button>
    </div>
    <div>
        <div class="o_content">
            <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading"
                (pageChange)="pageChange($event)">
                <kendo-grid-column field="date" title="Ngày" width="120">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        {{dataItem.date | date : 'short'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="name" title="Số" width="100">
                </kendo-grid-column>
                <kendo-grid-column field="employeeName" title="Bác sĩ" width="150">
                </kendo-grid-column>
                <kendo-grid-column field="diagnostic" title="Chuẩn đoán" width="100">
                </kendo-grid-column>
                <kendo-grid-column field="id" width="100">
                    <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                        Thao tác
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <button class="btn btn-info btn-sm mr-2" title="In" (click)="printToaThuoc(dataItem)">
                            <span class="fas fa-print"></span></button>
                        <button class="btn btn-success btn-sm mr-2" title="Sửa" (click)="editProductToaThuoc(dataItem)">
                            <span class="far fa-edit"></span></button>
                        <button class="btn btn-danger btn-sm" title="Xóa" (click)="deleteProductToaThuoc(dataItem)">
                            <span class="far fa-trash-alt"></span></button>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>
        </div>
    </div>

    <app-toa-thuoc-print></app-toa-thuoc-print>
</div>