<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li>
                <a routerLink="/card-types">Loại thẻ thành viên</a>
            </li>
            <li class="active">
                <span *ngIf="id">{{cardType.name}}</span>
                <span *ngIf="!id">Mới</span>
            </li>
        </ol>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <button type="button" class="btn btn-primary btn-sm" accesskey="s" (click)="onSave()">
                        Lưu</button>
                    <button type="button" class="btn btn-secondary btn-sm" (click)="createNew()" *ngIf="id">
                        Thêm mới</button>
                </div>
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<div class="o_content">
    <form class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Tên loại thẻ
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input type="text" class="form-control" formControlName="name" required />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Số điểm cơ bản
                                        <i class="fas fa-question-circle text-primary" placement="bottom"
                                            triggers="mouseenter:mouseleave"
                                            ngbPopover="Số điểm cơ bản cần có để đạt loại thẻ thành viên này."
                                            popoverTitle="Số điểm cơ bản"></i>
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-numerictextbox [min]="0" [format]="'n0'" formControlName="basicPoint">
                                    </kendo-numerictextbox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Chiết khấu %
                                        <i class="fas fa-question-circle text-primary" placement="bottom"
                                            triggers="mouseenter:mouseleave"
                                            ngbPopover="Chiết khấu % tất cả dịch vụ với loại thẻ thành viên này."
                                            popoverTitle="Chiết khấu %"></i>
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-numerictextbox [min]="0" [format]="'n0'" formControlName="discount">
                                    </kendo-numerictextbox>
                                </td>
                            </tr>
                            <!-- <tr *ngIf="cardType.pricelist">
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Bảng giá
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <a *ngIf="cardType.pricelist"
                                        [routerLink]="['/pricelists/edit/', cardType.pricelist.id]">
                                        {{cardType.pricelist.name}}
                                    </a>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="2" style="width: 100%;">
                                    <div class="o_horizontal_separator">
                                        Thời hạn
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Theo
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <select class="form-control" formControlName="period" required>
                                        <option value=""></option>
                                        <option value="month">Tháng</option>
                                        <option value="year">Năm</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Số lượng
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-numerictextbox [min]="0" [format]="'n0'" formControlName="nbPeriod">
                                    </kendo-numerictextbox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>