<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-header-bar></app-header-bar>
<app-header-menu></app-header-menu> -->
<header *ngIf="authService.isAuthenticated()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">TMT Dental</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/">Tổng quan <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/partners']" [queryParams]="{customer : 'true'}">Khách hàng</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Điều trị
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/customer-invoices" href="#">Hóa đơn</a>
                        <a class="dropdown-item" routerLink="/dot-khams" href="#">Đợt khám</a>
                        <a class="dropdown-item" routerLink="/appointments" href="#">Lịch hẹn</a>
                        <!-- <a class="dropdown-item" routerLink="/routings">Quy trình dịch vụ</a> -->
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Quản lý nhân viên
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/employees" href="#">Nhân viên</a>
                        <a class=" dropdown-item" routerLink="/employee-categories" href="#">Nhóm nhân viên</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown10" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Đối tác
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown10">
                        <!-- <a class="dropdown-item" routerLink="/customers">Khách hàng</a> -->
                        <a class="dropdown-item" [routerLink]="['/partners']" [queryParams]="{supplier : 'true'}">Nhà
                            cung cấp</a>
                        <a class="dropdown-item" [routerLink]="['/partner-categories']">Nhóm đối tác</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/labo-order-lines">Quản lý labo</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kho
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                        <a class="dropdown-item" routerLink="/picking-type-overview" href="#">Hoạt động kho</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Danh mục
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/users" href="#">Người dùng</a>
                        <a class="dropdown-item" routerLink="/companies" href="#">Chi nhánh</a>
                        <a class="dropdown-item" routerLink="/products" href="#">Sản phẩm</a>
                        <a class="dropdown-item" routerLink="/product-categories" href="#">Nhóm sản phẩm</a>
                        <a class="dropdown-item" routerLink="/res-groups" href="#">Nhóm quyền</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Báo cáo
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" routerLink="/account-common-partner-reports" href="#">Công nợ khách
                            hàng</a>
                        <a class="dropdown-item" routerLink="/stock-report-xuat-nhap-ton" href="#">Xuất nhập tồn</a>
                        <a class="dropdown-item" routerLink="/account-invoice-reports/index" href="#">Doanh thu theo
                            thời gian</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <li class="nav-item dropdown" *ngIf="authService.userInfo">
                    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{authService.userInfo.name}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                        <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>