<div class="o_cp_controller">
    <div class="o_control_panel">
        <!-- <ol class="breadcrumb">
            <li class="active">Danh sách khảo sát</li>
        </ol> -->     
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <div class="d-flex">
                        <app-tai-date-range-filter-dropdown [dateFrom]="dateFrom" [title]="'Thời gian'"
                            [dateTo]="dateTo" (searchChange)="onSearchDateChange($event)">
                        </app-tai-date-range-filter-dropdown>
                        <button class="btn btn-primary btn-sm mr-2 " title="Đóng tạm ứng" (click)="createAdvanceModal()">Đóng tạm ứng</button>
                        <button class="btn btn-primary btn-sm mr-2" *ngIf="AmountBalance != 0" title="Hoàn tạm ứng" (click)="createRefundModal()">Hoàn tạm ứng</button>
                        <!-- <kendo-combobox [data]="filteredEmployees" [textField]="'name'" class="custom btn-sm" #empCbx [filterable]="true" [placeholder]="'Tất cả nhân viên'" (valueChange)="onChaneEmp($event)" [valueField]="'id'">
                        </kendo-combobox> -->
                    </div>

                </div>
            </div>
        </div>

        <div class="o_cp_t_right">
            <input class="o_searchview_input o_searchview" placeholder="Tìm kiếm theo số phiếu tạm ứng"
            type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
        </div>
    </div>

    <!-- <div class="report-prescription-payment">
        <div class="revenue" *ngFor="let type of types">
            <div class="title">
                <h6>{{type.text}}</h6>
            </div>
            <h4 class="text-primary">
                {{(typeAmount[type.value] | number) || 0}}
            </h4>
        </div>      
    </div> -->
</div>
<div class="o_control_panel">
    <div class="o_cp_t_left">
        <div class="o_cp_buttons">
            <div class="o_form_buttons_view">
                <div class="d-flex">
                    <!-- <button class="btn btn-primary btn-sm mr-2 " title="Đóng tạm ứng" (click)="createAdvanceModal()">Đóng tạm ứng</button>
                    <button class="btn btn-primary btn-sm mr-2" *ngIf="AmountBalance != 0" title="Hoàn tạm ứng" (click)="createRefundModal()">Hoàn tạm ứng</button> -->
                    <!-- <kendo-combobox [data]="filteredStatus" [textField]="'name'" class="custom btn-sm"
                        [placeholder]="'Tất cả trạng thái'" (valueChange)="statusChange($event)" [valueField]="'value'">
                    </kendo-combobox> -->
                </div>
            </div>
        </div>
        <div class="o_cp_sidebar">
        </div>
    </div>
    <div class="o_cp_t_right">
        <!-- <input class="o_searchview_input o_searchview" placeholder="Tìm kiếm theo số phiếu tạm ứng"
            type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)"> -->
    </div>
</div>
<div class="o_content">
    <kendo-grid [resizable]="true" [data]="gridData" [pageSize]="limit" [skip]="offset"
        [pageable]="true" [loading]="loading" (pageChange)="pageChange($event)" 
        [navigable]="true">
        <kendo-grid-column field="name" title="Số phiếu tạm ứng" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="date" title="Ngày tạm ứng" width="135">
            <ng-template kendoGridCellTemplate let-dataItem let-column="column">
                {{dataItem.date | date:'shortDate'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="journalName" title="Phương thức" width="115">
        </kendo-grid-column>
        <kendo-grid-column field="type" title="Loại tạm ứng" width="100">
            <ng-template kendoGridCellTemplate let-dataItem let-column="column">
                {{getType(dataItem.type)}}
            </ng-template>
        </kendo-grid-column>      
        <kendo-grid-column title="Số tiền" class="text-right" width="135">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.amount | number}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Trạng thái" width="110">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{getState(dataItem.state)}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column title="Thao tác" width="100">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button kendoButton (click)="editItem(dataItem)" class="btn btn-success btn-sm mr-2"><i title="Sửa"
                        class="far fa-edit"></i></button>
                <button kendoButton (click)="deleteItem(dataItem)" class="btn btn-danger btn-sm"><i title="Xóa"
                        class="far fa-trash-alt"></i></button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
</div>