<kendo-grid [data]="gridView" [pageable]="true" [pageSize]="pageSize" [skip]="skip" (pageChange)="pageChange($event)"
    [loading]="gridLoading">
    <!--[selectable]="{mode : 'single'}" (selectionChange)="rowSelectionChange($event)"-->
    <kendo-grid-column field="name" title="Tên dịch vụ">
    </kendo-grid-column>
    <!-- <kendo-grid-column title="Răng">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{lineTeeth(dataItem.teeth)}}
        </ng-template>
    </kendo-grid-column> -->
    <kendo-grid-column title="Phiếu điều trị">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{dataItem.order ? dataItem.order.name : '' }}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="dateOrder" title="Ngày điều trị">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{dataItem.dateCreated | date : 'shortDate' }}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Chẩn đoán" field="diagnostic">
    </kendo-grid-column>
    <kendo-grid-messages pagerItems="dòng" noRecords="Không có dịch vụ nào" pagerOf="/">
    </kendo-grid-messages>
    <ng-template kendoPagerTemplate let-skip="skip" let-total="total" let-pageSize="pageSize">
        <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
        <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
        <kendo-pager-next-buttons></kendo-pager-next-buttons>
        <kendo-pager-info></kendo-pager-info>
        <span class="ml-4">
            <kendo-dropdownlist style="width: 80px;" [data]="pageSizes"
                (valueChange)="onPageSizeChange($event)" [value]="pageSize">
            </kendo-dropdownlist>
            <label class="ml-2 mb-0">Số dòng trên trang</label>
        </span>
    </ng-template>
</kendo-grid>