<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <form class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_12">
                        <tbody>
                            <tr>
                                <td colspan="2" class="o_td_label">
                                    <label class="font-weight-bold">Điều kiện gửi tin</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="o_td_label pl-5">
                                    <table class="w-100">
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label">Tên tin nhắn</label>
                                            </td>
                                            <td class="w-100">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label">Chọn chiến dịch</label>
                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label">Chọn brandname</label>
                                            </td>
                                            <td>
                                                <kendo-combobox [data]="filteredSmsAccount" ngbAutofocus [textField]="'name'"
                                                    formControlName="smsAccount" [filterable]="true" #smsAccountCbx
                                                    [valueField]="'id'">
                                                </kendo-combobox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label">Thời gian gửi tin</label>
                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="o_td_label">
                                    <label class="font-weight-bold">Người nhận</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="o_td_label pl-5">
                                    <table class="w-100">
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label">Số người nhận tin</label>
                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="o_td_label">
                                    <label class="font-weight-bold">Nội dung tin nhắn</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="o_td_label pl-5">
                                    <table class="w-100">
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label">Chọn tin nhắn mẫu</label>
                                            </td>
                                            <td class="w-100">
                                                <kendo-combobox [data]="filteredTemplate" ngbAutofocus [textField]="'name'"
                                                    formControlName="template" [filterable]="true" #smsTemplateCbx
                                                    (valueChange)="onChangeTemplate($event)" [valueField]="'id'">
                                                </kendo-combobox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <app-sms-template-content [textareaLength]="textareaLimit" [template]="template">
                                                </app-sms-template-content>
                                                <span class="color-custom">
                                                    (Note: Không nhập ký tự đặc biệt hoặc các từ khóa quảng cáo)
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="checkTemplateCopy" (change)="checkedTemplateCopy($event)">
                                                    <label class="form-check-label" for="checkTemplateCopy">
                                                        Lưu làm tin mẫu
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="w-100">
                                                <div *ngIf="isTemplateCopy">
                                                    <input type="text" class="form-control" formControlName="templateName" placeholder="Tiêu đề tin nhắn mẫu">
                                                    <span class="text-danger" *ngIf="formGroup.controls.templateName.value==''">
                                                        Nhập tiêu đề tin nhắn mẫu
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSave()" accesskey="s">Xác nhận</button>
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="activeModal.dismiss()"
        accesskey="q">Đóng</button>
</footer>