<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <form class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_12">
                        <tbody>
                            <tr>
                                <td colspan="2" class="o_td_label">
                                    <label class="font-weight-bold">Điều kiện gửi tin</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="o_td_label pl-5">
                                    <table class="w-100">
                                        <tr>
                                            <td class="o_td_label pb-3">
                                                <label class="o_form_label">Tên tin nhắn</label>
                                            </td>
                                            <td class="o_td_value">
                                                <input class="form-control" formControlName="name" />
                                                <div *ngIf="f.name.errors && (f.name.touched || f.name.dirty || submitted)"
                                                    class="text-danger">
                                                    <div *ngIf="f.name.errors.required">Nhập tên tin nhắn</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label pb-3">
                                                <label class="o_form_label">Chọn chiến dịch</label>
                                            </td>
                                            <td class="o_td_value">
                                                <kendo-combobox [data]="filteredSmsCampaign" [textField]="'name'" [valueField]="'id'" 
                                                    formControlName="smsCampaign" [filterable]="true" #smsCampaignCbx
                                                    (valueChange)="changeSmsCampaign($event)">
                                                </kendo-combobox>
                                                <div *ngIf="f.smsCampaign.errors && (f.smsCampaign.touched || f.smsCampaign.dirty || submitted)"
                                                    class="text-danger">
                                                    <div *ngIf="f.smsCampaign.errors.required">Chọn chiến dịch</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label pb-3">
                                                <label class="o_form_label">Chọn brandname</label>
                                            </td>
                                            <td class="o_td_value">
                                                <kendo-combobox [data]="filteredSmsAccount" ngbAutofocus
                                                    [textField]="'brandName'" formControlName="smsAccount"
                                                    [filterable]="true" #smsAccountCbx [valueField]="'id'">
                                                    <ng-template kendoComboBoxItemTemplate let-dataItem>
                                                        <span>{{dataItem.brandName}} ({{dataItem.name}})</span>
                                                    </ng-template>
                                                </kendo-combobox>
                                                <div *ngIf="f.smsAccount.errors && (f.smsAccount.touched || f.smsAccount.dirty || submitted)"
                                                    class="text-danger">
                                                    <div *ngIf="f.smsAccount.errors.required">Chọn brandname</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label pb-3">
                                                <label class="o_form_label">Thời gian gửi tin</label>
                                            </td>
                                            <td class="o_td_value">
                                                <div>
                                                    <input type="radio" class="btn-check" id="manual" value="manual"
                                                        formControlName="typeSend" (change)="changeTypeSend($event)">
                                                    <label for="manual" class="btn btn-sm rounded-right-0"
                                                        [ngClass]="getValueFormControl('typeSend') == 'manual' ? 'btn-primary' : 'btn-outline-primary'">
                                                        Gửi ngay
                                                    </label>
                                                    <input type="radio" class="btn-check" id="automatic"
                                                        value="automatic" formControlName="typeSend"
                                                        (change)="changeTypeSend($event)">
                                                    <label for="automatic" class="btn btn-sm rounded-left-0"
                                                        [ngClass]="getValueFormControl('typeSend') == 'automatic' ? 'btn-primary' : 'btn-outline-primary'">
                                                        Đặt lịch
                                                    </label>
                                                </div>
                                                <div *ngIf="getValueFormControl('typeSend') == 'automatic'">
                                                    <kendo-datetimepicker class="w-fit-content"
                                                        [format]="'MM/dd/yyyy HH:mm'" formControlName="dateObj"
                                                        required>
                                                    </kendo-datetimepicker>
                                                    <div *ngIf="!getValueFormControl('dateObj')" class="text-danger">
                                                        Chọn thời gian gửi tin
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="o_td_label">
                                    <label class="font-weight-bold">Người nhận</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="o_td_label pl-5">
                                    <table class="w-100">
                                        <tr *ngIf="!noLimit">
                                            <td class="o_td_label pb-3">
                                                <label class="o_form_label">Hạn mức gửi tin còn lại</label>
                                            </td>
                                            <td class="o_td_value">
                                                {{sendLimit}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label pb-3">
                                                <label class="o_form_label">Số người nhận tin</label>
                                            </td>
                                            <td class="o_td_value">
                                                <div class="d-flex align-items-center">
                                                    <div class="mr-2">{{partnerIds.length}}</div>
                                                    <button type="button" class="btn btn-primary btn-sm"
                                                        (click)="onSelectPartners()">
                                                        Chọn khách hàng
                                                    </button>
                                                </div>
                                                <span class="text-danger" *ngIf="errorSendLimit && !noLimit">
                                                    Vượt hạn mức gửi tin cho phép
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="o_td_label">
                                    <label class="font-weight-bold">Nội dung tin nhắn</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="o_td_label pl-5">
                                    <table class="w-100">
                                        <tr>
                                            <td class="o_td_label pb-3">
                                                <label class="o_form_label">Chọn tin nhắn mẫu</label>
                                            </td>
                                            <td class="o_td_value">
                                                <kendo-combobox [data]="filteredTemplate" [textField]="'name'" [valueField]="'id'"
                                                    formControlName="template" [filterable]="true"
                                                    #smsTemplateCbx (valueChange)="onChangeTemplate($event)">
                                                </kendo-combobox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <app-sms-template-content [textareaLength]="textareaLimit"
                                                    [template]="template">
                                                </app-sms-template-content>
                                                <span class="color-custom">
                                                    (Note: Không nhập ký tự đặc biệt hoặc các từ khóa quảng cáo)
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label pb-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="checkTemplateCopy" (change)="checkedTemplateCopy($event)">
                                                    <label class="form-check-label" for="checkTemplateCopy">
                                                        Lưu làm tin mẫu
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="o_td_value">
                                                <div *ngIf="isTemplateCopy">
                                                    <input type="text" class="form-control"
                                                        formControlName="templateName"
                                                        placeholder="Tiêu đề tin nhắn mẫu" required>
                                                    <span class="text-danger"
                                                        *ngIf="!getValueFormControl('templateName')">
                                                        Nhập tiêu đề tin nhắn mẫu
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onConfirm()" accesskey="s">Xác nhận</button>
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="activeModal.dismiss()"
        accesskey="q">Đóng</button>
</footer>