.btn-icon {
    font-size: 30px;
    margin: 4px 4px 4px 0;
}

.btn-icon:hover {
    cursor: pointer;
    color: #0069d9 !important;
}

.b-table-bordered {
    border-collapse: separate;
    border-spacing: 0;
}

.b-table-bordered thead tr th {
    border-right: 1px solid #dee2e6 !important;
    border-top: 1px solid #dee2e6 !important;
    border-bottom: 1px solid #dee2e6 !important;
}

.b-table-bordered thead tr th:first-child {
    border-left: 1px solid #dee2e6 !important;
}

.b-table-bordered td {
    border-right: 1px solid #dee2e6 !important;
    border-top: none;
    border-bottom: 1px solid #dee2e6 !important;
}

.b-table-bordered td:first-child {
    border-left: 1px solid #dee2e6 !important;
}

.b-sticky-left {
    position: sticky;
    left: 0;
    border: 1px solid #dee2e6;
    z-index: 3;
    background-color: #f9f9f9;
}

.b-sticky-left2 {
    position: sticky;
    left: 50px;
    border: 1px solid #dee2e6;
    z-index: 3;
    background-color: #f9f9f9;
}

.b-sticky-right {
    position: sticky;
    right: 0;
    background-color: #f9f9f9;
    border: 1px solid #dee2e6;
    z-index: 3;
}

.table-th-sticky th {
    position: sticky;
    top: -1px;
    border: 1px solid #dee2e6;
    background-color: #f9f9f9;
}