<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="active">Thống kê labo</li>
        </ol>
        <div class="o_cp_searchview">
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="d-flex align-items-center">
                    <kendo-combobox class="mr-2" [placeholder]="'Tìm theo tên labo'" [data]="filteredSuppliers" [textField]="'name'" [filterable]="true" #supplierCbx [(ngModel)]="paged.partnerId" [valueField]="'id'" [valuePrimitive]="true" (valueChange)="loadDataFromApi()">
                    </kendo-combobox>
                    <kendo-combobox class="mr-2" style="width: 250px;" [placeholder]="'Tìm theo loại phục hình'" [data]="filteredProducts" [textField]="'name'" [filterable]="true" #productCbx [(ngModel)]="paged.productId" [valueField]="'id'" [valuePrimitive]="true" (valueChange)="loadDataFromApi()">
                    </kendo-combobox>
                    <app-tai-date-range-filter-dropdown class="mr-2" title="Ngày gởi" [dateFrom]="paged.dateOrderFrom" [dateTo]="paged.dateOrderTo" (searchChange)="onDateOrderSearchChange($event)">
                    </app-tai-date-range-filter-dropdown>
                    <app-tai-date-range-filter-dropdown title="Ngày nhận" [dateFrom]="paged.datePlannedFrom" [dateTo]="paged.datePlannedTo" (searchChange)="onDatePlannedSearchChange($event)">
                    </app-tai-date-range-filter-dropdown>
                </div>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<div class="o_content">
    <div class="o_view_controller">
        <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading" (pageChange)="pageChange($event)">
            <kendo-grid-column field="id" width="100" title="Thao tác" [locked]="true">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <button class="btn btn-success btn-sm mr-2" title="Sửa" (click)="editItem(dataItem)">
                        <i class="far fa-edit"></i></button>
                    <button class="btn btn-danger btn-sm" title="Xóa" (click)="deleteItem(dataItem)">
                        <i class="far fa-trash-alt"></i></button>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="productName" title="Vật liệu" width="150" [locked]="true" >
            </kendo-grid-column>
            <kendo-grid-column field="customerRef" title="Mã KH" width="100" [locked]="true">
            </kendo-grid-column>
            <kendo-grid-column field="customerName" title="Tên KH" width="150" [locked]="true">
            </kendo-grid-column>
            <kendo-grid-column field="partnerName" title="Nhà cung cấp" width="150" [locked]="true">
            </kendo-grid-column>
            <kendo-grid-column field="quantity" title="SL" class="text-right" width="50">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{dataItem.quantity | number}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="priceUnit" title="Đơn giá" class="text-right" width="120">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{dataItem.priceUnit | number}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="amountTotal" title="Thành tiền" class="text-right" width="120">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{dataItem.amountTotal | number}}
                </ng-template>
            </kendo-grid-column>
            <!-- <kendo-grid-column field="saleOrderName" title="Phiếu điều trị" width="150">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <a class="text-primary" *ngIf="dataItem.saleOrderId" [routerLink]="['/sale-orders/form']" [queryParams]="{id: dataItem.saleOrderId}">
                        {{dataItem.saleOrderName}}
                    </a>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="orderName" title="Phiếu labo" width="100">
            </kendo-grid-column> -->
         
          
            <kendo-grid-column field="dateOrder" title="Ngày gửi" width="120">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{dataItem.dateOrder | date : 'shortDate'}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="datePlanned" title="Ngày nhận" width="120">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{dataItem.datePlanned | date : 'shortDate'}}
                </ng-template>
            </kendo-grid-column>
            <!-- <kendo-grid-column field="receivedDate" title="Ngày thực nhận" width="140">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{dataItem.receivedDate | date : 'short'}}
                </ng-template>
            </kendo-grid-column> -->
            <kendo-grid-column field="warrantyCode" title="Mã bảo hành" width="120">
            </kendo-grid-column>
            <kendo-grid-column field="warrantyPeriod" title="Hạn bảo hành" width="140">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <span *ngIf="dataItem.warrantyPeriod">{{dataItem.warrantyPeriod | date : 'shortDate'}}</span>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="saleOrderLineName" title="Dịch vụ" width="150">
            </kendo-grid-column>
            <kendo-grid-column field="dateCreated" title="Ngày tạo" width="120">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{dataItem.datePlanned | date : 'shortDate'}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="note" title="Ghi chú" width="120">
            </kendo-grid-column>
            <!-- <kendo-grid-column field="state" title="Trạng thái" width="120">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{stateGet(dataItem.state)}}
                </ng-template>
            </kendo-grid-column> -->
            <!-- <kendo-grid-column title="Nhận labo" width="120">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <button class="btn btn-success btn-sm mr-2" title="Cập nhật chi tiết labo" (click)="editItem(dataItem)">
                        <span class="far fa-edit"></span></button>
                </ng-template>
            </kendo-grid-column> -->
        </kendo-grid>
    </div>
</div>