.button-border-bottom {
    border: 1px solid #cfcfcf;
    border-top-style: none !important;
    border-right-style: none !important;
    border-left-style: none !important;
    -webkit-align-items: baseline;
    align-items: baseline;
    display: inline-flex;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
}

.form-check-inline {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: 0rem;
}

input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

.form-check label {
    width: 55px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #828588;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all .3s ease-out;
    border: 1px solid #EBEDEF;
}

input[type="radio"]:checked+label {
    background: #F5FAFF !important;
    border: 1px solid #007BFF !important;
    box-sizing: border-box;
    border-radius: 4px;
    color: #007BFF !important;
}

.btn-icon {
    padding: 4px;
    margin-right: 2px;
    border-radius: 4px;
}

.btn-icon:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn-use {
    min-width: 87px;
}

.fa-trash-alt {
    max-height: 25px;
}

.discount-options .btn {
    min-width: 50px;
    margin-right: 5px;
}

.discount-options .btn:last-child {
    margin-right: 0;
}

.discount-options .btn.active {
    background: #F5FAFF !important;
    border: 1px solid #007BFF !important;
    color: #007BFF !important;
}

.div-manual-code input {
    flex: 1 1 auto;
}

.div-manual-code button {
    flex: 0 0 auto;
    margin-left: 1rem;
}