<form class="container o_form_view h-100" [formGroup]="formGroup">
    <div class="o_form_sheet_bg">
        <div class="o_form_sheet">
            <div class="o_group">
                <table class="o_group o_inner_group o_group_col_12">
                    <tbody>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label o_form_label_help font-weight-bolder">
                                    Kích hoạt chương trình
                                </label>
                            </td>
                            <td colspan="1" class="o_td_label" style="width: 80%;">
                                <label class="switch">
                                    <input type="checkbox" formControlName="isBirthdayAutomation">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="o_td_label">
                                <label class="o_form_label o_form_label_help font-weight-bolder">
                                    Điều kiện gửi tin
                                </label>
                                <table class="ml-5">
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label o_form_label_help">
                                                Chọn brandname
                                            </label>
                                        </td>
                                        <td colspan="1" style="width: 80%;">
                                            <kendo-combobox [data]="filteredSmsAccount" ngbAutofocus [textField]="'brandName'" formControlName="smsAccount" [filterable]="true" #smsAccountCbx [valueField]="'id'">
                                                <ng-template kendoComboBoxItemTemplate let-dataItem>
                                                    <span>{{dataItem.brandName}} ({{dataItem.name}})</span>
                                                </ng-template>
                                            </kendo-combobox>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label o_form_label_help">
                                                Thời gian gửi tin
                                            </label>
                                        </td>
                                        <td colspan="1" class="d-flex tr-send" style="width: 100%;">
                                            <select formControlName="timeBeforSend" class="form-control">
                                                <option class="form-control" value="0">0 Ngày trước ngày sinh nhật
                                                </option>
                                                <option class="form-control" value="1">1 Ngày trước ngày sinh nhật
                                                </option>
                                                <option class="form-control" value="2">2 Ngày trước ngày sinh nhật
                                                </option>
                                                <option class="form-control" value="3">3 Ngày trước ngày sinh nhật
                                                </option>
                                                <option class="form-control" value="4">4 Ngày trước ngày sinh nhật
                                                </option>
                                                <option class="form-control" value="5">5 Ngày trước ngày sinh nhật
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label o_form_label_help">
                                                Thời điểm gửi tin
                                            </label>
                                        </td>
                                        <td colspan="1" style="width: 100%;">
                                            <kendo-timepicker formControlName="dateTimeSend"></kendo-timepicker>
                                        </td>
                                    </tr>
                                </table>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2" class="o_td_label">
                                <label class="o_form_label o_form_label_help font-weight-bolder">
                                    Nội dung tin nhắn
                                </label>
                                <table class="ml-5">
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label o_form_label_help">
                                                Tin nhắn mẫu
                                            </label>
                                        </td>
                                        <td colspan="1" class="d-flex" style="width: 80%;">
                                            <kendo-combobox [data]="filteredTemplate" ngbAutofocus [textField]="'name'" formControlName="template" [filterable]="true" #smsTemplateCbx (valueChange)="onChangeTemplate($event)" [valueField]="'id'">
                                            </kendo-combobox>
                                            <a class="btn btn-sm btn-light" (click)="addTemplate()">
                                                <span class="k-icon k-i-plus"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label">Nội dung</label>
                                        </td>
                                        <td colspan="1" style="width: 80%;">
                                            <app-sms-template-content [textareaLength]="textareaLimit" [template]="template">
                                            </app-sms-template-content>
                                            <p class="color-custom">(Note: Không nhập ký tự đặc biệt hoặc các từ khóa quảng cáo)</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (change)="checkedTemplateCopy($event)">
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Lưu làm tin mẫu
                                                </label>
                                            </div>
                                        </td>
                                        <td colspan="1" style="width: 80%;" *ngIf="isTemplateCopy">
                                            <input type="text" class="form-control" formControlName="templateName">
                                            <span class="text-danger" *ngIf="formGroup.controls.templateName.value==''">
                                                Nhập tiêu đề tin nhắn mẫu
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="btns">
                    <button type="button" class="btn btn-primary btn-sm" (click)="onSave()">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</form>