<header class="modal-header">
    <h5 class="modal-title">{{getTitle()}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" ngbAutofocus aria-label="Close" (click)="activeModal.dismiss()" tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <form class="o_form_view o_form_editable" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Phương thức
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-combobox [data]="filteredJournals" [textField]="'name'" [filterable]="true" #journalCbx formControlName="journal" [valueField]="'id'">
                                    </kendo-combobox>
                                    <div *ngIf="f.journal.errors && (f.journal.touched || f.journal.dirty || submitted)" class="text-danger">
                                        <div *ngIf="f.journal.errors.required">Chọn phương thức thanh toán</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Số tiền
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-numerictextbox [min]="0" [disabled]="rowsSelected && rowsSelected.length > 0" [max]="defaultVal.amount" (blur)="onChangeMoney()" [step]="1000" [format]="'n0'" formControlName="amount">
                                    </kendo-numerictextbox>
                                    <span class="text-danger" *ngIf="formGroup.get('amount').invalid">Số tiền vượt quá tổng công nợ của nhà cung cấp</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label for="o_field_input_46" class="o_form_label">
                                        Ngày thanh toán
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-datepicker formControlName="paymentDateObj"></kendo-datepicker>
                                    <div *ngIf="f.paymentDateObj.errors && (f.paymentDateObj.touched || f.paymentDateObj.dirty || submitted)" class="text-danger">
                                        <div *ngIf="f.paymentDateObj.errors.required">Chọn ngày thanh toán</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Nội dung
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input type="text" formControlName="communication" class="form-control" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table *ngIf="rowsSelected && rowsSelected.length > 0" class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Ngày</th>
                                <th scope="col">Nguồn</th>
                                <th scope="col">Loại</th>
                                <th class="text-right" scope="col">Số tiền</th>
                                <th class="text-right" scope="col">Thanh toán</th>
                                <th class="text-right" scope="col">Còn nợ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of rowsSelected">
                                <td>
                                    {{item.invoiceDate | date:'shortDate'}}
                                </td>
                                <td>
                                    {{item.invoiceOrigin}}
                                </td>
                                <td>
                                    {{showType(item.type)}}
                                </td>
                                <td class="text-right">
                                    {{item.amountTotal | number}}
                                </td>
                                <td class="text-right">
                                    {{(item.amountTotal - item.amountResidual) | number}}
                                </td>
                                <td class="text-right">
                                    {{item.amountResidual | number}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onPayment()" [disabled]="loading" accesskey="s">
        Thanh toán
    </button>
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="activeModal.dismiss()" accesskey="q">
        Đóng
    </button>
</footer>