<div class="o_form_view o_form_editable" [formGroup]="formGroup">
    <div class="o_form_sheet_bg">
        <div class="o_form_statusbar">
            <div class="o_statusbar_buttons">
                <button type="button" class="btn btn-primary btn-sm" (click)="actionSend()"
                    *ngIf="['in_queue', 'done'].indexOf(messaging.state) === -1">
                    Gửi ngay
                </button>
                <button type="button" class="btn btn-primary btn-sm" (click)="actionSchedule()"
                    *ngIf="['in_queue', 'done'].indexOf(messaging.state) === -1">
                    Lên lịch
                </button>
                <button type="button" class="btn btn-primary btn-sm" (click)="actionCancel()"
                    *ngIf="messaging.state === 'in_queue'">
                    Hủy bỏ
                </button>
                <button type="button" class="btn btn-primary btn-sm" (click)="onSave()">
                    Lưu
                </button>
                <button type="button" class="btn btn-sm btn-light" *ngIf="id" (click)="createNew()">
                    Thêm mới
                </button>
            </div>
            <div class="o_statusbar_status o_field_widget o_readonly_modifier">
                <button [disabled]="messaging.state !== 'done'" class="btn o_arrow_button disabled"
                    [ngClass]="{'btn-primary': messaging.state === 'done', 'btn-secondary': messaging.state !== 'done'}"
                    type="button">
                    Đã gửi
                </button>
                <button [disabled]="messaging.state !== 'in_queue'" class="btn o_arrow_button disabled"
                    [ngClass]="{'btn-primary': messaging.state === 'in_queue', 'btn-secondary': messaging.state !== 'in_queue'}"
                    type="button">
                    Chờ gửi
                </button>
                <button [disabled]="messaging.state !== 'draft'" class="btn o_arrow_button disabled"
                    [ngClass]="{'btn-primary': messaging.state === 'draft', 'btn-secondary': messaging.state !== 'draft'}"
                    type="button">
                    Nháp
                </button>
            </div>
        </div>
        <div class="alert alert-info text-center" *ngIf="messaging.state == 'in_queue'" role="alert">
            <strong>
                <span>Tin nhắn được lên lịch gửi lúc </span>
                <span class="o_field_date o_field_widget o_readonly_modifier oe_inline">
                    {{messaging.scheduleDate | date : 'short'}}
                </span>.
            </strong>
        </div>
        <div class="o_form_sheet">
            <div class="o_not_full oe_button_box">
                <button type="button" (click)="action_view_sent()" class="btn oe_stat_button">
                    <i class="far fa-envelope o_button_icon"></i>
                    <div class="o_field_widget o_stat_info o_readonly_modifier">
                        <span class="o_stat_value">{{messaging.totalSent | number}}</span>
                        <span class="o_stat_text">Đã gửi</span>
                    </div>
                </button>
                <button type="button" (click)="action_view_delivered()" class="btn oe_stat_button">
                    <div class="o_field_percent_pie o_field_widget o_readonly_modifier">
                        <div class="o_pie">
                            <div class="o_mask" style="transform: rotate(180deg);"></div>
                            <div class="o_mask" style="transform: rotate(0deg);"></div>
                            <div class="o_pie_value">
                                {{100 * messaging.totalReceived / messaging.totalSent | number:'1.0-0'}}%
                            </div>
                        </div>
                        <span>{{messaging.totalReceived | number}} Đã nhận</span>
                    </div>
                </button>
                <button type="button" (click)="action_view_opened()" class="btn oe_stat_button">
                    <div class="o_field_percent_pie o_field_widget o_readonly_modifier" name="opened_ratio">
                        <div class="o_pie">
                            <div class="o_mask" style="transform: rotate(180deg);"></div>
                            <div class="o_mask" style="transform: rotate(0deg);"></div>
                            <div class="o_pie_value">
                                {{100 * messaging.totalOpened / messaging.totalSent | number:'1.0-0'}}%
                            </div>
                        </div>
                        <span>{{messaging.totalOpened | number}} Đã đọc</span>
                    </div>
                </button>
            </div>
            <div class="o_group">
                <table class="o_group o_inner_group">
                    <tbody>
                        <tr>
                            <td class="o_td_label">
                                <label class="o_form_label">Mô tả</label>
                            </td>
                            <td style="width:100%">
                                <input type="text" class="form-control" formControlName="name" />
                            </td>
                        </tr>
                        <tr>
                            <td class="o_td_label">
                                <label class="o_form_label">Nội dung</label>
                            </td>
                            <td style="width:100%">
                                <div class="position-relative" (clickOutside)=hideEmoji()>
                                    <textarea type="text" my-autosize charCount [limit]="640" class="form-control"
                                        formControlName="content" (click)="selectArea($event)" (keyup)="selectArea($event)"
                                        (focus)="showEmoji()">
                                    </textarea>
                                    <div class="dropdown position-absolute mt-1" style="right: 0;"
                                        id="emoji_mass">
                                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="dropdown">
                                            <h5 class="m-0"><i class="fas fa-laugh"></i></h5>
                                        </button>
                                        <emoji-mart class="dropdown-menu p-0 border-0" (emojiSelect)="selectEmoji($event)"></emoji-mart>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>