.plugin-textarea {
    right: 0; 
    font-size: 0.8rem; 
    background: white;
}
.plugin-textarea span {
    cursor: pointer;
}
.plugin-textarea span:hover {
    background: rgba(0, 0, 0, 0.4) !important;
}

.audience-filter-content {
    position: relative;
    display: block;
    background-color: white;
    padding: 10px;  
    padding-bottom: 5px;  
    word-break: break-all;
    line-height: 1.8;
}
.audience-filter-item button {
    margin-bottom: 5px;
}
.audience-filter-item .remove {
    cursor: pointer;
    transition: 0.2s;
}
.audience-filter-item .remove:hover {
    color: orangered;
}
.audience-filter-open {
    width: fit-content;
    border: 1px dashed #8492a6;
}
.audience-filter-item .condition-select, 
.audience-filter-item .value-select {
    text-decoration: underline;
}
.audience-filter-picker button {
    margin-bottom: 5px;
}
.list-formula-value {
    max-height: 240px;
    overflow-y: auto;
}
.list-formula-value::-webkit-scrollbar {
    width: 10px;
}
.list-formula-value::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.list-formula-value::-webkit-scrollbar-thumb {
    background: #888; 
}
.list-formula-value::-webkit-scrollbar-thumb:hover {
    background: #555; 
}