<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li class="text-primary mb-2 cursor-pointer mr-1" routerLink="/partners/suppliers">Nhà cung cấp</li>
            <li class="active">{{supplier ? supplier.displayName : ''}}</li>
        </ol>
        <div>
            <div class="o_cp_buttons">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a routerLink="info" class="nav-link px-3 py-1" routerLinkActive="active">Hồ sơ</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="debit" class="nav-link px-3 py-1" routerLinkActive="active">Công nợ</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="payment" class="nav-link px-3 py-1" routerLinkActive="active">Lịch sử thanh
                            toán</a>
                    </li>
                </ul>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<div class="o_content">
    <router-outlet></router-outlet>
</div>