<div class="o_cp_controller">
  <div class="o_control_panel">
    <ol class="breadcrumb">
      <li class="active">Danh sách đăng ký</li>
    </ol>
    <div class="o_cp_searchview">
      <div class="o_cp_searchview_group">
        <div class="o_searchview">
          <input class="o_searchview_input" placeholder="Tìm kiếm..." type="text" [(ngModel)]="search"
            (ngModelChange)="this.searchUpdate.next($event)">
        </div>
      </div>
    </div>
    <div class="o_cp_left">
      <div class="o_cp_buttons">
        <a routerLink="register" class="btn btn-primary btn-sm" accesskey="c">
          Thêm
        </a>
      </div>
      <div class="o_cp_sidebar">
      </div>
    </div>
    <div class="o_cp_right">
    </div>
  </div>
</div>


<div class="o_content">
  <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading"
    (pageChange)="pageChange($event)">
    <kendo-grid-column field="dateCreated" title="Ngày tạo" width="120">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        {{dataItem.dateCreated | date : 'short'}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="name" title="Khách hàng" width="150">
    </kendo-grid-column>
    <kendo-grid-column field="phone" title="Điện thoại" width="150">
    </kendo-grid-column>
    <kendo-grid-column field="companyName" title="Tên phòng khám" width="150">
    </kendo-grid-column>
    <kendo-grid-column field="hostname" title="Tên miền" width="200">
    </kendo-grid-column>
    <kendo-grid-column field="activeCompaniesNbr" class="text-right" title="Số chi nhánh" width="120">
    </kendo-grid-column>
    <kendo-grid-column field="dateExpired" title="Ngày hết hạn" width="120">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        {{dataItem.dateExpired | date : 'short'}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="customerSource" class="text-right" title="Nguồn KH" width="120">
    </kendo-grid-column>
    <kendo-grid-column field="employeeAdmin" title="Người triển khai" width="120">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        {{dataItem.employeeAdmin ? dataItem.employeeAdmin.name:''}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="id" width="270">
      <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
        Thao tác
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <button class="btn btn-primary btn-sm mr-2" (click)="quickUpdateExpired(dataItem)">
          Gia hạn nhanh
        </button>
        <button class="btn btn-secondary btn-sm mr-2" (click)="updateExpired(dataItem)">
          Gia hạn
        </button>
        <button class="btn btn-success btn-sm" (click)="editItem(dataItem)">
          Sửa
        </button>
      </ng-template>
    </kendo-grid-column>
    <div *kendoGridDetailTemplate="let dataItem">
      <app-tenant-extend-history [tenant]="dataItem"></app-tenant-extend-history>
    </div>
  </kendo-grid>
</div>