
    <div class="o_content" >
        <div class="o_cp_searchview_group" >
            <div class="o_searchview">
                <input class="o_searchview_input" placeholder="Tìm kiếm theo tên" type="text" [(ngModel)]="search"
                    (ngModelChange)="this.searchUpdate.next($event)">
            </div>
        </div>
        <div class="hbox-left" class="mt-1">
            <div *ngIf="typeCardList">
                <div >
                    <div class="list-group" style="min-height: 350px;">
                        <div  *ngFor="let item of typeCardList">
                            <a class="list-group-item rounded-0" 
                             (click)="onClickData(item)">
                             {{item.name}}                           
                         </a>
                        </div>
                        
                    </div>
                    <div class="mt-2 text-center">
                        <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="pageSize"
                            (pageChange)="pageChange($event)" aria-label="Default pagination"></ngb-pagination>
                    </div>
                </div>
            </div>          
        </div>
    </div>

