<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li>
                <a routerLink="/customers">Khách hàng</a>
            </li>
            <li *ngIf="partner">
                <a [routerLink]="['/customer/' + partner.id]">{{partner.displayName}}</a>
            </li>
            <li class="active">Hồ sơ khách hàng</li>
        </ol>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a routerLink="profile" class="nav-link px-3 py-1" routerLinkActive="active">Thông tin cơ bản</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="treatment-payment" class="nav-link px-3 py-1" routerLinkActive="active">Điều trị</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="appointment" class="nav-link px-3 py-1" routerLinkActive="active">Lịch hẹn</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="prescription" class="nav-link px-3 py-1" routerLinkActive="active">Đơn thuốc</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="categories" class="nav-link px-3 py-1" routerLinkActive="active">Nhãn</a>
                    </li>
                </ul>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<div class="o_content">
    <router-outlet></router-outlet>
</div>