.o_form_view.o_form_nosheet{
    padding-top: 0 !important;
    padding-left : 0 !important;
    padding-right: 0 !important;
}

.mb-3, .my-3 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    margin-bottom: 0 !important;
}

.o_cp_t_right{
    justify-content: flex-end !important;
    /* width: 100% !important; */
}

.o_cp_searchview{
    width: 80% !important;
}