
<div class="o_cp_controller">
    <div class="o_control_panel">
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <app-tai-date-range-filter-dropdown [dateFrom]="dateFrom" [title]="'Thời gian'" [dateTo]="dateTo"
                            (searchChange)="onSearchDateChange($event)">
                        </app-tai-date-range-filter-dropdown>
            </div>
            <div class="o_cp_sidebar">              
            </div>
        </div>
        <div class="o_cp_right">
            <div class="btn-group o_search_options">
                
                <!-- <div class="ml-2">
                    <div class="custom-control custom-checkbox pt-1">
                        <input type="checkbox" [(ngModel)]="isQuotation" (ngModelChange)="loadDataFromApi()"
                            class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Phiếu tư vấn</label>
                    </div>
                </div> -->
            </div>
         
        </div>
    </div>
</div>

<div class="o_content">
    <div>
        <kendo-grid [resizable]="true" [data]="gridData" [pageSize]="limit" [skip]="offset" [pageable]="true"
        [loading]="loading" (pageChange)="pageChange($event)" [navigable]="true">
        <kendo-grid-column field="paymentName" title="Mã thanh toán" width="120">
        </kendo-grid-column>
        <kendo-grid-column title="Ngày thanh toán" width="135">
            <ng-template kendoGridCellTemplate let-dataItem let-column="column">
                {{dataItem.paymentDate | date:'shortDate'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Phiếu điều trị" width="100">
            <ng-template kendoGridCellTemplate let-dataItem let-column="column">
                <a class="text-primary" *ngFor="let order of dataItem.orders" (click)="getFormSaleOrder(order.id)">{{order.name}}</a>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Số tiền" class="text-right" width="135">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.paymentAmount | number}}
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
    </div>
</div>
