.filter {
    margin-bottom: 14px;
}

.filter-right {
    flex-basis: 435px;
}

.bg-filter {
    background-color: #E4E7EB;
}

.bg-filter:hover {
    background-color: #c1c7ce;
}

.icon-filter {
    background-color: #E4E7EB;
}

.transform-50 {
    transform: translateY(50%);
}

.cate-multi li.k-button {
    white-space: nowrap !important;
}

.filter-2>* {
    margin-top: .5rem !important;
}

.data-filter {
    display: flex;
    flex-wrap: wrap;
}

.filter-info {
    width: fit-content;
    margin: 0 10px 10px 0;
    padding: 2.5px 5px;
    background-color: #E7F7FE;
    border-radius: 6px;
}
