<div class="d-flex flex-column h-100">
    <div class="d-flex align-items-end py-1">
        <input class="form-control form-control-sm mx-1" placeholder="Tìm kiếm theo mã hoặc tên..." type="text" [(ngModel)]="search"
        (ngModelChange)="this.searchUpdate.next($event)">
    </div>
    <!-- Component Form Service List -->
    <div class="t-conTable">
        <div class="t-parTable t-scrollbar">
            <table class="t-sticky-thead t-sticky-col-left">
                <thead>
                    <tr>
                        <th *ngFor="let item of thTable_services">
                            {{item.name}}
                        </th>
                    </tr>
                </thead>
                <tbody class="t-scrollbar">
                    <tr (click)="addServiceToSaleOrder(item)" *ngFor="let item of listProductServices;let i = index">
                        <td [title]="item.name">{{item.name}}</td>
                        <td>{{item.listPrice | number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Component Form Service Search -->