<header class="modal-header">
    <h5 class="modal-title">Hình ảnh<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body">
    <div class="o_searchview mb-3">
        <input type="text" class="o_searchview_input" placeholder="Tìm kiếm theo tên hình ảnh" [(ngModel)]="search"
            (ngModelChange)="this.searchUpdate.next($event)" />
        <span class="o_searchview_icon fas fa-search"></span>
    </div>
    <div class="o_AttachmentList_partialList" *ngIf="items.length">
        <div [attr.title]="img.name" *ngFor="let img of items;index as i"
            class="o_Attachment" (click)="chooseImage(img)">
            <div [ngStyle]="{'background-image':'url('+img.url+')'}"  [ngClass]="{'border border-primary rounded': imagesSelected.indexOf(img) !== -1}" [attr.data-mimetype]="img.mineType"
                class="o_Attachment_image o_image o-details-overlay o-medium">
                <div class="o_Attachment_imageOverlay">
                    <div class="o_Attachment_details o_Attachment_imageOverlayDetails">
                        <div class="o_Attachment_filename">{{img.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: auto; text-align: center;" *ngIf="!items.length">
        <img src="../../../../assets/icons/NoData.svg" class="img-nodata">
    </div>
</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onChoose()" accesskey="s"><span>Chọn</span></button>
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="onCancel()"
        accesskey="q"><span>Đóng</span></button>
</footer>