<div class="p-2 d-flex bg-white">
    <div class="d-flex flex-fill">
        <div class="mr-1">
            <app-tai-date-range-filter-dropdown [dateFrom]="dateFrom" [title]="'Thời gian'" [dateTo]="dateTo"
                (searchChange)="onSearchDateChange($event)">
            </app-tai-date-range-filter-dropdown>
        </div>
        <div class="mr-1">
            <kendo-combobox (selectionChange)="onStateChange($event)" placeholder="Trạng thái"
                class="kendo-combobox-sm mr-1" style="width: auto;" [data]="filterInventoryState" [textField]="'name'"
                [valueField]="'value'">
            </kendo-combobox>
        </div>
        <div>
            <button class="btn btn-primary btn-sm" title="Tạo phiếu kiểm kho" (click)="createItem()"
                *ngIf="canCreate">Tạo phiếu kiểm kho</button>
        </div>
    </div>
    <div class="flex-fill">
        <div class="o_searchview">
            <i class="o_searchview_icon fa fa-search"></i>
            <div class="o_searchview_input_container">
                <input class="o_searchview_input o_searchview" placeholder="Tìm kiếm theo số phiếu" type="text"
                    [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
            </div>
        </div>
    </div>
</div>

<div>
    <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="offset" [pageable]="true" [loading]="loading"
        (pageChange)="pageChange($event)">
        <kendo-grid-column field="name" title="Số phiếu" width="200">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.name}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="date" title="Ngày kiểm kho" width="200">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.date | date:'shortDate'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="state" title="Trạng thái" width="150">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{getState(dataItem.state)}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="id" width="80">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                Thao tác
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button class="btn btn-success btn-sm mr-2" title="Sửa" (click)="editItem(dataItem)">
                    <span class="far fa-edit"></span></button>
                <button class="btn btn-danger btn-sm" title="Xóa" (click)="deleteItem(dataItem)">
                    <span class="far fa-trash-alt"></span></button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>