<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>
<div class="modal-body o_act_window">
    <div class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="oe_title">
                    <label class="o_form_label oe_edit_only">Tên hoạt động</label>
                    <h1>
                        <input class="form-control" formControlName="name" required>
                    </h1>
                </div>
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label">Nội dung</label>
                                </td>
                                <td style="width:100%">
                                    <textarea autosize class="form-control" formControlName="content">
                                    </textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6 ">
                        <tbody>
                            <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label">Kích hoạt</label>
                                </td>
                                <td style="width:100%">
                                    <div class="container">
                                        <div class="row">
                                            <kendo-numerictextbox class="col-4 px-0" [min]="0" [format]="'n0'"
                                                formControlName="intervalNumber">
                                            </kendo-numerictextbox>
                                            <select class="form-control col-8" formControlName="intervalType">
                                                <option value="minutes">Phút</option>
                                                <option value="hours">Giờ</option>
                                                <option value="days">Ngày</option>
                                                <option value="weeks">Tuần</option>
                                                <option value="months">Tháng</option>
                                            </select>
                                        </div>
                                        <div class="row">
                                            <span>Sau khi chạy chiến dịch</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSave()" accesskey="s">Lưu</button>
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="activeModal.dismiss()"
        accesskey="q">Đóng</button>
</footer>