<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>
<div class="modal-body o_act_window">
    <div class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="oe_title">
                    <label class="o_form_label oe_edit_only">Tên hoạt động</label>
                    <h1>
                        <input class="form-control" formControlName="name" required>
                    </h1>
                </div>
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label">Loại hoạt động</label>
                                </td>
                                <td style="width: 100%;">
                                    <div class="o_field_radio o_horizontal o_field_widget o_required_modifier">
                                        <div class="custom-control custom-radio o_radio_item" aria-atomic="true">
                                            <input type="radio" class="custom-control-input o_radio_input"
                                                formControlName="activityType" value="message" id="radio53_message">
                                            <label class="custom-control-label o_form_label" for="radio53_message">Gửi
                                                tin nhắn</label>
                                        </div>
                                        <div class="custom-control custom-radio o_radio_item" aria-atomic="true">
                                            <input type="radio" class="custom-control-input o_radio_input"
                                                formControlName="activityType" value="action" id="radio53_action">
                                            <label class="custom-control-label o_form_label" for="radio53_action">Hành
                                                động server</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!-- <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label">Mẫu tin</label>
                                </td>
                                <td style="width:100%">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" formControlName="template"
                                            id="template_text" value="text">
                                        <label class="form-check-label" for="template_text">Đơn giản</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" formControlName="template"
                                            id="template_button" value="button">
                                        <label class="form-check-label" for="template_button">Mẫu nút</label>
                                    </div>
                                </td>
                            </tr> -->
                            <tr [class.d-none]="activityTypeValue !== 'message'">
                                <td class="o_td_label">
                                    <label class="o_form_label">Nội dung</label>
                                </td>
                                <td style="width:100%">
                                    <div class="position-relative mb-2">
                                        <textarea autosize class="form-control activity-text" formControlName="text">
                                        </textarea>
                                        <span class="text-number text-warning">{{getLimitText() | number}}</span>
                                    </div>
                                    <!-- <div *ngIf="buttonsFormArray.length" class="button-editor-wrapper mb-2">
                                        <div *ngFor="let c of buttonsFormArray.controls;let i = index"
                                            class="button-editor" (click)="editMessageButton($event, c)">
                                            <i *ngIf="c.get('type').value == 'web_url'" class="fas fa-link"></i>
                                            <i *ngIf="c.get('type').value == 'phone_number'" class="fas fa-phone"></i>
                                            <span class="message-button-header"> {{c.get('title').value}}</span>
                                            <span class="message-button-remove"
                                                (click)="removeMessageButton($event, i)">
                                                <i class="far fa-trash-alt"></i>
                                            </span>
                                            <br />
                                            <div class="message-button-small">
                                                <span *ngIf="c.get('type').value == 'web_url'"
                                                    class="block-name-show-btn">{{c.get('url').value}}</span>
                                                <span *ngIf="c.get('type').value == 'phone_number'"
                                                    class="block-name-show-btn">{{c.get('payload').value}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div [class.d-none]="templateValue == 'text'">
                                        <div class="text-center">
                                            <button type="button" class="btn btn-light btn-sm"
                                                (click)="addMessageButton($event)">
                                                <i class="fas fa-plus"></i> Thêm nút
                                            </button>
                                        </div>

                                        <div class="position-relative">
                                            <ng-template anchorHost>
                                            </ng-template>
                                        </div>
                                    </div> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class=" o_group o_inner_group o_group_col_6 ">
                        <tbody>
                            <tr>
                                <td class=" o_td_label">
                                    <label class="o_form_label">Kích hoạt</label>
                                </td>
                                <td style="width:100%">
                                    <div class="container">
                                        <div class="row">
                                            <kendo-numerictextbox class="col-4 px-0" [min]="0" [format]="'n0'"
                                                formControlName="intervalNumber">
                                            </kendo-numerictextbox>
                                            <select class="form-control col-8" formControlName="intervalType">
                                                <option value="minutes">Phút</option>
                                                <option value="hours">Giờ</option>
                                                <option value="days">Ngày</option>
                                                <option value="weeks">Tuần</option>
                                                <option value="months">Tháng</option>
                                            </select>
                                        </div>
                                        <div class="row">
                                            <span>Sau khi chạy chiến dịch</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSave()" accesskey="s">Lưu</button>
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="activeModal.dismiss()"
        accesskey="q">Đóng</button>
</footer>