

:host {
  margin: auto;
}

.reset-password {
    height: 100vh;
    display: flex;
    background-size: cover;
    align-items: center;
  }
  
  .reset-password .reset-password-box {
    max-width: 400px;
    min-width: 280px;
    margin: 0 auto;
    vertical-align: middle;
  }
  
