<div class="reset-password bg-light">
    <div class="reset-password-box">
        <form [formGroup]="resetPwdForm" (submit)="submit()">
            <div class="text-center">
                <img alt="homepage" src="assets/images/logo-icon.png" />
                <h4 class="m-t-0">Reset mật khẩu</h4>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Email" required formControlName="email" />
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Mật khẩu" type="password" required
                    formControlName="password" />
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Nhập lại mật khẩu" type="password" required
                    formControlName="confirmPassword" />
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!resetPwdForm.valid">
                Reset mật khẩu
            </button>
            <div class="text-center">
                <a routerLink="/login">Đăng nhập</a>
            </div>
        </form>
    </div>
</div>