<header class="modal-header">
    <h5 class="modal-title">{{id ? 'Cập nhật tiểu sử bệnh' : 'Thêm tiểu sử bệnh'}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()" tabindex="-1">×</button>
</header>
<div class="modal-body o_act_window">
    <form class="o_form_view o_form_editable" [formGroup]="formCreate">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet" style=" min-height: auto;">
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6" style="width:100%">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Tên
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input class="form-control" formControlName="name" required>
                                    <div *ngIf="f.name.errors && (f.name.touched || f.name.dirty || submitted)"
                                        class="text-danger">
                                        <div *ngIf="f.name.errors.required">Nhập tên tiếu sử bệnh</div>
                                    </div>
                                </td>
                            </tr>
                            <!-- <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label">
                                    Loại
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                <kendo-dropdownlist formControlName="typeObj" [data]="typeList" [valueField]="'id'"
                                    [textField]="'type'">
                                </kendo-dropdownlist>
                            </td>
                        </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary mr-2" accesskey="s" (click)="createUpdate()">Lưu</button>
    <button type="button" class="btn btn-light mr-2" accesskey="q" (click)="closeModal(null)">Đóng</button>
</div>