<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="active">Quản lý bảo hành</li>
        </ol>
        <div class="o_cp_searchview">
            <div class="o_searchview">
                <i class="o_searchview_icon fa fa-search"></i>
                <div class="o_searchview_input_container">
                    <input class="o_searchview_input"
                        placeholder="Tìm kiếm theo tên khách hàng, phiếu labo, phiếu bảo hành" type="text"
                        [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
                </div>
            </div>
        </div>
        <div class="o_cp_left">
            <div class="o_search_options flex-wrap">
                <div class="mr-1 mb-1">
                    <kendo-combobox [popupSettings]="" placeholder="Nhà cung cấp" [valuePrimitive]="true"
                        [valueField]="'id'" [textField]="'name'" #supplierDataCbx>
                    </kendo-combobox>
                </div>
                <div class="mr-1 mb-1">
                    <kendo-combobox [data]="stateFilterOptions" [textField]="'text'" [valueField]="'value'"
                        [filterable]="true" [placeholder]="'Trạng thái'" >
                    </kendo-combobox>
                </div>
                <div class="mr-1 mb-1">
                    <app-date-range-picker-filter [opens]="'right'" [title]="'Ngày nhận bảo hành'">
                    </app-date-range-picker-filter>
                </div>
                <button type="button" class="btn btn-primary" (click)="exportExcelFile()">
                    <i class="fas fa-download"></i>&nbsp;Xuất Excel
                </button>

            </div>
            <!-- <div class="o_cp_buttons">
            </div>
            <div class="o_cp_sidebar">
            </div> -->
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>
<div class="o_content">
    <!-- <div class="p-2 d-flex bg-white">
        <div class="d-flex flex-fill">
            <div class="mr-1">
                <kendo-combobox [popupSettings]="" placeholder="Nhà cung cấp" [valuePrimitive]="true"
                    [valueField]="'id'" [textField]="'name'" #supplierDataCbx>
                </kendo-combobox>
            </div>
            <div class="mr-1">
                <kendo-combobox [data]="stateFilterOptions" [textField]="'text'" [valueField]="'value'"
                    [filterable]="true" [placeholder]="'Trạng thái'">
                </kendo-combobox>
            </div>
            <div class="mr-1">
                <app-date-range-picker-filter [opens]="'right'" [title]="'Ngày nhận bảo hành'">
                </app-date-range-picker-filter>
            </div>
            <button type="button" class="btn btn-primary" (click)="exportExcelFile()">
                <i class="fas fa-download"></i>&nbsp;Xuất Excel</button>

        </div>
        <div class="flex-fill">
            <div class="o_searchview">
                <i class="o_searchview_icon fa fa-search"></i>
                <div class="o_searchview_input_container" style="width: 300px;">
                    <input class="o_searchview_input"
                        placeholder="Tìm kiếm theo tên khách hàng, phiếu labo, phiếu bảo hành" type="text">
                </div>
            </div>
        </div>
    </div> -->
    <div>
        <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading"
            (pageChange)="pageChange($event)">
            <kendo-grid-column field="dateReceiptWarranty" title="Ngày nhận bảo hành" width="180">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{dataItem.dateReceiptWarranty | date : 'shortDate'}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="name" title="Phiếu bảo hành" width="120">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <a class="text-primary" (click)="editWarranty(dataItem)"> {{dataItem.name}}</a>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="laboOrderName" title="Phiếu Labo" width="150">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <a class="text-primary" (click)="editLabo(dataItem)"> {{dataItem.laboOrderName}}</a>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column title="Khách hàng" width="150">
            </kendo-grid-column>
            <kendo-grid-column field="reason" title="Lý do bảo hành" width="150">
            </kendo-grid-column>
            <kendo-grid-column field="content" title="Nội dung bảo hành" width="150">
            </kendo-grid-column>
            <kendo-grid-column field="dateSendWarranty" title="Gửi bảo hành" width="120">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{dataItem.dateSendWarranty | date : 'shortDate'}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="dateReceiptInspection" title="Nhận nghiệm thu" width="150">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{dataItem.dateReceiptInspection | date : 'shortDate'}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="dateAssemblyWarranty" title="Lắp bảo hành" width="120">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{dataItem.dateAssemblyWarranty | date : 'shortDate'}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="state" title="Trạng thái" width="100">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{showState(dataItem.state)}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="state" title="Thao tác" width="100">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <button class="btn mr-1" title="Sửa" (click)="editItem(dataItem)">
                        <span class="fas fa-edit text-success"></span></button>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </div>
</div>