<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb w-100">
            <li>
                <a [routerLink]="['/card-types/preferential-cards']">
                    Danh sách loại thẻ
                </a>
            </li>
            <li class="active">
                <span *ngIf="cardTypeId">{{cardTypeObj.name}}</span>
                <span *ngIf="!cardTypeId">Tạo mới</span>
            </li>
        </ol>
        <div class="o_cp_left">
            <button class="btn btn-primary" (click)="onSave()">Lưu</button>
        </div>
    </div>
</div>

<div class="o_content">
    <form class="o_form_view" #templateForm="ngForm">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet_new flex-1-1-100 h-100">
                <div class="o_group">
                    <div class="o_group o_inner_group o_group_col_6">
                        <div class="d-flex align-items-center w-100">
                            <div class="o_td_label mr-2">Tên hạng thẻ</div>
                            <div class="flex-grow-1">
                                <input class="form-control" name="name" [(ngModel)]="cardTypeObj.name" required #name ="ngModel">
                            </div>
                        </div>
                        <div class="d-flex align-items-center w-100 mb-3">
                            <div class="o_td_label mr-2"></div>
                            <div class="flex-grow-1" style="height: 22px;">
                                <div class="text-danger" *ngIf="name?.errors?.required && name.dirty">
                                    Nhập tên hạng thẻ
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center w-100 mb-3">
                            <div class="o_td_label mr-2">Hạn mức thẻ</div>
                            <div class="mr-2">
                                <select class="form-control select-control" [(ngModel)]="cardTypeObj.nbrPeriod" name="nbrPeriod">
                                    <option *ngFor="let i of periodList" value="{{i}}">
                                        {{i}}
                                    </option>
                                </select>
                            </div>
                            <div>
                                <select class="form-control select-control" [(ngModel)]="cardTypeObj.period" name="period">
                                    <option value="year">Năm</option>
                                    <option value="month">Tháng</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="o_td_label mb-2">
                    Cấu hình ưu đãi
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <app-service-list-search-dropdown (onSelectService)="addLine($event)" [placeHolder] = "'Tìm kiếm theo mã hoặc tên dịch vụ...'" ></app-service-list-search-dropdown>
                    <div style="margin-right: 10.5px;" *ngIf="categories.length > 0">
                        <button class="btn btn-primary" (click) = onApplyAll()>Áp dụng cho toàn bộ</button>
                    </div>
                </div>
                <div *ngIf="categories.length > 0">
                    <table class="table">
                        <tr>
                            <th>Tên dịch vụ</th>
                            <th>Giá bán</th>
                            <th class="text-center">Ưu đãi theo thẻ</th>
                        </tr>
                        <ng-container *ngFor="let categ of categories; let categIndex = index">
                            <tr>
                                <td colspan="2" class="o_td_label">
                                    {{categ[0].categName}}
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-primary" (click) = "onApplyCateg(categ[0].categId)">Áp dụng cho cả nhóm</button>
                                </td>
                            </tr>
                            <tr *ngFor="let product of categ[0].products ; let productIndex = index">
                                <td class="w-50">
                                    <div>{{product.name}}</div>
                                    <div>{{product.defaultCode}}</div>

                                </td>
                                <td class="w-20">{{product.listPrice | number}}</td>
                                <td class="w-30 text-right">

                                    <kendo-numerictextbox *ngIf="product.computePrice == 'fixed_amount'" [min]="0" max="{{product.listPrice}}" autoCorrect = 'true'  [format]="'n0'" class="mr-2" style="width:70%" 
                                    [(ngModel)]="product.fixedAmountPrice"
                                    [name] = "'percentPrice' + categIndex + productIndex">
                                    </kendo-numerictextbox>
                                    <kendo-numerictextbox required="true" *ngIf="product.computePrice == 'percentage'" [min]="0" max = "100" [format]="'n0'" autoCorrect = 'true' class="mr-2" style="width:70%" 
                                    [name] = "'percentPrice' + categIndex + productIndex" [(ngModel)]="product.percentPrice">
                                    </kendo-numerictextbox>


                                    <input type="radio" class="btn-check" [id]="'btn-check-1'+categIndex + productIndex" 
                                    [name]="'type'+categIndex + productIndex" (ngModelChange)="changePeriod(product)"
                                    value = "percentage" [(ngModel)]="product.computePrice">
                                    <label class="btn btn-outline-primary mb-0 mr-2" [ngClass]="{'btn-primary': product.computePrice=='percentage'}" 
                                    [for]="'btn-check-1'+categIndex + productIndex">%</label>
                                    <input type="radio" class="btn-check" [id]="'btn-check-2'+categIndex + productIndex" 
                                    [name]="'type'+categIndex + productIndex" (ngModelChange)="changePeriod(product)"
                                    value = "fixed_amount" [(ngModel)]="product.computePrice">
                                    <label class="btn btn-outline-primary mb-0 mr-2" [ngClass]="{'btn-primary': product.computePrice=='fixed_amount'}"
                                    [for]="'btn-check-2'+categIndex + productIndex">VNĐ</label>
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>