<div class="t_section_right">
    <div class="t_treatment_wrapper">
        <div class="o_cp_controller">
            <div class="o_control_panel">
                <div class="breadcrumb">
                    <div class="d-flex">
                        <app-tai-date-range-filter-dropdown title="Thời gian" [dateFrom]="dateFrom" [dateTo]="dateTo" (searchChange)="onSearchDateChange($event)">
                        </app-tai-date-range-filter-dropdown>
                        <button type="button" (click)="createNewSaleOrder()" class="ml-2 btn btn-primary btn-sm"><i
                            class="fas fa-plus"></i> Thêm phiếu điều trị</button>
                    </div>
                </div>
                <div class="o_cp_searchview">
                    <div class="o_searchview">
                        <input class="o_searchview_input" placeholder="Tìm kiếm theo số phiếu điều trị" type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
                    </div>
                </div>
                <div class="o_cp_left">
                    <div class="o_cp_buttons">
        
                    </div>
                    <div class="o_cp_sidebar">
                    </div>
                </div>
                <div class="o_cp_right">
        
                </div>
            </div>
        </div>
        <div class="t_treatment_grid">
            <app-partner-overview-treatment [saleOrdersData]="saleOrdersData" [limit]="limit" [skip]="skip" (deleteItemEvent)="onDeleteSaleOrder()" (pageChageEvent)="pageChange($event)">
            </app-partner-overview-treatment>
        </div>
    </div>
</div>
