<div class="o_control_panel">
    <!-- <ol class="breadcrumb">
        <li class="active">Nhãn khách hàng</li>
    </ol>
    <div class="o_cp_searchview">
        <div class="o_searchview">
            <input class="o_searchview_input" placeholder="Tìm kiếm..." type="text" [(ngModel)]="search"
                (ngModelChange)="this.searchUpdate.next($event)">
        </div>
    </div> -->
    <div class="o_cp_t_left">
        <div class="o_cp_buttons">
            <div class="o_form_buttons_view">
                <button type="button" class="btn btn-primary" accesskey="c" (click)="createItem()">Thêm</button>
                <button type="button" class="btn btn-light" (click)="importFromExcel()">
                    <i class="fas fa-upload"></i> Import
                </button>
            </div>
        </div>
        <div class="o_cp_sidebar">
        </div>
    </div>
    <div class="o_cp_t_right">
        <div class="o_searchview">
            <input class="o_searchview_input" placeholder="Tìm kiếm..." type="text" [(ngModel)]="search"
            (ngModelChange)="this.searchUpdate.next($event)">
            <span class="o_searchview_icon fas fa-search"></span>
        </div>
       
        <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" type="button" id="dropdownMenuButton">
                Thao tác
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">Xóa</a>
            </div>
        </div> -->
    </div>
</div>

<div class="o_content">
    <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading"
    (pageChange)="pageChange($event)">
        <kendo-grid-column field="name" title="Tên nhãn khách hàng">
        </kendo-grid-column>
        <kendo-grid-column field="id">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                Thao tác
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button class="btn btn-success mr-2" title="Sửa" (click)="editItem(dataItem)">
                    <span class="far fa-edit"></span></button>
                <button class="btn btn-danger" title="Xóa" (click)="deleteItem(dataItem)">
                    <span class="far fa-trash-alt"></span></button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>
