.table-report-total {
    width: 100%;
    margin-bottom: .5rem;
}
.table-report-total td {
    padding: .5rem;
    padding-bottom: 0;
}
.table-title {
    width: 100px;
}
.table-datepicker {
    max-width: 150px;
}
.legend-report-total {
    position: relative;
}
.legend-report-total .color {
    height: 1rem;
    width: 1rem;
    position: absolute;
    top: .25rem;
    left: 0;
}
.legend-report-total span {
    padding-left: 1.5rem;
}
.legend-report-total .num {
    font-weight: bold;
    text-align: center;
    font-size: 1.25rem;
}
.legend-total .color {
    background-color: LimeGreen;
}
.legend-total .num {
    color: LimeGreen;
}
.legend-success .color {
    background-color: DeepSkyBlue;
}
.legend-success .num {
    color: DeepSkyBlue;
}
.legend-fails .color {
    background-color: DarkSlateGrey;
}
.legend-fails .num {
    color: DarkSlateGrey;
}
.no-data-report {
    height: 400px;
    color: grey;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 175px;
    background-color: white;
}