<header class="modal-header">
    <h5 class="modal-title mr-auto">Tài khoản<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <div class="o_form_view o_form_nosheet o_form_editable">
        <div class="o_group">
            <table *ngIf="!loading" class="o_group o_inner_group">
                <tbody>
                    <tr>
                        <td class="o_td_label text-right" rowspan="3">
                            <img class="rounded" 
                                [src]="dataCustomer.profilePic" height="100" width="100">
                        </td>
                        <td style="width: 100%;">
                            <h5>
                                {{dataCustomer.name}}
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tags: 
                            <app-facebook-select-tag [selectedTags_receive]="selectedTags" (selectedTags_send)="save_selectedTags($event)"></app-facebook-select-tag>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Khách hàng: 
                            <div class="d-flex">
                                <kendo-combobox
                                    [valuePrimitive]="true"
                                    [filterable]="true"
                                    [data]="listPartners"
                                    [textField]="'name'"
                                    [valueField]="'id'"
                                    [(ngModel)]="selectedPartner"
                                    (filterChange)="handleFilter($event); this.searchNamePhoneRefUpdate.next($event);"
                                    placeholder="Theo tên hoặc số điện thoại"
                                >
                                    <ng-template kendoComboBoxItemTemplate let-dataItem>
                                        <table>
                                            <tr>
                                                <span><b>{{dataItem.name}}</b></span>
                                            </tr>
                                            <tr>
                                                <span>{{dataItem.phone}}</span>
                                            </tr>
                                        </table>
                                    </ng-template>
                                </kendo-combobox>
                                <a class="btn btn-sm btn-light border ml-1" (click)="showModalCreatePartner()">
                                    <span class="k-icon k-i-plus"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer class="modal-footer justify-content-end">
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="activeModal.dismiss()"
    accesskey="q">Đóng</button>
    <button type="button" class="btn btn-primary" (click)="onSave()" accesskey="s">Lưu</button>
</footer>