<div class="o_control_panel">
    <div class="o_cp_t_left">
        <div class="o_cp_buttons d-flex">
            <div class="o_form_buttons_view mr-2">
                <div class="d-flex">
                    <app-date-range-picker-filter [opens]="'right'" [startDate]="monthStart" [endDate]="monthEnd" (searchChange)="onSearchDateChange($event)"></app-date-range-picker-filter>
                </div>
            </div>
            <kendo-combobox [placeholder]="'Phân loại'" class="mr-1" [valueField]="'id'" [textField]="'name'"
            [filterable]="true" [data]="agentTypes" (selectionChange)="onSelectCompany($event)" #companyCbx>
            </kendo-combobox>
        </div>
        <div class="o_cp_sidebar">

        </div>
    </div>
    <div class="o_cp_t_right">
        <input class="o_searchview_input o_searchview" placeholder="Tìm kiếm theo số phiếu, khách hàng, dịch vụ" type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
    </div>
</div>
<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li>
                <a routerLink="/agents/commission">Hoa hồng người giới thiệu</a>
            </li>
            <li *ngIf="agent" class="active">
                <a>{{agent.name}}</a>
            </li>
        </ol>

        <div>
            <div class="o_cp_buttons">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a routerLink="overview" class="nav-link px-3 py-1" routerLinkActive="active">Hồ sơ</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="commission" class="nav-link px-3 py-1" routerLinkActive="active">Hoa hồng</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="history" class="nav-link px-3 py-1" routerLinkActive="active">Lịch sử chi hoa
                            hồng</a>
                    </li>
                </ul>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<router-outlet></router-outlet>