<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="active">Quản lý labo</li>
        </ol>
        <div class="o_cp_searchview">
            <div class="o_cp_searchview_group">
                <div class="o_searchview">
                    <input class="o_searchview_input" placeholder="Tìm kiếm theo mã, khách hàng, SĐT" type="text"
                        [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
                </div>
                <div class="o_searchview_advance">
                    <button class="btn btn-secondary btn-sm rounded-0" type="button"
                        (click)="advanceFilter.toggleShow()">
                        Nâng cao
                    </button>
                </div>
            </div>
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <button class="btn btn-primary btn-sm" (click)="createItem()" accesskey="c">Thêm</button>
                </div>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>


<div kendoDialogContainer></div>

<div class="o_content">
    <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading"
        (pageChange)="pageChange($event)">
        <kendo-grid-column field="name" title="Mã">
        </kendo-grid-column>
        <kendo-grid-column field="supplier" title="Nhà cung cấp">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.supplier ? dataItem.supplier.name : ''}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="customer" title="Khách hàng">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.customer ? dataItem.customer.name : ''}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="product" title="Tên labo">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.product ? dataItem.product.name : ''}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="quantity" title="SL" class="text-right" width="100">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.quantity | number}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="sentDate" title="Ngày gửi" width="120">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.sentDate | date : 'shortDate'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="receivedDate" title="Ngày nhận" width="120">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.receivedDate | date : 'shortDate'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="id" width="160">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                Thao tác
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button class="btn btn-light btn-sm mr-2" (click)="editItem(dataItem)">
                    <span class="fa fa-edit"></span> Sửa</button>
                <button class="btn btn-light btn-sm" (click)="deleteItem(dataItem)">
                    <span class="fa fa-trash"></span> Xóa</button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>

<app-labo-order-line-advance-search #advanceFilter (searchChange)="onAdvanceSearchChange($event)">
</app-labo-order-line-advance-search>