<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/partners/customer/' + customerId + '/treatment']">Phiếu điều trị</a>
            </li>
            <li class="active">
                <span *ngIf="saleOrderId">{{saleOrder.name}}</span>
                <span *ngIf="!saleOrderId">Mới</span>
            </li>
        </ol>
        <!-- <div class="o_cp_left">
        <div class="o_cp_buttons">
            <div class="o_form_buttons_view">
                <button type="button" class="btn btn-secondary btn-sm" (click)="createNew()" accesskey="c"
                    *ngIf="id">
                    Thêm mới</button>
            </div>
        </div>
    </div>
    <div class="o_cp_right">
    </div> -->
    </div>
</div>

<div class="o_content">
    <form class="o_form_view h-100" [formGroup]="formGroup">
        <div class="o_form_sheet mt-0 border-top-0 d-flex flex-column p-3 h-100">
            <div class="flex-0-0-auto">
                <div class="d-flex">
                    <div class="btns">
                        <a [routerLink]="['/partners/customer/' + customerId + '/treatment']" class="btn btn-secondary btn-sm">
                            Trở lại
                        </a>
                        <!-- <button type="button" *ngIf="saleOrder.state == 'sale' && !isEditting" class="btn btn-secondary btn-sm" (click)="actionEdit()">
                            Sửa dịch vụ
                        </button> -->
                        <button type="button" class="btn btn-primary btn-sm" accesskey="s" *ngIf="saleOrder.state != 'done'" (click)="onSave()">
                            Lưu
                        </button>
                        <button type="button" accesskey="1" *ngIf="saleOrder.state == 'draft'" class="btn btn-primary btn-sm" (click)="onSaveConfirm()">
                            Lưu và xác nhận
                        </button>
                        <button *ngIf="['sale', 'done'].indexOf(saleOrder.state) !== -1" type="button" class="btn btn-primary btn-sm" (click)="actionSaleOrderPayment()">
                            Thanh toán
                        </button>
                        <button *ngIf="saleOrderId" type="button" class="btn btn-secondary btn-sm" (click)="printSaleOrder()">
                            In phiếu
                        </button>
                        <!-- <button type="button" class="btn btn-primary btn-sm" *ngIf="saleOrder.InvoiceStatus == 'to invoice'" (click)="actionInvoiceCreateV2()">
                Cập nhật công nợ
            </button> -->
                        <!-- <button *ngIf="['sale'].indexOf(saleOrder.State) !== -1" type="button" class="btn btn-danger btn-sm" (click)="actionCancel()">
                Hủy phiếu
            </button> -->
                        <button *ngIf="['sale'].indexOf(saleOrder.state) !== -1" type="button" class="btn btn-success btn-sm" (click)="actionDone()">
                            Hoàn thành
                        </button>
                        <button *ngIf="['done'].indexOf(saleOrder.state) !== -1" type="button" class="btn btn-success btn-sm" (click)="actionUnlock()">
                            Chưa hoàn thành
                        </button>
                        <!-- <button *ngIf="saleOrderId" type="button" class="btn btn-secondary btn-sm" (click)="printSaleOrder()">
                In phiếu
            </button> -->
                    </div>
                    <div *ngIf="['sale'].indexOf(saleOrder.state) !== -1" class="ml-auto">
                        <button (click)="createProductToaThuoc()" type="button" class="btn btn-sm btn-primary ml-auto mr-1">
                            Tạo đơn thuốc
                        </button>
                        <button type="button" (click)="dialogAppointment()" class="btn btn-sm btn-primary">
                            Tạo lịch
                            hẹn
                        </button>
                    </div>
                </div>
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Khách hàng
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <a *ngIf="partner" [routerLink]="['/partners/customer/' + partner.id]">{{partner.displayName}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Báo giá
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                </td>
                            </tr>
                            <tr *ngIf="saleOrder.Quote">
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Phiếu tư vấn
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <a *ngIf="saleOrder.Quote" [routerLink]="['/sale-quotations/form']" [queryParams]="{id: saleOrder.quote.Id}">{{saleOrder.quote.name}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Ngày lập phiếu
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-datetimepicker [class.d-none]="saleOrder.state != 'draft'" formControlName="dateOrderObj">
                                    </kendo-datetimepicker>
                                    <div *ngIf="f.dateOrderObj.errors && (f.dateOrderObj.touched || f.dateOrderObj.dirty || submitted)" class="text-danger">
                                        <div *ngIf="f.dateOrderObj.errors.required">Chọn ngày lập phiếu</div>
                                    </div>
                                    <span [class.d-none]="saleOrder.state == 'draft'">
                                        {{
                                        saleOrder.dateOrder | date:
                                        'short'
                                        }}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Trạng thái
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    {{getStateDisplay()}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="['sale'].indexOf(saleOrder.state) !== -1" class="d-flex">
                        <div class="card-wrapper mr-2">
                            <div class="card border-secondary">
                                <div class="card-body">
                                    <div class="text-center">
                                        <span class="font-weight-bold">Tiền điều trị</span>
                                        <h4 class="text-sale">{{getAmountTotal | number}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-wrapper mr-2">
                            <div class="card border-secondary">
                                <div class="card-body">
                                    <div class="text-center">
                                        <span class="font-weight-bold">Tiền thanh toán</span>
                                        <h4 class="text-primary">{{getAmountPaidTotal | number}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-wrapper mr-2">
                            <div class="card border-secondary">
                                <div class="card-body">
                                    <div class="text-center">
                                        <span class="font-weight-bold">Còn lại</span>
                                        <h4 class="text-success">{{getAmountTotal - getAmountPaidTotal | number}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-wrapper mr-2">
                            <div class="card border-secondary">
                                <div class="card-body">
                                    <div class="text-center">
                                        <span class="font-weight-bold">Tiền tạm ứng </span>
                                        <h4 class="text-advance">{{amountAdvanceBalance | number}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="o_notebook flex-1-1-100 overflow-hidden d-flex flex-column">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs flex-0-0-auto" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Dịch vụ</a>
                    </li>
                    <li class="nav-item" *ngIf="saleOrder.state != 'draft'">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Đợt khám</a>
                    </li>
                    <li class="nav-item" *ngIf="saleOrder.state != 'draft'">
                        <a class="nav-link" id="payment-tab" data-toggle="tab" href="#toathuoc" role="tab" aria-controls="payment" aria-selected="false">Đơn thuốc</a>
                    </li>
                    <li class="nav-item" *ngIf="saleOrder.state != 'draft'">
                        <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" aria-selected="false">Lịch sử thanh toán</a>
                    </li>
                    <li class="nav-item" *ngIf="saleOrder.state != 'draft'">
                        <a class="nav-link" id="product-tab" data-toggle="tab" href="#product" role="tab" aria-controls="product" aria-selected="false">Yêu cầu vật tư</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content flex-1-1-100 overflow-hidden">
                    <div class="tab-pane active h-100" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="w-100 h-100 d-flex flex-column">
                            <!-- && isEditting -->
                            <div *ngIf="isEditSate()" class="w-25 mb-2">
                                <app-service-list-search-dropdown (onSelectService)="addLine($event)"></app-service-list-search-dropdown>
                            </div>
                            <div class="d-flex overflow-auto w-100">
                                <div class="w-75 d-flex flex-column">
                                    <!-- saleorderline -->

                                    <div class="overflow-auto w-100">
                                        <div class="div-table w-100">
                                            <div class="div-row bg-primary text-white">
                                                <div style="width: 200px;" class="div-cell py-1 pl-2">Dịch vụ</div>
                                                <div style="width: 130px;" class="div-cell py-1 text-right">Đơn giá</div>
                                                <div style="width: 100px;" class="div-cell py-1 text-right">Số lượng</div>
                                                <div style="width: 100px;" class="div-cell py-1 text-right">Thành tiền</div>
                                                <div style="width: 100px;" class="div-cell py-1 text-right">Thanh toán</div>
                                                <div style="width: 100px;" class="div-cell py-1 text-right">Còn lại</div>
                                                <div style="width: 100px;" class="div-cell py-1 text-center">Thao tác</div>
                                            </div>
                                        </div>
                                        <ng-container *ngFor="let line of orderLines.controls; let i=index">
                                            <app-sale-order-line-cu #lineTemplate [line]="line.value" (onCancelEvent)="onCancelEditLine($event)" (onDeleteEvent)="onDeleteLine(i)" (onEditEvent)="onEditLine($event)" (onUpdateEvent)="updateLineInfo($event, line)"></app-sale-order-line-cu>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="w-25 pl-3">
                                    <!-- ưu đãi -->
                                    <div class="card mb-3">
                                        <div class="card-header bg-primary text-white pl-2 py-1 d-flex">Ưu đãi phiếu điều trị
                                            <img class="ml-1 pointer" (click)="onOpenSaleOrderPromotion()" src="../../../assets/icons/promotion.svg" alt="">
                                            <span class="ml-auto">{{sumPromotionSaleOrder() | number}}</span>
                                        </div>
                                        <div class="card-body px-3">
                                            <p class="d-flex justify-content-between">
                                                <label class="font-weight-600">Ưu đãi</label>
                                                <label class="font-weight-600">Số tiền giảm</label>
                                            </p>
                                            <p *ngFor="let item of saleOrder.promotions" class="d-flex justify-content-between">
                                                <label class="font-weight-600">{{item.name}}</label>
                                                <label class="font-weight-600">{{item.amount | number}}</label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card mb-3">
                                        <div class="card-header bg-primary text-white pl-2 py-1">Thanh toán</div>
                                        <div class="card-body px-2">
                                            <p class="d-flex justify-content-between">
                                                <label class="font-weight-600">Thành tiền</label>
                                                <label class="font-weight-600">{{getAmount() | number}}</label>
                                            </p>
                                            <p class="d-flex justify-content-between">
                                                <label class="font-weight-600">Tổng giảm giá</label>
                                                <label class="font-weight-600">{{getTotalDiscount() | number}}</label>
                                            </p>
                                            <p class="d-flex justify-content-between">
                                                <label class="font-weight-600">Tổng tiền</label>
                                                <label class="font-weight-600">{{getAmount() - getTotalDiscount() | number}}</label>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane h-100" *ngIf="saleOrder.state != 'draft'" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <app-treatment-process-service-list></app-treatment-process-service-list>
                    </div>
                    <div class="tab-pane" *ngIf="saleOrder.state != 'draft'" id="payment" role="tabpanel" aria-labelledby="payment-tab">
                        <app-sale-order-payment-list *ngIf="saleOrderId" (paymentOutput)="paymentOutput($event)" #paymentComp [saleOrderId]="saleOrderId">
                        </app-sale-order-payment-list>
                    </div>

                    <div class="tab-pane" *ngIf="saleOrder.state != 'draft'" id="toathuoc" role="tabpanel" aria-labelledby="payment-tab">
                        <app-partner-customer-toathuoc-list #toathuocComp [saleOrderId]="saleOrderId">
                        </app-partner-customer-toathuoc-list>
                    </div>

                    <div class="tab-pane" *ngIf="saleOrder.state != 'draft'" id="product" role="tabpanel" aria-labelledby="product-tab">
                        <app-sale-order-product-request-list [saleOrderId]="saleOrderId" [saleOrderState]="saleOrder.state">
                        </app-sale-order-product-request-list>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>