.rp-emp-score{
 flex: 1 1 630px;
 margin-top: 1rem;
}

.card-rp .card-header{
    font-weight: 600;
    color:hsl(211deg 100% 50%)!important;
    text-align: center;
    background-color: white;
}

.average-score{
    position: absolute;
    top: 20%;
    right: 1rem;
}

.icon-tooltip{
    width: 16px;
    height: 16px;
    left: 12px;
    top: 14px;
    background: #007BFF;
}