<div class="o_cp_controller">
    <div class="o_control_panel">
        <!-- <ol class="breadcrumb">
            <li class="active">Kiểu nhịp Labo</li>
        </ol>
        <div class="o_cp_searchview">
            <div class="o_searchview">
                <input class="o_searchview_input" placeholder="Tìm kiếm theo tên ..." type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
            </div>
        </div> -->
        <div class="o_cp_t_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <button type="button" class="btn btn-primary btn-sm" (click)="createItem()">Thêm</button>
                    <button type="button" class="btn btn-light btn-sm" (click)="onImport()">Import</button>
                </div>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_t_right">
            <input class="o_searchview_input o_searchview" placeholder="Tìm kiếm theo tên ..." type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
        </div>
    </div>
</div>
<div class="o_content">
    <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading" (pageChange)="onPageChange($event)">
        <kendo-grid-column field="name" title="Tên kiểu nhịp labo">
        </kendo-grid-column>
        <kendo-grid-column field="id">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                Thao tác
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button class="btn btn-success btn-sm mr-2" (click)="editItem(dataItem)">
                    <i class="far fa-edit"></i></button>
                <button class="btn btn-danger btn-sm" (click)="deleteItem(dataItem)">
                    <i class="far fa-trash-alt"></i></button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>