<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TPOS.VN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .list-group li {
            border-color: #7fa6d0 !important;
        }
    </style>
</head>
<body>
    <div style="max-width: 400px" class="ml-auto mr-auto mt-5">
        <div class="status-code text-center" style="color: red; zoom: 8">404</div>
        <div class="title text-center border text-danger py-2" style="background-color: #f6d3d6;">
            <div>Ứng dụng không tồn tại, vui lòng liên hệ hotline</div>
            <div><b>0908075455</b> để được hỗ trợ</div>
        </div>
        <ul class="list-group text-white mt-4">
            <li class="list-group-item list-group-item-action active">Trang chủ</li>
            <li class="list-group-item list-group-item-action active">Liên hệ</li>
            <li class="list-group-item list-group-item-action active">Đăng nhập</li>
        </ul>
    </div>

</body>
</html>
