@media (min-width: 1534px) {
    .o_form_view>.o_form_sheet_bg>.o_form_sheet {
        width: 100%;
        max-width: 1240px;
    }
}
.o_form_view .o_group.o_inner_group>tbody>tr>td {
    padding: 0 15px 7px 0;
}