.flex-0-0-auto {
    flex: 0 0 auto;
}

.flex-1-1-100 {
    flex: 1 1 100%;
}

.delete-icon {
    border: 1px solid transparent;
}

.delete-icon:hover {
    border: 1px solid hsl(0deg 0% 0% / 13%);
    color: red;
    cursor: pointer;
}

.active {
    border-color: #007BFF !important;
    background-color: #F5FAFF;
}

.pointer:hover {
    cursor: pointer;
}

.payment-methods {
    display: flex;
}

.payment-methods button {
    flex: 0 0 150px;
}

.table-left td{
    width: 250px;
}

.custom-switch .custom-control-label::before {
    left: 12.75rem;
    width: 2.25rem;
}

.custom-switch .custom-control-label::after {
    left: calc(12.75rem + 2px);
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #fff;
    -webkit-transform: translateX(calc(0.75rem + 7px));
    transform: translateX(calc(0.75rem + 7px));
}

.form-check-input {
    margin-left: 3.75rem;
}


.payment-methods {
    display: flex;
    justify-content: space-between;
}

.payment-methods:hover {
    cursor: pointer;
}

.payment-methods button {
    width: calc(25% - 10px);
}

.pointer:hover {
    cursor: pointer;
}

.payment-title {
    color: #7f7f7f;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.journal-item {
    padding: 5px 10px 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
    /* background-image: linear-gradient(#f0f0f0, #e5e5e5); */
}

.journal-input {
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.journal-input-number {
    width: 30%;
}

.btn.disabled, .btn:disabled, .btn.disabled .pointer, .btn:disabled .pointer {
    cursor: default;
}