<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" ngbAutofocus aria-label="Close" (click)="activeModal.dismiss()" tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <form class="o_form_view o_form_editable" [formGroup]="paymentForm">
        <ng-container *ngIf="step === 1; else elseTemplate">
            <div class="o_form_sheet_bg">
                <div class="o_form_sheet">
                    <div class="o_group">
                        <table class="o_group o_inner_group o_group_col_6">
                            <tbody>
                                <!-- <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label">
                                            Phương thức
                                        </label>
                                    </td>
                                    <td colspan="1" style="width: 100%;">
                                        <kendo-combobox [data]="filteredJournals" [textField]="'name'" [filterable]="true"
                                            #journalCbx formControlName="journal" [valueField]="'id'">
                                        </kendo-combobox>
                                        <div *ngIf="f.journal.errors && (f.journal.touched || f.journal.dirty || submitted)" class="text-danger">
                                            <div *ngIf="f.journal.errors.required">Chọn phương thức</div>
                                        </div>
                                    </td>
                                </tr> -->
                                <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label">
                                            Số tiền
                                        </label>
                                    </td>
                                    <td colspan="1" style="width: 100%;">
                                        <div>
                                            <div class="mb-2">
                                                <kendo-numerictextbox [min]="0" [max]="maxAmount == 0 ? null : maxAmount" [step]="1000" [format]="'n0'" [autoCorrect]="true" (blur)="enterMoney()" formControlName="amount">
                                                </kendo-numerictextbox>
                                            </div>
                                            <div>
                                                <!-- <button type="button" class="btn btn-primary btn-sm ml-1"
                                                    (click)="enterMoney()">
                                                    Nhập tiền
                                                </button> -->
                                                <button type="button" class="btn btn-primary btn-sm" (click)="payOff()">
                                                    Trả hết
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <table class="o_group o_inner_group o_group_col_6">
                            <tbody>
                                <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label for="o_field_input_46" class="o_form_label">
                                            Ngày thanh toán
                                        </label>
                                    </td>
                                    <td colspan="1" style="width: 100%;">
                                        <kendo-datepicker formControlName="date"></kendo-datepicker>
                                        <div *ngIf="f.date.errors && (f.date.touched || f.date.dirty || submitted)" class="text-danger">
                                            <div *ngIf="f.date.errors.required">Chọn ngày thanh toán</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label">
                                            Nội dung
                                        </label>
                                    </td>
                                    <td colspan="1" style="width: 100%;">
                                        <input type="text" formControlName="note" class="form-control" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="o_group">
                        <div *ngIf="showError_1" class="text-danger">
                            Nhấn "Nhập tiền" để phân bổ tiền thanh toán cho từng dịch vụ
                        </div>
                        <div *ngIf="showError_2" class="text-danger">
                            Nhập số tiền thanh toán
                        </div>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Dịch vụ</th>
                                    <th class="text-right">Số tiền</th>
                                    <th class="text-right">Đã trả</th>
                                    <th class="text-right">Còn thiếu</th>
                                    <th class="text-right">Thanh toán</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="lines">
                                <ng-container *ngFor="let line of linesFC.controls; let i=index">
                                    <tr [formGroupName]="i">
                                        <td class="align-middle">{{ line.get('saleOrderLine').value.name }}</td>
                                        <td class="text-right align-middle">{{ line.get('saleOrderLine').value.priceTotal | number }}</td>
                                        <td class="text-right align-middle">{{ line.get('saleOrderLine').value.amountPaid | number }}</td>
                                        <td class="text-right align-middle">{{ line.get('saleOrderLine').value.amountResidual | number }}
                                        </td>
                                        <td class="text-right">
                                            <kendo-numerictextbox [step]="1000" [format]="'n0'" [autoCorrect]="true" style="max-width: 200px;" formControlName="amount" (valueChange)="changeMoneyLine(line)">
                                            </kendo-numerictextbox>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #elseTemplate>
            <div class="o_form_sheet_bg">
                <div class="o_form_sheet">
                    <div class="d-flex flex-wrap">
                        <div class="pr-5" style="flex-grow: 3;">
                            <div class="card mb-3">
                                <div class="card-header bg-primary text-white">Số tiền khách đưa</div>
                                <div class="card-body d-flex flex-column p-3">
                                    <h5>
                                        <kendo-numerictextbox [min]="cashLineFG.value.amount" [(ngModel)]="partnerCash" [ngModelOptions]="{standalone: true}" class="w-100 k-numerictextbox-text-right" [format]="'n0'" [spinners]="false">
                                        </kendo-numerictextbox>
                                    </h5>
                                    <label class="ml-auto mb-0 d-flex">Tiền thừa trả khách: <h5 class="ml-1">{{getReturnOverPaid() | number}}</h5></label>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap my-2">
                                <button (click)="onCashSuggestionClick(item)" class="btn border mr-1 my-1" *ngFor="let item of cashSuggestions">{{item | number}}</button>
                            </div>

                            <div class="journal">
                                <h5>Phương thức thanh toán</h5>
                                <div class="d-flex">
                                    <ng-container *ngFor="let item of filteredJournals">
                                        <button [ngClass]="{'active': isJournalActiveClass(item)}" (click)="addJournalLine(item)" class="btn border d-flex flex-column align-items-center mr-2" *ngIf="item.type != 'cash'">
                                            <img class="mt-1" src="../../../assets/images/icons-tdental/bank.svg" alt="">
                                            <label class="pointer my-1">{{item.name}}</label>
                                        </button>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="journal-amount" formArrayName="journalLines">
                                <ng-container *ngFor="let journalFG of journalLinesFC.controls; let i = index">
                                    <div [formGroupName]="i" *ngIf="journalFG.value.journal.type != 'cash'" class="card my-2">
                                        <div class="d-flex card-header">
                                            <h5 class="m-0">{{journalFG.value.journal.name}}</h5>
                                            <a (click)="onDeleteJournalLine(i)" class="ml-auto delete-icon p-1 font-weight-normal">X</a>
                                        </div>
                                        <div class="card-body">
                                            <kendo-numerictextbox [min]="0" [max]="getJournalLineAmountMax(journalFG.value)" (valueChange)="onJournalLineAmountChange($event, journalFG.value)" class="k-numerictextbox-text-right w-100" formControlName="amount" [spinners]="false" [format]="'n0'"></kendo-numerictextbox>
                                            <div class="d-flex">
                                                <label *ngIf="journalFG.value.journal.type == 'advance'" class="text-muted my-1">Tạm ứng hiên có: {{advanceAmount | number}}</label>
                                                <label *ngIf="journalFG.value.journal.type == 'advance' && advanceAmount < journalFG.value.amount" class="text-danger my-1 ml-auto">Tiền tạm ứng không đủ</label>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="p-3 h-100 flex-grow-1" style="background-color: #F8F9FA">
                            <p class="d-flex">
                                <label> Số tiền cần thanh toán</label>
                                <label class="ml-auto">
                                   <h5> {{amount | number}}</h5>
                                </label>
                            </p>
                            <hr>
                            <p *ngFor="let item of journalLinesFC.value" class="d-flex">
                                <label> {{item.journal.name}}</label>
                                <label class="ml-auto">{{item.amount | number}}</label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </ng-template>

    </form>
</div>

<footer class="modal-footer">
    <ng-container *ngIf="step === 1; else elseTemplateFooter">
        <button type="button" class="btn btn-primary" (click)="nextStep()" [disabled]="loading" accesskey="s">Tiếp tục</button>
        <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="cancel()" accesskey="q">Đóng</button>
    </ng-container>
    <ng-template #elseTemplateFooter>

        <button type="button" class="btn btn-secondary" (click)="backPreviousStep()" [disabled]="loading">Trở lại</button>
        <button type="button" class="btn btn-primary" (click)="saveAndPrint()" [disabled]="loading">Thanh
                toán và in</button>
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="loading" accesskey="s">Thanh
                toán</button>
        <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="cancel()" accesskey="q">Đóng</button>

    </ng-template>

</footer>