<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" ngbAutofocus aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <form class="o_form_view o_form_editable" [formGroup]="paymentForm">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Phương thức
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-combobox [data]="filteredJournals" [textField]="'name'"
                                        [filterable]="true" #journalCbx formControlName="journal" [valueField]="'id'">
                                    </kendo-combobox>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Số tiền
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <div class="d-flex">
                                        <kendo-numerictextbox 
                                            [min]="0" [max]="maxAmount == 0 ? null : maxAmount" 
                                            [step]="1000" [format]="'n0'" [autoCorrect]="true"
                                            formControlName="amount">
                                        </kendo-numerictextbox>
                                        <button type="button" class="btn btn-primary ml-1" style="white-space: nowrap; cursor: pointer;"
                                            (click)="enterMoney()">
                                            Nhập tiền
                                        </button>
                                        <button type="button" class="btn btn-primary ml-1" style="white-space: nowrap; cursor: pointer;"
                                            (click)="payOff()">
                                            Trả hết
                                        </button>
                                    </div>
                                </td>
                            </tr>
                          
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label for="o_field_input_46" class="o_form_label">
                                        Ngày thanh toán
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-datepicker formControlName="paymentDateObj"></kendo-datepicker>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Nội dung
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input type="text" formControlName="communication" class="form-control" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="o_group">
                    <div *ngIf="showError" class="text-danger">
                        Số tiền thanh toán cho các dịch vụ chưa trùng khớp
                    </div>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Dịch vụ</th>
                                <th class="text-right">Số tiền</th>
                                <th class="text-right">Đã trả</th>
                                <th class="text-right">Còn thiếu</th>
                                <th class="text-right">Thanh toán</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="saleOrderLinePaymentRels">
                            <ng-container *ngFor="let line of saleOrderLinePaymentRels.controls; let i=index">
                                <tr [formGroupName]="i">                                          
                                    <td class="align-middle">{{ line.get('saleOrderLine').value['name'] }}</td>
                                    <td class="text-right align-middle">{{ line.get('saleOrderLine').value['priceSubTotal'] | number }}</td>
                                    <td class="text-right align-middle">{{ line.get('amountPayment').value | number }}</td>
                                    <td class="text-right align-middle">{{ line.get('saleOrderLine').value['priceSubTotal'] - line.get('amountPayment').value | number }}</td>
                                    <td class="text-right">
                                        <kendo-numerictextbox 
                                            [disabled]="line.get('isDone').value"
                                            [min]="0" [max]="getMaxMoneyLine(line)" 
                                            [step]="1000" [format]="'n0'" [autoCorrect]="true"
                                            style="max-width: 200px;"
                                            formControlName="amountPrepaid"
                                            (valueChange)="changeMoneyLine(line)">
                                        </kendo-numerictextbox>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="loading" accesskey="s">Thanh
        toán</button>
    <button type="button" *ngIf="showPrint" class="btn btn-primary" (click)="saveAndPrint()" [disabled]="loading">Thanh
        toán và in</button>
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="cancel()" accesskey="q">Đóng</button>
</footer>