<header class="modal-header">
  <h5 class="modal-title">
    {{ title }}<span class="o_subtitle text-muted small"></span>
  </h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()" tabindex="-1">
    ×
  </button>
</header>
<div class="modal-body o_act_window">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-city-tab" data-bs-toggle="pill" data-bs-target="#pills-city" type="button" role="tab" aria-controls="pills-city" aria-selected="true">
        city
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-district-tab" data-bs-toggle="pill" data-bs-target="#pills-district" type="button" role="tab" aria-controls="pills-district" aria-selected="false">
        district
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-ward-tab" data-bs-toggle="pill" data-bs-target="#pills-ward" type="button" role="tab" aria-controls="pills-ward" aria-selected="false">
        ward
      </button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-city" role="tabpanel" aria-labelledby="pills-city-tab">
      <div class="content">
        <div class="o_searchview">
          <span class="o_searchview_icon fas fa-search"></span>
          <input class="o_searchview_input" [placeholder]="'Tỉnh/Thành'" type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)" />
        </div>
        <ul>
          <li class="flex justify-content-between" *ngFor="let item of cities">
            <span>{{item.name}}</span>
            <i class="fas fa-chevron-right"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-district" role="tabpanel" aria-labelledby="pills-district-tab">
      <div class="content">
        <div class="o_searchview">
          <span class="o_searchview_icon fas fa-search"></span>
          <input class="o_searchview_input" [placeholder]="'Tỉnh/Thành'" type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)" />
        </div>
        <ul>
          <li class="flex justify-content-between">
            <span>Tất cả</span>
            <i class="fas fa-chevron-right"></i>
          </li>
          <li class="flex justify-content-between" *ngFor="let item of cities">
            <span>{{item.name}}</span>
            <i class="fas fa-chevron-right"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-ward" role="tabpanel" aria-labelledby="pills-ward-tab">
      <div class="content">
        <div class="o_searchview">
          <span class="o_searchview_icon fas fa-search"></span>
          <input class="o_searchview_input" [placeholder]="'Tỉnh/Thành'" type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)" />
        </div>
        <ul>
          <li class="flex justify-content-between" *ngFor="let item of cities">
            <span>{{item.name}}</span>
            <i class="fas fa-chevron-right"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-primary" accesskey="s" (click)="createUpdateEmployee()">
    Lưu
  </button>
    <button type="button" class="btn btn-secondary" accesskey="q" (click)="activeModal.dismiss()">
    Đóng
  </button>
</div> -->
