.o_form_label {
    min-width: 150px;
}

.card-header {
    background-color: white;
    /* color: #1A6DE3; */
}

.title-header{
    color: #6b7280;
    line-height: 28px;
    font-weight: 600;
}

.o_form_sheet{
    padding: 0 !important;
    border: none !important;
}

.o_group{
    margin: 0 !important;
}