.payment {
    position: relative;
}

.count-payment {
    position: absolute;
    background-color: #FFF849;
    font-size: 14px;
    right: 3px;
    top: -8px;
    width: 20px;
    text-align: center;
    font-weight: 600;
    border-radius: 100%;
}

.breadcrumb{
    font-size: unset;
}