<div class="d-flex p-3">
    <div class="o_cp_buttons flex-fill">
        <button (click)="onPayment()" class="btn btn-primary btn-sm mr-2">Thanh toán</button>
        <button (click)="exportExcelFile()" class="btn btn-primary btn-sm">Xuất file</button>
    </div>
    <div class="flex-fill">
        <input class="form-control form-control-sm" placeholder="Tìm kiếm theo nguồn" type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
    </div>
</div>

<div class="o_content">
    <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading" [selectable]="selectableSettings" (pageChange)="pageChange($event)" kendoGridSelectBy="id" (selectedKeysChange)="chooseRows($event)">
        <kendo-grid-checkbox-column [width]="50" [headerClass]="{'text-center': true}" [class]="{'text-center': true}" showSelectAll="true"></kendo-grid-checkbox-column>
        <kendo-grid-column field="invoiceDate" title="Ngày">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.invoiceDate | date:'shortDate'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="invoiceOrigin" title="Nguồn">
        </kendo-grid-column>
        <kendo-grid-column field="amountTotal" title="Loại">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.amountResidualSigned
                < 0 ? 'Thanh toán NCC': 'Trả hàng NCC'}} </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="amountTotal" class="text-right" title="Tổng tiền">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.amountTotal| number}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column class="text-right" title="Thanh toán">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{(dataItem.amountTotal - dataItem.amountResidual) | number}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="amountResidual" class="text-right" title="Còn nợ" footerClass="text-right font-weight-bold">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.amountResidual | number}}
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>