<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="active">Nhân viên</li>
        </ol>
        <div class="o_cp_searchview">
            <div class="o_cp_searchview_group">
                <div class="o_searchview">
                    <input class="o_searchview_input" placeholder="Tìm kiếm..." type="text" [(ngModel)]="search"
                        (ngModelChange)="this.searchUpdate.next($event)">
                </div>
            </div>
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <button type="button" class="btn btn-primary btn-sm" accesskey="c"
                    (click)="createEmployee()">Thêm</button>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
            <div class="btn-group o_search_options">
                <div>
                    <div class="custom-control custom-checkbox  custom-control-inline">
                        <input class="custom-control-input" type="checkbox" id="inlineCheckbox1" [(ngModel)]="isDoctor"
                            (change)="getEmployeesList()">
                        <label class="custom-control-label" for="inlineCheckbox1">Bác sĩ</label>
                    </div>
                    <div class="custom-control custom-checkbox  custom-control-inline">
                        <input class="custom-control-input" type="checkbox" id="inlineCheckbox2"
                            [(ngModel)]="isAssistant" (change)="getEmployeesList()">
                        <label class="custom-control-label" for="inlineCheckbox2">Phụ tá</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="o_content">
    <kendo-grid [data]="gridView" [pageable]="true" [pageSize]="pageSize" [skip]="skip" [loading]="loading"
        (pageChange)="pageChange($event)">
        <kendo-grid-column field="ref" title="Mã"></kendo-grid-column>
        <kendo-grid-column field="name" title="Tên"></kendo-grid-column>
        <kendo-grid-column field="phone" title="Số điện thoại"></kendo-grid-column>
        <kendo-grid-command-column title="Thao tác">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button kendoButton (click)="editEmployee(dataItem)" class="btn btn-success btn-sm"><i title="Sửa"
                        class="far fa-edit"></i></button>
                <button kendoButton (click)="deleteEmployee(dataItem.id)" class="btn btn-danger btn-sm"><i title="Xóa"
                        class="far fa-trash-alt"></i></button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
</div>