<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="active"> Nhân viên</li>
        </ol>
        <div class="o_cp_searchview">
            <div class="o_cp_searchview_group">
                <div class="o_searchview">
                    <input class="o_searchview_input" placeholder="Tìm kiếm..." type="text" [(ngModel)]="search"
                        (ngModelChange)="this.searchUpdate.next($event)">
                </div>
                <div class="o_searchview_advance">
                    <button class="btn btn-secondary btn-sm rounded-0" type="button"
                        (click)="advanceFilter.toggleShow()">
                        Nâng cao
                    </button>
                </div>
            </div>
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <!-- <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" type="button" id="dropdownMenuButton2">
                    Thêm
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <button type="button" class="dropdown-item" (click)="createDoctor()">Bác sĩ</button>
                    <button type="button" class="dropdown-item" (click)="createAssistant()">Phụ tá</button>
                    <button type="button" class="dropdown-item" (click)="createEmployee()">Nhân viên thường</button>
                </div> -->
                <button type="button" class="btn btn-primary btn-sm" (click)="createEmployee()">Thêm mới</button>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<div class="o_content">
    <kendo-grid [data]="gridView" [pageable]="true" [pageSize]="pageSize" [skip]="skip" [loading]="loading"
        (pageChange)="pageChange($event)">
        <kendo-grid-column field="ref" title="Mã"></kendo-grid-column>
        <kendo-grid-column field="name" title="Tên"></kendo-grid-column>
        <kendo-grid-column field="phone" title="Số điện thoại"></kendo-grid-column>
        <kendo-grid-column field="category.name" title="Nhóm"></kendo-grid-column>
        <kendo-grid-command-column title="Thao tác">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button kendoButton (click)="editEmployee(dataItem)" class="btn btn-success btn-sm"><i title="Sửa"
                        class="far fa-edit"></i></button>
                <button kendoButton (click)="deleteEmployee(dataItem.id)" class="btn btn-danger btn-sm"><i title="Xóa"
                        class="far fa-trash-alt"></i></button>
            </ng-template>
        </kendo-grid-command-column>
        <kendo-grid-messages pagerItems="dòng" noRecords="Không có nhân viên để hiển thị" pagerOf="/">
        </kendo-grid-messages>
    </kendo-grid>
</div>

<div kendoDialogContainer></div>

<app-employee-advance-search #advanceFilter (searchChange)="onAdvanceSearchChange($event)">
</app-employee-advance-search>