<div class="o_control_panel">
    <ol class="breadcrumb">
        <li class="active"> Nhân viên</li>
    </ol>
    <div class="o_cp_searchview">
    </div>
    <div class="o_cp_left">
        <div class="o_cp_buttons">
            <div class="o_form_buttons_view">
                <button type="button" class="btn btn-primary btn-sm" (click)="openWindow(null)">
                    <i class="fas fa-plus"></i>&nbsp;Thêm mới</button>
            </div>
        </div>
        <div class="o_cp_sidebar">
        </div>
    </div>
    <div class="o_cp_right">
    </div>
</div>
<div kendoWindowContainer></div>
<div kendoDialogContainer></div>

<div class="mainLeft">
    <div class="accordion" id="accordionExample">
        <div [formGroup]="formFilter">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Tìm kiếm
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="search" [(ngModel)]="search"
                                (ngModelChange)="searchUpdate.next($event)" placeholder="Theo mã hoặc tên" />
                        </div>
                        <div class="container">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label><input type="checkbox" formControlName="isDoctor"
                                            (change)="getEmployeesList()" /> Bác sĩ</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" formControlName="isAssistant"
                                            (change)="getEmployeesList()" /> Phụ tá</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" formControlName="isOther"
                                            (change)="getEmployeesList()" /> Khác</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mainRight">
    <kendo-grid [data]="gridView" [pageable]="true" [pageSize]="pageSize" [skip]="skip" [loading]="loading"
        (pageChange)="pageChange($event)">
        <kendo-grid-column field="ref" title="Mã" width="120"></kendo-grid-column>
        <kendo-grid-column field="name" title="Tên" width="200"></kendo-grid-column>
        <kendo-grid-column field="phone" title="Số điện thoại" width="120"></kendo-grid-column>
        <kendo-grid-column field="category.name" title="Chức vụ" width="250"></kendo-grid-column>
        <kendo-grid-command-column title="Thao tác" width="250">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button kendoButton (click)="openWindow(dataItem.id)" class="btn btn-success btn-sm"><i title="Sửa"
                        class="fas fa-edit"></i>&nbsp;Sửa</button>
                <button kendoButton (click)="deleteEmployee(dataItem.id)" class="btn btn-danger btn-sm"><i
                        title="Vô hiệu hóa" class="fas fa-times"></i>&nbsp;Xóa</button>
            </ng-template>
        </kendo-grid-command-column>
        <kendo-grid-messages pagerItems="dòng" noRecords="Không có nhân viên để hiển thị" pagerOf="/">
        </kendo-grid-messages>
    </kendo-grid>
</div>
<div class="k-overlay" *ngIf="this.windowOpened"></div>
<hr />