.fa-trash-alt {
    color: red;
}

.fa-trash-alt:hover {
    cursor: pointer;
    color: rgb(184, 93, 93);
}

.fa-edit:hover {
    cursor: pointer;
    color: rgb(89, 146, 201);
}

.close span {
    color: black;
    font-size: larger;
    font-weight: bolder;
}

.img-item img {
    position: relative;
}

.img-item .close {
    position: absolute;
    right: 12px;
    top: -10px;
}

.dotkham {
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
}

.active {
    border-color: #007BFF !important;
}

textarea[readonly] {
    background-color: #FFFFFF;
}