<header class="modal-header">
    <h4 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <div class="o_form_view" [formGroup]="PrescriptionForm">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_group mb-0"> 
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                       Tên
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input type="text" class="form-control" formControlName="name" />
                                    <div *ngIf="f.name.errors && (f.name.touched || f.name.dirty || submitted)" class="text-danger">
                                        <div *ngIf="f.name.errors.required">Nhập tên</div>
                                      </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>                
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                         
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Chẩn đoán
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input type="text" class="form-control" formControlName="note" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <app-sample-prescription-line-create-update-dialog [line]="lineSelected" (updated)="onLineUpdated()"
                        (created)="onLineCreated($event)">
                    </app-sample-prescription-line-create-update-dialog>
                </div>

                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Tên thuốc</th>
                            <th>Số lượng</th>
                            <th>Hướng dẫn sử dụng</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let line of lines; let i=index" (click)="onSelectLine(line)"
                            [class.table-active]="lineSelected === line">
                            <td>{{ line.product.name}}</td>
                            <td>
                                {{ line.quantity | number}}
                            </td>
                            <td>
                               <p>Ngày uống {{line.numberOfTimes}} lần, mỗi lần {{line.amountOfTimes}} viên, uống {{getUsedAt(line.useAt)}} </p>
                            </td>
                            <td>
                                <button type="button" class="btn btn-icon btn-sm btn-light" (click)="deleteLine(i)">
                                    <span class="k-icon k-i-delete"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm" (click)="onSave()" accesskey="s">Lưu</button>
    <button type="button" class="btn btn-secondary btn-sm o_form_button_cancel" (click)="onCancel()"
        accesskey="q">Đóng</button>
</footer>
