<div class="o_cp_controller">
    <div class="o_control_panel">
        <div class="breadcrumb">
            <div class="d-flex">
                <app-tai-date-range-filter-dropdown title="Thời gian" [dateFrom]="dateFrom" [dateTo]="dateTo" (searchChange)="onSearchDateChange($event)">
                </app-tai-date-range-filter-dropdown>
                <kendo-combobox (selectionChange)="onStatusChange($event)" placeholder="Trạng thái" class="kendo-combobox-sm ml-2" style="width: auto;" [data]="filterStatus" [textField]="'name'" [valueField]="'value'">
                </kendo-combobox>

                <button type="button" (click)="onResend()" class="ml-2 btn btn-primary btn-sm">Gửi lại tin</button>
            </div>
        </div>
        <div class="o_cp_searchview">
            <div class="o_searchview">
                <input class="o_searchview_input" placeholder="Tìm kiếm theo họ tên, số điện thoại" type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
            </div>
        </div>
    </div>
</div>
<kendo-grid [data]="gridData" [selectable]="true" [resizable]="true" (pageChange)="pageChange($event)" [skip]="skip" [pageable]="true" [pageSize]="limit" [kendoGridSelectBy]="'id'" [selectedKeys]="selectedIds">
    <kendo-grid-checkbox-column showSelectAll="true" width="50"></kendo-grid-checkbox-column>
    <kendo-grid-column title="Khách hàng" width="200">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.partner ? dataItem.partner.displayName :''}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="number" title="Số điện thoại" width="120"></kendo-grid-column>
    <kendo-grid-column title="Thời gian gửi" width="120">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.dateCreated | date:'dd/MM/yyyy, HH:mm'}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Brandname" width="120">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.smsAccount ? dataItem.smsAccount.brandName :''}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Nguyên nhân" width="120">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{stranslateCodeResponse(dataItem.errorCode)}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Trạng thái" width="120">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span *ngIf="dataItem.state=='fails'">Thất bại</span>
            <span *ngIf="dataItem.state=='sending'">Đang gửi</span>
            <span *ngIf="dataItem.state=='success'">Thành công</span>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>