<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li class="active">Thông tin khách hàng</li>
        </ol>
        <div>
            <div class="o_cp_buttons">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a routerLink="customer-categ" class="nav-link py-1" routerLinkActive="active">Nhãn khách
                            hàng</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="customer-source" class="nav-link px-3 py-1" routerLinkActive="active">Nguồn khách
                            hàng</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="customer-title" class="nav-link px-3 py-1" routerLinkActive="active">Danh
                            xưng</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="customer-history" class="nav-link px-3 py-1" routerLinkActive="active">Tiểu sử
                            bệnh</a>
                    </li>

                </ul>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>


<router-outlet></router-outlet>