<kendo-grid [data]="gridView" [pageable]="true" [pageSize]="limit" [skip]="skip" (pageChange)="pageChange($event)"
    [loading]="gridLoading">
    <!--[selectable]="{mode : 'single'}" (selectionChange)="rowSelectionChange($event)"-->
    <kendo-grid-column field="name" title="Số phiếu" width="140px">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <a class="text-primary" [routerLink]="['/sale-orders/edit/', dataItem.id]">
                {{dataItem.name }}
            </a>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="dateOrder" [title]="isCustomer ? 'Ngày điều trị' : 'Ngày đặt'">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{dataItem.dateOrder | date : 'shortDate' }}
        </ng-template>
    </kendo-grid-column>
    <!-- <kendo-grid-column title="Nợ">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{dataItem.residual | number}}
        </ng-template>
    </kendo-grid-column> -->
    <kendo-grid-column title="Tổng tiền">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{dataItem.amountTotal | number}}
        </ng-template>
    </kendo-grid-column>
    <!-- <kendo-grid-column title="Nhân viên">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{dataItem.userName}}
        </ng-template>
    </kendo-grid-column> -->
    <kendo-grid-column title="Trạng thái">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{stateGet(dataItem.state)}}
        </ng-template>
    </kendo-grid-column>
    <!-- <kendo-grid-column *ngIf="isSupplier" title="Khách hàng">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{dataItem.customerName}}--{{dataItem.partnerName}}
        </ng-template>
    </kendo-grid-column> -->

    <kendo-grid-messages pagerItems="dòng" noRecords="Không có hóa đơn nào" pagerOf="/">
    </kendo-grid-messages>
</kendo-grid>