<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li>
                <a routerLink="/tcare-scenarios">{{title}}</a>
            </li>
        </ol>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <!-- <button type="button" accesskey="s" [disabled]="campaign.state=='running'"
                        class="btn btn-primary btn-sm" (click)="onSave()">
                        Lưu</button> -->
                    <button type="button" accesskey="s" class="btn btn-primary btn-sm" (click)="onSave()">
                        Lưu</button>
                </div>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<div class="o_content">
    <form class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_form_sheet_scenario">
                    <label for="formGroupExampleInput">Tên kịch bản</label>
                    <input type="text" class="form-control" formControlName="name" id="formGroupExampleInput"
                        placeholder="Example input">
                    <div *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched || submited)">
                        <label *ngIf="nameControl.errors.required" style="color: red;">Nội dung gửi
                            không được để trống !</label>
                    </div>
                </div>
                <div class="row content_script">
                    <div class="col-4 campaign">
                        <div class="campaign_title">
                            Danh sách chiến dịch
                        </div>
                        <div class="campaign_content" [ngClass]="{'act': campaign && item.id == campaign.id}"
                            (click)="editCampaign(item)" *ngFor="let item of scenario.campaigns">
                            <div class="campaign_content_title">
                                <span [title]="item.name">{{item.name}}</span>
                            </div>
                            <div class="campaign_content_action">
                                <div class="campaign_content_action_active">
                                    <label class="switch">
                                        <input type="checkbox" [disabled]="!item.sheduleStart" [checked]="item.active"
                                            (change)="changeCheckedCampaign($event,item)">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div class="campaign_content_action_delete">
                                    <i (click)="removeCampaign(item)" class="far fa-trash-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="campaign_add" (click)="addCampaign()">
                            Thêm mới chiến dịch
                        </div>
                    </div>
                    <div class="col-8 graph" *ngIf="campaign">
                        <app-tcare-campaign-create-update (actionNext)="loadData()" [campaign]="campaign">
                        </app-tcare-campaign-create-update>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>