.o_td_label {
    min-width: 150px;
}

.cursor-pointer {
    cursor: pointer;
}

.table thead th {
    border-bottom: none;
}

.table td, .table th {
    border-top: none;
}

.cu-th-td {
    padding: 0 0.75rem;
}

.table td, .table th {
    padding: .55rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}