<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()" tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <div class="o_content">
        <form class="o_form_view" [formGroup]="formGroup">
            <div class="o_form_sheet_bg">
                <div class="o_form_sheet">
                    <h4>{{precscriptPaymen.name ? precscriptPaymen.name : ''}}</h4>
                    <div class="o_group">
                        <h5>THÔNG TIN THANH TOÁN</h5>
                        <table class="o_group o_inner_group o_group_col_6">
                            <tbody>
                                <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label">
                                            Phương thức
                                        </label>
                                    </td>
                                    <td colspan="1" style="width: 100%;">
                                        <kendo-combobox [data]="filteredJournals" [textField]="'name'" [filterable]="true" #journalCbx formControlName="journal" [valueField]="'id'">
                                        </kendo-combobox>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="o_group o_inner_group o_group_col_6">
                            <tbody>
                                <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label o_form_label_help">
                                            Ngày thanh toán
                                        </label>
                                    </td>
                                    <td colspan="1" style="width: 100%;">
                                        <kendo-datepicker [format]="'dd/MM/yyyy HH:mm'"
                                            formControlName="dateOrder">
                                        </kendo-datepicker>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label o_form_label_help">
                                            Nội dung
                                        </label>
                                    </td>
                                    <td colspan="1" style="width: 100%;">
                                        <textarea formControlName="note" class="form-control" rows="2"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="o_group">
                        <h5>THÔNG TIN ĐƠN THUỐC</h5>
                        <table class="o_group o_inner_group o_group_col_6">
                            <tbody>
                                <tr>
                                    <th colspan="1" class="o_td_label">
                                        <label class="o_form_label">
                                            Họ tên
                                        </label>
                                    </th>
                                    <td colspan="1" style="width: 100%; padding-top:7px">
                                        {{precscriptPaymen.partner ? precscriptPaymen.partner.displayName : ''}}
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="1" class="o_td_label">
                                        <label class="o_form_label">
                                            Địa chỉ
                                        </label>
                                    </th>
                                    <td colspan="1" style="width: 100%; padding-top:7px">
                                        {{precscriptPaymen.partner ? precscriptPaymen.partner.address : ''}}
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="1" class="o_td_label">
                                        <label class="o_form_label">
                                            Bác sĩ
                                        </label>
                                    </th>
                                    <td colspan="1" style="width: 100%; padding-top:7px;">
                                        {{precscriptPaymen.employee ? precscriptPaymen.employee.name : ''}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="o_group o_inner_group o_group_col_6">
                            <tbody>
                                <tr>
                                    <th colspan="1" class="o_td_label">
                                        <label class="o_form_label">
                                            Giới tính
                                        </label>
                                    </th>
                                    <td colspan="1" style="width: 100%; padding-top:7px;">
                                        {{precscriptPaymen.partner ? computeGender(precscriptPaymen.partner.gender) :
                                        ''}}
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="1" class="o_td_label">
                                        <label class="o_form_label">
                                            Tuổi
                                        </label>
                                    </th>
                                    <td colspan="1" style="width: 100%; padding-top:7px;">
                                        {{precscriptPaymen.partner ? precscriptPaymen.partner.age : ''}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Tên thuốc</th>
                                    <th scope="col" class="text-center">Ngày uống</th>
                                    <th scope="col" class="text-center">Mỗi lần</th>
                                    <th scope="col" class="text-center">Số ngày</th>
                                    <th scope="col">Sử dụng</th>
                                    <th scope="col" class="text-center">Số lượng</th>
                                    <th scope="col" class="text-right">Đơn giá</th>
                                    <th scope="col" class="text-right">Thành tiền</th>
                                    <th scope="col" class="text-center">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="medicineOrderLines">
                                <ng-container *ngFor="let line of medicineOrderLines.controls; let i=index">
                                    <tr [formGroupName]="i">
                                        <td>{{line.get('product') && line.get('product').value ? line.get('product').value.name : ''}}</td>
                                        <td class="text-center">{{line.get('numberOfTimes') ? line.get('numberOfTimes').value : ''}}</td>
                                        <td class="text-center">{{line.get('amountOfTimes') ? line.get('amountOfTimes').value : ''}}</td>
                                        <td class="text-center">{{line.get('numberOfDays') ? line.get('numberOfDays').value : ''}}</td>
                                        <td>{{line.get('useAt') ? computeUseAt(line.get('useAt').value) : ''}}</td>
                                        <td class="text-right" style="width: 15%;">
                                            <input type="number" class="form-control text-right" formControlName="quantity" (change)="computeTotalAmount()" (keyup)="computeTotalAmount()">
                                        </td>
                                        <td class="text-right">
                                            {{line.get('product') && line.get('product').value ? (line.get('product').value.listPrice | number) : ''}}
                                        </td>
                                        <td class="text-right">{{computeAmountOfLine(line) | number}}</td>
                                        <td class="text-center cursor-pointer"
                                            title="Xóa thuốc khỏi hóa đơn thanh toán">
                                            <i class="far fa-trash-alt"></i>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <div class="w-100">
                            <div class="float-right d-flex">
                                <h5 class="mr-3">Tổng tiền</h5>
                                <h5>{{getAmountTotal | number}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="o_group">
                        <table class="o_group o_inner_group o_group_col_12">
                            <tbody>
                                <tr>
                                    <th colspan="1" class="o_td_label">
                                        <label class="o_form_label">
                                            Trạng thái
                                        </label>
                                    </th>
                                    <td colspan="1" style="width: 100%; padding-top:7px;">
                                        Chưa thanh toán
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="1" class="o_td_label">
                                        <label class="o_form_label">
                                            Lời dặn
                                        </label>
                                    </th>
                                    <td colspan="1" style="width: 100%; padding-top:7px;">
                                        Chống chỉ định dị ứng viuws các thành phân của thuốc
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="1" class="o_td_label">
                                        <label class="o_form_label">
                                            Tái khám
                                        </label>
                                    </th>
                                    <td colspan="1" style="width: 100%; padding-top:7px;">
                                        0101/2021
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm" accesskey="s" (click)="onSave()">
        Lưu</button>
    <button type="button" class="btn btn-primary btn-sm" accesskey="s" (click)="onSavePayment()">
        Thanh toán</button>
    <button type="button" class="btn btn-primary btn-sm" accesskey="s" (click)="onSavePaymentPrint()">
        Thanh toán và in</button>
    <button type="button" class="btn btn-primary btn-sm" accesskey="s" (click)="printPayment()">
        In hóa đơn</button>
    <button type="button" class="btn btn-secondary btn-sm o_form_button_cancel" (click)="activeModal.dismiss()" accesskey="q">Đóng</button>
</footer>