<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()" tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <form class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <!-- <h4>{{precscriptPayment.name ? precscriptPayment.name : ''}}</h4> -->
            <div class="o_form_sheet pt-2">
                <div class="mb-3 ">
                    <h4>{{precscriptPayment?.name}}</h4>
                </div>
                <div class="o_group my-0 ">
                    <h5>THÔNG TIN THANH TOÁN</h5>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Phương thức
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <span *ngIf="precscriptPayment.state == 'confirmed' || precscriptPayment.state == 'cancel'">
                                        {{precscriptPayment && precscriptPayment.journal ?
                                        precscriptPayment.journal.name : ''}}
                                    </span>
                                    <kendo-combobox [ngClass]="{'d-none': precscriptPayment.state == 'confirmed' || precscriptPayment.state == 'cancel'}" [data]="filteredJournals" [textField]="'name'" [filterable]="true" #journalCbx formControlName="journal" [valueField]="'id'">
                                    </kendo-combobox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Ngày thanh toán
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <span *ngIf="precscriptPayment.state == 'confirmed' || precscriptPayment.state == 'cancel'">
                                        {{precscriptPayment ? precscriptPayment.orderDate : 'dd/MM/yyyy'}}
                                    </span>
                                    <kendo-datepicker *ngIf="precscriptPayment.state != 'confirmed' && precscriptPayment.state != 'cancel'" [format]="'dd/MM/yyyy'" formControlName="orderDate">
                                    </kendo-datepicker>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Nội dung
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <span *ngIf="precscriptPayment.state == 'confirmed' || precscriptPayment.state == 'cancel'">
                                        {{precscriptPayment ? precscriptPayment.note : ''}}
                                    </span>
                                    <textarea *ngIf="precscriptPayment.state != 'confirmed' && precscriptPayment.state != 'cancel'" formControlName="note" class="form-control"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="o_group my-0 ">
                    <h5>THÔNG TIN ĐƠN THUỐC</h5>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Họ tên
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%">
                                    {{precscriptPayment.partner ? precscriptPayment.partner.displayName : ''}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Địa chỉ
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%">
                                    {{precscriptPayment.partner ? precscriptPayment.partner.address : ''}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Bác sĩ
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    {{precscriptPayment.employee ? precscriptPayment.employee.name : ''}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Giới tính
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    {{precscriptPayment.partner ? computeGender(precscriptPayment.partner.gender) : ''}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Tuổi
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    {{precscriptPayment.partner ? precscriptPayment.partner.age : ''}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="o_group my-0">
                    <table class="table table-sm table-bordered mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Tên thuốc</th>
                                <th scope="col" class="text-center">Ngày uống</th>
                                <th scope="col" class="text-center">Mỗi lần</th>
                                <th scope="col" class="text-center">Số ngày</th>
                                <th scope="col">Sử dụng</th>
                                <th scope="col" class="text-center">Số lượng</th>
                                <th scope="col" style="width: 150px;" class="text-right">Đơn giá</th>
                                <th scope="col" class="text-right">Thành tiền</th>
                                <th scope="col" class="text-center" *ngIf="precscriptPayment.state != 'confirmed' && precscriptPayment.state != 'cancel'">
                                    Thao tác</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="medicineOrderLines">
                            <ng-container *ngFor="let line of medicineOrderLines.controls; let i=index">
                                <tr [formGroupName]="i">
                                    <td>{{line.get('product').value.name}}</td>
                                    <td class="text-center">
                                        {{line.get('toaThuocLine') && line.get('toaThuocLine').value ? line.get('toaThuocLine').value.numberOfTimes : ''}} lần
                                    </td>
                                    <td class="text-center">
                                        {{line.get('toaThuocLine') && line.get('toaThuocLine').value ? line.get('toaThuocLine').value.amountOfTimes : ''}} {{line.get('productUoM').value.name}}
                                    </td>
                                    <td class="text-center">
                                        {{line.get('toaThuocLine') && line.get('toaThuocLine').value ? line.get('toaThuocLine').value.numberOfDays : ''}}</td>
                                    <td>{{line.get('toaThuocLine') ? computeUseAt(line.get('toaThuocLine').value.useAt) : ''}}
                                    </td>
                                    <td class="text-center" style="width: 10%;">
                                        <span *ngIf="precscriptPayment.state == 'confirmed' || precscriptPayment.state == 'cancel'">
                                            {{line.get('quantity').value | number}}
                                        </span>
                                        <kendo-numerictextbox (valueChange)="computeTotalAmount()" *ngIf="precscriptPayment.state != 'confirmed' && precscriptPayment.state != 'cancel'" [min]="0" [format]="'n0'" [max]="line.get('toaThuocLine').value.toInvoiceQuantity" [autoCorrect]="true" formControlName="quantity">
                                        </kendo-numerictextbox>
                                        <!-- <input [min]="0"
                                            *ngIf="precscriptPayment.state != 'confirmed' && precscriptPayment.state != 'cancel'"
                                            type="number" class="form-control text-right" formControlName="quantity"
                                            (change)="computeTotalAmount()" (keyup)="computeTotalAmount()"> -->
                                    </td>
                                    <td class="text-right">
                                        <span *ngIf="precscriptPayment.state == 'confirmed' || precscriptPayment.state == 'cancel'">
                                            {{line.get('price').value | number}}
                                        </span>
                                        <kendo-numerictextbox *ngIf="precscriptPayment.state != 'confirmed' && precscriptPayment.state != 'cancel'" [min]="0" [format]="'n0'" formControlName="price">
                                        </kendo-numerictextbox>
                                    </td>
                                    <td class="text-right">{{computeAmountOfLine(line) | number}}</td>
                                    <td class="text-center cursor-pointer" *ngIf="precscriptPayment.state != 'confirmed' && precscriptPayment.state != 'cancel'">
                                        <button title="Xóa thuốc khỏi hóa đơn thanh toán" (click)="removeLine(line)" class="btn btn-danger btn-sm">
                                            <i class="text-white" class="far fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_8">
                    </table>
                    <table class="o_group o_inner_group oe_subtotal_footer oe_right o_group_col_4">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label pb-0">
                                    <label class="o_form_label oe_subtotal_footer_separator">
                                        Tổng tiền
                                    </label>
                                </td>
                                <td colspan="1">
                                    <span class="oe_subtotal_footer_separator o_form_field o_form_field_number o_field_widget">{{getAmountTotal | number}}</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="o_group my-0">
                    <table class="o_group o_inner_group o_group_col_12">
                        <tbody>
                            <tr>
                                <th colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Trạng thái
                                    </label>
                                </th>
                                <td colspan="1" style="width: 100%;">
                                    <span>{{getState(precscriptPayment.state)}}</span>
                                </td>
                            </tr>
                            <tr *ngIf="precscriptPayment.toaThuoc?.note">
                                <th colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Lời dặn
                                    </label>
                                </th>
                                <td colspan="1" style="width: 100%;">
                                    {{precscriptPayment.toaThuoc ? precscriptPayment.toaThuoc.note : ''}}
                                </td>
                            </tr>
                            <tr *ngIf="precscriptPayment.toaThuoc?.reExaminationDate">
                                <th colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Tái khám
                                    </label>
                                </th>
                                <td colspan="1" style="width: 100%;">
                                    {{precscriptPayment.toaThuoc ? (precscriptPayment.toaThuoc.reExaminationDate | date:'shortDate') : ''}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<footer class="modal-footer">
    <!-- <button type="button" class="btn btn-primary btn-sm" accesskey="s" (click)="onSave()">
        Lưu</button> -->
    <button type="button" *ngIf="!id && precscriptPayment.state != 'cancel'" class="btn btn-primary btn-sm" accesskey="t" (click)="onSavePayment()">
        Thanh toán</button>
    <button type="button" *ngIf="!id && precscriptPayment.state != 'cancel'" class="btn btn-primary btn-sm" accesskey="p" (click)="onSavePaymentPrint()">
        Thanh toán và in</button>
    <button type="button" *ngIf="id && precscriptPayment.state != 'cancel'" class="btn btn-danger btn-sm" accesskey="c" (click)="onCancelPayment()">
        Hủy thanh toán</button>
    <button type="button" *ngIf="id && precscriptPayment.state != 'cancel'" class="btn btn-primary btn-sm" accesskey="s" (click)="onPrintPayment()">
        In hóa đơn</button>
    <button type="button" class="btn btn-secondary btn-sm o_form_button_cancel" (click)="activeModal.dismiss()" accesskey="q">Đóng</button>
</footer>