.cate-item {
    border-left: none;
}

.cate-item:not(.active):hover {
    background-color: rgb(230, 226, 226);
    cursor: pointer;
}

li {
    cursor: pointer;
}

.cate-item:first-child {
    border-top: none;
}

.edit_remove_action button {
    background: none;
    border: none;
    margin-right: 5px;
    border-style: none;
    padding: 0;
    outline: none;
}

.search-input {
    box-shadow: none;
}

.list-group-item {
    border-radius: 0px !important;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control:focus {
    box-shadow: none !important;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}