.filter-left {
    display: flex;
    flex-direction: column;
}

.filter-right {
    width: 50%;
}

.d-flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar img {
    width: 80px;
    height: auto;
    object-fit: cover;
}