<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li>
                <a *ngIf="type === 'thu'" [routerLink]="['/phieu-thu-chi']" [queryParams]="{type: 'thu'}">Phiếu thu</a>
                <a *ngIf="type === 'chi'" [routerLink]="['/phieu-thu-chi']" [queryParams]="{type: 'chi'}">Phiếu chi</a>
            </li>
            <li class="active">
                <span *ngIf="itemId">{{phieuThuChi.name}}</span>
                <span *ngIf="!itemId">Mới</span>
            </li>
        </ol>
    </div>
</div>

<div class="o_content">
    <form class="o_form_view" [formGroup]="myForm">
        <div class="o_form_sheet_bg">
            <div class="o_form_statusbar">
                <div class="o_statusbar_buttons">
                    <button type="button" accesskey="1" *ngIf="!itemId" class="btn btn-primary btn-sm"
                        (click)="onSaveConfirm()">
                        Xác nhận
                    </button>
                    <button type="button" accesskey="1" *ngIf="itemId && phieuThuChi.state == 'draft'"
                        class="btn btn-primary btn-sm" (click)="actionConfirm()">
                        Xác nhận
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" accesskey="s"
                        *ngIf="phieuThuChi.state !== 'posted'" (click)="onSave()">
                        Lưu nháp
                    </button>
                    <button *ngIf="phieuThuChi.state === 'posted'" type="button" class="btn btn-danger btn-sm"
                        (click)="actionCancel()">
                        Hủy phiếu
                    </button>
                    <button *ngIf="itemId" type="button" class="btn btn-secondary btn-sm"
                        (click)="actionNew()">
                        Thêm mới
                    </button>
                </div>
                <div class="o_statusbar_status o_field_widget o_readonly_modifier">
                    <button [disabled]="phieuThuChi.state !== 'posted'" class="btn o_arrow_button disabled"
                        [class.btn-primary]="phieuThuChi.state === 'posted'" 
                        [class.btn-secondary]="phieuThuChi.state !== 'posted'"
                        type="button">
                        Đã xác nhận
                    </button>
                    <button [disabled]="phieuThuChi.state !== 'draft'" class="btn o_arrow_button disabled"
                        [class.btn-primary]="phieuThuChi.state === 'draft'" 
                        [class.btn-secondary]="phieuThuChi.state !== 'draft'"
                        type="button">
                        Nháp
                    </button>
                </div>
            </div>
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        <span *ngIf="type === 'thu'">Loại thu</span>
                                        <span *ngIf="type === 'chi'">Loại chi</span>
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <div class="d-flex">
                                        <kendo-combobox [data]="loaiThuChiList" [textField]="'name'" [filterable]="true"
                                            #loaiThuChiCbx formControlName="loaiThuChi" [valueField]="'id'">
                                        </kendo-combobox>
                                        <a class="btn btn-sm btn-light" (click)="quickCreateLoaiThuChi()">
                                            <span class="k-icon k-i-plus"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Phương thức
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-combobox [data]="filteredJournals" [textField]="'name'" [filterable]="true"
                                        #journalCbx formControlName="journal" [valueField]="'id'">
                                    </kendo-combobox>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Số tiền
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-numerictextbox [min]="0" [format]="'n0'" formControlName="amount">
                                    </kendo-numerictextbox>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Lý do
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <textarea type="text" class="form-control" formControlName="reason"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Ngày
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-datepicker formControlName="dateObj">
                                    </kendo-datepicker>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        <span *ngIf="type === 'thu'">Người nộp tiền</span>
                                        <span *ngIf="type === 'chi'">Người nhận tiền</span>
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input class="form-control" formControlName="payerReceiver" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Địa chỉ
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input class="form-control" formControlName="address" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Kèm theo
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input class="form-control" formControlName="communication" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
