<header class="modal-header">
    <h5 class="modal-title">{{title || 'In phiếu điều trị'}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body">
    <div *ngIf="imagesPreview?.length == 0; else hasData">
        <button class="btn btn-img-customer" (click)="attachImg()">
            <i class="far fa-image"></i>
            <span class="font-weight-600">
                Đính kèm hình ảnh
            </span>
        </button>
    </div>
    <ng-template #hasData>
        <p class="card-title">Hình ảnh đính kèm</p>
        <div class="w-100 view-img h-75 card">
            <div class="card-body">
                <!-- <div class="o_attachments_previews">
                    <div class="o_attachment" *ngFor="let img of imagesPreview;let i = index">
                        <div class="o_attachment_wrap">
                            <div class="o_image_box">
                                <div class="o_attachment_image" id="{{img.name}}">
                                    <img width="100%" [src]="img.url + '?width=240&height=240)'" alt="">
                                </div>
                                <div class="o_image_overlay o_attachment_view">
                                    <span class="fa fa-times o_attachment_delete_cross"
                                        (click)="deleteImage(img.id)" title="Delete {{img.name}}"></span>
                                    <span class="o_attachment_title text-white">{{img.name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="o_attachments_previews">
                    <div class="o_attachment" *ngFor="let img of imagesPreview;let i = index">
                        <div class="o_attachment_wrap">
                            <img width="100%" [src]="img.url + '?width=100&height=100'" alt="">
                            <div class="o_attachment_overlay cursor-pointer">
                                <div class="o_attachment_filename">{{img.name}}</div>
                                <div class="o_attachment_actions">
                                    <span class="fa fa-times o_attachment_action" title="Delete {{img.name}}"
                                        (click)="deleteImage(img.id)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onPrint()" accesskey="s"><span
            style="padding-left: 0.6rem; padding-right: 0.6rem;">In</span></button>
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="onCancel()"
        accesskey="q"><span>Đóng</span></button>
</footer>