<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <div class="row" style="padding: 15px;">
        <div class="col-12">
            Danh sách đơn vị
            <input class="o_searchview_input form-control" placeholder="Tìm kiếm tên đơn vị" type="text"
                [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
            <hr>
        </div>
        <div class="col-12">
            <table class="table table-striped table-hover">
                <tbody>
                    <tr (click)="chooseUoM(item)" *ngFor="let item of listUoMs; let i = index">
                        <th scope="row">{{i}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.categoryName}}</td>
                        <td *ngIf="item.uomType == 'bigger'">Lớn hơn đơn vị gốc</td>
                        <td *ngIf="item.uomType == 'smaller'">Nhỏ hơn đơn vị gốc</td>
                        <td *ngIf="item.uomType == 'reference'">Là đơn vị gốc</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="activeModal.dismiss()"
        accesskey="q">Đóng</button>
</footer>