.list-formula-value {
    max-height: 240px;
    overflow-y: auto;
}
.list-formula-value::-webkit-scrollbar {
    width: 10px;
}
.list-formula-value::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.list-formula-value::-webkit-scrollbar-thumb {
    background: #888; 
}
.list-formula-value::-webkit-scrollbar-thumb:hover {
    background: #555; 
}