<!-- <div kendoWindowContainer></div> -->
<div kendoDialogContainer></div>
<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="active">Lịch hẹn</li>
        </ol>
        <div class="o_cp_searchview">
            <div class="o_cp_searchview_group">
                <div class="o_searchview">
                    <input class="o_searchview_input" placeholder="Tìm kiếm theo mã lịch hẹn, khách hàng, SĐT..."
                        type="text" [(ngModel)]="search"
                        (ngModelChange)="appointmentVMService.searchSubject.next($event)">
                </div>
                <!-- <div class="o_searchview_advance">
                    <button class="btn btn-secondary btn-sm rounded-0" type="button"
                        (click)="advanceFilter.toggleShow()">
                        Nâng cao
                    </button>
                </div> -->
            </div>
            <!-- <div class="o_searchview">
                <input type="text" class="o_searchview_input" formControlName="search" [(ngModel)]="search"
                    (ngModelChange)="this.searchUpdate.next($event)"
                    placeholder="Theo tên, số điện thoại khách hàng hoặc tên bác sĩ" />
            </div> -->
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <button class="btn btn-primary btn-sm" (click)="openModal(null,null)">
                        <i class="fas fa-calendar-plus"></i>&nbsp;Đặt lịch hẹn</button>
                    <button class="btn btn-primary btn-sm" (click)="refreshData()">
                        <i class="fas fa-sync"></i>&nbsp;Làm mới</button>
                    <!-- <button *ngIf="!schedulerShow" kendoButton class="btn btn-sm" [class.activeButton]="schedulerShow"
                        (click)="showSchedulerDefault()">
                        <i class="fas fa-calendar-alt"></i>&nbsp;Xem lịch</button>
                    <button *ngIf="schedulerShow" kendoButton class="btn btn-sm" [class.activeButton]="!schedulerShow"
                        (click)="showGridView()">
                        <i class="fas fa-list"></i>&nbsp;Xem danh sách</button> -->
                </div>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
            <div class="btn-group o_search_options">
                <app-appointment-state-filter (searchChange)="onStateSearchChange($event)">
                </app-appointment-state-filter>
                <app-appointment-date-filter [dateFrom]="fromDateList" [dateTo]="toDateList"
                    (searchChange)="onDateSearchChange($event)">
                </app-appointment-date-filter>
            </div>
        </div>
    </div>
    <!-- <div class="mainLeft">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Trạng thái
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo">
                    <div class="card-body">
                        <div class="container">
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td style="color:#04c835">
                                            <i class="fas fa-circle"></i>
                                        </td>
                                        <td>Đang hẹn</td>
                                        <td><input type="checkbox" formControlName="confirmed" id="confirmed"
                                                (change)="checkState()" /></td>
                                    </tr>
                                    <tr>
                                        <td style="color:#0080ff">
                                            <i class="fas fa-circle"></i>
                                        </td>
                                        <td>Đang chờ</td>
                                        <td><input type="checkbox" formControlName="waiting" id="waiting"
                                                (change)="checkState()" /></td>
                                    </tr>
                                    <tr>
                                        <td style="color:#666666">
                                            <i class="fas fa-circle"></i>
                                        </td>
                                        <td>Hoàn tất</td>
                                        <td><input type="checkbox" formControlName="done" id="done"
                                                (change)="checkState()" /></td>
                                    </tr>
                                    <tr>
                                        <td style="color:#cc0000">
                                            <i class="fas fa-circle"></i>
                                        </td>
                                        <td>Đã hủy</td>
                                        <td><input type="checkbox" formControlName="cancel" id="cancel"
                                                (change)="checkState()" /></td>
                                    </tr>
                                    <tr>
                                        <td style="color:#ffbf00">
                                            <i class="fas fa-circle"></i>
                                        </td>
                                        <td>Quá hạn</td>
                                        <td><input type="checkbox" formControlName="expired" id="expired"
                                                (change)="checkState()" /></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div *ngIf="!schedulerShow" class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            Ngày hẹn
                        </button>
                    </h2>
                </div>
                <div *ngIf="!schedulerShow" id="collapseThree" class="collapse show" aria-labelledby="headingThree">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Từ ngày</label>
                            <div>
                                <kendo-datepicker formControlName="frDate" [format]="'yyyy-MM-dd'"
                                    (valueChange)="changeDateRangeFilter()" [max]="toDateValue">
                                </kendo-datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Đến ngày</label>
                            <div>
                                <kendo-datepicker formControlName="toDate" [format]="'yyyy-MM-dd'"
                                    (valueChange)="changeDateRangeFilter()" [min]="fromDateValue">
                                </kendo-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<div class="o_content">
    <router-outlet></router-outlet>
</div>

<!-- <app-appointment-advance-search #advanceFilter (searchChange)="onAdvanceSearchChange($event)">
</app-appointment-advance-search> -->