<!-- <div kendoWindowContainer></div> -->
<div kendoDialogContainer></div>
<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="active">Lịch hẹn</li>
        </ol>
        <div class="o_cp_searchview">
            <div class="o_cp_searchview_group">
                <div class="o_searchview">
                    <input class="o_searchview_input" placeholder="Tìm kiếm theo mã lịch hẹn, khách hàng, SĐT..."
                        type="text" [(ngModel)]="search"
                        (ngModelChange)="appointmentVMService.searchSubject.next($event)">
                </div>
            </div>
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <button class="btn btn-primary btn-sm" (click)="openModal(null,null)">
                        <i class="fas fa-calendar-plus"></i>&nbsp;Đặt lịch hẹn</button>
                    <button class="btn btn-primary btn-sm" (click)="refreshData()">
                        <i class="fas fa-sync"></i>&nbsp;Làm mới</button>
                </div>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
            <div class="btn-group o_search_options">
                <app-appointment-state-filter (searchChange)="onStateSearchChange($event)">
                </app-appointment-state-filter>
                <app-appointment-date-filter [dateFrom]="fromDateList" [dateTo]="toDateList"
                    (searchChange)="onDateSearchChange($event)">
                </app-appointment-date-filter>
            </div>
        </div>
    </div>
</div>
<div class="o_content">
    <router-outlet></router-outlet>
</div>