<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <div class="tab-pane m-3" aria-labelledby="labo-tab">
        <div class="mb-2">
            <button type="button" class="btn btn-secondary btn-sm" (click)="actionLabo()">
                Tạo phiếu labo
            </button>
        </div>

        <kendo-grid [data]="laboOrders">
            <!-- <kendo-grid-column field="date" title="Ngày">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.date | date: 'shortDate'}}
            </ng-template>
        </kendo-grid-column> -->
            <kendo-grid-column field="name" title="Số phiếu" width="100">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <a class="text-primary" (click)="editItem(dataItem)"> {{dataItem.name}}</a>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="partnerName" title="NCC Labo" width="150">
            </kendo-grid-column>
            <kendo-grid-column field="dateOrder" title="Ngày gửi" width="120">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{dataItem.dateOrder | date : 'shortDate'}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="datePlanned" title="Ngày nhận" width="120">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{dataItem.datePlanned | date : 'shortDate'}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="teeth" title="Răng" width="120">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{GetTeeth(dataItem)}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="amountTotal" title="Thành tiền" class="text-right" width="120">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{dataItem.amountTotal | number}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="state" title="Trạng thái" width="100">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{stateGet(dataItem.state)}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="id" width="120">
                <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                    Thao tác
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <button class="btn btn-sm mr-1" title="In" (click)="printLabo(dataItem)">
                        <i class="fas fa-print"></i></button>
                    <button class="btn btn-sm mr-1" title="Sửa" (click)="actionLabo(dataItem)">
                        <span class="fas fa-edit"></span></button>
                    <button class="btn btn-sm" title="Xóa" (click)="deleteLabo(dataItem)">
                        <span class="fas fa-trash-alt"></span></button>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </div>
</div>

<div class="modal-footer">
    <div>
        <button type="button" class="btn btn-secondary btn-sm mr-2" (click)="onCancel()" accesskey="q">Đóng</button>
    </div>
</div>