<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li>
                <a routerLink="/service-card-orders">{{title}}</a>
            </li>
            <li class="active">
                <span *ngIf="id">{{cardOrder.name || 'Mới'}}</span>
                <span *ngIf="!id">Mới</span>
            </li>
        </ol>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <div class="o_form_statusbar">
                        <button type="button" accesskey="1" class="btn btn-primary btn-sm"
                            (click)="onSaveConfirm()">
                            Xác nhận
                        </button>                       
                    </div>
                </div>
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>
<div class="bg-white">
    <div class="o_form_view o_form_nosheet">
        <form [formGroup]="formGroup">
            <div>
                <div class="o_form_sheet">
                    <div class="oe_title">
                        <h1>
                            <span>{{cardOrder.name}}</span>
                        </h1>
                    </div>
                    <div class="o_group">
                        <table class="o_group o_inner_group o_group_col_6">
                            <tbody>
                                <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label">
                                            Khách hàng
                                        </label>
                                    </td>
                                    <td colspan="1" style="width: 100%;">
                                        <div class="d-flex">
                                            <kendo-combobox [class.d-none]="cardOrder.state != 'draft'"
                                                [data]="filteredPartners" [textField]="'name'" [filterable]="true"
                                                #partnerCbx formControlName="partner" [valueField]="'id'">
                                            </kendo-combobox>
                                            <a type="button" [class.d-none]="cardOrder.state != 'draft'"
                                                title="Thêm khách hàng" class="pl-2 py-1"
                                                (click)="quickCreateCustomer()">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                        <span
                                            [class.d-none]="cardOrder.state == 'draft'">{{cardOrder.partner ? cardOrder.partner.name : ''}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="o_group o_inner_group o_group_col_6">
                            <tbody>
                                <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label">
                                            Ngày bán
                                        </label>
                                    </td>
                                    <td colspan="1" style="width: 100%;">
                                        <kendo-datetimepicker [class.d-none]="cardOrder.state != 'draft'"
                                            formControlName="dateOrderObj">
                                        </kendo-datetimepicker>
                                        <span
                                            [class.d-none]="cardOrder.state == 'draft'">{{cardOrder.dateOrder | date: 'short'}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label">
                                            Người bán
                                        </label>
                                    </td>
                                    <td colspan="1" style="width: 100%;">
                                        <kendo-combobox [class.d-none]="cardOrder.state != 'draft'"
                                            [data]="filteredUsers" [textField]="'name'" [filterable]="true" #userCbx
                                            formControlName="user" [valueField]="'id'">
                                        </kendo-combobox>
                                        <span
                                            [class.d-none]="cardOrder.state == 'draft'">{{cardOrder.user ? cardOrder.user.name : ''}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- container -->
                    <div class="o_notebook">
                        <div class="o_group">
                            <div class="row">
                                <div class="o_group o_inner_group col-3" style="border-right: 2px solid #f0eeee;">
                                    <app-service-card-order-type-list (typeCard)="addLineModal($event)">
                                    </app-service-card-order-type-list>
                                </div>
                                <div class="o_group o_inner_group col-9">
                                    <div>
                                        <table class="table table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Loại thẻ</th>
                                                    <th class="text-right">Số lượng</th>
                                                    <th class="text-right">Đơn giá</th>
                                                    <th class="text-center">Giảm</th>
                                                    <th class="text-right">Thành tiền</th>
                                                    <th class="text-right"
                                                        *ngIf="['cancel', 'done', 'sale'].indexOf(cardOrder.state) === -1">
                                                        #
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="orderLines">
                                                <ng-container *ngFor="let line of orderLines.controls; let i=index">
                                                    <tr [formGroupName]="i">
                                                        <td>{{ line.get('cardType').value.name }}</td>
                                                        <td class="text-right">
                                                            <kendo-numerictextbox style="max-width: 100px;"
                                                                formControlName="productUOMQty"
                                                                (valueChange)="onChangeQuantity(line)">
                                                            </kendo-numerictextbox>

                                                        </td>
                                                        <td class="text-right" style="max-width: 300px;">
                                                            {{ line.get('priceUnit').value | number }}</td>
                                                        <td>
                                                            <div class="d-flex align-items-center justify-content-end">
                                                                <kendo-numerictextbox
                                                                    [class.d-none]="line.get('discountType').value !== 'percentage'"
                                                                    [min]="0" [max]="100" formControlName="discount"
                                                                    [autoCorrect]="true"
                                                                    (valueChange)="onChangeDiscount(line)"
                                                                    style="max-width: 200px;">
                                                                </kendo-numerictextbox>
                                                                <kendo-numerictextbox [format]="'n0'"
                                                                    [class.d-none]="line.get('discountType').value !== 'fixed'"
                                                                    (valueChange)="onChangeDiscountFixed(line)"
                                                                    formControlName="discountFixed"
                                                                    style="max-width: 200px;">
                                                                </kendo-numerictextbox>
                                                                <select class="form-control" style="max-width: 70px;"
                                                                    (change)="onChangeDiscountType(line)"
                                                                    formControlName="discountType">
                                                                    <option value="percentage">%</option>
                                                                    <option value="fixed">VNĐ</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td class="text-right">
                                                            {{line.get('priceSubTotal').value | number}}
                                                        </td>
                                                        <td class="text-right"
                                                            *ngIf="['cancel', 'done', 'sale'].indexOf(cardOrder.state) === -1">
                                                            <div>
                                                                <!-- <button type="button" class="btn btn-icon btn-sm btn-light mr-1"
                                                                        (click)="editLine(line)">
                                                                        <span class="k-icon k-i-edit"></span>
                                                                    </button> -->
                                                                <button type="button"
                                                                    class="btn btn-icon btn-sm btn-light"
                                                                    (click)="deleteLine(i)">
                                                                    <span class="k-icon k-i-delete"></span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </ng-container>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="o_group">
                                        <table class="o_group o_inner_group o_group_col_8">
                                        </table>
                                        <table class="o_group o_inner_group oe_subtotal_footer oe_right o_group_col_4">
                                            <tbody>
                                                <tr>
                                                    <td colspan="1" class="o_td_label pb-0">
                                                        <label class="o_form_label oe_subtotal_footer_separator">
                                                            Tổng tiền
                                                        </label>
                                                    </td>
                                                    <td colspan="1">
                                                        <span
                                                            class="oe_subtotal_footer_separator o_form_field o_form_field_number o_field_widget">{{amountTotalValue | number}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="1" class="o_td_label pb-0">
                                                        <label
                                                            class="o_form_label o_form_label_help oe_subtotal_footer_separator">
                                                            Khách thanh toán
                                                        </label>
                                                    </td>
                                                    <td colspan="1" class="text-right">  
                                                        <!-- <kendo-numerictextbox [format]="'n0'"  (valueChange)="onChangeCustomerPaymentTotal($event)" class="oe_subtotal_footer_separator o_form_field o_form_field_number o_field_widget"
                                                            [value]="amountCustomerPaymentTotalValue" >
                                                        </kendo-numerictextbox>                                                      -->
                                                        <span
                                                            class="oe_subtotal_footer_separator o_form_field o_form_field_number o_field_widget">{{amountCustomerPaymentTotalValue | number}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="1" class="o_td_label pb-0">
                                                        <label
                                                            class="o_form_label o_form_label_help oe_subtotal_footer_separator">
                                                            Tiền thừa trả khách
                                                        </label>
                                                    </td>
                                                    <td colspan="1">
                                                        <span
                                                        class="oe_subtotal_footer_separator o_form_field o_form_field_number o_field_widget">{{amountRefundTotalValue | number}}</span>
                                                    </td>
                                                </tr>
                                                <tr>                                                  
                                                    <td colspan="2" class="text-right">
                                                        
                                                        <!-- <input type="text" class="btn btn-group-lg btn-success" (keyup.enter)="onKeyPressPayment($event)" (keypress)="onKeyPressPayment($event)" value="Thanh toán" /> -->
                                                       <button type="button" class="btn btn-group-lg btn-success" (click)="onKeyPressPayment()">Thanh toán [F9]</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- <div class="o_group" *ngIf="amountTotalValue > 0">
                                      
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                                                    role="tab" aria-controls="home" aria-selected="true">Thanh toán</a>
                                            </li>
                                        </ul>

                              
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="home" role="tabpanel"
                                                aria-labelledby="home-tab">
                                                <div class="row">
                                                    <div class="o_group o_inner_group col-4" style="border-right: 1px solid #f0eeee;">
                                                        <div class="hbox-left" class="mt-1">
                                                            <div>
                                                                <div>
                                                                    <div class="list-group">
                                                                        <div *ngFor="let item of filteredJournals">
                                                                            <a class="list-group-item rounded-2 mb-1" (click)="addPayment(item)">
                                                                                {{item.name}}                          
                                                                            </a>
                                                                        </div>                                                                       
                                                                    </div>                                                                  
                                                                </div>
                                                            </div>          
                                                        </div>
                                                    </div>
                                                    <div class="o_group o_inner_group col-8">
                                                        <div>
                                                            <table class="table table-sm">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Phương thức thanh toán</th>                                                                  
                                                                        <th class="text-right"> tiền thanh toán</th>
                                                                        <th class="text-right"
                                                                            *ngIf="['cancel', 'done', 'sale'].indexOf(cardOrder.state) === -1">
                                                                            #
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody formArrayName="cusPayments">
                                                                    <ng-container *ngFor="let payment of cusPayments.controls; let i=index">
                                                                        <tr [formGroupName]="i">
                                                                            <td>{{ payment.get('journal').value.name }}</td>
                                                                            <td class="text-right">
                                                                                <kendo-numerictextbox  [format]="'n0'" style="max-width: 200px;"
                                                                                    formControlName="amount" (valueChange)="onChangePayment(payment)">
                                                                                </kendo-numerictextbox>                   
                                                                            </td>
                                                                            <td class="text-right"
                                                                                *ngIf="['cancel', 'done', 'sale'].indexOf(cardOrder.state) === -1">
                                                                                <div>                                                                           
                                                                                    <button type="button"
                                                                                        class="btn btn-icon btn-sm btn-light"
                                                                                        (click)="deletePay(i)">
                                                                                        <span class="k-icon k-i-delete"></span>
                                                                                    </button>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </ng-container>
                    
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </form>
    </div>
</div>