<div>
    <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading"
        (pageChange)="pageChange($event)">
        <kendo-grid-column field="partner" title="Khách hàng">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.partner ? dataItem.partner.name : ''}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="dateOrder" title="Ngày điều trị">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.dateOrder | date : 'short'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="number" title="Số hóa đơn">
        </kendo-grid-column>
        <kendo-grid-column field="user" title="Nhân viên">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.user ? dataItem.user.name : ''}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="amountTotal" title="Tổng tiền" class="text-right">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.amountTotal | number}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="residual" title="Còn nợ" class="text-right">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.residual | number}}
            </ng-template>
        </kendo-grid-column>
        <ng-template kendoPagerTemplate let-skip="skip" let-total="total" let-pageSize="pageSize">
            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
            <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
            <kendo-pager-next-buttons></kendo-pager-next-buttons>
            <kendo-pager-info></kendo-pager-info>
            <span class="ml-4">
                <kendo-dropdownlist style="width: 80px;" [data]="pageSizes"
                    (valueChange)="onPageSizeChange($event)" [value]="limit">
                </kendo-dropdownlist>
                <label class="ml-2 mb-0">Số dòng trên trang</label>
            </span>
        </ng-template>
    </kendo-grid>
</div>