<div>
    <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading"
        (pageChange)="pageChange($event)">
        <kendo-grid-column field="partner" title="Khách hàng">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.partner ? dataItem.partner.name : ''}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="dateOrder" title="Ngày điều trị">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.dateOrder | date : 'short'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="number" title="Số hóa đơn">
        </kendo-grid-column>
        <kendo-grid-column field="user" title="Nhân viên">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.user ? dataItem.user.name : ''}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="amountTotal" title="Tổng tiền" class="text-right">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.amountTotal | number}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="residual" title="Còn nợ" class="text-right">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.residual | number}}
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>