<button type="button" class="btn btn-primary btn-sm" (click)="onCreate()">Thêm thuốc</button>

<table class="table table-sm mt-2" [formGroup]="thuocsForm">
    <thead>
        <tr>
            <th>Tên thuốc</th>
            <th>Số lần/ ngày</th>
            <th>Số lượng/ lần</th>
            <th>Số ngày</th>
            <th>Tổng</th>
            <th>Hướng dẫn sử dụng</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody formArrayName="thuocArray"
        *ngFor="let item of getThuocArray.controls; let i = index;">
        <tr [formGroupName]="i">
            <td>
                <kendo-combobox [data]="filteredProducts" [textField]="'name'" [filterable]="true" #productCbx
                    formControlName="product" [valueField]="'id'" 
                    (valueChange)="onChange($event)">
                </kendo-combobox>
                <div *ngIf="getControlsThuocArray(i).product.errors && 
                    (getControlsThuocArray(i).product.touched || getControlsThuocArray(i).product.dirty || getValueThuocArray(i, 'submitted'))" class="text-danger">
                    <div *ngIf="getControlsThuocArray(i).product.errors.required">Nhập tên thuốc</div>
                </div>
            </td>
            <td>
                <kendo-numerictextbox class="max-w-numberric"
                    [min]="0" [format]="'n0'" formControlName="numberOfTimes" 
                    (valueChange)="onChange($event)">
                </kendo-numerictextbox>
            </td>
            <td>
                <kendo-numerictextbox class="max-w-numberric"
                    [min]="0" [format]="'n0'" formControlName="amountOfTimes" 
                    (valueChange)="onChange($event)">
                </kendo-numerictextbox>
            </td>
            <td>
                <kendo-numerictextbox class="max-w-numberric"
                    [min]="0" [format]="'n0'" formControlName="numberOfDays" 
                    (valueChange)="onChange($event)">
                </kendo-numerictextbox>
            </td>
            <td>
                <kendo-numerictextbox class="max-w-numberric"
                    [min]="0" [format]="'n0'" formControlName="quantity" 
                    (valueChange)="onChange($event)">
                </kendo-numerictextbox>
            </td>
            <td>
                <select class="form-control" formControlName="useAt" 
                    (change)="onChange($event)">
                    <option value="after_meal">Sau khi ăn</option>
                    <option value="before_meal">Trước khi ăn</option>
                    <option value="in_meal">Trong khi ăn</option>
                    <option value="after_wakeup">Sau khi thức dậy</option>
                    <option value="before_sleep">Trước khi đi ngủ</option>
                </select>
            </td>
            <td>
                <button type="button" title="Hủy" class="btn btn-danger" (click)="deleteLine(i)">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>