<button type="button" class="btn btn-primary btn-sm" (click)="onCreate()">Thêm thuốc</button>

<table class="table table-sm mt-2">
    <thead>
        <tr>
            <th>Tên thuốc</th>
            <th>Số lần/ ngày</th>
            <th>Số lượng/ lần</th>
            <th>Tổng</th>
            <th>Đơn vị</th>
            <th>Số ngày</th>
            <th>Hướng dẫn sử dụng</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody *ngIf="showCreateOrEdit" app-toa-thuoc-line-save 
        [createOrEdit]="true"
        (showCreateOrEdit)="getShowCreateOrEdit($event)"
        (dataThuocSend)="getDataThuocSend($event)">
    </tbody>
    <tbody app-toa-thuoc-line-save 
        *ngFor="let line of lines; index as i"
        [dataThuocReceive]="line"
        [createOrEdit]="false">
    </tbody>
</table>