:host {
    border-bottom: 1px solid #dee5e7;
}

.search-all {
    min-width: 400px;
}

.fa-searchengin {
    font-size: 16px;
    right: 10px;
    top: 12px;
    position: absolute;
}

.tag {
    padding: 3px;
    border-radius: 10px;
    margin-right: 5px;
}

.filter-search {
    padding: 10px;
    border-bottom: 1px solid #dae0e5;
}

.input-group {
    position: relative;
    padding-top: 4px;
}

.search-result {
    position: absolute;
    top: 40px;
    left: 0;
    border: 1px solid #dae0e5;
    background-color: white;
    border-radius: 3px;
    z-index: 100;
}

.search-content {
    overflow: auto;
    max-height: 465px;
    min-width: 382px;
}

.result-select {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #dae0e5;
}

.result-select:hover {
    background-color: whitesmoke;
}

.active {
    background-color: whitesmoke;
}

.input-search {
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    height: 32px;
    padding: 2px 5px;
    border-color: transparent;
    border-width: 0;
    padding-right: 35px;
    min-width: 300px;
    padding-left: 15px;
    color: #58666e;
    background-color: #edf1f2;
    outline: unset;
    line-height: 1.2;
}

.input-search:focus {
    outline: none;
}

.select-custom {
    height: 32px;
    padding: 2px 5px;
    line-height: 1.2;
    vertical-align: middle;
    color: #58666e;
    background-color: #edf1f2;
    border-color: #cfdadd;
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
}

.input-group-prepend {
    margin-right: 0.5px;
}

.input-group-append>.search-cancel:hover {
    background-color: #b5c4d1;
}