:host {
    border-bottom: 1px solid #dee5e7;
}

.fa-searchengin {
    font-size: 18px;
}


.tag{
    padding: 3px;
    border-radius: 10px;
    margin-right: 5px;
}

.filter-search {
    padding: 10px;
    border-bottom: 1px solid #dae0e5;
}

.input-group {
    position: relative;
    padding-top: 4px;
}

.search-result {
    position: absolute;
    top: 40px;
    left: 0;
    border: 1px solid #dae0e5;
    background-color: white;
    border-radius: 3px;
    z-index: 100;
}

.search-content {
    overflow: auto;
    max-height: 465px;
    min-width: 356px;
}

.result-select {
    padding: 10px;
    border-bottom: 1px solid #dae0e5;
}

.result-select:hover {
    background-color: whitesmoke;
}

.form-control {
    height: 32px;
    padding: 2px 5px;
    line-height: 1.2;
}