.margin-top {
    margin-top: 2px;
}

.active {
    background-color: rgb(23, 23, 177);
}

label {
    margin-bottom: 0;
}

.button-border-bottom {
    border: 1px solid #cfcfcf;
    border-top-style: none !important;
    border-right-style: none !important;
    border-left-style: none !important;
    -webkit-align-items: baseline;
    align-items: baseline;
    display: inline-flex;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
}

.form-check-inline {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: 0rem;
}

input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

label.form-check-label-radio {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: #efefef;
    color: black;
    transition: all .3s ease-out;
    padding: 0.25rem;
    border-radius: 5px;
    font-size: 0.875rem;
}

input[type="radio"]:checked+label {
    background-color: #007bff;
    color: aliceblue;
}

input[value="off"][type="radio"]:checked+label {
    background-color: #ec173a;
    color: aliceblue;
}

.timekeeping-popover-width {
    min-width: 500px !important;
}

.button-border-bottom {
    border: 1px solid #cfcfcf;
    border-top-style: none !important;
    border-right-style: none !important;
    border-left-style: none !important;
    -webkit-align-items: baseline;
    align-items: baseline;
    display: inline-flex;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
}

.form-check-input {
    padding: 5px 10px;
    border-radius: 5px;
}

.oe_kanban_timeSheet {
    background-color: #dee2e6;
    height: 34px;
    border-radius: 5px;
    display: flex;
    position: relative;
}

.oe_kanban_timeSheet>span>i:hover {
    opacity: 0.6;
    border-radius: 50%;
}

.oe_kanban_timeSheet_create>i {
    font-size: 30px;
    margin-left: 14px;
    margin-top: 3px;
    opacity: 0.5;
}

.oe_kanban_timeSheet>span {
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
    padding: 4px;
}

.icon-timekeeping {
    text-align: center;
    font-size: 17px;
    cursor: pointer;
}

.label-popover-timekeeping {
    padding-left: 5px;
    font-size: 1rem;
    color: #212529;
}

.danger {
    background-color: #f12748;
}

.default {
    background-color: #007bff;
}

._search_all_header {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.btn-check {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

._search_all_header .btn {
    margin: .25rem .125rem;
}

._search_wrapper {
    width: 293px;
}
