.card-header-title {
    text-transform: uppercase;
    text-align: center;
    color: #007BFF;
}

.card {
    height: 470px !important;
}

.img-nodata {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}