
[type="text"], [type="password"], [type="number"], textarea, select {
  width: 100%;
  display: block;
  outline: none;
}

.o_form_view .o_form_sheet_bg .o_form_sheet {
  min-width: 900px;
  max-width: 1000px;
  min-height: 330px;
  background: #fff;
  padding: 16px;
  margin: 0 auto;
  border: 1px solid #ced4da;
}

@media (min-width: 768px) {
  .o_form_view .o_form_sheet_bg > .o_form_sheet {
    margin: 12px auto;
  }
}

@media (min-width: 1534px) {
  .o_form_view > .o_form_sheet_bg > .o_form_sheet {
    width: 100%;
    max-width: 1140px;
  }
}

.k-content.k-window-content .o_form_sheet {
  padding: 0;
  margin: 0;
}

.o_form_view .oe_title > h1 > input {
  font-size: 20px;
}

.o_form_view .o_group {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}

.o_form_view .o_notebook > .tab-content > .tab-pane > :first-child {
  margin-top: 0;
}

.o_form_view .o_group {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}

.o_form_view .o_group .o_group_col_6 {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.o_form_view .o_group.o_inner_group {
  display: inline-table;
}

.o_form_view .o_group.o_inner_group > tbody > tr > td {
  vertical-align: top;
}

.o_form_view .o_group.o_inner_group > tbody > tr > td {
  padding: 0 45px 0 0;
}

.o_form_view .o_group.o_inner_group > tbody > tr > td.o_td_label {
  width: 0%;
  min-width: 150px;
  max-width: 150px;
}

/* Label cho cột phải và trái */
.o_form_view .o_group.o_inner_group > tbody > tr > td.o_td_label_right {
  padding: 0px 15px 15px 45px;
}

.o_form_view .o_group.o_inner_group > tbody > tr > td.o_td_label_left {
  padding: 0px 15px 15px 0px;
}

/* Các form bên cột phải và trái */
.o_form_view .o_group.o_inner_group > tbody > tr > td.o_td_control_right{
  padding: 0 0 0 45px;
} 
.o_form_view .o_group.o_inner_group > tbody > tr > td.o_td_control_left{
  padding: 0 45px 0 0;
}

.o_form_view .o_form_label {
  /* margin: 0 5px 0 0; */
  /* font-size: 1.08333333rem;
  line-height: 1.5; */
  font-weight: bold;
}

.o_form_view .o_group .o_form_label {
  font-weight: normal;
}

.o_form_view .o_group .o_td_label .o_form_label {
  font-weight: 600;
  margin-right: 0px;
}

.o_form_view .o_group .k-widget.k-combobox, .o_form_view .o_group .k-widget.k-numerictextbox, .o_form_view .o_group .k-widget.k-dateinput,
.o_form_view .o_group .k-widget.k-datepicker  {
  width: 100%;
}

.o_control_panel {
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  background-color: #f0eeee;
  border-bottom: 1px solid #a8a8a8;
}

.o_control_panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  border-bottom: 1px solid #cccccc;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  /* margin-bottom: 10px; */
}

.breadcrumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 0;
  list-style: none;
  background-color: white;
  border-radius: 0;
}

.o_control_panel .breadcrumb {
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: #f0eeee;
}

.o_control_panel .breadcrumb {
  width: 50%;
}

.o_control_panel .o_cp_searchview {
  width: 50%;
  min-height: 30px;
}

.o_cp_left {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.o_control_panel .o_cp_left {
  width: 50%;
  margin-top: 5px;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
}

.o_cp_right {
  width: 50%;
}

.o_control_panel .o_cp_right {
  width: 50%;
  margin-top: 5px;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-box;
  display: flex;
}

.o_control_panel .o_cp_searchview {
  width: 50%;
  min-height: 30px;
}

.o_searchview .o_searchview_input {
  width: 100px;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
}

.o_searchview {
  display: flex;
  align-items: flex-end;
  position: relative;
  flex-flow: row wrap;
  padding: 0 20px 1px 0;
}

.o_searchview {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  border-image: initial;
  border-radius: 4px 0 0 4px !important;
  padding: 1px 25px 3px 5px;
}

.o_searchview .o_searchview_input {
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.o_control_panel > .breadcrumb {
  padding: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.o_control_panel.o_breadcrumb_full > .breadcrumb {
  width: 100%;
}

.o_control_panel .breadcrumb> li {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  max-width: 90%;
  display: inline-block;
}

.o_control_panel .breadcrumb > li > a {
  cursor: pointer;
}

.breadcrumb > .active {
  color: #777;
}

.breadcrumb > li + li::before {
  content: "/ ";
  color: rgb(119, 119, 119);
  padding: 0px 5px;
}

.o_control_panel > .o_cp_right > .o_cp_switch_buttons > .btn:first-child {
  margin-left: 16px;
}

@media (min-width: 475px) {
  .o_form_view .oe_inline.o_inner_group, .o_form_view .o_inner_group.oe_left, .o_form_view .o_inner_group.oe_right, .o_form_view .o_inner_group.o_group.oe_subtotal_footer {
    width: 1px !important;
  }
}

.o_form_view .oe_right, .o_form_view .o_group.o_inner_group.oe_subtotal_footer {
  float: right !important;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer {
  border-top: 1px solid #dee2e6;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer > tbody > tr:first-child > td {
  padding-top: 4px;
}

.o_form_view .o_group .o_td_label .o_form_label {
  font-weight: 600;
  margin-right: 0px;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer > tbody > tr > td {
  padding: 0;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer > tbody > tr > td.o_td_label {
  text-align: right;
}


.o_form_view .o_group.o_inner_group.oe_subtotal_footer > tbody > tr > td .o_form_label {
  padding-right: 20px;
  min-width: 0;
  white-space: nowrap;
}

.o_control_panel .o_form_buttons_view button {
  margin-right: 4px;
}

.o_form_view .o_notebook .tab-content > .tab-pane {
  padding: 15px 0;
}

.main_wrapper {
  min-height: 440px;
  padding: 10px 15px;
}

.mainLeft {
  background: #fff;
  float: left;
  width: 280px;
  margin-bottom: 20px;
}

.mainRight {
  min-height: 600px;
  margin-left: 295px;
  position: relative;
  margin-bottom: 20px;
}

/* Dùng trong Partner History */
.mainLeft2 {
  background: #fff;
  float: left;
  width: 35%;
  margin-bottom: 20px;
  padding-left: 10px;
}

.mainRight2 {
  min-height: 600px;
  margin-left: 37%;
  margin-right: 2%;
  position: relative;
  margin-bottom: 20px;
}

.o_control_panel .o_cp_searchview2 {
  width: 33%;
  min-height: 30px;
  margin-right: 40px;
}

/*-----------------------------*/

.loading {
  position: fixed;
  top: 0; right: 0;
  bottom: 0; left: 0;
  z-index: 99999;
}

.loading span {
  background: #875A7B;
  color: white;
  padding: 4px;
  bottom: 0;
  position: absolute;
  right: 0;
}

.loader {
  left: 50%;
  margin-left: -4em;
  font-size: 10px;
  border: .8em solid rgba(218, 219, 223, 1);
  border-left: .8em solid rgba(58, 166, 165, 1);
  animation: spin 1.1s infinite linear;
}
.loader, .loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4.05em;
}

@keyframes spin {
0% {
  transform: rotate(360deg);
}
100% {
  transform: rotate(0deg);
}
}

.btn.btn-icon.btn-sm {
  line-height: 1;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer .oe_subtotal_footer_separator {
    font-weight: 600;
    font-size: 1.3em;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer > tbody > tr > td .o_field_widget {
  text-align: right;
  -webkit-box-pack: end;
  justify-content: flex-end;
  width: 100%;
}

.grid-small th, .grid-small td {
  padding: .3rem!important;
}

.accordion.search-section {
  min-width: 250px;
  margin-right: 15px;
}

@media print {
  .isPrinting > * { display: none; }
  .isPrinting app-print-layout { display: block; }

  .o_print .table td, .o_print .table th {
    border-color: #333!important;
  }
}

.o_form_view.o_print .o_group.o_inner_group > tbody > tr > td.o_td_label {
  width: 0%;
  padding: 0px 5px 5px 0;
  min-width: 150px;
}

.o_form_view.o_print .o_group.o_inner_group.oe_subtotal_footer > tbody > tr:first-child > td {
  padding: 0;
}

.o_print .table td, .o_print .table th {
  border-color: #333!important;
}

.o_form_view.o_print .o_group.o_inner_group.oe_subtotal_footer {
  border-color: #333!important;
}

.ng-valid[required], .ng-valid.required  {
  border: 1px solid #42A948; /* green */
}

input.ng-invalid:not(form)  {
  border: 1px solid #dc3545; /* red */
}

.ng-invalid >.k-dropdown-wrap {
  color: #dc3545!important;
  border-color: #dc3545!important;
}


.o_form_view .o_form_statusbar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  border-bottom: 1px solid #ced4da;
  background-color: white;
}
/* 
@media (min-width: 1534px) {
  .o_form_view > .o_form_sheet_bg > :not(.o_form_sheet) {
    margin-left: -16px;
    margin-right: -16px;
  }
} */

.o_form_view .o_form_statusbar > .o_statusbar_buttons, .o_form_view .o_form_statusbar > .o_statusbar_status {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  align-content: space-around;
}

.o_form_view .o_form_statusbar > .o_statusbar_buttons {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.o_form_view .o_form_statusbar > .o_field_widget {
  align-self: center;
  margin-bottom: 0px;
}

.o_form_view .o_form_statusbar > .o_statusbar_status {
  margin-left: auto;
  flex-flow: row-reverse wrap-reverse;
  align-self: stretch;
  align-items: stretch;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:last-child {
  padding-left: 15px;
  border-left: 1px solid #ced4da;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.disabled {
  opacity: 1.0;
  color: #adb5bd;
  pointer-events: none;
  border-left: 1px solid #dee2e6;
}

.o_form_view .o_form_statusbar > .o_statusbar_buttons > .btn {
  min-height: 25px;
  margin: 4px 3px 4px 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button {
  min-height: 33px;
  font-size: 11px;
  font-weight: bold;
  position: relative;
  padding-left: 22px;
  color: #495057;
  border-width: 0 0 0;
  border-radius: 0;
  transition: all 0.1s ease 0s;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):before, .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: auto;
  bottom: auto;
  right: -10px;
  border-top: 16px solid transparent;
  border-bottom: 17px solid transparent;
  border-right: none;
  border-left: 11px solid white;
  transition: border 0.2s ease 0s;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):before {
  right: -11px;
  border-left-color: #dee2e6;
}


.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled {
  color: #875A7B;
  font-size: 11px;
  background-color: #e9ecef;
  cursor: default;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled:after {
  border-left-color: #e9ecef;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled {
  font-weight: bold;
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #212529;
  background-color: white;
  border-color: white;
}

.o_web_client {
  direction: ltr;
  position: relative;
  background-color: #f9f9f9;
}

html .o_web_client {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.k-content .o_form_view .o_form_sheet_bg .o_form_sheet {
  border: none;
}

.k-window-titlebar .k-button-icon {
  display: none!important;
}

.k-grid tr.active {
  background-color: #28a745;
  color: white;
}

.k-grid tr.active:hover {
  background-color: #28a745;
}

.grid-clickable tr:hover {
  cursor: pointer;
}

.font-weight-600 {
  font-weight: 600!important;
}

.required-label:after {
  content:"*";
  color:red;
}


.o_modal_fullscreen {
    z-index: 1052;
}

.o_modal_fullscreen .modal-dialog {
    max-width: 100%;
    margin: 0;
    width: 100%;
    height: 100%;
}

.o_modal_fullscreen .modal-content {
    height: 100%;
}

.o_modal_fullscreen .o_viewer_content {
    width: 100%;
    height: 100%;
    position: relative;
}
 
.o_modal_fullscreen .o_viewer_content .o_viewer-header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: 0;
    height: 45px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    color: #ffffff;
}

.o_modal_fullscreen .o_viewer_content .o_viewer-header .o_image_caption {
    bottom: 20%;
    position: absolute;
}

.mr8 {
    margin-right: 8px!important;
}

.ml8 {
    margin-left: 8px!important;
}

.o_modal_fullscreen .o_viewer_content .o_viewer-header a {
    color: rgba(248, 249, 250, 0.6);
}

.o_modal_fullscreen .o_viewer_content .o_viewer-header .o_close_btn {
    position: absolute;
    top: -1px;
    left: auto;
    bottom: auto;
    right: 16px;
    font-size: 1.6rem;
    font-weight: 300;
}

.o_modal_fullscreen .o_viewer_content .o_viewer_img_wrapper {
    cursor: pointer;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.o_modal_fullscreen .o_viewer_content .o_viewer_img_wrapper .o_viewer_zoomer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
}

.o_modal_fullscreen .o_viewer_content .o_viewer_img_wrapper .o_viewer_zoomer img, .o_modal_fullscreen .o_viewer_content .o_viewer_img_wrapper .o_viewer_zoomer video {
    cursor: auto;
    max-width: 100%;
    max-height: 100%;
    transition: 0.2s cubic-bezier(0, 0, 0.49, 1.6) 0s, opacity 0.15s;
    box-shadow: 0 0 40px black;
}

.btn-toolbar {
    display: flex;
    flex-wrap: wrap;

}

.o_modal_fullscreen .o_viewer_content .o_viewer_toolbar {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 16px;
    right: auto;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    border-radius: 4px;
}

.o_modal_fullscreen .o_viewer_content .o_viewer_toolbar > .btn-group {
    background-color: rgba(0, 0, 0, 0.4);
}

.o_modal_fullscreen .o_viewer_content .o_viewer_toolbar .o_viewer_toolbar_btn {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(248, 249, 250, 0.7);
    padding-left: 8px;
    padding-right: 8px;
}

.o_modal_fullscreen .arrow {
    position: absolute;
    top: 50%;
    left: auto;
    bottom: auto;
    right: 16px;
    border-radius: 100%;
    padding: 12px 16px 11px 18px;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(248, 249, 250, 0.7);
}

.o_modal_fullscreen .arrow-left {
    left: 16px;
    right: auto;
    padding: 12px 18px 11px 16px;
}

.o_cp_right .o_search_options .o_advance_search_dropdown {
  margin-right: 5px;
}

/* Layout */
.app,
app-dashboard,
app-root {
	display: flex;
	flex-direction: column;
	min-height: 100vh
}

.app-header {
	flex: 0 0 55px
}

.app-footer {
	flex: 0 0 50px
}

.app-body {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	overflow-x: hidden
}

.app-body .main {
	flex: 1;
	min-width: 0
}

.app-body .sidebar {
	flex: 0 0 200px;
	order: -1
}

.app-body .aside-menu {
	flex: 0 0 250px
}

html:not([dir=rtl]) .sidebar {
	margin-left: -200px
}

html:not([dir=rtl]) .aside-menu {
	right: 0;
	margin-right: -250px
}

html[dir=rtl] .sidebar {
	margin-right: -200px
}

html[dir=rtl] .aside-menu {
	left: 0;
	margin-left: -250px
}

@media(min-width:992px) {
	.header-fixed .app-header {
		position: fixed;
		z-index: 1020;
		width: 100%
	}
	.header-fixed .app-body {
		margin-top: 55px
	}
	.sidebar-fixed .sidebar {
		position: fixed;
		z-index: 1019;
		width: 200px;
		height: 100vh
	}
	.sidebar-fixed .app-header+.app-body .sidebar {
		height: calc(100vh - 55px)
	}
	.sidebar-compact .sidebar {
		flex: 0 0 150px
	}
	.sidebar-compact.sidebar-fixed .sidebar {
		width: 150px
	}
	.sidebar-compact .sidebar-minimizer {
		display: none
	}
	.sidebar-minimized .sidebar {
		flex: 0 0 50px
	}
	.sidebar-minimized.sidebar-fixed .sidebar {
		width: 50px
	}
	.sidebar-off-canvas .sidebar {
		position: fixed;
		z-index: 1019;
		height: 100%
	}
	.sidebar-off-canvas .app-header+.app-body .sidebar {
		height: calc(100vh - 55px)
	}
	html:not([dir=rtl]) .sidebar-compact .sidebar {
		margin-left: -150px
	}
	html:not([dir=rtl]) .sidebar-minimized .sidebar {
		margin-left: -50px
	}
	html[dir=rtl] .sidebar-compact .sidebar {
		margin-right: -150px
	}
	html[dir=rtl] .sidebar-minimized .sidebar {
		margin-right: -50px
	}
	.aside-menu-fixed .aside-menu {
		position: fixed;
		height: 100%
	}
	.aside-menu-fixed .aside-menu .tab-content {
		height: calc(100vh - 2.375rem - 55px)
	}
	.aside-menu-fixed .app-header+.app-body .aside-menu {
		height: calc(100vh - 55px)
	}
	.aside-menu-off-canvas .aside-menu {
		position: fixed;
		z-index: 1019;
		height: 100%
	}
	.aside-menu-off-canvas .app-header+.app-body .aside-menu {
		height: calc(100vh - 55px)
	}
	html:not([dir=rtl]) .aside-menu-fixed .aside-menu,
	html:not([dir=rtl]) .aside-menu-off-canvas .aside-menu {
		right: 0
	}
	html[dir=rtl] .aside-menu-fixed .aside-menu,
	html[dir=rtl] .aside-menu-off-canvas .aside-menu {
		left: 0
	}
}

html:not([dir=rtl]) .sidebar-show .sidebar {
	margin-left: 0
}

@media(min-width:992px) {
	html:not([dir=rtl]) .sidebar-lg-show .sidebar,
	html:not([dir=rtl]) .sidebar-show .sidebar {
		margin-left: 0
	}
	html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .app-footer,
	html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .main,
	html:not([dir=rtl]) .sidebar-show.sidebar-fixed .app-footer,
	html:not([dir=rtl]) .sidebar-show.sidebar-fixed .main {
		margin-left: 200px
	}
	html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed.sidebar-compact .app-footer,
	html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed.sidebar-compact .main,
	html:not([dir=rtl]) .sidebar-show.sidebar-fixed.sidebar-compact .app-footer,
	html:not([dir=rtl]) .sidebar-show.sidebar-fixed.sidebar-compact .main {
		margin-left: 150px
	}
}

@media(max-width:575.98px) {
	.aside-menu-show .main,
	.sidebar-show .main {
		position: relative
	}
	.aside-menu-show .main:before,
	.sidebar-show .main:before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1018;
		width: 100%;
		height: 100%;
		content: "";
		background: rgba(0, 0, 0, .7);
		animation: opacity .25s
	}
}

@media(max-width:991.98px) {
	.app-header {
		position: fixed;
		z-index: 1020;
		width: 100%;
		text-align: center;
		background-color: #fff
	}
	.app-header .navbar-toggler {
		color: #fff
	}
	.app-header .navbar-brand {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -77.5px
	}
	.app-body {
		margin-top: 55px
	}
	.sidebar {
		position: fixed;
		z-index: 1019;
		width: 200px;
		height: calc(100vh - 55px)
	}
	.sidebar-minimizer {
		display: none
	}
	.aside-menu {
		position: fixed;
		height: 100%
	}
}

.app-header .navbar-nav {
	flex-direction: row;
	align-items: center
}

/* End layout */

/* Header */
.app-header {
	position: relative;
	flex-direction: row;
	height: 55px;
	padding: 0;
	margin: 0;
	background-color: #fff;
	border-bottom: 1px solid #c8ced3
}

.app-header .navbar-brand {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 155px;
	height: 55px;
	padding: 0;
	margin-right: 0;
	background-color: transparent
}

.app-header .navbar-brand .navbar-brand-minimized {
	display: none
}

.app-header .navbar-toggler {
	min-width: 50px;
	padding: .25rem 0
}

.app-header .navbar-toggler:hover .navbar-toggler-icon {
	background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzAgMzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggc3Ryb2tlPScjMmYzNTNhJyBzdHJva2Utd2lkdGg9JzIuMjUnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzEwJyBkPSdNNCA3aDIyTTQgMTVoMjJNNCAyM2gyMicvPjwvc3ZnPg==)
}

.app-header .navbar-toggler-icon {
	height: 23px;
	background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzAgMzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggc3Ryb2tlPScjNzM4MThmJyBzdHJva2Utd2lkdGg9JzIuMjUnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzEwJyBkPSdNNCA3aDIyTTQgMTVoMjJNNCAyM2gyMicvPjwvc3ZnPg==)
}

.app-header .navbar-nav {
	flex-direction: row;
	align-items: center
}

.app-header .nav-item {
	position: relative;
	min-width: 50px;
	margin: 0;
	text-align: center
}

.app-header .nav-item button {
	margin: 0 auto
}

.app-header .nav-item .nav-link {
	padding-top: 0;
	padding-bottom: 0;
	background: 0;
	border: 0
}

.app-header .nav-item .nav-link .badge {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -16px;
	margin-left: 0
}

.app-header .nav-item .avatar.nav-link>img,
.app-header .nav-item .nav-link>.img-avatar {
	height: 35px;
	margin: 0 10px
}

.app-header .dropdown-menu {
	padding-bottom: 0;
	line-height: 1.5
}

.app-header .dropdown-item {
	min-width: 180px
}

.navbar-nav .nav-link {
	color: #73818f
}

.navbar-nav .active>.nav-link,
.navbar-nav .active>.nav-link:focus,
.navbar-nav .active>.nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active:focus,
.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link.open,
.navbar-nav .nav-link.open:focus,
.navbar-nav .nav-link.open:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .open>.nav-link,
.navbar-nav .open>.nav-link:focus,
.navbar-nav .open>.nav-link:hover {
	color: #2f353a
}

.navbar-divider {
	background-color: rgba(0, 0, 0, .075)
}

@media(min-width:992px) {
	.brand-minimized .app-header .navbar-brand {
		width: 50px;
		background-color: transparent
	}
	.brand-minimized .app-header .navbar-brand .navbar-brand-full {
		display: none
	}
	.brand-minimized .app-header .navbar-brand .navbar-brand-minimized {
		display: block
	}
}
/* End header*/

/* Additional */
.avatar>img,
.img-avatar,
.img-circle {
	max-width: 100%;
	height: auto;
	border-radius: 50em
}

.app-footer,
.app-header,
.aside-menu,
.main,
.sidebar {
	transition: margin-left .25s, margin-right .25s, width .25s, flex .25s
}

/*End additional*/

/* Sidebar */
.sidebar {
	display: flex;
	flex-direction: column;
	padding: 0;
	color: #fff;
	background: #2f353a
}

.sidebar .sidebar-close {
	position: absolute;
	right: 0;
	display: none;
	padding: 0 1rem;
	font-size: 24px;
	font-weight: 800;
	line-height: 55px;
	color: #fff;
	background: 0;
	border: 0;
	opacity: .8
}

.sidebar .sidebar-close:hover {
	opacity: 1
}

.sidebar .sidebar-header {
	flex: 0 0 auto;
	padding: .75rem 1rem;
	text-align: center;
	background: rgba(0, 0, 0, .2)
}

.sidebar .sidebar-form .form-control {
	color: #fff;
	background: #181b1e;
	border: 0
}

.sidebar .sidebar-form .form-control:-ms-input-placeholder {
	color: hsla(0, 0%, 100%, .7)
}

.sidebar .sidebar-form .form-control::placeholder {
	color: hsla(0, 0%, 100%, .7)
}

.sidebar .sidebar-scroll {
	overflow-x: hidden;
	overflow-y: auto
}

.sidebar .sidebar-nav,
.sidebar .sidebar-scroll {
	position: relative;
	flex: 1;
	width: 200px
}

.sidebar>.sidebar-nav {
	overflow-x: hidden;
	overflow-y: auto
}

.sidebar .nav {
	width: 200px;
	flex-direction: column;
	min-height: 100%;
	padding: 0
}

.sidebar .nav-title {
	padding: .75rem 1rem;
	font-size: 80%;
	font-weight: 700;
	color: #e4e7ea;
	text-transform: uppercase
}

.sidebar .nav-divider {
	height: 10px
}

.sidebar .nav-item {
	position: relative;
	margin: 0;
	transition: background .3s ease-in-out
}

.sidebar .nav-dropdown-items {
	max-height: 0;
	padding: 0;
	margin: 0;
	overflow-y: hidden;
	transition: max-height .3s ease-in-out
}

.sidebar .nav-dropdown-items .nav-item {
	padding: 0;
	list-style: none
}

.sidebar .nav-link {
	display: block;
	padding: .75rem 1rem;
	color: #fff;
	text-decoration: none;
	background: 0 0
}

.sidebar .nav-link .nav-icon {
	display: inline-block;
	width: 1.09375rem;
	margin: 0 .5rem 0 0;
	font-size: .875rem;
	color: #73818f;
	text-align: center
}

.sidebar .nav-link .badge {
	float: right;
	margin-top: 2px
}

.sidebar .nav-link.active {
	color: #fff;
	background: #3a4248
}

.sidebar .nav-link.active .nav-icon {
	color: #20a8d8
}

.sidebar .nav-link:hover {
	color: #fff;
	background: #20a8d8
}

.sidebar .nav-link:hover .nav-icon {
	color: #fff
}

.sidebar .nav-link:hover.nav-dropdown-toggle:before {
	background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0nI2ZmZicgZD0nTTkuMTQ4IDIuMzUybC00LjE0OCA0LjE0OCA0LjE0OCA0LjE0OHEwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJsLTEuMjk3IDEuMjk3cS0wLjE0OCAwLjE0OC0wLjM1MiAwLjE0OHQtMC4zNTItMC4xNDhsLTUuNzk3LTUuNzk3cS0wLjE0OC0wLjE0OC0wLjE0OC0wLjM1MnQwLjE0OC0wLjM1Mmw1Ljc5Ny01Ljc5N3EwLjE0OC0wLjE0OCAwLjM1Mi0wLjE0OHQwLjM1MiAwLjE0OGwxLjI5NyAxLjI5N3EwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJ6Jy8+PC9zdmc+)
}

.sidebar .nav-link.disabled {
	color: #b3b3b3;
	cursor: default;
	background: 0 0
}

.sidebar .nav-link.disabled .nav-icon {
	color: #73818f
}

.sidebar .nav-link.disabled:hover {
	color: #b3b3b3
}

.sidebar .nav-link.disabled:hover .nav-icon {
	color: #73818f
}

.sidebar .nav-link.disabled:hover.nav-dropdown-toggle:before {
	background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0nI2ZmZicgZD0nTTkuMTQ4IDIuMzUybC00LjE0OCA0LjE0OCA0LjE0OCA0LjE0OHEwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJsLTEuMjk3IDEuMjk3cS0wLjE0OCAwLjE0OC0wLjM1MiAwLjE0OHQtMC4zNTItMC4xNDhsLTUuNzk3LTUuNzk3cS0wLjE0OC0wLjE0OC0wLjE0OC0wLjM1MnQwLjE0OC0wLjM1Mmw1Ljc5Ny01Ljc5N3EwLjE0OC0wLjE0OCAwLjM1Mi0wLjE0OHQwLjM1MiAwLjE0OGwxLjI5NyAxLjI5N3EwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJ6Jy8+PC9zdmc+)
}

.sidebar .nav-link.nav-link-primary {
	background: #20a8d8
}

.sidebar .nav-link.nav-link-primary .nav-icon {
	color: hsla(0, 0%, 100%, .7)
}

.sidebar .nav-link.nav-link-primary:hover {
	background: #1d97c2
}

.sidebar .nav-link.nav-link-primary:hover i {
	color: #fff
}

.sidebar .nav-link.nav-link-secondary {
	background: #c8ced3
}

.sidebar .nav-link.nav-link-secondary .nav-icon {
	color: hsla(0, 0%, 100%, .7)
}

.sidebar .nav-link.nav-link-secondary:hover {
	background: #bac1c8
}

.sidebar .nav-link.nav-link-secondary:hover i {
	color: #fff
}

.sidebar .nav-link.nav-link-success {
	background: #4dbd74
}

.sidebar .nav-link.nav-link-success .nav-icon {
	color: hsla(0, 0%, 100%, .7)
}

.sidebar .nav-link.nav-link-success:hover {
	background: #41af67
}

.sidebar .nav-link.nav-link-success:hover i {
	color: #fff
}

.sidebar .nav-link.nav-link-info {
	background: #63c2de
}

.sidebar .nav-link.nav-link-info .nav-icon {
	color: hsla(0, 0%, 100%, .7)
}

.sidebar .nav-link.nav-link-info:hover {
	background: #4ebada
}

.sidebar .nav-link.nav-link-info:hover i {
	color: #fff
}

.sidebar .nav-link.nav-link-warning {
	background: #ffc107
}

.sidebar .nav-link.nav-link-warning .nav-icon {
	color: hsla(0, 0%, 100%, .7)
}

.sidebar .nav-link.nav-link-warning:hover {
	background: #edb100
}

.sidebar .nav-link.nav-link-warning:hover i {
	color: #fff
}

.sidebar .nav-link.nav-link-danger {
	background: #f86c6b
}

.sidebar .nav-link.nav-link-danger .nav-icon {
	color: hsla(0, 0%, 100%, .7)
}

.sidebar .nav-link.nav-link-danger:hover {
	background: #f75453
}

.sidebar .nav-link.nav-link-danger:hover i {
	color: #fff
}

.sidebar .nav-link.nav-link-light {
	background: #f0f3f5
}

.sidebar .nav-link.nav-link-light .nav-icon {
	color: hsla(0, 0%, 100%, .7)
}

.sidebar .nav-link.nav-link-light:hover {
	background: #e1e7eb
}

.sidebar .nav-link.nav-link-light:hover i {
	color: #fff
}

.sidebar .nav-link.nav-link-dark {
	background: #2f353a
}

.sidebar .nav-link.nav-link-dark .nav-icon {
	color: hsla(0, 0%, 100%, .7)
}

.sidebar .nav-link.nav-link-dark:hover {
	background: #24282c
}

.sidebar .nav-link.nav-link-dark:hover i {
	color: #fff
}

.sidebar .nav-dropdown-toggle {
	position: relative
}

.sidebar .nav-dropdown-toggle:before {
	position: absolute;
	top: 50%;
	right: 1rem;
	display: block;
	width: 8px;
	height: 8px;
	padding: 0;
	margin-top: -4px;
	content: "";
	background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0nIzczODE4ZicgZD0nTTkuMTQ4IDIuMzUybC00LjE0OCA0LjE0OCA0LjE0OCA0LjE0OHEwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJsLTEuMjk3IDEuMjk3cS0wLjE0OCAwLjE0OC0wLjM1MiAwLjE0OHQtMC4zNTItMC4xNDhsLTUuNzk3LTUuNzk3cS0wLjE0OC0wLjE0OC0wLjE0OC0wLjM1MnQwLjE0OC0wLjM1Mmw1Ljc5Ny01Ljc5N3EwLjE0OC0wLjE0OCAwLjM1Mi0wLjE0OHQwLjM1MiAwLjE0OGwxLjI5NyAxLjI5N3EwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJ6Jy8+PC9zdmc+);
	background-repeat: no-repeat;
	background-position: 50%;
	transition: transform .3s
}

.sidebar .nav-dropdown-toggle .badge {
	margin-right: 16px
}

.sidebar .nav-dropdown.open {
	background: rgba(0, 0, 0, .2)
}

.sidebar .nav-dropdown.open>.nav-dropdown-items {
	max-height: 1500px
}

.sidebar .nav-dropdown.open .nav-link {
	color: #fff;
	border-left: 0
}

.sidebar .nav-dropdown.open .nav-link.disabled {
	color: #b3b3b3;
	background: 0 0
}

.sidebar .nav-dropdown.open .nav-link.disabled:hover {
	color: #b3b3b3
}

.sidebar .nav-dropdown.open .nav-link.disabled:hover .nav-icon {
	color: #73818f
}

.sidebar .nav-dropdown.open>.nav-dropdown-toggle:before {
	transform: rotate(-90deg)
}

.sidebar .nav-dropdown.open .nav-dropdown.open {
	border-left: 0
}

.sidebar .nav-label {
	display: block;
	padding: .09375rem 1rem;
	color: #e4e7ea
}

.sidebar .nav-label:hover {
	color: #fff;
	text-decoration: none
}

.sidebar .nav-label .nav-icon {
	width: 20px;
	margin: -3px .5rem 0 0;
	font-size: 10px;
	color: #73818f;
	text-align: center;
	vertical-align: middle
}

.sidebar .progress {
	background-color: #515c64!important
}

.sidebar .sidebar-footer {
	flex: 0 0 auto;
	padding: .75rem 1rem;
	background: rgba(0, 0, 0, .2)
}

.sidebar .sidebar-minimizer {
	position: relative;
	flex: 0 0 50px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, .2);
	border: 0
}

.sidebar .sidebar-minimizer:before {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	content: "";
	background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0nIzczODE4ZicgZD0nTTkuMTQ4IDIuMzUybC00LjE0OCA0LjE0OCA0LjE0OCA0LjE0OHEwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJsLTEuMjk3IDEuMjk3cS0wLjE0OCAwLjE0OC0wLjM1MiAwLjE0OHQtMC4zNTItMC4xNDhsLTUuNzk3LTUuNzk3cS0wLjE0OC0wLjE0OC0wLjE0OC0wLjM1MnQwLjE0OC0wLjM1Mmw1Ljc5Ny01Ljc5N3EwLjE0OC0wLjE0OCAwLjM1Mi0wLjE0OHQwLjM1MiAwLjE0OGwxLjI5NyAxLjI5N3EwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJ6Jy8+PC9zdmc+);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 12.5px;
	transition: .3s
}

.sidebar .sidebar-minimizer.focus,
.sidebar .sidebar-minimizer:focus {
	outline: 0
}

.sidebar .sidebar-minimizer:hover {
	background-color: rgba(0, 0, 0, .3)
}

.sidebar .sidebar-minimizer:hover:before {
	background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0nI2ZmZicgZD0nTTkuMTQ4IDIuMzUybC00LjE0OCA0LjE0OCA0LjE0OCA0LjE0OHEwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJsLTEuMjk3IDEuMjk3cS0wLjE0OCAwLjE0OC0wLjM1MiAwLjE0OHQtMC4zNTItMC4xNDhsLTUuNzk3LTUuNzk3cS0wLjE0OC0wLjE0OC0wLjE0OC0wLjM1MnQwLjE0OC0wLjM1Mmw1Ljc5Ny01Ljc5N3EwLjE0OC0wLjE0OCAwLjM1Mi0wLjE0OHQwLjM1MiAwLjE0OGwxLjI5NyAxLjI5N3EwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJ6Jy8+PC9zdmc+)
}

@media(min-width:992px) {
	.sidebar-compact .sidebar .nav,
	.sidebar-compact .sidebar .sidebar-nav {
		width: 150px
	}
	.sidebar-compact .sidebar .d-compact-none {
		display: none
	}
	.sidebar-compact .sidebar .nav-title {
		text-align: center
	}
	.sidebar-compact .sidebar .nav-item {
		width: 150px;
		border-left: 0
	}
	.sidebar-compact .sidebar .nav-link {
		text-align: center
	}
	.sidebar-compact .sidebar .nav-link .nav-icon {
		display: block;
		width: 100%;
		margin: .25rem 0;
		font-size: 24px
	}
	.sidebar-compact .sidebar .nav-link .badge {
		position: absolute;
		top: 18px;
		right: 10px
	}
	.sidebar-compact .sidebar .nav-link.nav-dropdown-toggle:before {
		top: 30px
	}
	.sidebar-minimized .sidebar {
		z-index: 1019
	}
	.sidebar-minimized .sidebar .sidebar-nav,
	.sidebar-minimized .sidebar .sidebar-scroll {
		overflow: visible;
		width: 50px
	}
	.sidebar-minimized .sidebar .nav {
		width: 50px
	}
	.sidebar-minimized .sidebar .d-minimized-none,
	.sidebar-minimized .sidebar .nav-divider,
	.sidebar-minimized .sidebar .nav-label,
	.sidebar-minimized .sidebar .nav-title,
	.sidebar-minimized .sidebar .sidebar-footer,
	.sidebar-minimized .sidebar .sidebar-form,
	.sidebar-minimized .sidebar .sidebar-header {
		display: none
	}
	.sidebar-minimized .sidebar .sidebar-minimizer {
		position: fixed;
		bottom: 0;
		width: 50px;
		height: 50px;
		background-color: #24282c
	}
	.sidebar-minimized .sidebar .sidebar-nav {
		padding-bottom: 50px
	}
	.sidebar-minimized .sidebar .sidebar-minimizer:before {
		width: 100%;
		transform: rotate(-180deg)
	}
	.sidebar-minimized .sidebar .nav-item {
		width: 50px;
		overflow: hidden
	}
	.sidebar-minimized .sidebar .nav-item:hover {
		width: 250px;
		overflow: visible
	}
	.sidebar-minimized .sidebar .nav-item:hover>.nav-link {
		background: #20a8d8
	}
	.sidebar-minimized .sidebar .nav-item:hover>.nav-link .nav-icon {
		color: #fff
	}
	.sidebar-minimized .sidebar .nav-item:hover .nav-link.disabled,
	.sidebar-minimized .sidebar .nav-item:hover .nav-link :disabled {
		background: #2f353a
	}
	.sidebar-minimized .sidebar .nav-item:hover .nav-link.disabled .nav-icon,
	.sidebar-minimized .sidebar .nav-item:hover .nav-link :disabled .nav-icon {
		color: #73818f
	}
	.sidebar-minimized .sidebar section :not(.nav-dropdown-items)>.nav-item:last-child:after {
		display: block;
		margin-bottom: 50px;
		content: ""
	}
	.sidebar-minimized .sidebar .nav-link {
		position: relative;
		padding-left: 0;
		margin: 0;
		white-space: nowrap;
		border-left: 0
	}
	.sidebar-minimized .sidebar .nav-link .nav-icon {
		display: block;
		float: left;
		width: 50px;
		font-size: 18px
	}
	.sidebar-minimized .sidebar .nav-link .badge {
		position: absolute;
		right: 15px;
		display: none
	}
	.sidebar-minimized .sidebar .nav-link:hover {
		width: 250px;
		background: #20a8d8
	}
	.sidebar-minimized .sidebar .nav-link:hover .badge {
		display: inline
	}
	.sidebar-minimized .sidebar .nav-link.nav-dropdown-toggle:before {
		display: none
	}
	.sidebar-minimized .sidebar .nav-dropdown-items .nav-item,
	.sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link {
		width: 200px
	}
	.sidebar-minimized .sidebar .nav>.nav-dropdown>.nav-dropdown-items {
		display: none;
		max-height: 1000px;
		background: #2f353a
	}
	.sidebar-minimized .sidebar .nav>.nav-dropdown:hover {
		background: #20a8d8
	}
	.sidebar-minimized .sidebar .nav>.nav-dropdown:hover>.nav-dropdown-items {
		position: absolute;
		left: 50px;
		display: inline
	}
	[dir=rtl] .sidebar-minimized .sidebar .nav {
		list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)
	}
	[dir=rtl] .sidebar-minimized .sidebar .nav .divider {
		height: 0
	}
	[dir=rtl] .sidebar-minimized .sidebar .sidebar-minimizer:before {
		width: 100%;
		transform: rotate(0deg)
	}
	[dir=rtl] .sidebar-minimized .sidebar .nav-link {
		padding-right: 0
	}
	[dir=rtl] .sidebar-minimized .sidebar .nav-link .nav-icon {
		float: right
	}
	[dir=rtl] .sidebar-minimized .sidebar .nav-link .badge {
		right: auto;
		left: 15px
	}
	[dir=rtl] .sidebar-minimized .sidebar .nav-link:hover .badge {
		display: inline
	}
	[dir=rtl] .sidebar-minimized .sidebar .nav>.nav-dropdown>.nav-dropdown-items {
		display: none;
		max-height: 1000px;
		background: #2f353a
	}
	[dir=rtl] .sidebar-minimized .sidebar .nav>.nav-dropdown:hover {
		background: #20a8d8
	}
	[dir=rtl] .sidebar-minimized .sidebar .nav>.nav-dropdown:hover>.nav-dropdown-items {
		position: absolute;
		left: 0;
		display: inline
	}
}

[dir=rtl] .sidebar .nav-dropdown-toggle:before {
	position: absolute;
	right: auto;
	left: 1rem;
	transform: rotate(180deg)
}

[dir=rtl] .sidebar .nav-dropdown.open>.nav-dropdown-toggle:before {
	transform: rotate(270deg)
}

[dir=rtl] .sidebar .nav-link .nav-icon {
	margin: 0 0 0 .5rem
}

[dir=rtl] .sidebar .nav-link .badge {
	float: left;
	margin-top: 2px
}

[dir=rtl] .sidebar .nav-link.nav-dropdown-toggle .badge {
	margin-right: auto;
	margin-left: 16px
}

[dir=rtl] .sidebar .sidebar-minimizer:before {
	right: auto;
	left: 0;
	transform: rotate(180deg)
}

[dir=rtl] .sidebar-toggler {
	margin-right: 0!important
}

/* End sidebar*/









