<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <form class="o_form_view o_form_editable" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Công ty bảo hiểm
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <div class="d-flex">
                                        <kendo-combobox [data]="insuranceFilter" #insuranceCbx [filterable]="true"
                                            formControlName="insurance" [valueField]="'id'" [textField]="'name'">
                                        </kendo-combobox>
                                        <button class="btn btn-light" (click)="quickCreateInsurance()">
                                            <span class="k-icon k-i-plus"></span>
                                        </button>
                                    </div>
                                    <div *ngIf="f.insurance.errors && (f.insurance.touched || f.insurance.dirty || submitted)"
                                        class="text-danger">
                                        <div *ngIf="f.insurance.errors.required"> Chọn công ty bảo hiểm </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label for="o_field_input_46" class="o_form_label">
                                        Ngày thanh toán
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-datepicker formControlName="dateObj"></kendo-datepicker>
                                    <div *ngIf="f.dateObj.errors && (f.dateObj.touched || f.dateObj.dirty || submitted)"
                                        class="text-danger">
                                        <div *ngIf="f.dateObj.errors.required"> Chọn ngày bảo lãnh </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Nội dung
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input type="text" class="form-control" formControlName="note" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label for="o_field_input_46" class="o_form_label">
                                        Số tiền bảo hiểm trả
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    {{ (getAmountTotal() || 0) | number }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="o_group">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Dịch vụ</th>
                                <th class="text-right">Số tiền</th>
                                <th class="text-right">Bảo hiểm trả</th>
                                <th class="text-right">Tiền bảo hiểm trả</th>
                                <th class="text-right">Khách hàng trả</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="lines">
                            <ng-container *ngFor="let line of linesFC.controls; let i = index">
                                <tr [formGroupName]="i">
                                    <td class="align-middle"> {{line.get('saleOrderLine').value.name}} </td>
                                    <td class="text-right align-middle"> {{line.get('saleOrderLine').value.priceTotal |
                                        number}}
                                    </td>
                                    <td class="d-flex justify-content-end">
                                        <ng-container *ngIf="line.value.payType === 'percent'; else elseTemplate">
                                            <kendo-numerictextbox style="width: 150px;" required class="form-control"
                                                [min]="0" [max]="100" [autoCorrect]="true" [format]="'n0'"
                                                formControlName="percent" (blur)="onBlurPercent(i)" [spinners]="true">
                                            </kendo-numerictextbox>
                                        </ng-container>
                                        <ng-template #elseTemplate>
                                            <kendo-numerictextbox style="width: 150px;" required class="form-control"
                                                [min]="0" [max]="line.value.amountTotal"
                                                formControlName="fixedAmount" (blur)="onBlurfixed(i)" [format]="'n0'"
                                                [spinners]="true">
                                            </kendo-numerictextbox>
                                        </ng-template>
                                        <div class="mt-1 ml-2 d-flex">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" [hidden]="true" type="radio"
                                                    formControlName="payType" [id]="'fixed-' + i" value="fixed"
                                                    (change)="changePayType(i)">
                                                <label class="form-check-label btn btn-outline-primary"
                                                    [for]="'fixed-' + i"> VNĐ </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" [hidden]="true" type="radio"
                                                    formControlName="payType" [id]="'percent-' + i" value="percent"
                                                    (change)="changePayType(i)">
                                                <label class="form-check-label btn btn-outline-primary"
                                                    [for]="'percent-' + i"> % </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right align-middle"> {{ (getAmountPaid(line.value, i) || 0) | number}}
                                    </td>
                                    <td class="text-right align-middle">
                                        {{ (getAmountResidual(line.value, i) || 0) | number }} </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <div>
        <button type="button" class="btn btn-primary mr-2" (click)="actionPayment()" accesskey="s">Xác nhận bảo
            lãnh</button>
        <button type="button" class="btn btn-light mr-2" (click)="onCancel()" accesskey="q">Đóng</button>
    </div>
</div>