<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <div>
            <div class="o_cp_buttons">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a routerLink="service" class="nav-link px-3 py-1" routerLinkActive="active">Dịch vụ</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="product" class="nav-link px-3 py-1" routerLinkActive="active">Vật tư</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="medicine" class="nav-link px-3 py-1" routerLinkActive="active">Thuốc</a>
                    </li>
                </ul>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<div class="o_content">
    <router-outlet></router-outlet>
</div>