.header-title {
    width: 50% !important;
    font-size: 24px;
    font-weight: bolder;
    font-weight: 600;
    height: 100% !important;
}

.header-filter {
    padding: 15px !important;
    width: 50% !important;
    height: 100% !important;
}

/*  */

.custom {
    margin-right: 0;
    margin-left: 0;
}

.flex {
    flex: 1;
}

.position-absolute {
    bottom: 0;
    right: 2px;
    font-size: 11px;
    cursor: pointer;
    text-decoration: underline !important;
}

.font-size {
    font-size: 20px;
}

.p-cu {
    padding: 28px;
}

.btn-group{
    cursor: pointer;
}

.form-check-input:checked+.form-check-label {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.form-check-label {
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.form-check {
    padding-left: 2px;
}