<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <div class="o_form_sheet_bg" style="padding: 15px;">
        <h3>Xin chào {{authService.userInfo.name}}</h3>
        <h5>Để giúp quá trình tìm hiểu và sử dụng các tính năng dễ dàng hơn, hệ thống sẽ <strong>Khởi tạo dữ liệu
                mẫu</strong> cho cơ sở dữ liệu của bạn <br>
            (Vui lòng click <strong>Khởi tạo</strong> nếu bạn muốn khởi tạo
            dự liệu mẫu, click <strong>Bỏ qua</strong> để không khởi tạo dữ liệu mẫu).</h5>
        <div class="o_form_sheet" style="padding: 15px; display: inline-flex; width: 100%;">

            <div style="width: 50%; text-align: center;">
                <button style="min-width: 130px;" (click)="importData('yes')" class="btn btn-primary">Khởi tạo</button>
            </div>
            <div style="width: 50%; justify-content: center;">
                <button style="min-width: 130px;" (click)="importData('no')" class="btn btn-danger">Bỏ qua</button>
            </div>

        </div>
    </div>
</div>