<div class="h-100 w-100 d-flex flex-column">
    <div class="o_cp_controller flex-0-0-auto">
        <div class="o_control_panel">
            <ol class="breadcrumb">
                <li class="active">Bảng hoa hồng</li>
            </ol>
            <div class="o_cp_searchview"></div>
            <div class="o_cp_left">
                <div class="o_cp_buttons">
                    <div class="o_form_buttons_view"></div>
                </div>
                <div class="o_cp_sidebar"></div>
            </div>
        </div>
    </div>
    <div class="o_content flex-1-1-100 h-100 overflow-hidden">
        <div class="o_content h-100">
            <div class="cont-wrapper">
                <div class="cont-left">
                    <div class="d-flex flex-column h-100 overflow-hidden">
                        <div class="d-flex justify-content-between align-items-center flex-0-0-auto p-2">
                            <span class="font-weight-600">Bảng hoa hồng</span>
                            <button class="btn btn-primary" (click)="createCommission()"><i class="fas fa-plus"></i> Tạo</button>
                        </div>
                        <div class="flex-0-0-auto border-top border-bottom">
                            <div class="has-search">
                                <span class="fa fa-search form-control-icon"></span>
                                <input class="form-control size-text-14 border-0" placeholder="Tìm kiếm ..." type="text"
                                    (input)="onSearchChange($event.target.value)">
                            </div>
                        </div>
                        <ul class="flex-1-1-100 list-group overflow-auto">
                            <li *ngFor="let item of sourceCommissions; index as i"
                                class="list-group-item cate-item d-flex justify-content-between align-items-center"
                                [ngClass]="{'active': commission && item.id == commission.id}" 
                                (click)="onSelectCommission(item)">
                                <span class="mr-1">{{item.name}}</span>
                                <div class="edit_remove_action d-flex">
                                    <button (click)="$event.stopPropagation(); editCommission(item, i)">
                                        <i class="far fa-edit text-success"></i></button>
                                    <button (click)="$event.stopPropagation(); deleteCommission(item, i)">
                                        <i class="far fa-trash-alt text-danger"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cont-right">
                    <app-commission-product-rule-list [commissionId]="commission ? commission.id : null"></app-commission-product-rule-list>
                </div>
            </div>
        </div>
    </div>    
</div>
