.cont-wrapper {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: -webkit-box!important;
    display: flex!important;
}

.cont-left {
    flex: 0 0 300px;
    margin-right: 15px;
    border: 1px solid #dee2e6;
    margin-right: .5rem;
}

.cont-right {
    flex: 1;
    border: 1px solid #dee2e6;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control:focus {
    box-shadow: none !important;
}

.has-search .form-control-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: calc(1.5em + .75rem + 2px);;
    line-height: 2.5;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.has-search-sm .form-control-sm {
    padding-left: 2rem;
}

.has-search-sm .form-control-icon {
    width: 2rem;
    height: calc(1.5em + .5rem + 2px);
    font-size: .875rem;
}


.cate-item {
    border-left: none;
}

.cate-item:not(.active):hover {
    background-color: rgb(230, 226, 226);
    cursor: pointer;
}

li {
    cursor: pointer;
}

.cate-item:first-child {
    border-top: none;
}

.edit_remove_action button {
    background: none;
    border: none;
    margin-right: 5px;
    border-style: none;
    padding: 0;
    outline: none;
}