<div class="w-100 h-100 d-flex" style="overflow: hidden;">
    <div class="w-30 h-100" style="overflow: hidden;">
        <div class="w-100 h-70">
            <!-- Component info -->
            <app-partner-overview-info></app-partner-overview-info>
        </div>
        <div class="w-100 h-30">
            <!-- Component appointment -->
            <app-partner-overview-appointment></app-partner-overview-appointment>
        </div>
    </div>
    <div class="w-70 h-100" style="overflow: hidden;">
        <div class="w-100 h-40">
            <!-- Component treatment -->
            <app-partner-overview-treatment></app-partner-overview-treatment>

        </div>
        <div class="w-100 h-60 ">
            <div class="w-100 h-50 d-inline-flex" style="overflow: hidden;">
                <div class=" w-50 h-100 ">
                    <!-- Component advisory -->
                    <app-partner-overview-advisory></app-partner-overview-advisory>

                </div>
                <div class=" w-50 h-100 ">
                    <!-- Component promotion -->
                    <app-partner-overview-promotion></app-partner-overview-promotion>
                </div>
            </div>
            <div class=" w-100 h-50 d-inline-flex" style="overflow: hidden;">
                <div class="w-50 h-100 ">
                    <!-- Component report -->
                    <app-partner-overview-report>
                    </app-partner-overview-report>

                </div>
                <div class="w-50 h-100 ">
                    <!-- Component image -->
                    <app-partner-overview-image>
                    </app-partner-overview-image>
                </div>
            </div>
        </div>
    </div>
</div>