<div class="o_form_view o_xxl_form_view">
    <div class="o_form_sheet_bg o_form_sheet_bg_sm">
        <div class="">
            <app-partner-overview-info *ngIf="partner" (updateEvent)="onPartnerUpdate()" [partner]="partner">
            </app-partner-overview-info>
            <div class="image" style="padding-right: 15px;">
                <app-partner-overview-image [partnerId]="partnerId">
                </app-partner-overview-image>
            </div>
        </div>
    </div>
    <div class="o_history_treatment_report_container">
        <div class="o_history_treatment_container">
            <app-partner-overview-treatment-history [partnerId]="partnerId"></app-partner-overview-treatment-history>
        </div>
        <div class="o_report_appointment_container">
            <div class="p-3">
                <div class="card">
                    <div class="card-body p-3">
                        <h5 class="card-title t_title">Báo cáo</h5>
                        <div class="row">
                            <div class="col-6">
                                <div class="card text-white bg-success mb-3">
                                    <div class="card-body p-3">
                                        <h5 class="card-title text-center mb-2">
                                            Doanh thu
                                        </h5>
                                        <h5 class="card-text text-center t_amount">
                                            {{sumRevenue | number}}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card text-white bg-warning mb-3">
                                    <div class="card-body p-3">
                                        <h5 class="card-title text-center mb-2">
                                            Công nợ
                                        </h5>
                                        <h5 class="card-text text-center t_amount">
                                            {{debtStatistics | number}}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card text-white bg-info">
                                    <div class="card-body p-3">
                                        <h5 class="card-title text-center mb-2">
                                            Dự kiến thu
                                        </h5>
                                        <h5 class="card-text text-center t_amount">
                                            {{(saleSummary?.residualTotal || 0) | number}}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card text-white bg-primary">
                                    <div class="card-body p-3">
                                        <h5 class="card-title text-center mb-2">
                                            Tạm ứng
                                        </h5>
                                        <h5 class="card-text text-center t_amount">
                                            {{advanceBalance | number}}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <app-partner-overview-appointment [partnerId]="partnerId"
                    [customerAppointment]="customerAppointment">
                    </app-partner-overview-appointment>
                </div>
            </div>
        </div>
    </div>
</div>
