.info-boxs{
    display: flex;
    margin: 0 -5px;
    flex-wrap: wrap;
}
.info-boxs .box{
    border-radius: 8px;
    border: 1px solid #EEEEEE;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    padding:12px;
    text-align: center;
    margin: 0 5px;
    margin-bottom: 1rem;
    min-width: 200px;
}

.box-icon{
    border-radius: 50%;
    padding: 14px;
    width: 50px;
    height: 50px;
    display: flex;
}

.bg-prime {
    background: rgba(0, 123, 255, 0.1);
}
.bg-succ{
    background: #EAFFEF;
}
.bg-light-blue{
    background: #E6F1FB;
}
.bg-yell{
    background: #FFFBF0;
}

.icon-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.icon-img-active {
    filter:  invert(30%) sepia(51%) saturate(3516%) hue-rotate(200deg) brightness(103%) contrast(107%);
}

.img-fill-succ{
    filter:  invert(49%) sepia(67%) saturate(452%) hue-rotate(82deg) brightness(94%) contrast(102%);
}

.activity-history{
    border-radius: 6px;
    border: 1px solid #E2E7ED;
}

.border-prime{
    border: 1px solid #2395FF;
    border-radius: 6px;
}

.container-body.row {
    overflow: hidden;
}

.container-body.row>div {
    height: 100%;
}

@media (max-width: 1400px) {
    .container-body.row {
        overflow: auto;
    }

    .container-body.row>div {
        height: auto;
        width: 100% !important;
    }
    .activity-history{
        max-height: 500px ;
    }
  }

  .col.box-wrapper {
    width: 226px;
    flex: 1 1 auto;
  }

  .col.box-ghost {
    height: 0;
    min-height: 0 !important;
    visibility: hidden;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

