.o_history_treatment_report_container {
    flex: 1 1 auto;
    width: 1046px;
    display: flex;
    border-left: 1px solid #ccc;
}

.o_report_appointment_container {
    border-left: 1px solid #ccc;
}