<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li><a routerLink="/hr/payroll-structures">Cấu trúc lương</a></li>
            <li class="active">{{payrollRecord !=null?payrollRecord.name :'Mới'}}</li>
        </ol>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <button type="button" class="btn btn-primary btn-sm" accesskey="s"
                        (click)="onSaveOrUpdate()">Lưu</button>
                    <a [routerLink]="['/hr/payroll-structures/create']" accesskey="c" *ngIf="id"
                        class="btn btn-secondary btn-sm">Thêm
                        mới</a>
                </div>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<div class="o_content">
    <div class="o_form_view" [formGroup]="payrollForm">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="oe_title">
                    <label class="o_form_label oe_edit_only">Tên</label>
                    <h1>
                        <input type="text" name="name" class="form-control" formControlName="name" #nameInput>
                    </h1>
                </div>
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Loại
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <div class="d-flex">
                                        <kendo-combobox class="w-100" [data]="listType" [textField]="'name'"
                                            [filterable]="true" #typeCbx formControlName="type" [valueField]="'id'">
                                        </kendo-combobox>
                                        <a class="btn btn-sm btn-light" (click)="ShowStructTypeCreateModal()">
                                            <span class="k-icon k-i-plus"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Thông dụng
                                        <a class="text-primary">
                                            <i placement="bottom"
                                            ngbPopover="Chọn nếu đây là mẫu lương được sử dụng thường xuyên để tính lương"
                                            triggers="mouseenter:mouseleave" popoverTitle="Thông dụng"
                                            class="fa fa-question-circle" aria-hidden="true"></i>
                                        </a>
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input type="checkbox" formControlName="regularPay">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-contanner">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                            Quy tắc lương
                          </a>
                        </li>
                      </ul>
                      
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-2" id="home" role="tabpanel" aria-labelledby="home-tab">
                          <div _ngcontent-ygq-c4="" class="mb-2">
                            <button class="mb-2 btn btn-sm btn-primary" kendoButton (click)="ShowAddSalaryRulePopup()">Thêm</button>
                          </div>
                          <div>
                      
                          <table class="table table-sm">
                            <thead>
                              <tr>
                                <th scope="col">Tên </th>
                                <th scope="col">Thao tác</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of AllData">
                                <td>{{ item.name}}</td>
                                <td>
                                  <button class="btn btn-success btn-sm mr-2" title="Sửa" (click)="editItem(item)">
                                    <span class="far fa-edit"></span></button>
                                  <button (click)="removeHandler(item)" class="btn btn-danger btn-sm" title="Xóa">
                                    <span class="far fa-trash-alt"></span></button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>