<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" ngbAutofocus aria-label="Close"
        (click)="activeModal.dismiss()" tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <form class="o_form_view o_form_editable">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_group">
                    <h6 class="payment-title">Thanh toán dịch vụ</h6>
                    <div class="o_group o_inner_group o_group_col_6 mt-0">
                        <table class="mb-2 o_group o_inner_group o_group_col_12">
                            <tbody>
                                <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label">
                                            Khách cần trả
                                        </label>
                                    </td>
                                    <td colspan="1" class="text-primary text-right">
                                        300.000
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label">
                                            Số tiền
                                        </label>
                                    </td>
                                    <td colspan="1" class="text-right">
                                        <kendo-numerictextbox [min]="0" [format]="'n0'">
                                        </kendo-numerictextbox>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="journal-btn">
                            <div class="payment-methods">
                                <ng-container *ngFor="let item of filteredJournals">
                                    <button class="btn border d-flex flex-column align-items-center">
                                        <i class="far fa-credit-card"></i>
                                        <label class="pointer my-1">{{item.name}}</label>
                                    </button>
                                </ng-container>
                            </div>
                        </div>
                        <div class="journal-input mb-2 mt-2">
                            <div *ngFor="let item of filteredJournals" class="journal-item">
                                <div>
                                    <i class="far fa-trash-alt"></i>
                                    <span class="ml-3">{{item.name}}</span>
                                </div>
                                <div class="journal-input-number">
                                    <kendo-numerictextbox [min]="0" [format]="'n0'">
                                    </kendo-numerictextbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="payment-title">Thanh toán công nợ</h6>
                    <div class="o_group o_inner_group o_group_col_6 mt-0">
                        <table class="mb-2 o_group o_inner_group o_group_col_12">
                            <tbody>
                                <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label">
                                            Khách cần trả
                                        </label>
                                    </td>
                                    <td colspan="1" class="text-primary text-right">
                                        300.000
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="journal-input mb-2 mt-2">
                            <div class="journal-item">
                                <div class="journal-input-number">
                                    <kendo-combobox [data]="filteredJournals" [textField]="'name'"  [valueField]="'id'">
                                    </kendo-combobox>
                                </div>
                                <div class="journal-input-number">
                                    <kendo-combobox [data]="filteredJournals" [textField]="'name'"  [valueField]="'id'">
                                    </kendo-combobox>
                                </div>
                                <div class="journal-input-number">
                                    <kendo-numerictextbox [min]="0" [format]="'n0'">
                                    </kendo-numerictextbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- <form class="o_form_view o_form_editable" [formGroup]="paymentForm">
        
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="row">
                    <div class="col-6">
                        <div class="card mb-3">
                            <div class="card-header bg-primary text-white px-3 py-2">Số tiền khách đưa</div>
                            <div class="card-body px-3 py-3">
                                <h5>
                                    <kendo-numerictextbox
                                        class="w-100 k-numerictextbox-text-right" [format]="'n0'"
                                        [spinners]="false">
                                    </kendo-numerictextbox>
                                </h5>
                                <label class="ml-auto mb-0 d-flex float-right">Tiền thừa trả khách: <span
                                        class="ml-1 h5 mb-0"></span></label>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap my-2" >
                            <button  class="btn border mr-1 my-1"></button>
                        </div>

                        <div class="journal">
                            <h5>Phương thức thanh toán</h5>
                            <div class="payment-methods">
                                <ng-container *ngFor="let item of filteredJournals">
                                    <button [ngClass]="{'active': isJournalActiveClass(item)}"
                                        (click)="addJournalLine(item)"
                                        class="btn border d-flex flex-column align-items-center mr-2"
                                        *ngIf="item.type != 'cash'">
                                        <i class="far fa-credit-card"></i>
                                        <label class="pointer my-1">{{item.name}}</label>
                                    </button>
                                </ng-container>
                            </div>
                        </div>
                        <div class="journal-amount" formArrayName="journalLines">
                            <ng-container *ngFor="let journalFG of journalLinesFC.controls; let i = index">
                                <div [formGroupName]="i" *ngIf="journalFG.value.journal.type != 'cash'"
                                    class="card my-2">
                                    <div
                                        class="d-flex card-header px-3 py-2 justify-content-between align-items-center">
                                        <h5 class="m-0">{{journalFG.value.journal.name}}</h5>
                                        <button type="button" class="close"
                                            (click)="onDeleteJournalLine(i)">×</button>
                                    </div>
                                    <div class="card-body p-3">
                                        <kendo-numerictextbox [min]="0" (blur)="onBlurJournalLineAmount()"
                                            (valueChange)="onChangeJournalLineAmount($event, i)"
                                            class="k-numerictextbox-text-right w-100" formControlName="amount"
                                            [spinners]="false" [format]="'n0'"></kendo-numerictextbox>
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                &nbsp;
                                                <label class="text-muted my-1"
                                                    [class.d-none]="journalFG.value.journal.type != 'advance'">Tạm
                                                    ứng hiện có: {{journalFG.get('amountAdvanceBalance')?.value |
                                                    number}}</label>
                                            </div>
                                            <div *ngIf="journalFG.controls.amount.errors && (journalFG.controls.amount.touched || journalFG.controls.amount.dirty || submitted)"
                                                class="text-danger text-right">
                                                <div *ngIf="journalFG.controls.amount.errors.required">Nhập số tiền
                                                </div>
                                                <div *ngIf="journalFG.controls.amount.errors.min">Số tiền phải lớn
                                                    hơn hoặc bằng 0</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card bg-light">
                            <div class="card-body p-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span> Số tiền cần thanh toán</span>
                                    <h5 class="mb-0">{{amount | number}}</h5>
                                </div>
                                <hr>
                                <div *ngFor="let item of journalLinesFC.value"
                                    class="d-flex justify-content-between align-items-center mb-2">
                                    <span>{{item.journal.name}}</span>
                                    <span>{{item.amount | number}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </form> -->
</div>

<footer class="modal-footer">
    <!-- <ng-container>
        <button type="button" class="btn btn-primary" (click)="nextStep()" [disabled]="loading" accesskey="s">Tiếp
            tục</button>
        <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="cancel()"
            accesskey="q">Đóng</button>
    </ng-container>
    <ng-template>

        <button type="button" class="btn btn-secondary" (click)="backPreviousStep()" [disabled]="loading">Trở
            lại</button>
        <button type="button" class="btn btn-primary" (click)="saveAndPrint()" [disabled]="loading">Thanh
            toán và in</button>
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="loading" accesskey="s">Thanh
            toán</button>
        <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="cancel()"
            accesskey="q">Đóng</button>

    </ng-template> -->

</footer>