.payment-methods {
    display: flex;
    justify-content: space-between;
}

.payment-methods:hover {
    cursor: pointer;
}

.payment-methods button {
    width: calc(25% - 10px);
}

.pointer:hover {
    cursor: pointer;
}

.payment-title {
    color: #7f7f7f;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.journal-item {
    padding: 5px 10px 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
    /* background-image: linear-gradient(#f0f0f0, #e5e5e5); */
}

.journal-input {
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.journal-input-number {
    width: 30%;
}

.btn.disabled, .btn:disabled, .btn.disabled .pointer, .btn:disabled .pointer {
    cursor: default;
}