<div class="d-flex">
    <!-- <div class="detail_image"><img height="250px" />
    </div> -->
    <div class="detail_info row" *ngIf="partner">
        <div class="col-6">
            <div>
                <div class="label">Tên</div>
                <div class="content">{{partner.name}}</div>
            </div>
            <div>
                <div class="label">Tuổi</div>
                <div class="content">{{partner.birthYear ? getAge(partner.birthYear) : ''}}</div>
            </div>
            <div>
                <div class="label">Giới tính</div>
                <div class="content">{{getGender(partner.gender)}}</div>
            </div>
            <div>
                <div class="label">Địa chỉ</div>
                <div class="content">{{address}}</div>
            </div>
            <div>
                <div class="label">Tiền sử bệnh</div>
                <div class="content">{{getHistories()}}</div>
            </div>
            <div>
                <div class="label">Tiền căn khác</div>
                <div class="content">{{partner.medicalHistory}}</div>
            </div>
        </div>
        <div class="col-6">
            <div>
                <div class="label">Mã</div>
                <div class="content">{{partner.ref}}</div>
            </div>
            <div>
                <div class="label">Số điện thoại</div>
                <div class="content">{{partner.phone}}</div>
            </div>
            <div>
                <div class="label">Email</div>
                <div class="content">{{partner.email}}</div>
            </div>
            <div>
                <div class="label">Nhóm</div>
                <div class="content">{{getCategories()}}</div>
            </div>
            <div>
                <div class="label">Nghề nghiệp</div>
                <div class="content">{{partner.jobTitle}}</div>
            </div>
            <div>
                <div class="label">Giới thiệu</div>
                <div class="content">{{getReferral()}}</div>
            </div>
            <div>
                <div class="label">Ghi chú</div>
                <div class="content">{{partner.comment}}</div>
            </div>
        </div>
    </div>
</div>