<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="active">Danh sách khảo sát</li>
        </ol>
        <div class="o_cp_searchview">
            <!-- <div class="o_cp_searchview_group">
                <div class="o_searchview">
                    <input class="o_searchview_input" placeholder="Tìm kiếm theo khách hàng, số phiếu điều trị" type="text"
                        [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
                </div>
            </div> -->
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <div class="d-flex">
                        <app-tai-date-range-filter-dropdown [dateFrom]="dateFrom" [title]="'Thời gian'"
                            [dateTo]="dateTo" (searchChange)="onSearchDateChange($event)">
                        </app-tai-date-range-filter-dropdown>
                        <!-- <kendo-combobox [data]="filteredEmployees" [textField]="'name'" class="custom btn-sm" #empCbx [filterable]="true" [placeholder]="'Tất cả nhân viên'" (valueChange)="onChaneEmp($event)" [valueField]="'id'">
                        </kendo-combobox> -->
                    </div>

                </div>
            </div>
        </div>

        <div class="o_cp_t_right">
            <!-- <input class="o_searchview_input o_searchview" placeholder="Tìm kiếm theo khách hàng, số hóa đơn thuốc"
                type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)"> -->
        </div>
    </div>

    <div class="report-prescription-payment">
        <div class="revenue" *ngFor="let status of statuses">
            <div class="title">
                <h6>{{status.name}}</h6>
            </div>
            <h4 class="text-primary">
                {{statusCount[status.value] || 0}}
            </h4>
        </div>
    </div>
</div>
<div class="o_control_panel">
    <div class="o_cp_t_left">
        <div class="o_cp_buttons">
            <div class="o_form_buttons_view">
                <div class="d-flex">
                    <kendo-combobox [data]="filteredStatus" [textField]="'name'" class="custom btn-sm"
                        [placeholder]="'Tất cả trạng thái'" (valueChange)="statusChange($event)" [valueField]="'value'">
                    </kendo-combobox>
                </div>
            </div>
        </div>
        <div class="o_cp_sidebar">
        </div>
    </div>
    <div class="o_cp_t_right">
        <input class="o_searchview_input o_searchview" placeholder="Tìm kiếm theo khách hàng, số phiếu điều trị"
            type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
    </div>
</div>
<div class="o_content">
    <kendo-grid class="pointer" [resizable]="true" [data]="gridData" [pageSize]="limit" [skip]="offset"
        [pageable]="true" [loading]="loading" (pageChange)="pageChange($event)" (cellClick)="clickItem($event)"
        [navigable]="true">
        <kendo-grid-column field="partnerName" title="Khách hàng" width="150">
        </kendo-grid-column>
        <kendo-grid-column field="partnerRef" title="Mã khách hàng" width="135">
            <ng-template kendoGridCellTemplate let-dataItem let-column="column">
                <a class="text-primary" routerLink="/partners/customer/{{dataItem.partnerId}}/overview">
                    {{dataItem.partnerRef}}
                </a>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="partnerPhone" title="Điện thoại" width="115">
        </kendo-grid-column>
        <kendo-grid-column field="age" title="Tuổi" width="58">
        </kendo-grid-column>
        <!-- <kendo-grid-column field="partnerGenderDisplay" title="Giới tính" width="88">
        </kendo-grid-column> -->
        <!-- <kendo-grid-column field="partnerCategoriesDisplay" title="Nhãn khách hàng" width="150">
        </kendo-grid-column> -->
        <kendo-grid-column title="Phiếu điều trị" width="120">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <a routerLink="/sale-orders/form" [queryParams]="{id: dataItem.saleOrderId}" class="text-primary">
                    {{dataItem.saleOrder.name}}
                </a>
            </ng-template>
        </kendo-grid-column>
        <!-- <kendo-grid-column title="Ngày lập phiếu" width="135">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.saleOrder.dateOrder | date:'shortDate'}}
            </ng-template>
        </kendo-grid-column> -->
        <kendo-grid-column title="Ngày phân việc" width="135">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.assignDate | date:'shortDate'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'white-space': 'initial'}" title="Ngày khảo sát" width="130">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.completeDate | date:'shortDate'}}
            </ng-template>
        </kendo-grid-column>
        <!-- <kendo-grid-column field="userInputScore" title="Điểm" width="65">
        </kendo-grid-column> -->
        <kendo-grid-column title="Trạng thái" width="110">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{GetStatus(dataItem.status)}}
            </ng-template>
        </kendo-grid-column>
        <!-- <kendo-grid-column title="Thao tác" width="100">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button class="btn btn-success btn-sm"><i class="fas fa-edit"></i></button>
            </ng-template>
        </kendo-grid-column> -->
    </kendo-grid>
</div>