<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Số phiếu</th>
            <th scope="col">Ngày lập phiếu</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Còn nợ</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listSaleOrder">
            <td>{{item.name}}</td>
            <td>{{item.dateOrder | date: 'short'}}</td>
            <td>{{item.amountTotal | number}}</td>
            <td>{{!item.residual ? 0 : item.residual | number}}</td>
        </tr>
    </tbody>
</table>