<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>
<div class="modal-body o_act_window">
    <form class="o_form_view" kendo-validator="validator">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_12">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Mã bảo hành</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input type="text" class="form-control" name ="warrantyCode" [(ngModel)]="line.warrantyCode">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Hạn bảo hành</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-datepicker name="warrantyPeriod" [(value)]="warrantyPeriod"></kendo-datepicker>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <div class="form-check">
                                    <input type="checkbox" name="isReceived" (change)="onCheckIsReceived($event)"  class="form-check-input" id="is-received" [(ngModel)]="line.isReceived">
                                    <label for="is-received">Đã nhận</label>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="line.isReceived == true">
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Ngày nhận thực tế</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-datepicker name = "receivedDate" [(value)]="receivedDate"></kendo-datepicker>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" accesskey="s"
        (click)="onSave()">Lưu</button>
    <button type="button" class="btn btn-secondary" accesskey="q" (click)="activeModal.dismiss()">Đóng</button>
</div>