<header class="modal-header">
    <h4 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <div class="o_form_view" [formGroup]="toaThuocForm">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="oe_title">
                    <h1>
                        <span>{{toaThuocForm.get('name').value || 'Mới'}}</span>
                    </h1>
                </div>
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Ngày
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-datepicker formControlName="dateObj" [format]="'dd-MM-yyyy HH:mm'">
                                    </kendo-datepicker>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Chẩn đoán
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input type="text" class="form-control" formControlName="note" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <app-toa-thuoc-line-cu-form [line]="lineSelected" (updated)="onLineUpdated()"
                        (created)="onLineCreated($event)">
                    </app-toa-thuoc-line-cu-form>
                </div>

                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Tên thuốc</th>
                            <th>Số lượng</th>
                            <th>Hướng dẫn sử dụng</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let line of lines; let i=index" (click)="onSelectLine(line)"
                            [class.table-active]="lineSelected === line">
                            <td>{{ line.product.name}}</td>
                            <td>
                                {{ line.quantity | number}}
                            </td>
                            <td>
                                {{ line.name}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-icon btn-sm btn-light" (click)="deleteLine(i)">
                                    <span class="k-icon k-i-delete"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSave()" accesskey="s">Lưu</button>
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="onCancel()"
        accesskey="q">Đóng</button>
</footer>