<img class="img img-fluid" [src]="source" />
<div class="o_form_image_controls">
    <span class="fa fa-pencil-alt float-left o_select_file_button" (click)="inputfile.click()" title="Sửa"></span>
    <span class="fa fa-trash-alt float-right o_clear_file_button" (click)="onClear()" title="Hủy"></span>

    <span class="o_form_binary_progress">Uploading...</span>
    <div class="o_hidden_input_file ">
        <input #inputfile class="o_input_file" name="ufile" type="file" (change)="onFileChange($event)">
    </div>
</div>

<!-- <div class="file-drag-drop-zone" id="drop-area" (dragover)="dragoverHandler($event)" (drop)="dropHandler($event)">
    Drop one file here
</div> -->