.btn-check {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.rounded-left-0 {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.rounded-right-0 {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.o_form_view .o_form_sheet_bg .o_form_sheet{
    min-height: fit-content !important;
}

.o_form_view .o_group{
    margin: 0!important;
}