<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>


<div class="modal-body o_act_window">
    <form class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_12">
                        <tbody>
                            <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label">Tên chiến dịch</label>
                                </td>
                                <td class="w-100 pb-4">
                                    <input class="form-control" formControlName="name" />
                                    <div *ngIf="f.name.errors && (f.name.touched || f.name.dirty || submitted)"
                                        class="text-danger">
                                        <div *ngIf="f.name.errors.required">Nhập tên chiến dịch</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label">Thời gian chạy</label>
                                </td>
                                <td class="w-100 pb-4">
                                    <div>
                                        <input type="radio" class="btn-check" id="unlimited" value="unlimited"
                                            formControlName="typeDate">
                                        <label for="unlimited" class="btn btn-sm rounded-right-0"
                                            [ngClass]="getValueFormControl('typeDate') == 'unlimited' ? 'btn-primary' : 'btn-outline-primary'">
                                            Vô thời hạn
                                        </label>
                                        <input type="radio" class="btn-check" id="period" value="period"
                                            formControlName="typeDate">
                                        <label for="period" class="btn btn-sm rounded-left-0"
                                            [ngClass]="getValueFormControl('typeDate') == 'period' ? 'btn-primary' : 'btn-outline-primary'">
                                            Khoảng thời gian
                                        </label>
                                    </div>
                                    <div class="d-flex align-items-center"
                                        *ngIf="getValueFormControl('typeDate') == 'period'">
                                        <kendo-datepicker class="w-fit-content" formControlName="startDateObj">
                                        </kendo-datepicker>
                                        <div class="mx-2">đến</div>
                                        <kendo-datepicker class="w-fit-content" formControlName="endDateObj">
                                        </kendo-datepicker>
                                        <div *ngIf="(f.startDateObj.errors || f.endDateObj.errors) && (f.startDateObj.touched || f.endDateObj.touched || f.startDateObj.dirty || f.endDateObj.dirty || submitted)"
                                            class="text-danger">
                                            <div *ngIf="f.startDateObj.errors.required || f.endDateObj.errors.required">
                                                Chọn thời gian chạy chiến dịch</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="o_td_label d-flex">
                                    <label class="o_form_label">Hạn mức gửi tin</label>
                                    <span class="text-primary t-tooltip ml-1" placement="right"
                                        ngbTooltip="0 là không giới hạn">
                                        <i class="fas fa-exclamation-circle"></i>
                                    </span>
                                </td>
                                <td class="w-100">
                                    <div class="d-flex align-items-center">
                                        <kendo-numerictextbox class="w-fit-content" [min]="0" [format]="'n0'"
                                            formControlName="limitMessage">
                                        </kendo-numerictextbox>
                                        <div class="mx-2">SMS</div>

                                    </div>
                                    <div *ngIf="f.limitMessage.errors && (f.limitMessage.touched || f.limitMessage.dirty || submitted)"
                                        class="text-danger">
                                        <div *ngIf="f.limitMessage.errors.required">Nhập hạn mức gửi tin</div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>


<footer class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSave()" accesskey="s">Lưu</button>
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="activeModal.dismiss()"
        accesskey="q">Đóng</button>
</footer>