<kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading"
    (pageChange)="pageChange($event)">
    <kendo-grid-column title="Ngày thanh toán" width="135">
        <ng-template kendoGridCellTemplate let-dataItem let-column="column">
            {{dataItem.date | date:'shortDate'}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Số phiếu" width="135">
        <ng-template kendoGridCellTemplate let-dataItem let-column="column">
            {{dataItem.orderName}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Dịch vụ" width="135">
        <ng-template kendoGridCellTemplate let-dataItem let-column="column">
            {{dataItem.productName}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Thanh toán" class="text-right" width="100">
        <ng-template kendoGridCellTemplate let-dataItem let-column="column">
            {{dataItem.amount | number}}
        </ng-template>
    </kendo-grid-column>
    <ng-template kendoPagerTemplate let-skip="skip" let-total="total" let-pageSize="pageSize">
        <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
        <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
        <kendo-pager-next-buttons></kendo-pager-next-buttons>
        <kendo-pager-info></kendo-pager-info>
        <span class="ml-4">
            <kendo-dropdownlist style="width: 80px;" [data]="pageSizes"
                (valueChange)="onPageSizeChange($event)" [value]="limit">
            </kendo-dropdownlist>
            <label class="ml-2 mb-0">Số dòng trên trang</label>
        </span>
    </ng-template>
</kendo-grid>