.click_i {
    cursor: pointer;
}

.cont-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.cont-left {
    -webkit-box-flex: 1;
    flex: 1;
}
.cont-right {
    -webkit-box-flex: 0;
    flex: 0 0 300px;
    margin-left: 0.25rem;
    border: 1px solid #e2e7ed;
}
.filter-title {
    font-size: 1.05rem;
    font-weight: 500;
    width: 100%;
    background: #f2f7ff;
    padding: 0.5rem;
}
.filter-label {
    font-weight: 500;
    padding: 0.5rem;
}
.filter-content {
    padding: 0 0.5rem;
}
.header-toolbar-calendar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}
.btn-check + .btn-outline-secondary {
    border-radius: 0;
    border-right-width: 0;
}
.btn-check:first-of-type + .btn {
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
}
.btn-check:last-of-type + .btn {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
    border-right-width: 1px;
}
.btn-check:active + .btn-outline-secondary,
.btn-check:checked + .btn-outline-secondary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
