<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="active">Lịch hẹn</li>
        </ol>
        <div class="o_cp_searchview">
            <div class="o_cp_searchview_group">
                <div class="o_searchview">
                    <input class="o_searchview_input" placeholder="Tìm kiếm theo mã lịch hẹn, khách hàng, SĐT..."
                        type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
                </div>
            </div>
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <button class="btn btn-primary btn-sm" (click)="createAppointment()">
                        <i class="fas fa-calendar-plus"></i>&nbsp;Tạo lịch hẹn</button>
                    <button class="btn btn-primary btn-sm" (click)="refreshData()">
                        <i class="fas fa-sync"></i>&nbsp;Làm mới</button>
                </div>
            </div>
            <div class="o_cp_sidebar">
                <div>
                    <kendo-combobox [placeholder]="'Lọc theo bác sĩ'" (valueChange)="valueChangeUser($event)"
                        class="kendo-combobox-sm" [filterable]="true" [data]="listEmployees" #employeeCbx
                        [valueField]="'id'" [textField]="'name'" [popupSettings]="{width: 'auto'}">
                    </kendo-combobox>
                </div>
            </div>
        </div>
        <div class="o_cp_right">
            <div class="btn-group o_search_options">
                <app-appointment-state-filter (searchChange)="onStateSearchChange($event)">
                </app-appointment-state-filter>
                <app-appointment-date-filter [dateFrom]="dateFrom" [dateTo]="dateTo"
                    (searchChange)="onDateSearchChange($event)">
                </app-appointment-date-filter>
            </div>
        </div>
    </div>
</div>

<div class="o_content">
    <div class="o_view_controller">
        <div class="o_kanban_view o_kanban_small_column o_kanban_grouped">
            <div class="o_kanban_group o_kanban_has_progressbar" *ngFor="let date of dateList">
                <div class="o_kanban_header">
                    <div class="o_kanban_header_title">
                        <span class="o_column_title"
                            *ngIf="date.toDateString() != today.toDateString()">{{date | date: 'EEEE'}},
                            {{date | date: 'dd/MM'}}</span>
                        <span class="o_column_title text-success"
                            *ngIf="date.toDateString() == today.toDateString()">Hôm
                            nay,
                            {{date | date: 'dd/MM'}}</span>
                    </div>
                </div>
                <div class="oe_kanban_color_0 oe_kanban_card o_kanban_record"
                    [ngClass]="{'oe_kanban_color_11': appointment.state == 'confirmed', 'oe_kanban_color_2': appointment.state == 'done', 'oe_kanban_color_5': appointment.state == 'cancel'}"
                    *ngFor="let appointment of appointmentByDate[date.toDateString()]">
                    <div class="oe_kanban_content">
                        <div class="o_kanban_record_top">
                            <div class="o_kanban_record_headings">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <a class="text-primary o_kanban_record_title" title="Xem hồ sơ khách hàng"
                                            [routerLink]="['/partners/customer/' + appointment.partnerId]">
                                            <span>{{appointment.partnerDisplayName}}</span>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="d-flex">
                                            <i class="far fa-edit text-success mr-1 click_i "
                                                (click)="editAppointment(appointment);$event.stopPropagation();"></i>
                                            <i class="far fa-trash-alt text-danger click_i "
                                                (click)="deleteAppointment(appointment)"></i>
                                        </div>
                                    </div>
                                </div>

                                <small class="o_kanban_record_subtitle text-muted">
                                    <span class="oe_kanban_text_red">
                                        <i><span>{{appointment.time}}</span></i>
                                    </span>
                                </small>
                                <small class="o_kanban_record_subtitle text-muted" *ngIf="appointment.partnerPhone">
                                    SĐT KH: {{appointment.partnerPhone}}
                                </small>
                                <strong class="o_kanban_record_title" *ngIf="appointment.doctorName">
                                    Bác sĩ: {{appointment.doctorName}}
                                </strong>
                                <div class="o_kanban_record_description" *ngIf="appointment.note">{{appointment.note}}
                                </div>
                            </div>
                        </div>
             
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>