<form class="o_form_view" class="d-flex flex-column h-100" [formGroup]="formGroup">
    <div>
        <div class="d-flex align-items-center p-2 border-bottom">
            <button type="button" class="btn btn-primary btn-sm mx-1" (click)="onSave()">Lưu</button>
            <button type="button" class="btn btn-primary btn-sm mx-1" (click)="actionConfirm()">Xác nhận</button>
            <button type="button" class="btn btn-primary btn-sm mx-1" (click)="actionCancel()">Hủy phiếu</button>
        </div>
        <div class="d-flex justify-content-between align-items-center border-bottom py-1 pr-3">
            <div>
                <h3 class="ml-2" *ngIf="saleOrderId">{{saleOrder.name}}</h3>
                <h3 class="ml-2" *ngIf="!saleOrderId">Thêm mới</h3>
            </div>
            <div>
                <span class="mr-2">Ngày lập phiếu</span>
                <kendo-datepicker formControlName="dateOrderObj">
                </kendo-datepicker>
            </div>
        </div>
    </div>
    <div class="h-100">
        <div class="w-100 h-100 d-flex">
            <div class="w-20 h-100 border-right">
                <!-- Component List Service and search -->
                <app-partner-customer-treatment-history-form-service-list
                    (newEventEmiter)="chosseSaleOrderLine($event)">
                </app-partner-customer-treatment-history-form-service-list>
            </div>
            <div class="w-80 h-100">
                <div class="d-flex flex-column h-100">
                    <div class="my-1">
                        <button type="button" hasGroups [groups]="'sale.group_service_card'"
                            class="btn btn-outline-primary btn-sm mx-1" (click)="showApplyCardDialog()"
                            *ngIf="['draft', 'sent','sale'].indexOf(saleOrder.state) !== -1">
                            <span>thẻ tiền mặt</span>
                        </button>
                        <button type="button" hasGroups [groups]="'sale.group_sale_coupon_promotion'"
                            class="btn btn-outline-primary btn-sm mx-1" (click)="showApplyCouponDialog()"
                            *ngIf="['draft', 'sent', 'sale'].indexOf(saleOrder.state) !== -1">
                            <span>coupon, mã khuyến mãi</span>
                        </button>
                        <button type="button" hasGroups [groups]="'sale.group_sale_coupon_promotion'"
                            name="recompute_coupon_lines" placement="bottom" triggers="mouseenter:mouseleave"
                            ngbPopover="Khi nhấn, phiếu điều trị sẽ kiểm tra và áp dụng những chương trình khuyến mãi có thể áp dụng."
                            popoverTitle="Cập nhật khuyến mãi" class="btn btn-outline-primary btn-sm mx-1"
                            *ngIf="['draft', 'sent', 'sale'].indexOf(saleOrder.state) !== -1"
                            (click)="applyPromotion()">
                            <span>Cập nhật khuyến mãi</span>
                        </button>

                    </div>

                    <div class="t-conTable">
                        <div class="t-parTable t-scrollbar">
                            <table class="t-sticky-thead t-sticky-col-left">
                                <thead>
                                    <tr>
                                        <th [style.min-width.px]="300">Dịch vụ</th>
                                        <th [style.min-width.px]="80">Răng</th>
                                        <th [style.min-width.px]="120">Chuẩn đoán</th>
                                        <th class="text-center">Số lượng</th>
                                        <th class="text-right">Đơn giá</th>
                                        <th [style.min-width.px]="200" class="text-center">Giảm</th>
                                        <th class="text-right">Thành tiền</th>
                                        <th class="text-right">Thanh toán</th>
                                        <th class="text-right">Nợ</th>
                                        <th class="text-right">
                                            #
                                        </th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="orderLines" class="t-scrollbar">
                                    <ng-container *ngFor="let line of orderLines.controls; let i=index">
                                        <tr [formGroupName]="i">
                                            <td>{{ line.get('name').value }}</td>
                                            <td>
                                                <app-treatment-history-teeth-popover [teeths]="line.get('teeth').value"
                                                    (teethselected)="onChangeTeeth(line,$event)">
                                                </app-treatment-history-teeth-popover>
                                            </td>
                                            <td>{{line.get('diagnostic').value}}</td>
                                            <td class="text-right">
                                                <kendo-numerictextbox style="max-width: 90px;" [spinners]="false"
                                                    formControlName="productUOMQty"
                                                    (valueChange)="onChangeQuantity(line)">
                                                </kendo-numerictextbox>
                                            </td>
                                            <td class="text-right" style="max-width: 300px;">
                                                {{ line.get('priceUnit').value | number }}</td>
                                            <td>
                                                <div class="d-flex align-items-center justify-content-end">
                                                    <kendo-numerictextbox
                                                        [class.d-none]="line.get('discountType').value !== 'percentage'"
                                                        [min]="0" [max]="100" formControlName="discount"
                                                        [autoCorrect]="true" [spinners]="false"
                                                        (valueChange)="onChangeDiscount(line)"
                                                        style="max-width: 100px;">
                                                    </kendo-numerictextbox>
                                                    <kendo-numerictextbox [format]="'n0'" [spinners]="false"
                                                        [class.d-none]="line.get('discountType').value !== 'fixed'"
                                                        (valueChange)="onChangeDiscountFixed(line)"
                                                        formControlName="discountFixed" style="max-width: 100px;">
                                                    </kendo-numerictextbox>
                                                    <select class="form-control" style="max-width: 70px;"
                                                        (change)="onChangeDiscountType(line)"
                                                        formControlName="discountType">
                                                        <option value="percentage">%</option>
                                                        <option value="fixed">VNĐ</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                {{line.get('priceSubTotal').value | number}}
                                            </td>
                                            <td class="text-right">
                                                {{ line.get('amountPaid').value | number }}
                                            </td>
                                            <td class="text-right">
                                                {{ line.get('amountResidual').value | number }}
                                            </td>
                                            <td class="text-right">
                                                <div>
                                                    <!-- <button type="button" class="btn btn-icon btn-sm btn-light mr-1"
                                                            (click)="editLine(line)">
                                                            <span class="k-icon k-i-edit"></span>
                                                        </button> -->
                                                    <button type="button" class="btn btn-icon btn-sm btn-light"
                                                        (click)="deleteLine(i)">
                                                        <span class="k-icon k-i-delete"></span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>

                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <table class="table-borderless table-text-right mr-4 my-3 table-payment-result">
                            <tr>
                                <td>Thành tiền:</td>
                                <td>{{getAmountTotal | number}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-outline-primary btn-sm mx-1">Giảm
                                        tiền</button>
                                </td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Tổng tiền:</td>
                                <td>{{getAmountTotal | number}}</td>
                            </tr>
                            <tr>
                                <td>Số tiền thanh toán:</td>
                                <td>{{getAmountPaidTotal | number}}</td>
                            </tr>
                            <tr>
                                <td>Còn lại:</td>
                                <td>{{saleOrder.residual | number}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>