<div class="px3 py3" style="height: 100%;">
    <div class="row form-right">
        <div class="col-12" style="height: 10%;">
            <div class="action-form-right">
                <button class="btn btn-sm btn-success mr-2">Xác nhận</button>
                <button class="btn btn-sm btn-primary mr-2">Lưu nháp</button>
                <button class="btn btn-sm btn-danger">Hủy phiếu</button>
            </div>
        </div>
        <div class="empty-form"></div>
        <div class="col-3 pr-0" style="height: 88%;">
            <!-- List service -->
            <div class="list-service-form-right">
                <app-partner-customer-treatment-history-form-service-list></app-partner-customer-treatment-history-form-service-list>
            </div>
        </div>
        <div class="col-9" style="height: 88%;">
            <!-- Form payment -->
            <div class="form-payment-form-right">
                <app-partner-customer-treatment-history-form-payment></app-partner-customer-treatment-history-form-payment>
            </div>
        </div>
    </div>
</div>