<div class="p-2 d-flex bg-white">
    <div class="d-flex flex-fill">
        <div class="mr-1">
            <app-tai-date-range-filter-dropdown [dateFrom]="dateFrom" title="Thời gian" [dateTo]="dateTo" (searchChange)="onDateSearchChange($event)">
            </app-tai-date-range-filter-dropdown>
        </div>
        <div class="mr-1">
            <kendo-combobox (valueChange)="onSateChange($event)" [data]="states" [textField]="'name'" placeholder="Tất cả trạng thái" [valueField]="'value'">
            </kendo-combobox>
        </div>
    </div>
    <div class="flex-fill">
        <div class="o_searchview">
            <i class="o_searchview_icon fa fa-search"></i>
            <div class="o_searchview_input_container">
                <input class="o_searchview_input" placeholder="Tìm kiếm theo mã yêu cầu..." type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
            </div>
        </div>
    </div>
</div>

<div>
    <kendo-grid [data]="gridData" [pageSize]="limit" class="cursor-pointer" [skip]="skip" [pageable]="true" [loading]="loading" (pageChange)="pageChange($event)" (cellClick)="onUpdate($event)">
        <kendo-grid-column field="date" title="Ngày yêu cầu" width="120">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.date | date: 'shortDate'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column  title="Ngày xuất" width="120">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.picking?.date | date: 'shortDate'}}
            </ng-template>
        </kendo-grid-column>
        <!-- <kendo-grid-column title="Phiếu xuất" width="120">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span>{{dataItem.pickingName}}</span>
            </ng-template>
        </kendo-grid-column> -->
        <kendo-grid-column field="name" title="Mã yêu cầu" width="120">
        </kendo-grid-column>
        <kendo-grid-column title="Người yêu cầu" width="120">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.userName}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Bác sĩ" width="120">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.employeeName}}
            </ng-template>1
        </kendo-grid-column>
        <kendo-grid-column title="Trạng thái" width="120">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.state =="confirmed" ? "Đang yêu cầu" : (dataItem.state == "done" ? "Đã xuất" : "")}}
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>