<div class="mb-2">
    <button type="button" class="btn btn-primary btn-sm" (click)="registerPayment()">Thanh toán</button>
</div>

<kendo-grid [data]="gridView" [pageable]="true" [pageSize]="limit" [skip]="skip" (pageChange)="pageChange($event)"
    [loading]="gridLoading">
    <kendo-grid-column field="paymentDate" title="Ngày">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{dataItem.paymentDate | date : 'shortDate' }}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Số tiền">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{dataItem.amount | number}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Phương thức">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{dataItem.journalName}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="communication" title="Nội dung">
    </kendo-grid-column>
    <kendo-grid-column field="id">
        <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
            Thao tác
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <button class="btn btn-danger btn-sm" title="Xóa" (click)="draftUnlinkPayment(dataItem)">
                <span class="far fa-trash-alt"></span></button>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>