<div class="o_cp_controller">
    <div class="o_control_panel">
        <div class="breadcrumb">
            <div class="d-flex flex-wrap">
                <div class="mr-1">
                    <app-tai-date-range-filter-dropdown title="Thời gian" [dateFrom]="dateFrom" [dateTo]="dateTo"
                        (searchChange)="onSearchChange($event)">
                    </app-tai-date-range-filter-dropdown>
                </div>
                <kendo-combobox style="width: 200px;" [popupSettings]="" class="mr-1 kendo-combobox-sm"
                    [placeholder]="'Tất cả sản phẩm'" [data]="filteredInventory" [valueField]="'value'"
                    [textField]="'text'" (valueChange)="inventoryChange($event)">
                </kendo-combobox>
                <button type="button" class="btn btn-primary btn-sm mx-1" (click)="exportExcelFile(grid)">
                    <i class="fas fa-download"></i>&nbsp;Xuất file</button>
            </div>
        </div>
        <div class="o_cp_searchview">
            <div class="o_searchview">
                <input class="o_searchview_input" placeholder="Tìm kiếm theo mã hoặc tên sản phẩm..." type="text"
                    [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
            </div>
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">

            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">

        </div>
    </div>
</div>

<div class="o_content">
    <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading"
        #grid="kendoGrid" (pageChange)="pageChange($event)" (cellClick)="cellClick($event.dataItem)">
        <kendo-grid-column field="productCode" title="Mã sản phẩm" width="150">
        </kendo-grid-column>
        <kendo-grid-column field="productName" title="Tên sản phẩm" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="productUomName" title="Đơn vị tính" width="120">
            <ng-template kendoGridFooterTemplate>
                <span class="font-weight-bold">Tổng</span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="begin" class="text-right" title="Tồn đầu kỳ" width="120">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.begin | number}}
            </ng-template>
            <ng-template kendoGridFooterTemplate>
                <span class="text_sum">{{sumBegin}}</span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="import" class="text-right" title="Nhập trong kỳ" width="150">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.import | number}}
            </ng-template>
            <ng-template kendoGridFooterTemplate>
                <span class="text_sum">{{sumImport}}</span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="export" class="text-right" title="Xuất trong kỳ" width="150">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.export | number}}
            </ng-template>
            <ng-template kendoGridFooterTemplate>
                <span class="text_sum">{{sumExport}}</span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="end" class="text-right" title="Tồn cuối kỳ" width="120">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.end | number}}
            </ng-template>
            <ng-template kendoGridFooterTemplate>
                <span class="text_sum">{{sumEnd}}</span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column class="text-right" title="Mức tồn tối thiểu" width="150">
            
        </kendo-grid-column>
        <kendo-grid-excel fileName="Xuất Nhập Tồn.xlsx"></kendo-grid-excel>
    </kendo-grid>
</div>