<div class="p-2 d-flex bg-white">
    <div class="d-flex flex-fill">
        <div class="mr-1">
            <app-date-range-picker-filter [opens]="'right'" [startDate]="dateFrom" [endDate]="dateTo"
                (searchChange)="onSearchChange($event)"></app-date-range-picker-filter>
        </div>
        <div class="mr-1">
            <kendo-combobox style="width: 200px;" [popupSettings]="" [placeholder]="'Tất cả sản phẩm'"
                [valuePrimitive]="true" [data]="filteredInventory" [valueField]="'value'" [textField]="'text'"
                (valueChange)="inventoryChange($event)">
            </kendo-combobox>
        </div>
        <div class="dropdown mr-1">
            <div class="btn btn-dropdown-menu text-left" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Tùy chọn hiển thị
                <span class="drop-menu">
                    <span class="k-icon k-i-arrow-s"></span>
                </span>
            </div>
            <form class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton1" [ngClass]="{'show':isExpand}"
                #form="ngForm" (ngSubmit)="apply(form)">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="defaultCheck1" [ngModel]="this.showOrigin" name="origin" >
                    <label class="form-check-label" for="defaultCheck1">
                        Xuất xứ
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="defaultCheck2"  [ngModel]="this.showExpiry" name="expiry">
                    <label class="form-check-label" for="defaultCheck2">
                        Thời hạn sử dụng
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="defaultCheck3" [ngModel]="this.showAverageExport" name="averageExport" >
                    <label class="form-check-label" for="defaultCheck3">
                        Lượng xuất trung bình
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" id="defaultCheck4" [ngModel]="this.showMinInventory" name="minInventory" >
                    <label class="form-check-label" for="defaultCheck4">
                        Mức tồn tối thiểu
                    </label>
                </div>
                <input type="submit" class="btn btn-primary" (click)="isExpand = !isExpand" value="Áp dụng">
            </form>
        </div>
        <div>
            <button type="button" class="btn btn-primary" (click)="exportExcelFile(grid)">
                <i class="fas fa-download"></i>&nbsp;Xuất Excel</button>
        </div>
    </div>
    <div class="flex-fill">
        <div class="o_searchview">
            <i class="o_searchview_icon fa fa-search"></i>
            <div class="o_searchview_input_container">
                <input class="o_searchview_input" placeholder="Tìm kiếm mã, tên sản phẩm" type="text"
                    [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
            </div>
        </div>
    </div>
</div>

<div>
    <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="pagerSettings" [loading]="loading" #grid
        (pageChange)="pageChange($event)" (dblclick)="onDblClick()" (cellClick)="onCellClick($event)">
        <kendo-grid-column field="productCode" title="Mã sản phẩm" width="150">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span [class.text-danger]="dataItem.end<dataItem.minInventory">
                    {{dataItem.productCode}}
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="productName" title="Tên sản phẩm" width="200">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span [class.text-danger]="dataItem.end < dataItem.minInventory">
                    {{dataItem.productName}}
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="origin" title="Xuất xứ" *ngIf="showOrigin" width="150">

        </kendo-grid-column>
        <kendo-grid-column field="expiry" title="Thời hạn sử dụng (tháng)" *ngIf="showExpiry" width="180">

        </kendo-grid-column>
        <kendo-grid-column field="averageExport" title="Lượng xuất trung bình" width="150" *ngIf="showAverageExport">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                <ng-template #popContent>
                    <span>
                        Lượng xuất trung bình được tính theo ngày 
                    và trong khoảng thời gian lọc
                </span>
                </ng-template>
                Lượng xuất trung bình
                <i class="fas fa-info-circle text-primary" container="body" popoverClass="popover-xl" placement="top" 
                [ngbPopover]="popContent" triggers="mouseenter:mouseleave"></i>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="productUomName" title="Đơn vị tính" width="120" footerClass="font-weight-600">
            <ng-template kendoGridFooterTemplate>
                Tổng
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="begin" class="text-right" title="Tồn đầu kỳ" width="100"
            footerClass="text-right font-weight-600">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.begin | number}}
            </ng-template>
            <ng-template kendoGridFooterTemplate>
                {{sumBegin}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="import" class="text-right" title="Nhập trong kỳ" width="100"
            footerClass="text-right font-weight-600">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.import | number}}
            </ng-template>
            <ng-template kendoGridFooterTemplate>
                {{sumImport}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="export" class="text-right" title="Xuất trong kỳ" width="100"
            footerClass="text-right font-weight-600">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.export | number}}
            </ng-template>
            <ng-template kendoGridFooterTemplate>
                {{sumExport}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="end" class="text-right" title="Tồn cuối kỳ" width="120"
            footerClass="text-right font-weight-600">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span [class.text-danger]="dataItem.end<dataItem.minInventory">
                    {{dataItem.end | number}}
                </span>
            </ng-template>
            <ng-template kendoGridFooterTemplate>
                {{sumEnd}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="minInventory" class="text-right" title="Mức tồn tối thiểu" width="130"
            *ngIf="showMinInventory">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span [class.text-danger]="dataItem.end<dataItem.minInventory">
                    {{(dataItem.minInventory || 0) | number}}
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-excel fileName="NhapXuatTon.xlsx" [fetchData]="allData"></kendo-grid-excel>
    </kendo-grid>
</div>