.forgot-password {
    height: 100vh;
    display: flex;
    background-size: cover;
    align-items: center;
  }
  
  .forgot-password .forgot-password-box {
    max-width: 400px;
    min-width: 280px;
    margin: 0 auto;
    vertical-align: middle;
  }
  
