<div class="forgot-password bg-light">
    <div class="forgot-password-box">
        <form [formGroup]="forgotPwdForm" (submit)="submit()">
            <div class="text-center">
                <img alt="homepage" src="assets/images/logo-color.svg" width="200" />
                <h4 class="m-t-0">Quên mật khẩu</h4>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required formControlName="email" />
                <span
                    *ngIf="forgotPwdForm.get('email') && forgotPwdForm.get('email').errors && forgotPwdForm.get('email').errors.pattern "
                    class="text-danger pt-2">Email nhập chưa đúng định dạng</span>
                <!-- <span *ngIf="forgotPwdForm.get('email') && forgotPwdForm.get('email').value == ''"
                    class=" text-danger pt-2">Email không được để trống</span> -->
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">
                Reset mật khẩu
            </button>
            <div class="text-center">
                <a routerLink="/auth/login">Đăng nhập</a>
            </div>
        </form>
    </div>
</div>