<div class="forgot-password bg-light">
    <div class="forgot-password-box">
        <form [formGroup]="forgotPwdForm" (submit)="submit()">
            <div class="text-center">
                <img alt="homepage" src="assets/images/logo-color.svg" width="200" />
                <h4 class="m-t-0">Quên mật khẩu</h4>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" [email]="true" required formControlName="email" />
                <div *ngIf="emailControl.errors && (emailControl.touched || emailControl.dirty || submitted)"
                    class="text-danger">
                    <div *ngIf="emailControl.errors.required">Vui lòng nhập email</div>
                    <div *ngIf="emailControl.errors.email">Email không hợp lệ</div>
                </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">
                Reset mật khẩu
            </button>
            <div class="text-center">
                <a routerLink="/auth/login">Đăng nhập</a>
            </div>
        </form>
    </div>
</div>