<form class="o_form_view" [formGroup]="dotKhamForm">
    <div class="o_form_sheet_bg">
        <div class="o_form_sheet">
            <div class="o_group">
                <table class="o_group o_inner_group o_group_col_6">
                    <tbody>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label">
                                    Bác sĩ
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                <kendo-combobox [data]="filteredDoctors" [textField]="'name'" [filterable]="true"
                                    #doctorCbx formControlName="doctor" [valueField]="'id'">
                                </kendo-combobox>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label">
                                    Phụ tá
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                <kendo-combobox [data]="filteredAssistants" [textField]="'name'" [filterable]="true"
                                    #assistantCbx formControlName="assistant" [valueField]="'id'">
                                </kendo-combobox>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="o_group o_inner_group o_group_col_6">
                    <tbody>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label">
                                    Ngày khám
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                <kendo-dateinput formControlName="dateObj" [format]="'dd-MM-yyyy HH:mm'">
                                </kendo-dateinput>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label">
                                    Ghi chú
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                <input type="text" class="form-control" formControlName="note" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <button type="button" class="btn btn-primary btn-sm mr-2" (click)="onSave()">
                    Xác nhận</button>
                <button type="button" class="btn btn-primary btn-sm mr-2" (click)="onSaveAndView()">
                    Xác nhận và xem</button>
                <button type="button" class="btn btn-light btn-sm mr-2" (click)="onCancel()">Đóng</button>
            </div>
        </div>
    </div>
</form>