<div class="o_control_panel">
    <ol class="breadcrumb">
        <div class="o_cp_buttons">
            <div class="o_form_buttons_view">
                <button type="button" class="btn btn-primary" (click)="createItem()">
                    <i class="fas fa-plus text-white"></i>
                    Thêm</button>
                <button type="button" class="btn btn-primary" (click)="exportExcelFile()">
                    <i class="fas fa-download"></i>
                    Xuất excel</button>
                <button type="button" class="btn btn-primary" (click)="importExcelFile()">
                    <i class="fas fa-upload"></i>
                    Import</button>
            </div>
        </div>
    </ol>
    <div class="o_cp_right">
        <div class="w-100 d-flex">
            <div class="o_searchview">
                <input class="o_searchview_input"
                    placeholder="Tìm kiếm theo số ID thẻ, hạng thẻ, tên khách hàng, điện thoại" type="text"
                    [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
                <span class="o_searchview_icon fas fa-search"></span>
            </div>
        </div>
    </div>

</div>

<div class="o_content">
    <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="pagerSettings" [loading]="loading"
        (pageChange)="onPageChange($event)">
        <kendo-grid-column title="Số ID thẻ" field="barcode">
        </kendo-grid-column>
        <kendo-grid-column title="Hạng thẻ" field="typeName" width="200">
        </kendo-grid-column>
        <kendo-grid-column title="Họ tên" field="partnerName">
        </kendo-grid-column>
        <kendo-grid-column title="Điện thoại" field="partnerPhone" width="180">
        </kendo-grid-column>
        <kendo-grid-column title="Trạng thái">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <label *ngIf="dataItem.state=='draft'">Chưa kích hoạt</label>
                <label *ngIf="dataItem.state=='in_use'" class="text-success">Đã kích hoạt</label>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column>
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                Thao tác
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button class="btn btn-success mr-2" (click)="editItem(dataItem)">
                    <i class="far fa-edit"></i></button>
                <button class="btn btn-danger" (click)="deleteItem(dataItem)">
                    <i class="far fa-trash-alt"></i></button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>