<header class="modal-header">
    <h4 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>
<div class="modal-body o_act_window">
    <form class="o_form_view" [formGroup]="formCreate" kendo-validator="validator">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="oe_title">
                    <label class="o_form_label oe_edit_only">Tên</label>
                    <h1>
                        <input class="form-control" formControlName="name">
                    </h1>
                </div>
                <div class="o_notebook">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <!-- CUSTOMER -->
                            <div class="o_group">
                                <table class="o_group o_inner_group o_group_col_6">
                                    <tbody>
                                        <tr>
                                            <td colspan="1" class="o_td_label o_td_label_left">
                                                <label class="o_form_label">Mã </label>
                                            </td>
                                            <td colspan="1" style="width: 100%;" class="o_td_control_left">
                                                <input class="form-control" formControlName="ref" />
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label">Giới tính</label>
                                        </td>
                                        <td colspan="1" style="width: 100%;">
                                            <input type="radio" class="radio-gender-male" value="Male"
                                                formControlName="gender" /> Nam
                                            <input type="radio" class="radio-gender-female" value="Female"
                                                formControlName="gender" /> Nữ
                                            <input type="radio" class="radio-gender-other" value="Other"
                                                formControlName="gender" /> Khác
                                        </td>
                                    </tr> -->
                                        <tr>
                                            <td colspan="1" class="o_td_label o_td_label_left">
                                                <label class="o_form_label">Số điện thoại</label>
                                            </td>
                                            <td colspan="1" style="width: 100%;" class="o_td_control_left">
                                                <input class="form-control" (input)="onlyGetNumbers('phone')"
                                                    maxlength="11" formControlName="phone" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="o_td_label o_td_label_left">
                                                <label class="o_form_label">Ngày sinh</label>
                                            </td>
                                            <td colspan="1" style="width: 100%;" class="o_td_control_left">
                                                <kendo-datepicker formControlName="birthDayObj" [format]="'dd/MM/yyyy'">
                                                </kendo-datepicker>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="o_td_label o_td_label_left">
                                                <label class="o_form_label">Vai trò</label>
                                            </td>
                                            <td colspan="1" style="width: 100%;" class="o_td_control_left">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="isDoctorCb">
                                                    <label class="form-check-label" for="isDoctorCb">Bác sĩ</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="isAssistantCb">
                                                    <label class="form-check-label" for="isAssistantCb">Phụ tá</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="o_group o_inner_group o_group_col_6">
                                    <tbody>
                                        <tr>
                                            <td colspan="1" class="o_td_label o_td_label_right">
                                                <label class="o_form_label">Địa chỉ</label>
                                            </td>
                                            <td colspan="1" style="width: 100%;" class="o_td_control_right">
                                                <input class="form-control" formControlName="address" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="o_td_label o_td_label_right">
                                                <label class="o_form_label">CMND</label>
                                            </td>
                                            <td colspan="1" style="width: 100%;" class="o_td_control_right">
                                                <input class="form-control" formControlName="identityCard" />
                                            </td>
                                        </tr>
                                        <!-- <tr hidden>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label">Bác sĩ/Phụ tá</label>
                                        </td>
                                        <td colspan="1" style="width: 100%;">
                                            <div class="radio">
                                                <label><input type="checkbox" formControlName="isDoctor"
                                                        (change)="check()">Bác
                                                    sĩ</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="checkbox" formControlName="isAssistant"
                                                        (change)="check()">Phụ tá</label>
                                            </div>
                                        </td>
                                    </tr> -->
                                        <tr>
                                            <td colspan="1" class="o_td_label o_td_label_right">
                                                <label class="o_form_label">Nhóm</label>
                                            </td>
                                            <td colspan="1" style="width: 100%;" class="o_td_control_right">
                                                <div class="d-flex">
                                                    <kendo-combobox formControlName="category" [data]="categoriesList"
                                                        [filterable]="true"
                                                        (filterChange)="loadAutocompleteTypes($event)"
                                                        [textField]="'name'" [valueField]="'id'">
                                                    </kendo-combobox>
                                                    <a class="btn btn-sm btn-light" (click)="quickCreateCategory()">
                                                        <span class="k-icon k-i-plus"></span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="o_td_label o_td_label_right">
                                                <label class="o_form_label">Email</label>
                                            </td>
                                            <td colspan="1" style="width: 100%;" class="o_td_control_right">
                                                <input class="form-control" formControlName="email" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm mr-2" [disabled]="!formCreate.valid"
        (click)="createUpdateEmployee()"><i class="fas fa-save"></i>&nbsp;Lưu</button>
    <button type="button" class="btn btn-light btn-sm mr-2" (click)="activeModal.dismiss()"><i
            class="fas fa-window-close"></i>&nbsp;Đóng</button>
</div>