<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>
<div class="modal-body o_act_window">
    <form class="o_form_view" [formGroup]="formCreate" kendo-validator="validator">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="oe_title">
                    <label class="o_form_label oe_edit_only">Tên nhân viên</label>
                    <h1>
                        <input class="form-control" formControlName="name">
                    </h1>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" formControlName="isDoctor" id="isDoctor">
                            <label class="form-check-label" for="isDoctor">
                                Là bác sĩ/phụ tá
                            </label>
                        </div>
                    </div>
                </div>
                <div class="o_notebook">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="o_group">
                                <table class="o_group o_inner_group o_group_col_6">
                                    <tbody>
                                        <tr>
                                            <td colspan="1" class="o_td_label">
                                                <label class="o_form_label">Mã nhân viên</label>
                                            </td>
                                            <td colspan="1" style="width: 100%;">
                                                <input class="form-control" formControlName="ref"
                                                    placeholder="Để trống tự động phát sinh" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="o_td_label">
                                                <label class="o_form_label">Số điện thoại</label>
                                            </td>
                                            <td colspan="1" style="width: 100%;">
                                                <input class="form-control" (input)="onlyGetNumbers('phone')"
                                                    maxlength="11" formControlName="phone" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="o_td_label">
                                                <label class="o_form_label">Ngày sinh</label>
                                            </td>
                                            <td colspan="1" style="width: 100%;">
                                                <kendo-datepicker formControlName="birthDay">
                                                </kendo-datepicker>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="o_td_label">
                                                <label class="o_form_label">
                                                    Bảng hoa hồng
                                                </label>
                                            </td>
                                            <td colspan="1" style="width: 100%;">
                                                <kendo-combobox [filterable]="true" [data]="listCommissions"
                                                    [textField]="'name'" #commissionCbx formControlName="commission"
                                                    [valueField]="'id'">
                                                </kendo-combobox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="o_td_label">
                                                <label class="o_form_label">Loại mẫu lương</label>
                                            </td>
                                            <td colspan="1" style="width: 100%;">
                                                <div>
                                                    <kendo-combobox formControlName="structureType" [filterable]="true"
                                                        [data]="filteredstructureTypes" [valueField]="'id'"
                                                        #structureTypeCbx [textField]="'name'">
                                                    </kendo-combobox>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr
                                            [class.d-none]="!structureTypeValue || structureTypeValue.wageType !== 'monthly'">
                                            <td colspan="1" class="o_td_label">
                                                <label class="o_form_label">Lương/tháng</label>
                                            </td>
                                            <td colspan="1" style="width: 100%;">
                                                <div>
                                                    <kendo-numerictextbox [format]="'n0'" formControlName="wage"
                                                        [autoCorrect]="true">
                                                    </kendo-numerictextbox>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr
                                            [class.d-none]="!structureTypeValue || structureTypeValue.wageType !== 'hourly'">
                                            <td colspan="1" class="o_td_label">
                                                <label class="o_form_label">Lương/giờ</label>
                                            </td>
                                            <td colspan="1" style="width: 100%;">
                                                <div>
                                                    <kendo-numerictextbox [format]="'n0'" formControlName="hourlyWage">
                                                    </kendo-numerictextbox>
                                                </div>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                                <table class="o_group o_inner_group o_group_col_6">
                                    <tbody>
                                        <tr>
                                            <td colspan="1" class="o_td_label">
                                                <label class="o_form_label">Địa chỉ</label>
                                            </td>
                                            <td colspan="1" style="width: 100%;">
                                                <input class="form-control" formControlName="address" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="o_td_label">
                                                <label class="o_form_label">CMND</label>
                                            </td>
                                            <td colspan="1" style="width: 100%;">
                                                <input class="form-control" formControlName="identityCard" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="o_td_label">
                                                <label class="o_form_label">Email</label>
                                            </td>
                                            <td colspan="1" style="width: 100%;">
                                                <input class="form-control" formControlName="email" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="o_td_label">
                                                <label class="o_form_label">
                                                    Người dùng
                                                </label>
                                            </td>
                                            <td colspan="1" style="width: 100%;">
                                                <kendo-combobox [filterable]="true" [data]="filteredUsers"
                                                    [textField]="'name'" #userCbx formControlName="user"
                                                    [valueField]="'id'">
                                                </kendo-combobox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="o_td_label">
                                                <label class="o_form_label">
                                                    Ngày bắt đầu làm việc
                                                </label>
                                            </td>
                                            <td colspan="1" style="width: 100%;">
                                                <kendo-datepicker formControlName="startWorkDate">
                                                </kendo-datepicker>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="o_td_label">
                                                <label class="o_form_label">
                                                    Mã vân tay
                                                </label>
                                            </td>
                                            <td colspan="1" style="width: 100%;">
                                                <input class="form-control" formControlName="enrollNumber" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" accesskey="s" [disabled]="!formCreate.valid"
        (click)="createUpdateEmployee()">Lưu</button>
    <button type="button" class="btn btn-secondary" accesskey="q" (click)="activeModal.dismiss()">Đóng</button>
</div>