<div class="o_cp_controller">
    <div class="o_control_panel">
        <div class="breadcrumb">
            <div class="d-flex">
                <app-tai-date-range-filter-dropdown [dateFrom]="dateFrom" title="Ngày" [dateTo]="dateTo" (searchChange)="onDateSearchChange($event)">
                </app-tai-date-range-filter-dropdown>
                <button type="button" class="btn btn-primary btn-sm mx-1" accesskey="c" (click)="createItem()" *ngIf="canCreate">Tạo phiếu nhập</button>
            </div>
        </div>
        <div class="o_cp_searchview">
            <div class="o_searchview">
                <input class="o_searchview_input" placeholder="Tìm kiếm theo số phiếu, tên đối tác..." type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
            </div>
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                </div>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">

        </div>
    </div>
</div>

<div class="o_content">
    <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading" (pageChange)="pageChange($event)">
        <kendo-grid-column field="name" title="Số phiếu" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="createdByName" title="Người tạo" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="date" title="Ngày nhập" width="120">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.date | date: 'shortDate'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="partner" title="Đối tác" width="150">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.partner ? dataItem.partner.name : ''}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="state" title="Trạng thái" width="100">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{getState(dataItem)}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="id" width="100" *ngIf="canUpdate && canDelete">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                Thao tác
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button class="btn btn-success btn-sm mr-2" title="Sửa" (click)="editItem(dataItem)" *ngIf="canUpdate">
                    <span class="far fa-edit"></span></button>
                <button class="btn btn-danger btn-sm" title="Xóa" (click)="deleteItem(dataItem)" *ngIf="canDelete">
                    <span class="far fa-trash-alt"></span></button>
            </ng-template>
        </kendo-grid-column>
        <div *kendoGridDetailTemplate="let dataItem">
            <app-stock-picking-incoming-detail [item]="dataItem"></app-stock-picking-incoming-detail>
        </div>
    </kendo-grid>
</div>