<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="active">Kết nối Zalo</li>
        </ol>
        <div class="o_cp_searchview">
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <button type="button" *ngIf="!config" class="btn btn-primary btn-sm" (click)="connectZalo()">Kết
                    nối</button>
                <button type="button" *ngIf="config" class="btn btn-primary btn-sm" (click)="deleteConfig()">Xóa kết
                    nối</button>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>


<div class="o_content">
    <div class="o_form_view" *ngIf="config">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_field_image o_field_widget oe_avatar">
                    <img class="img img-fluid" [src]="config.avatar">
                </div>
                <div class="oe_title">
                    <h1>
                        <span>{{config.name}}</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>