<div class="treatment-payment">
    <div class="treatment-payment-info"
        style="display: flex; flex-flow: row wrap; align-items:center; justify-content: space-between;">
        <div class="GAL03TOCDKB">DS phiếu điều trị/dịch vụ</div>
        <div class="GAL03TOCHKB">
            <div> <strong><span class="gwt-InlineLabel">Tổng cộng</span>: </strong> <span
                    class="gwt-InlineLabel">5.300.000&nbsp;₫</span> </div>
            <div> <strong><span class="gwt-InlineLabel">Đã trả</span>: </strong> <span
                    class="gwt-InlineLabel">2.200.000&nbsp;₫</span> </div>
            <div> <strong><span class="gwt-InlineLabel">Còn lại</span>: </strong> <span
                    class="gwt-InlineLabel">3.100.000&nbsp;₫</span> </div>
        </div>
    </div>
    <div class="GAL03TOCBKB">{{customerInfo.name}} (MSKH: {{customerInfo.ref}})
        <button type="button " class="btn btn-primary btn-sm btn-edit" (click)="addStreatment()" accesskey="c">Thêm
            phiếu điều trị
        </button>
    </div>

    <div class="GAL03TOCH3B" style="height: 75px;" *ngFor="let order of listSaleOrder">
        <span class="GAL03TOCK3B" title="Mở rộng">
            <i class="fas fa-arrows-alt"></i>
            <i *ngIf="expression" class="fas fa-compress-arrows-alt"></i>
        </span>
        <div style="display: flex; flex-flow: row nowrap; align-items: flex-start;">
            <div style="display: flex; flex-flow: row nowrap; align-items: center; height: 36px; white-space: nowrap;">
                <span class="GAL03TOCB3B">Ngày lập phiếu</span> <span
                    class="GAL03TOCN2B">{{order.dateOrder |date:'hh:mm - EEEE, dd/MM/yyyy'}}</span>
            </div>
            <div class="treatment-action">
                <select class="btn btn-light GAL03TOCJ3B">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <div class="action">
                    <button type="button" class="btn btn-outline-danger GAL03TOCL2B" title="Xóa phiếu này">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button type="button" class="btn btn-outline-primary GAL03TOCL2B"
                        title="Xem hoặc in ra phiếu điều trị này">
                        <i class="fa fa-print"></i>
                    </button>
                </div>
            </div>
        </div>
        <app-partner-customer-treatment-payment-detail></app-partner-customer-treatment-payment-detail>
    </div>

</div>