.o_form_view .oe_avatar>img {
    border-radius: 50%;
}

.info table tr .th {
    font-weight: 600;
    min-width: 140px;
    padding-bottom: 5px;
}

.info table tr td:last-child {
    padding-left: 20px;
}

.sup-label {
    font-size: 13px;
    color: #7d7070;
    margin-bottom: 5px;
}