.parent{
    background-color: #73c8de;
    position: relative;
    height: 80px;
}
.child {
    position: absolute;
    top: 100%;
    left: 50%;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

