<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small" ngbAutofocus></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <form class="o_form_view o_form_editable" [formGroup]="myForm" (submit)="onSave()">
        <div class="o_form_sheet_bg">
            <div class="o_form_statusbar">
                <div class="o_statusbar_buttons">
                    <h3 *ngIf="laboWarrantyName" class="m-0">{{laboWarrantyName}}</h3>
                </div>
                <div class="o_statusbar_status o_field_widget o_readonly_modifier">
                    <button [disabled]="true" class="btn o_arrow_button o_arrow_button_bg_primary disabled"
                        [ngClass]="getValueFC('state') != 'draft' ? 'btn-primary' : 'btn-secondary'" type="button">
                        Đơn bảo hành
                    </button>
                    <button [disabled]="true" class="btn o_arrow_button o_arrow_button_bg_primary disabled"
                        [ngClass]="getValueFC('state') === 'draft' ? 'btn-primary' : 'btn-secondary'" type="button">
                        Nháp
                    </button>
                </div>
            </div>
            <div class="o_form_sheet">
                <div class="o_group my-0">
                    <div>
                        <h5 class="m-0">THÔNG TIN CHUNG</h5>
                        <table class="o_group o_inner_group o_group_col_6">
                            <tbody>
                                <!-- <tr>
                                <td colspan="2">
                                    <h5>THÔNG TIN CHUNG</h5>
                                </td>
                            </tr> -->
                                <tr>
                                    <td class="o_td_label">
                                        <label class="o_form_label">
                                            NCC Labo
                                        </label>
                                    </td>
                                    <td class="w-100">
                                        <span>{{infoLabo?.supplierName}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="o_td_label">
                                        <label class="o_form_label">
                                            Mã phiếu Labo
                                        </label>
                                    </td>
                                    <td class="w-100">
                                        <span>{{infoLabo?.laboOrderName}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="o_td_label">
                                        <label class="o_form_label">
                                            Ngày nhận bảo hành
                                        </label>
                                    </td>
                                    <td class="w-100">
                                        <!-- <kendo-datepicker formControlName="dateReceiptObj">
                                    </kendo-datepicker> -->
                                        <ng-container *ngIf="getValueFC('state') === 'draft'; else dateReceipt">
                                            <kendo-datepicker formControlName="dateReceiptObj">
                                            </kendo-datepicker>
                                            <span *ngIf="getControlFC('dateReceiptObj')?.errors?.required"
                                                class="text-danger">
                                                Chọn ngày nhận bảo hành
                                            </span>
                                        </ng-container>
                                        <ng-template #dateReceipt>
                                            {{getValueFC('dateReceiptObj') | date:'dd/MM/yyyy'}}
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="o_group o_inner_group o_group_col_6">
                            <tbody>
                                <tr>
                                    <td class="o_td_label">
                                        <label class="o_form_label">
                                            Khách hàng
                                        </label>
                                    </td>
                                    <td class="w-100">
                                        <span>{{infoLabo?.customerName}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="o_td_label">
                                        <label class="o_form_label">
                                            Bác sĩ
                                        </label>
                                    </td>
                                    <td class="w-100">
                                        <div [class.d-none]="getValueFC('state') === 'confirmed'">
                                            <kendo-combobox #doctorCbx [data]="filteredDoctors" [textField]="'name'"
                                                [valueField]="'id'" [filterable]="true" formControlName="doctor">
                                            </kendo-combobox>
                                        </div>
                                        <span *ngIf="getValueFC('state') === 'confirmed'">
                                            {{getValueFC('doctor')?.name}}
                                        </span>
                                        <div *ngIf="f.doctor.errors && (f.doctor.touched || f.doctor.dirty || submitted)"
                                            class="text-danger">
                                            <div *ngIf="f.doctor.errors.required">Chọn bác sĩ</div>
                                        </div>
                                        <!-- <span *ngIf="getControlFC('doctor').errors?.required" class="text-danger">Chọn bác sĩ</span> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <h5 class="m-0">NỘI DUNG BẢO HÀNH</h5>
                        <table class="o_group o_inner_group o_group_col_6">
                            <tbody>
                                <!-- <tr>
                                <td colspan="2">
                                    <h5>NỘI DUNG BẢO HÀNH</h5>
                                </td>
                            </tr> -->
                                <tr>
                                    <td class="o_td_label">
                                        <label class="o_form_label">
                                            Loại phục hình
                                        </label>
                                    </td>
                                    <td class="w-100">
                                        <span>{{infoLabo?.saleOrderLineName}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="o_td_label">
                                        <label class="o_form_label">
                                            Vị trí răng
                                        </label>
                                    </td>
                                    <td class="w-100">
                                        <ng-container>
                                            <button [disabled]="getValueFC('state') !== 'draft'" *ngFor="let tooth of laboTeeth"
                                                (click)="onToothSelected(tooth)"
                                                [ngClass]="isToothSelected(tooth)? 'btn-primary':'btn-light'"
                                                type="button" class="btn btn-sm mr-1">{{tooth.name}}</button>
                                        </ng-container>
                                        <!-- <ng-template #elseTeethTemplate>
                                            {{getToothType(saleOrderLine?.toothType)?.name}}
                                        </ng-template> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td class="o_td_label">
                                        <label class="o_form_label">
                                            Lý do bảo hành
                                        </label>
                                    </td>
                                    <td class="w-100">
                                        <ng-container *ngIf="getValueFC('state') === 'draft'; else reason">
                                            <textarea type="text" formControlName="reason"
                                                class="form-control"></textarea>
                                        </ng-container>
                                        <ng-template #reason>
                                            <label style="white-space: pre-line;">
                                                {{getValueFC('reason')}}
                                            </label>
                                        </ng-template>
                                        <!-- <span *ngIf="getControlFC('reason').errors?.required" class="text-danger">Nhập lý do</span> -->
                                        <div *ngIf="f.reason.errors && (f.reason.touched || f.reason.dirty || submitted)"
                                            class="text-danger">
                                            <div *ngIf="f.reason.errors.required">Nhập lý do</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="o_group o_inner_group o_group_col_6">
                            <tbody>
                                <tr>
                                    <td class="o_td_label">
                                        <label class="o_form_label">
                                            Nội dung bảo hành
                                        </label>
                                    </td>
                                    <td class="w-100">
                                        <!-- <textarea type="text" formControlName="content" class="form-control"></textarea> -->
                                        <ng-container *ngIf="getValueFC('state') === 'draft'; else content">
                                            <textarea type="text" formControlName="content"
                                                class="form-control"></textarea>
                                        </ng-container>
                                        <ng-template #content>
                                            <label style="white-space: pre-line;">
                                                {{getValueFC('content')}}
                                            </label>
                                        </ng-template>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="o_td_label">
                                        <label class="o_form_label">
                                            Ghi chú
                                        </label>
                                    </td>
                                    <td class="w-100">
                                        <!-- <textarea type="text" formControlName="note" class="form-control"></textarea> -->
                                        <ng-container *ngIf="getValueFC('state') === 'draft'; else note">
                                            <textarea type="text" formControlName="note"
                                                class="form-control"></textarea>
                                        </ng-container>
                                        <ng-template #note>
                                            <label style="white-space: pre-line;">
                                                {{getValueFC('note')}}
                                            </label>
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<footer class="modal-footer">
    <button *ngIf="getValueFC('state') === 'draft'" type="button" class="btn btn-primary" (click)="onSave()"
        accesskey="s">Lưu</button>
    <button *ngIf="getValueFC('state') === 'draft'" type="button" class="btn btn-primary" (click)="onConfirm()"
        accesskey="s">Xác nhận</button>
    <button *ngIf="getValueFC('state') !== 'draft'" type="button" class="btn btn-danger" (click)="onCancel()"
        accesskey="s">Hủy phiếu</button>
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="onClose()" accesskey="q">Đóng</button>
</footer>