<header class="modal-header">
    <h5 class="modal-title"><span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <div>
        <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading"
            (pageChange)="pageChange($event)">
            <kendo-grid-column field="name" title="Tên">
            </kendo-grid-column>
        </kendo-grid>
    </div>
</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="activeModal.dismiss()"
        accesskey="q">Đóng</button>
</footer>