<tr *ngIf="createOrEdit" [formGroup]="thuocForm">
    <td>
        <kendo-combobox [data]="filteredProducts" [textField]="'name'" [filterable]="true" #productCbx
            formControlName="product" [valueField]="'id'">
        </kendo-combobox>
        <div *ngIf="f.product.errors && (f.product.touched || f.product.dirty || submitted)" class="text-danger">
            <div *ngIf="f.product.errors.required">Nhập tên thuốc</div>
        </div>
    </td>
    <td>
        <kendo-numerictextbox class="max-w-numberric"
            [min]="0" [format]="'n0'" formControlName="numberOfTimes">
        </kendo-numerictextbox>
    </td>
    <td>
        <kendo-numerictextbox class="max-w-numberric"
            [min]="0" [format]="'n0'" formControlName="amountOfTimes">
        </kendo-numerictextbox>
    </td>
    <td>
        <kendo-numerictextbox class="max-w-numberric"
            [min]="0" [format]="'n0'" formControlName="quantity">
        </kendo-numerictextbox>
    </td>
    <td>
        Viên
    </td>
    <td>
        <kendo-numerictextbox class="max-w-numberric"
            [min]="0" [format]="'n0'" formControlName="numberOfDays">
        </kendo-numerictextbox>
    </td>
    <td>
        <input type="text" class="form-control" formControlName="note" />
    </td>
    <td >
        <button type="button" title="Lưu" class="btn btn-success mr-1" (click)="saveLine(i)">
            <i class="fas fa-check"></i>
        </button>
        <button type="button" title="Hủy" class="btn btn-danger" (click)="cancelLine(i)">
            <i class="fas fa-times"></i>
        </button>
    </td>
</tr>
<tr *ngIf="!createOrEdit">
    <td>{{getValue('product') ? getValue('product').name : ''}}</td>
    <td>{{getValue('numberOfTimes')}}</td>
    <td>{{getValue('amountOfTimes')}}</td>
    <td>{{getValue('quantity')}}</td>
    <td>Viên</td>
    <td>{{getValue('numberOfDays')}}</td>
    <td>{{getValue('note')}}</td>
    <td>
        <button type="button" title="Sửa" class="btn btn-light btn-sm mr-1" (click)="editLine(i)">
            <span class="k-icon k-i-edit"></span>
        </button>
        <button type="button" title="Xóa" class="btn btn-light btn-sm" (click)="deleteLine(i)">
            <span class="k-icon k-i-delete"></span>
        </button>
    </td>
</tr>
