<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <form class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_12">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Tên</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input placeholder="Nhập tên ....." class="form-control"
                                        formControlName="name" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Loại</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <select class="form-control" formControlName="type">
                                        <option value="facebook">Facebook</option>
                                        <option value="zalo">Zalo</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Nội dung</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                <app-tcare-message-template-content #textTemp [textareaLength] = "getTextareaLength()"
                                *ngFor="let template of templates; index as i" 
                                [template]="template"
                                [index] = "i">

                                </app-tcare-message-template-content>
                                </td>
                            </tr>
                            <!-- <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Khuyến mãi</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-combobox [data]="listCoupon" [textField]="'name'"  [placeholder]="'chọn khuyến mãi...'"
                                        [filterable]="true" #couponCbx formControlName="couponProgram"
                                        [valueField]="'id'">
                                    </kendo-combobox>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSave()" accesskey="s">Lưu</button>
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="activeModal.dismiss()"
        accesskey="q">Đóng</button>
</footer>