<div>
    <div
        style="margin-top: 20px; margin-bottom: 5px;display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-between;">
        <div style="font-weight: 600; text-transform: uppercase; font-size: 12px;"> <span>Kế hoạch điều trị/dịch
                vụ</span> <i class="fa fa-question-circle tooltipIcon"
                title="Các thủ thuật/công việc/dịch vụ được DỰ ĐỊNH thực hiện."></i> </div>
        <div style="font-weight: 300; font-size: 13px;">Tổng dự toán: 1.500.000&nbsp;₫</div>
    </div>
    <div>
        <div class="ProcedureItemView">
            <div class="ProcedureItemView-date"><strong>Ngày</strong></div>
            <div class="ProcedureItemView-teeth"><strong>Răng</strong></div>
            <div class="ProcedureItemView-quantity"><strong>SL</strong></div>
            <div class="ProcedureItemView-name"><strong>Điều trị/dịch vụ</strong></div>
            <div class="ProcedureItemView-name ProcedureItemView-note" style="font-style: normal;"><strong>Ghi
                    chú</strong></div>
            <div class="ProcedureItemView-doctor" style="text-transform: none;"><strong>Bác sĩ &amp; phụ tá</strong>
            </div>
            <div class="ProcedureItemView-amount" style="text-align: center;"><strong>Chi phí</strong></div>
            <div class="ProcedureItemView-amount" style="text-align: center;"><strong>Giảm giá</strong></div>
            <div class="ProcedureItemView-actions"><button type="button" class="btn btn-success"
                    style="width: 100%; height: 25px; padding: 2px;"><img src="images/icon_plus_white.svg"
                        style="width: 18px;"></button></div>
        </div>
        <div class="ProcedureItemView">
            <div class="ProcedureItemView-date">17/06</div>
            <div class="ProcedureItemView-teeth"></div>
            <div class="ProcedureItemView-quantity">1</div>
            <div class="ProcedureItemView-name">Bộ giữ khoảng cố định</div>
            <div class="ProcedureItemView-name ProcedureItemView-note">ádasdasd</div>
            <div class="ProcedureItemView-doctor">Đặng Thế Tài</div>
            <div class="ProcedureItemView-amount">1.500.000&nbsp;₫</div>
            <div class="ProcedureItemView-amount">0&nbsp;₫</div>
            <div class="ProcedureItemView-actions"><button type="button" class="btn btn-light ProcedureItemView-btn"
                    title="Chức năng"><i class="fa fa-ellipsis-h"></i></button></div>
        </div>
    </div>
</div>