<div class="plugin-textarea dropdown position-absolute text-dark rounded border shadow-sm">
    <!-- <span class="px-1" data-toggle="dropdown">
        <i class="fas fa-laugh"></i>
    </span> -->
    <!-- <emoji-mart class="dropdown-menu p-0 border-0" (emojiSelect)="selectEmoji($event)"></emoji-mart> -->
    <span class="px-1">
        <i class="fas fa-user" [ngbPopover]="popContent" #popOver="ngbPopover" triggers="manual"  [autoClose]="'outside'" placement="bottom left" (click)="toggleWithGreeting(popOver)"></i>
        <ng-template #popContent>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Tên khách hàng</li>
                <li class="list-group-item">Giới tính</li>
                <li class="list-group-item">Tên chi nhánh</li>             
            </ul>
        </ng-template>
    </span>
    <span class="px-1">{{num_CharLeft}}</span>
</div>
