<!-- <div class="t_wrapper">
    <div class="t_wrapper_top">
        <div class="t_fast_access">
            <h4 class="header-title">TRUY CẬP NHANH</h4>
            <div class="t_kanban">
                <a *ngIf="canAppointmentLink" [routerLink]="['/appointments/kanban']" class="card bg-primary t_card">
                    <div class="card-body">
                        <div class="d-flex">
                            <img class="image-custom" src="./assets/images/icons-tdental/calendar.png" alt="Lịch hẹn">
                            <span class="title-custom">LỊCH HẸN</span>
                        </div>
                    </div>
                </a>
                <a *ngIf="canCustomerLink" [routerLink]="['/partners/customers']" class="card bg-primary t_card">
                    <div class="card-body">
                        <div class="d-flex">
                            <img class="image-custom" src="./assets/images/icons-tdental/KH.png" alt="Lịch hẹn">
                            <span class="title-custom"> KHÁCH HÀNG</span>
                        </div>
                    </div>
                </a>
                <div class="t_card t_card_ghost"></div>
                <div class="t_card t_card_ghost"></div>
            </div>
        </div>
        <div class="t_report_today">
            <h4 class="header-title">BÁO CÁO HÔM NAY</h4>
            <div class="t_report_today_detail">
                <div class="t_kanban_left">
                    <app-dashboard-sale-report *ngIf="canSaleReport" class="card t_card_right border-secondary">
                    </app-dashboard-sale-report>
                    <app-dashboard-cash-bank-report *ngIf="canCashBankReport"
                        class="card t_card_right border-secondary"></app-dashboard-cash-bank-report>
                    <app-dashboard-partner-customer-report *ngIf="canPartnerCustomerReport"
                        class="card t_card_right border-secondary"></app-dashboard-partner-customer-report>
                    <app-dashboard-labo-order-report *ngIf="canLaboOrderReport"
                        class="card t_card_right border-secondary"></app-dashboard-labo-order-report>
                    <div class="t_card_right t_card_ghost"></div>
                    <div class="t_card_right t_card_ghost"></div>
                </div>
                <div class="t_kanban_right">
                    <div *ngIf="canCashBankReport" class="card border-secondary"> 
                        <div class="card-body p3">
                            <app-cash-bank-today-report ></app-cash-bank-today-report>   
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <app-appointment-list-today *ngIf="canAppointment"></app-appointment-list-today>
    </div>
    <div>
        <app-dashboard-service-today-report *ngIf="canSaleReport"></app-dashboard-service-today-report>
    </div>
</div> -->
<!-- <div class="section_wrap">
    <div class="section-left">
        <div class="report">
            <div class="revenue">
                <div class="title">
                    <h6>Quỹ tiền mặt</h6>
                </div>
                <h4 class="text-primary">
                 0
                </h4>
            </div>         
        </div>
    </div>

    <div class="section-right">

    </div>
</div> -->
<div class="app-container">
    <div class="app-content">
        <div class="app-content-left">
            <div class="reports-section">
                <div class=" report-boxes gridViewReport d-flex justify-content-between">
                    <div class="report-box">
                        <div class="box-item">
                            <div class="box-item-content">
                                <p class="box-content-header">Quỹ tiền mặt</p>
                                <p class="box-content-subheader">10.000.000</p>
                            </div>
                        </div>
                    </div>
                    <div class="report-box">
                        <div class="box-item">
                            <div class="box-item-content">
                                <p class="box-content-header">Phiếu điều trị mới</p>
                                <p class="box-content-subheader">5</p>
                            </div>
                        </div>
                    </div>
                    <div class="report-box">
                        <div class="box-item">
                            <div class="box-item-content">
                                <p class="box-content-header">Khám mới</p>
                                <p class="box-content-subheader">10</p>
                            </div>
                        </div>
                    </div>
                    <div class="report-box">
                        <div class="box-item">
                            <div class="box-item-content">
                                <p class="box-content-header">Tái khám</p>
                                <p class="box-content-subheader">5</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="appointments-section">
                <div class="section-header">
                    <div class="section-header-left">
                        <h5 class="text-primary">TIẾP NHẬN KHÁCH HÀNG</h5>
                    </div>
                    <div class="section-header-right">
                        <div class="d-flex header-buttons-view">
                            <div class="mr-1">
                                <button class="btn btn-primary"><i class="fas fa-plus-circle mr-1"></i>Thêm tiếp
                                    nhận</button>
                            </div>
                            <kendo-combobox (selectionChange)="onChangeLaboStatus($event)" placeholder="Lọc theo bác sĩ"
                                class="header-combobox mr-1" [data]="filterLabo" [textField]="'name'"
                                [valueField]="'value'">
                            </kendo-combobox>
                            <div class="has-search">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input #searchInput accesskey="C" class="form-control header-search size-text-12"
                                    placeholder="Tìm kiếm theo họ tên, sđt .. " type="text" [(ngModel)]="search"
                                    (ngModelChange)="this.searchUpdate.next($event)" (keyup)="onKeyUp($event);">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="state-filter-wrapper">
                    <button type="button" *ngFor="let state of states" class="btn active"
                        (click)="setStateFilter(state.value)" [class.btn-primary]="stateFilter == state.value"
                        [class.btn-light]="stateFilter != state.value">
                        {{state.text}} <span class="ml-1">{{stateCount[state.value] || 0}}</span>
                    </button>
                </div>
                <div class="appointment-boxes gridView">
                    <div class="project-box-wrapper">
                        <div class="project-box">
                            <div class="project-box-header">
                                <span class="box-header-badge badge-outline-warning">Đang khám</span>
                                <div class="more-wrapper">
                                    <i class="fas fa-pen text-primary mr-1 project-btn-more"></i>
                                    <i class="far fa-trash-alt text-danger project-btn-more "></i>

                                </div>
                            </div>
                            <div class="box-info-wrapper">
                                <ul class="info_nav">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <a [routerLink]="">Nguyễn Tuấn Anh</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <span>Nguyễn Tuấn Anh</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-clock"></i>
                                        <span>7:00</span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="project-box-wrapper">
                        <div class="project-box">
                            <div class="project-box-header">
                                <span class="box-header-badge badge-outline-success">Hoàn thành</span>
                                <div class="more-wrapper">
                                    <i class="far fa-edit text-success mr-1 project-btn-more "></i>
                                    <i class="far fa-trash-alt text-danger project-btn-more "></i>
                                </div>
                            </div>
                            <div class="box-info-wrapper">
                                <ul class="info_nav">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <a [routerLink]="">Nguyễn Tuấn Anh</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <span>Nguyễn Tuấn Anh</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-clock"></i>
                                        <span>7:00</span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="project-box-wrapper">
                        <div class="project-box">
                            <div class="project-box-header">
                                <span class="box-header-badge badge-outline-info">Đang khám</span>
                                <div class="more-wrapper">
                                    <i class="far fa-edit text-success mr-1 project-btn-more "></i>
                                    <i class="far fa-trash-alt text-danger project-btn-more "></i>
                                </div>
                            </div>
                            <div class="box-info-wrapper">
                                <ul class="info_nav">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <a [routerLink]="">Nguyễn Tuấn Anh</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <span>Nguyễn Tuấn Anh</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-clock"></i>
                                        <span>7:00</span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="project-box-wrapper">
                        <div class="project-box">
                            <div class="project-box-header">
                                <span class="box-header-badge badge-outline-warning">Đang khám</span>
                                <div class="more-wrapper">
                                    <i class="far fa-edit text-success mr-1 project-btn-more "></i>
                                    <i class="far fa-trash-alt text-danger project-btn-more "></i>

                                </div>
                            </div>
                            <div class="box-info-wrapper">
                                <ul class="info_nav">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <a [routerLink]="">Nguyễn Tuấn Anh</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <span>Nguyễn Tuấn Anh</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-clock"></i>
                                        <span>7:00</span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="project-box-wrapper">
                        <div class="project-box">
                            <div class="project-box-header">
                                <span class="box-header-badge badge-outline-success">Hoàn thành</span>
                                <div class="more-wrapper">
                                    <i class="far fa-edit text-success mr-1 project-btn-more "></i>
                                    <i class="far fa-trash-alt text-danger project-btn-more "></i>
                                </div>
                            </div>
                            <div class="box-info-wrapper">
                                <ul class="info_nav">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <a [routerLink]="">Nguyễn Tuấn Anh</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <span>Nguyễn Tuấn Anh</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-clock"></i>
                                        <span>7:00</span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="project-box-wrapper">
                        <div class="project-box">
                            <div class="project-box-header">
                                <span class="box-header-badge badge-outline-info">Đang khám</span>
                                <div class="more-wrapper">
                                    <i class="far fa-edit text-success mr-1 project-btn-more "></i>
                                    <i class="far fa-trash-alt text-danger project-btn-more "></i>
                                </div>
                            </div>
                            <div class="box-info-wrapper">
                                <ul class="info_nav">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <a [routerLink]="">Nguyễn Tuấn Anh</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <span>Nguyễn Tuấn Anh</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-clock"></i>
                                        <span>7:00</span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="project-box-wrapper">
                        <div class="project-box">
                            <div class="project-box-header">
                                <span class="box-header-badge badge-outline-warning">Đang khám</span>
                                <div class="more-wrapper">
                                    <i class="far fa-edit text-success mr-1 project-btn-more "></i>
                                    <i class="far fa-trash-alt text-danger project-btn-more "></i>

                                </div>
                            </div>
                            <div class="box-info-wrapper">
                                <ul class="info_nav">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <a [routerLink]="">Nguyễn Tuấn Anh</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <span>Nguyễn Tuấn Anh</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-clock"></i>
                                        <span>7:00</span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="project-box-wrapper">
                        <div class="project-box">
                            <div class="project-box-header">
                                <span class="box-header-badge badge-outline-success">Hoàn thành</span>
                                <div class="more-wrapper">
                                    <i class="far fa-edit text-success mr-1 project-btn-more "></i>
                                    <i class="far fa-trash-alt text-danger project-btn-more "></i>
                                </div>
                            </div>
                            <div class="box-info-wrapper">
                                <ul class="info_nav">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <a [routerLink]="">Nguyễn Tuấn Anh</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <span>Nguyễn Tuấn Anh</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-clock"></i>
                                        <span>7:00</span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="project-box-wrapper">
                        <div class="project-box">
                            <div class="project-box-header">
                                <span class="box-header-badge badge-outline-info">Đang khám</span>
                                <div class="more-wrapper">
                                    <i class="far fa-edit text-success mr-1 project-btn-more "></i>
                                    <i class="far fa-trash-alt text-danger project-btn-more "></i>
                                </div>
                            </div>
                            <div class="box-info-wrapper">
                                <ul class="info_nav">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <a [routerLink]="">Nguyễn Tuấn Anh</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <span>Nguyễn Tuấn Anh</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-clock"></i>
                                        <span>7:00</span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="project-box-wrapper">
                        <div class="project-box">
                            <div class="project-box-header">
                                <span class="box-header-badge badge-outline-warning">Đang khám</span>
                                <div class="more-wrapper">
                                    <i class="far fa-edit text-success mr-1 project-btn-more "></i>
                                    <i class="far fa-trash-alt text-danger project-btn-more "></i>

                                </div>
                            </div>
                            <div class="box-info-wrapper">
                                <ul class="info_nav">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <a [routerLink]="">Nguyễn Tuấn Anh</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <span>Nguyễn Tuấn Anh</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-clock"></i>
                                        <span>7:00</span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="project-box-wrapper">
                        <div class="project-box">
                            <div class="project-box-header">
                                <span class="box-header-badge badge-outline-success">Hoàn thành</span>
                                <div class="more-wrapper">
                                    <i class="far fa-edit text-success mr-1 project-btn-more "></i>
                                    <i class="far fa-trash-alt text-danger project-btn-more "></i>
                                </div>
                            </div>
                            <div class="box-info-wrapper">
                                <ul class="info_nav">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <a [routerLink]="">Nguyễn Tuấn Anh</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <span>Nguyễn Tuấn Anh</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-clock"></i>
                                        <span>7:00</span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sale-order-line-section">
                <div class="section-header">
                    <div class="section-header-left">
                        <h5 class="text-primary"> DỊCH VỤ TRONG NGÀY</h5>
                    </div>
                    <div class="section-header-right">
                        <div class="d-flex header-buttons-view">
                            <div class="mr-1">
                                <button class="btn btn-primary">Xuất excel</button>
                            </div>
                            <div class="has-search">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input #searchInput accesskey="C" class="form-control header-search size-text-12"
                                    placeholder="Tìm kiếm theo họ tên, sđt .. " type="text" [(ngModel)]="search"
                                    (ngModelChange)="this.searchUpdate.next($event)" (keyup)="onKeyUp($event);">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="sale-order-line">
                    <kendo-grid [height]="300" [resizable]="true" [kendoGridBinding]="gridView" [sortable]="true"
                        (dataStateChange)="dataStateChange($event)">
                        <!-- <ng-template kendoGridToolbarTemplate>
                        <div class="d-flex">
                            <div class="input-group w-50">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                                </div>
                                <input type="text" class="form-control" kendoTextBox (input)="onFilter($event.target.value)"
                                    placeholder="Tìm kiếm nhanh" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <button (click)="exportServiceExcelFile()" type="button" class="ml-3 btn float-right btn-primary btn-sm"><i
                                    class="far fa-file-excel"></i> Xuất
                                Excel</button>
                        </div>
                    </ng-template> -->
                        <kendo-grid-column [headerClass]="{'text-center font-weight-bold':true}" field="order.name"
                            title="Phiếu điều trị" class="text-center" width="150">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <a class="text-primary cursor-pointer"
                                    title="Chuyển đến phiếu điều trị {{dataItem.order.name}}"
                                    (click)="redirectSaleOrder(dataItem.order)">{{dataItem.order.name}}</a>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [headerClass]="{'font-weight-bold':true}" field="orderPartner.displayName"
                            title="Khách hàng" width="150">
                        </kendo-grid-column>
                        <kendo-grid-column [headerClass]="{'font-weight-bold':true}" field="employee.name"
                            title="Bác sĩ" width="150">
                        </kendo-grid-column>
                        <kendo-grid-column [headerClass]="{'font-weight-bold':true}" field="teeth" title="Răng"
                            width="120">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                {{getTeethDisplay(dataItem.teeth)}}
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [headerClass]="{'font-weight-bold':true}" field="diagnostic"
                            title="Chuẩn đoán" width="150">
                        </kendo-grid-column>
                        <kendo-grid-column [headerClass]="{'font-weight-bold':true}" class="text-right"
                            field="productUOMQty" title="Số lượng" width="100">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                {{dataItem.productUOMQty | number}}
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [headerClass]="{'font-weight-bold':true}" field="name" title="Dịch vụ"
                            width="150">
                        </kendo-grid-column>
                        <kendo-grid-column [headerClass]="{'font-weight-bold':true}" field="priceSubTotal"
                            class="text-right" title="Thành tiền" width="150">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                {{dataItem.priceSubTotal | number}}
                            </ng-template>

                        </kendo-grid-column>
                        <kendo-grid-column [headerClass]="{'font-weight-bold':true}" field="amount" class="text-right"
                            title="Thanh toán" width="150">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                {{(dataItem.priceSubTotal - dataItem.amountResidual) | number}}
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [headerClass]="{'font-weight-bold':true}" class="text-right"
                            field="amountResidual" title="Còn lại" width="150">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                {{dataItem.amountResidual | number}}
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column class="text-center" [headerClass]="{'text-center font-weight-bold':true}"
                            field="order.state" title="Trạng thái" width="150">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                {{getStateDisplay(dataItem.state)}}
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-excel fileName="Danh_sach_dich_vu.xlsx"></kendo-grid-excel>
                    </kendo-grid>
                </div>
            </div>
        </div>
        <div class="app-content-right">
            <div class="appointments-today-section">
                <div class="appointments-today">
                    <div class="appointments-today-header ">
                        <div class="d-flex justify-content-between mb-2">
                            <div>
                                <h6 class="text-primary">LỊCH HẸN HÔM NAY</h6>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-sm"><i class="fas fa-plus-circle mr-1"></i>Thêm lịch
                                    hẹn</button>
                            </div>
                        </div>
                        <div class="has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input #searchInput accesskey="C" class="form-control header-search size-text-12"
                                placeholder="Tìm kiếm theo bác sĩ, họ tên, sđt " type="text" [(ngModel)]="search"
                                (ngModelChange)="this.searchUpdate.next($event)" (keyup)="onKeyUp($event);">

                        </div>
                        <div class="appointments-today-filter-state">
                            <button type="button" *ngFor="let state of appointmentstates" class="btn active"
                                (click)="setStateFilter(state.value)" [class.btn-primary]="stateFilter == state.value"
                                [class.btn-light]="stateFilter != state.value">
                                {{state.text}} <span class="ml-1">0</span>
                            </button>
                        </div>
                    </div>
                    <div class="appointment-today-items">
                        <div class="appointment-today-box">
                            <div class="box-content appointment-today-box_examination">
                                <div class="box-header">
                                    <div class="appointment-state">
                                        <span class="text-primary">Đang hẹn</span>
                                    </div>
                                    <div class="appointment-manipulation text-center">
                                        <i class="fas fa-pen text-primary project-btn-more"></i>
                                        <i class="fas fa-sign-in-alt text-primary project-btn-more"></i>
                                    </div>
                                </div>
                                <ul class="info_nav">
                                    <li>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <i class="fas fa-user"></i>
                                                <a [routerLink]="">Nguyễn Tuấn Anh</a>
                                            </div>
                                            <div class="timer">
                                                <span>7:00</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <span>0758425612</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <span>Nguyễn Tuấn Anh</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="appointment-today-box ">
                            <div class="box-content appointment-today-box_arrived">
                                <div class="box-header">
                                    <div class="appointment-state">
                                        <span class="text-success">Đã đến</span>
                                    </div>
                                    <div class="appointment-manipulation text-center">
                                        <i class="fas fa-pen text-primary project-btn-more"></i>
                                        <i class="fas fa-sign-in-alt text-primary project-btn-more"></i>
                                    </div>
                                </div>
                                <ul class="info_nav">
                                    <li>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <i class="fas fa-user"></i>
                                                <a [routerLink]="">Nguyễn Tuấn Anh</a>
                                            </div>
                                            <div class="timer">
                                                <span>7:00</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <span>0758425612</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <span>Nguyễn Tuấn Anh</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="appointment-today-box ">
                            <div class="box-content appointment-today-box_cancel">
                                <div class="box-header">
                                    <div class="appointment-state">
                                        <span class="text-danger">Hủy hẹn</span>
                                    </div>
                                    <div class="appointment-manipulation text-center">
                                        <i class="fas fa-pen text-primary project-btn-more"></i>
                                        <i class="fas fa-sign-in-alt text-primary project-btn-more"></i>
                                    </div>
                                </div>
                                <ul class="info_nav">
                                    <li>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <i class="fas fa-user"></i>
                                                <a [routerLink]="">Nguyễn Tuấn Anh</a>
                                            </div>
                                            <div class="timer">
                                                <span>7:00</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <span>0758425612</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <span>Nguyễn Tuấn Anh</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="appointment-today-box ">
                            <div class="box-content appointment-today-box_examination">
                                <div class="box-header">
                                    <div class="appointment-state">
                                        <span class="text-primary">Đang hẹn</span>
                                    </div>
                                    <div class="appointment-manipulation text-center">
                                        <i class="fas fa-pen text-primary project-btn-more"></i>
                                        <i class="fas fa-sign-in-alt text-primary project-btn-more"></i>
                                    </div>
                                </div>
                                <ul class="info_nav">
                                    <li>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <i class="fas fa-user"></i>
                                                <a [routerLink]="">Nguyễn Tuấn Anh</a>
                                            </div>
                                            <div class="timer">
                                                <span>7:00</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <span>0758425612</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-user"></i>
                                        <span>Nguyễn Tuấn Anh</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="income-report-section mt-2">
                <div class="income-report">
                    <div class="income-report-header">
                        <div>
                            <h6 class="text-primary">DOANH THU</h6>
                        </div>
                    </div>
                    <div class="income-report-chart">
                        <div class="income-report-chart-header">
                            <div class="text-center justify-content-center">
                                <p class="box-content-header">Tổng doanh thu</p>
                                <p class="box-content-subheader">60.000.000</p>
                            </div>
                        </div>
                        <kendo-chart [style.height.px]="250">
                            <!-- <kendo-chart-legend position="bottom">
                                <kendo-chart-legend-item cursor="crosshair"></kendo-chart-legend-item>
                            </kendo-chart-legend> -->
                            <kendo-chart-series>
                                <kendo-chart-series-item type="pie" [data]="pieData" field="value"
                                    categoryField="category">
                                </kendo-chart-series-item>
                            </kendo-chart-series>
                        </kendo-chart>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
