.h-12 {
    height: 12% !important;
}

.h-88 {
    height: 88% !important;
}

.h-35 {
    height: 35% !important;
}

.h-65 {
    height: 65% !important;
}

.h-37 {
    height: 37% !important;
}

.h-63 {
    height: 63% !important;
}

.header-title {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #007bff!important;
}

.image {
    margin-right: 5px;
    width: 40%;
}

.title {
    font-size: 100%;
    font-weight: 600;
    width: 70%;
    text-align: center;
}

.w-32 {
    width: 32% !important;
}

.p-3-cu {
    padding: 2%;
}

.mh-header {
    min-height: 300px;
}

.mh-body {
    min-height: 400px;
}

.mw-cu {
    min-width: 1100px;
}