<div class="w-100 h-100 d-flex flex-column bg-white p-3">
    <div class="w-100 d-flex">
        <div class="w-40 py-3 pr-3">
            <h4 class="font-weight-bold">TRUY CẬP NHANH</h4>
            <div class="d-flex border-bottom border-secondary my-3 pb-3">
                <div class="w-50 pr-3">
                    <button type="button" class="btn btn-primary w-100 h-100">
                        <i class="far fa-calendar-alt"></i>
                        Lịch hẹn
                    </button>
                </div>
                <div class="w-50 pl-3">
                    <button type="button" class="btn btn-primary w-100 h-100">
                        <i class="far fa-address-book"></i>
                        Khách hàng
                    </button>
                </div>
            </div>
            <div class="d-flex border-bottom border-secondary my-3 pb-3">
                <div class="w-50 pr-3">
                    <button type="button" class="btn btn-primary w-100 h-100">
                        Mua hàng
                    </button>
                </div>
                <div class="w-50 pl-3">
                    <button type="button" class="btn btn-primary w-100 h-100">
                        Phiếu thu - Điều trị nhanh
                    </button>
                </div>
            </div>
            <div class="d-flex border-bottom border-secondary my-3 pb-3">
                <div class="w-50 pr-3">
                    <button type="button" class="btn btn-primary w-100 h-100">
                        Chấm công
                    </button>
                </div>
                <div class="w-50 pl-3">
                    <button type="button" class="btn btn-primary w-100 h-100">
                        Tạo phiếu labo
                    </button>
                </div>
            </div>
        </div>
        <div class="w-60 border border-secondary p-3">
            <h4 class="font-weight-bold">BÁO CÁO HÔM NAY</h4>
            <div class="d-flex justify-content-between my-3">
                <div class="w-30 d-flex flex-column text-center border border-secondary rounded py-2">
                    <span>DOANH THU</span>
                    <h4>50.000.000</h4>
                </div>
                <div class="w-30 d-flex flex-column text-center border border-secondary rounded py-2">
                    <span>THANH TOÁN</span>
                    <h4>30.000.000</h4>
                </div>
                <div class="w-30 d-flex flex-column text-center border border-secondary rounded py-2">
                    <span>TIỀN MẶT</span>
                    <h4>15.000.000</h4>
                </div>
            </div>
            <div class="d-flex justify-content-between my-3">
                <div class="w-30 d-flex flex-column text-center border border-secondary rounded py-2">
                    <span>LABO TỚI HẸN</span>
                    <h4>5</h4>
                </div>
                <div class="w-30 d-flex flex-column text-center border border-secondary rounded py-2">
                    <span>KHÁCH MỚI/ CŨ</span>
                    <h4>8/5</h4>
                </div>
                <div class="w-30 d-flex flex-column text-center border border-secondary rounded py-2">
                    <span>ĐIỀU TRỊ MỚI/ TÁI KHÁM</span>
                    <h4>8/5</h4>
                </div>
            </div>
            <div class="d-flex justify-content-between my-3">
                <div class="w-30 d-flex flex-column text-center border border-secondary rounded py-2">
                    <span>DỊCH VỤ</span>
                    <h4>15</h4>
                </div>
                <div class="w-30 d-flex flex-column text-center border border-secondary rounded py-2">
                    <span>KHÁCH ĐANG HẸN</span>
                    <h4>1</h4>
                </div>
                <div class="w-30 d-flex flex-column text-center border border-secondary rounded py-2">
                    <span>TỈ LỆ ĐẾN/ LỊCH HẸN</span>
                    <h4>13/18</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 h-100 mt-3">
        <div class="d-flex flex-column h-100">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="font-weight-bold">DỊCH VỤ TRONG NGÀY</h4>
                <input class="form-control w-30" type="text" placeholder="Tìm kiếm..">
            </div>
            <div class="t-conTable">
                <div class="t-parTable t-scrollbar">
                    <table class="t-sticky-thead t-sticky-col-left t-thead-nowrap t-tbody-nowrap">
                        <thead>
                            <tr>
                                <th>Khách hàng</th>
                                <th>Bác sĩ</th>
                                <th>Răng</th>
                                <th>Chuẩn đoán</th>
                                <th>Dịch vụ</th>
                                <th>Tổng tiền</th>
                                <th>Thanh toán</th>
                                <th>Còn nợ</th>
                                <th>Tái khám</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>