.btn-tab {
    color: white !important;
}
.btn-tab:hover {
    opacity: 0.5;
}

.popover-d-contents{
    border: none !important;
}
.popover-d-contents .popover-body{
    display: contents !important;
}
