<a [ngbPopover]="popContent" popoverClass="popover-xl" [autoClose]="'outside'" [popoverTitle]="popTitle"
    #popOver="ngbPopover" [placement]="popOverPlace" data-container="body" triggers="manual"
    (click)="toggleWithTags(popOver, tags)">
    <span *ngFor="let tag of tags" class="badge badge-secondary mr-1" [ngClass]="'o_tag_color_' + tag.Color">
        {{tag.name}}
    </span>
    <span class="badge badge-info">
        <i class="fa fa-tags"></i>
    </span>
</a>

<ng-template #popTitle>
    <div class="d-flex align-items-center">
        <span>{{title}}</span>
        <button type="button" class="close ml-auto" (click)="popOver.close()" tabindex="-1">×</button>
    </div>
</ng-template>

<ng-template #popContent let-mytags="mytags">
    <div>
        <kendo-multiselect [filterable]="true" #multiSelect class="mr-3" [data]="dataSource" [(ngModel)]="mytags"
            [textField]="'name'" [valueField]="'id'" [popupSettings]="{appendTo: 'component'}">
        </kendo-multiselect>
        <button type="button" class="btn btn-sm mt-1 btn-primary" (click)="update(mytags)" accesskey="c">
            Lưu
        </button>
    </div>
</ng-template>