<div class="row">
    <div class="col-4">
        <div class="wrapper-sm">
            <a class="pull-right btn btn-sm btn-info m-t-n-xs" (click)="createRole()">Thêm</a>
            <div class="h4">Danh sách</div>
        </div>
        <div class="vbox">
            <div class="list-group">
                <a class="list-group-item" *ngFor="let role of roles" (click)="selectRole(role)">{{role.name}}</a>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="wrapper-sm">
            <div *ngIf="displayRole">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Tên nhóm" [(ngModel)]="displayRole.name">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-success" (click)="onSave()">
                            <i class="fa fa-save"></i> Lưu
                        </button>
                    </span>
                </div>
                <div class="example-config">
                    Checked keys: {{functions.join(",")}}
                </div>
                <div>
                    <kendo-treeview kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
                        [nodes]="features" textField="text" [children]="fetchChildren" [hasChildren]="hasChildren"
                        [(checkedKeys)]="checkedKeys" (checkedChange)="handleChecking($event)">
                    </kendo-treeview>
                </div>
            </div>
        </div>
    </div>
</div>