<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="active">Nhóm quyền</li>
        </ol>
        <div class="o_cp_searchview">
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <button type="button" class="btn btn-primary btn-sm" accesskey="c"
                        (click)="createRole()">Thêm</button>
                </div>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
            <button type="button" class="btn btn-primary btn-sm" accesskey="s" (click)="onSave()">
                <i class="fa fa-save"></i> Lưu</button>
        </div>
    </div>
</div>

<div class="o_content">
    <div class="hbox">
        <div class="hbox-left">
            <div class="m-2">
                <div *ngIf="rolesPaged">
                    <div class="list-group">
                        <a class="list-group-item rounded-0" [class.list-group-item-secondary]="selectedRole == role"
                            *ngFor="let role of rolesPaged.items" (click)="selectRole(role)">
                            {{role.name}}
                            <span (click)="deleteRole(role, $event)" class="float-right text-muted">
                                <i class="fa fa-times"></i></span>
                        </a>
                    </div>
                    <div class="mt-2 text-center">
                        <ngb-pagination [collectionSize]="rolesPaged.totalItems" [(page)]="page" [pageSize]="pageSize"
                            (pageChange)="onPageChange($event)" aria-label="Default pagination"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
        <div class="hbox-right">
            <div class="o_form_view" *ngIf="displayRole">
                <div class="o_form_sheet_bg">
                    <div class="o_form_sheet m-2 mx-auto">
                        <div class="oe_title">
                            <label class="o_form_label oe_edit_only">Tên nhóm quyền</label>
                            <h1>
                                <input type="text" class="form-control" [(ngModel)]="displayRole.name">
                            </h1>
                        </div>
                        <div>
                            <h4 class="o_horizontal_separator text-dark">Người dùng</h4>
                            <div>
                                <button type="button" [class.btn-light]="!isUserSelected(user)" title="Cho vào nhóm"
                                    class="btn btn-sm mr-2" [class.btn-success]="isUserSelected(user)"
                                    *ngFor="let user of userList" (click)="selectUser(user)">{{user.name}}</button>
                            </div>
                        </div>
                        <div>
                            <h4 class="o_horizontal_separator text-dark">Phân quyền</h4>
                            <div class="row">
                                <div class="col-4" *ngFor="let group of featureGroups">
                                    <div hasGroups [groups]="group.groups">
                                        <kendo-treeview kendoTreeViewExpandable
                                            [kendoTreeViewCheckable]="checkableSettings"
                                            (childrenLoaded)="onChildrenLoaded($event)" [checkBy]="'permission'"
                                            [(checkedKeys)]="checkedKeys" [isChecked]="isChecked" [nodes]="[group]"
                                            textField="name" [children]="fetchChildren" [hasChildren]="hasChildren">
                                        </kendo-treeview>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>