<div class="d-flex flex-column h-100">
    <div class="pb-1 flex-0-0-auto has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input #searchInput accesskey="C" class="form-control size-text-14" placeholder="Tìm kiếm [F2]..." type="text"
            [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)" (keyup)="onKeyUp($event);">
    </div>
    <!-- Component Form Service List -->
    <div class="flex--1-1-100 overflow-auto">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>
                        Dịch vụ <a (click)="createProductService()"><i class="fas fa-plus text-primary"></i></a>
                    </th>
                    <th>
                        Đơn giá
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="cursor" (click)="addServiceToSaleOrder(item)"
                    *ngFor="let item of listProducts;let i = index">
                    <td [title]="item.name">{{item.Name}}</td>
                    <td class="text-right">{{item.ListPrice | number}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Component Form Service Search -->