<div class="d-flex flex-column h-100">
    <div class="d-flex align-items-end py-1 flex-0-0-auto">
        <input #searchInput accesskey="C" class="form-control form-control-sm mx-1" placeholder="Tìm kiếm theo mã hoặc tên..." type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)" (keyup)="onKeyUp($event);">
    </div>
    <!-- Component Form Service List -->
    <div class="flex--1-1-100 overflow-auto">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th *ngFor="let item of thTable_services">
                        {{item.name}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr (click)="addServiceToSaleOrder(item)" *ngFor="let item of listProducts;let i = index">
                    <td [title]="item.name">{{item.Name}}</td>
                    <td class="text-right">{{item.ListPrice | number}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Component Form Service Search -->