.flex-0-0-auto {
    flex: 0 0 auto;
}

.flex-1-1-100 {
    flex: 1 1 100%;
}

.sticky-th {
    position: sticky;
    z-index: 3;
    top: -1px;
    border: 1px solid #dee2e6 !important;
    background-color: #f9f9f9;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control:focus {
    box-shadow: none !important;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

tbody>.cursor:hover {
    background-color: #c1c1c1;
}

.cursor {
    cursor: pointer;
}

.size-text-14 {
    font-size: 13.5px;
    border-radius: 0;
}