.filter-toathuoc {
    padding: 15px;
    display: flex;
    width: 100%;
}

.report-prescription-payment {
    display: flex;
    padding: 15px;
    padding-bottom: 0;
}

.revenue {
    text-align: center;
    padding: 15px;
    margin-right: 15px;
    border: 1px solid #bdc1c5;
    border-radius: 3px;
}

.number-payment {
    text-align: center;
    padding: 15px;
    margin-right: 15px;
    border: 1px solid #bdc1c5;
    border-radius: 3px;
}

.cu-height {
    height: 31px !important;
}

.cu-style {
    width: auto !important;
    min-width: 120px;
    height: 31px !important;
}