<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <form class="o_form_view o_form_editable" [formGroup]="myForm">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet" style="min-width: auto;">
                <div class="o_group">
                    <table class="o_group o_inner_group">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Mã
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input class="form-control" formControlName="code"  
                                        placeholder="Nhập mã..." />
                                    <div *ngIf="f.code.errors && (f.code.touched || f.code.dirty || submitted)" class="text-danger">
                                        <div *ngIf="f.code.errors.required">Nhập mã</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label for="o_field_input_46" class="o_form_label">
                                        Tên
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input class="form-control" formControlName="name"
                                        placeholder="Nhập tên..." />
                                    <div *ngIf="f.name.errors && (f.name.touched || f.name.dirty || submitted)" class="text-danger">
                                        <div *ngIf="f.name.errors.required">Nhập tên</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Ghi chú
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <textarea type="text" class="form-control" formControlName="note"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label"></td>
                                <td colspan="1" style="width: 100%;">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="isInclude" id="isInclude">
                                        <label class="form-check-label" for="isInclude">
                                            Hạch toán vào kết quả hoạt động kinh doanh
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-primary" 
        (click)="save()"  accesskey="s">
        Thêm
    </button>
    <button type="button" class="btn btn-secondary o_form_button_cancel" 
        (click)="cancel()" accesskey="q">
        Đóng
    </button>
</footer>