.flex-0-0-auto {
    flex: 0 0 auto;
}

.flex-1-1-100 {
    flex: 1 1 100%;
}

.form-check-input:checked+.form-check-label {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.form-check{
    padding: 0;
}
.table_none_border td, .table_none_border th{
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
}

.group_product{
    border: 1px solid #dee2e6;
    padding: 4px;
}

.btn.btn_none_radius{
    border-bottom-left-radius:0 !important;
    border-bottom-right-radius:0 !important;
}