<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li class="active">Quản lý thẻ</li>
        </ol>
        <div>
            <div class="o_cp_buttons">
                <ul class="nav nav-pills">
                    <!-- <li class="nav-item">
                        <a routerLink="customer-categ" class="nav-link py-1" routerLinkActive="active">Thẻ thành viên</a>
                    </li> -->
                    <li class="nav-item">
                        <a routerLink="preferential" class="nav-link" routerLinkActive="active">Thẻ ưu đãi
                            dịch vụ</a>
                    </li>
                </ul>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<div class="o_content">
    <router-outlet></router-outlet>
</div>