<div class="card h-100 border-0">
  <div class="card-body h-100 d-flex flex-column">
    <div class="head d-flex">
      <h5 class="m-0 text-primary">Hoạt động</h5>
      <button type="button" (click)="onCreateAppointment()" class="btn btn-primary d-flex ml-auto mr-2">
        <span class="bg-white border-radius d-flex pd-2px mr-1">
          <i class="fas fa-plus text-primary"></i>
        </span>
        <span>Thêm lịch hẹn</span>
      </button>
      <button type="button" (click)="onCreateComment()" class="btn btn-primary d-flex">
        <span class="bg-white border-radius d-flex pd-2px mr-1">
          <i class="fas fa-plus text-primary"></i>
        </span>
        <span>Thêm ghi chú</span>
      </button>
    </div>
    <div class="filter d-flex align-items-center mt-2">
      <kendo-combobox class="mr-2" style="width:175px;" [data]="listMessageSubType" [textField]="'name'" [placeholder]="'Tất cả hoạt động'"
        [valueField]="'id'" [kendoDropDownFilter]="{ caseSensitive: false, operator: 'contains' }" [filterable]="true" (selectionChange)="onChangeSubType($event)"
        #messSubTypeCbx>
      </kendo-combobox>
      <app-date-range-picker-filter [opens]="'left'" class="date-picker" [startDate]="this.filter.dateFrom" [endDate]="this.filter.dateTo"
        (searchChange)="searchChangeDate($event)">
      </app-date-range-picker-filter>
      <!-- <input type="text" name="daterangeInput" daterangepicker [options]="options" /> -->

    </div>
    <div class="s_body h-100 overflow-auto">
      <ng-container *ngIf="!listMessages.length; else elseTemplate">
        <img  class="m-auto d-block" src="../../../assets/icons/NoData.svg" alt="">
      </ng-container>
      <ng-template #elseTemplate>
        <ul class="messages">
          <li class="message" *ngFor="let message of listMessages ">
            <div class="time"> {{formatDate(message.date)==today ? 'Hôm nay' : formatDate(message.date)}}
            </div>
            <div class="message-body" *ngFor="let item of message.logs">
              <div class="message-item">
                <div class="subtype-name d-flex justify-content-between align-items-center">
                  <label class="font-weight-600 m-0">
                    {{item.subtypeName}}
                  </label>
                  <i *ngIf="item.messageType == 'comment'" (click)="onDeleteMessage(item)" class="fas fa-trash cursor-pointer text-danger icon"></i>
                </div>
                <div innerHTML="{{item.body}}"></div>
                <label class = "text-gray m-0">
                  Người tạo: {{item.authorName}} - {{item.date | date : 'shortDate'}}
                </label>
              </div>
            </div>
          </li>
        </ul>
      </ng-template>
      
    </div>
  </div>
</div>