.pages {
    width: calc(100% - 32px);
    margin: 10px auto;
}
.pages .mid {
    margin: 5px auto;
    text-align: center;
}

.pages_connected .card {
    width: calc(100% - 20px);
    cursor: pointer;
}
.pages_connected .card:hover {
    background: rgba(0,123,255,0.1);
}
.pages_connected .card.selected {
    background: rgba(0,123,255,0.25);
}
.pages_connected .card img {
    height: 60px;
    width: 60px;
}
.conversations {
    height: 100%;
}
.conversations > table {
    width: 100%;
    height: 100%;
}
.conversations > table > tr > td:nth-child(1) {
    width: 352px;
}
.conversations > table > tr > td:nth-child(2) {

}
.conversations > table > tr > td:nth-child(3) {
    width: 312px;
}
.conversations td > div {
    height: 100%;
}
.avatar {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.avatar_mini {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}
.list_Customers .avatar {
    width: 40px;
    height: 40px;
}
.detail_Customer .avatar {
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    margin: 10px auto;
}
.tag {
    width: 100%;
    padding: 5px;
    margin-bottom: 0 !important;
    cursor: default;
}
.tag:hover {
    background: rgba(0,123,255,0.1);
}
.tag.selected {
    background: rgba(0,123,255,0.25);
    border-right: 2px solid #007bff;
}
.tag td {
    padding: 5px;
}
.messenger_box {
    height: calc(100% - 52px);
}
.messenger_box table {
    margin: 5px;
    width: calc(100% - 20px);
}
.messenger_input {
    height: 52px;
}
.messenger_input input {
    height: 36px;
    border-radius: 18px;
    border: none;
    padding: 0 8px 0 12px;
    background-color: rgba(0, 0, 0, .05);
}
.messenger_input i {
    font-size: 2rem;
    color: #007bff;
    margin-left: 5px;
    margin-right: 5px;
}
.messenger_input td:first-child,
.messenger_input td:last-child {
    padding-left: 5px;
    padding-right: 5px;
}
.myBtnEdit {
    border-radius: 50%;
    padding: 2px 7px;
}
.myBtnEdit:hover {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}