.pages {
    width: calc(100% - 32px);
    margin: 10px auto;
}
.pages .mid {
    margin: 5px auto;
    text-align: center;
}

.pages_connected .card {
    width: calc(100% - 20px);
    cursor: pointer;
}
.pages_connected .card:hover {
    background: rgba(0,123,255,0.1);
}
.pages_connected .card.selected {
    background: rgba(0,123,255,0.25);
}
.pages_connected .card img {
    height: 60px;
    width: 60px;
}
.conversations {
    height: 100%;
}
.conversations > table {
    width: 100%;
    height: 100%;
}
.conversations > table > tr > td:nth-child(1) {
    width: 352px;
}

.conversations > table > tr > td:nth-child(3) {
    width: 312px;
}
.conversations td > div {
    height: 100%;
}
.avatar {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.avatar_mini {
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.list_Customers .avatar {
    width: 40px;
    height: 40px;
}
.list_Customers table {
    table-layout:fixed;
    width: calc(100% - 10px);
    margin-left: 5px;
}
.list_Customers table td:nth-child(1) {
    width: 40px;
}
.list_Customers table td:nth-child(2) {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    padding-left: 5px;
    padding-right: 5px;
}
.list_Customers table td:nth-child(3) {
    text-align: right;
    width: 75px;
    white-space: nowrap;
}
.detail_Customer {
    padding: 10px;
}
.detail_Customer .avatar {
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    margin: 10px auto;
}
.tag {
    width: 100%;
    /* padding: 5px; */
    margin-bottom: 0 !important;
    cursor: default;
}
.tag:hover {
    background: rgba(0,123,255,0.1);
}
.tag.selected {
    background: rgba(0,123,255,0.25);
    border-right: 2px solid #007bff;
}
.message_box {
    position: absolute;
    height: calc(100% - 52px);
    width: calc(100% - 1px);
    padding: 10px;
    padding-right: 3px;
    overflow-y: scroll;
}

.message_box::-webkit-scrollbar {
    width: 7px;
}
.message_box::-webkit-scrollbar-track {
    background: rgba(0,0,0,0); 
}
.message_box::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.2);
    border-radius: 7px; 
}
.message_box::-webkit-scrollbar-track:hover {
    background: rgba(0,0,0,0.1); 
}
.message_box::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.3); 
}
.message_date {
    text-align: center;
    font-size: 0.8rem;
    opacity: 0.8;
}
.message_con {
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}
.avatar_message {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 5px;
    object-fit: cover;
}
.margin-left_message_content {
    margin-left: 33px;
}
.message_content {
    padding: 6px 12px 7px;
    background: #f1f0f0;
    display: inline-block;
    text-align: left;
    max-width: 70%;
    border-radius: .25rem;
    border-top-right-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
}
.message_content.first_message {
    border-top-left-radius: 1.3rem;
}
.message_content.last_message {
    border-bottom-left-radius: 1.3rem;
}
.my_message {
    text-align: right;
}
.my_message .message_content {
    background: #007bff;
    color: white;
    border-radius: .25rem;
    border-top-left-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
}
.my_message .message_content.first_message {
    border-top-right-radius: 1.3rem;
}
.my_message .message_content.last_message {
    border-bottom-right-radius: 1.3rem;
}
.message_input {
    position: absolute;
    bottom: 0;
    height: 52px;
    width: 100%;
}
.message_input input {
    height: 36px;
    border-radius: 18px;
    border: none;
    padding: 0 8px 0 12px;
    background-color: rgba(0, 0, 0, .05);
}
.message_input i {
    font-size: 2rem;
    color: #007bff;
    margin-left: 5px;
    margin-right: 5px;
}
.message_input td:first-child,
.message_input td:last-child {
    padding-left: 5px;
    padding-right: 5px;
}
.myBtnEdit {
    border-radius: 50%;
    padding: 2px 7px;
}
.myBtnEdit:hover {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

.wrapper {
    background-color: white;
    margin-top: 15px;
}

.user_section {
    padding: .75rem 1.25rem;
    text-align: center;
}

.user_section img {
    max-width: 50px;
    margin-bottom: 5px;
}

img.page_avatar {
    max-width: 50px;
    margin-right: 10px;
}