/* .o_form_view>.o_form_sheet_bg>.o_form_sheet {
    width: 100%;
    max-width: 100%;
} */

.form-check-input:checked+.form-check-label {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
