<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="active">Nhóm nhân viên</li>
        </ol>
        <div class="o_cp_searchview">
            <div class="o_searchview">
                <input class="o_searchview_input" placeholder="Tìm kiếm..." type="text" [(ngModel)]="search"
                    (ngModelChange)="this.searchUpdate.next($event)">
            </div>
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <button type="button" class="btn btn-primary btn-sm" (click)="openModal(null)">
                        <i class="fas fa-plus"></i>&nbsp;Thêm mới</button>
                </div>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<div class="o_content">
    <kendo-grid [data]="gridView" [pageable]="true" [pageSize]="pageSize" [skip]="skip" [loading]="loading"
        (pageChange)="pageChange($event)">
        <kendo-grid-column field="name" title="Tên" width="200"></kendo-grid-column>
        <kendo-grid-command-column title="Thao tác" width="250">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button kendoButton (click)="openModal(dataItem)" class="btn btn-success btn-sm"><i title="Sửa"
                        class="fas fa-edit"></i>&nbsp;Sửa</button>
                <button kendoButton (click)="deleteCategEmployee(dataItem.id)" class="btn btn-danger btn-sm"><i
                        title="Vô hiệu hóa" class="fas fa-times"></i>&nbsp;Xóa</button>
            </ng-template>
        </kendo-grid-command-column>
        <kendo-grid-messages pagerItems="dòng" noRecords="Không có nhân viên để hiển thị" pagerOf="/">
        </kendo-grid-messages>
    </kendo-grid>
</div>

<div kendoDialogContainer></div>