<div class="bg-white">
    <div class="o_form_view o_form_nosheet o_form_editable">
        <div class="my-3 d-flex justify-content-between">
            <div class="d-flex justify-content-between">
                <app-tai-date-range-filter-dropdown title="Thời gian" class="mr-1" [dateFrom]="dateFrom" [dateTo]="dateTo" (searchChange)="onDateSearchChange($event)">
                </app-tai-date-range-filter-dropdown>
                <kendo-combobox [placeholder]="'Tất cả nhân viên'" (valueChange)="valueEmployeeChange($event)"
                    class="kendo-combobox-sm mr-1" [filterable]="true" [data]="filteredEmployees" #employeeCbx
                    [valueField]="'id'" [textField]="'name'" [popupSettings]="{width: 'auto'}">
                </kendo-combobox>
                <kendo-combobox [placeholder]="'Loại hoa hồng'" (valueChange)="valueCommissionTypeChange($event)"
                    class="kendo-combobox-sm mr-1" [data]="filteredCommissionType"
                    [valueField]="'value'" [textField]="'name'">
                </kendo-combobox>
                <button type="button" class="btn btn-secondary btn-sm mr-1" (click)="exportCommissionExcelFile()"><i
                    class="fas fa-download"></i>&nbsp;Xuất file Excel</button>
            </div>

            <div class="o_cp_t_right">
            </div>
        </div>
        <kendo-grid [data]="reportResults" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading"
            (pageChange)="pageChange($event)">
            <kendo-grid-column field="employeeName" title="Nhân viên">
            </kendo-grid-column>
            <kendo-grid-column title="Loại hoa hồng">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <span *ngIf="dataItem.commissionType=='doctor'">Bác sĩ</span>
                    <span *ngIf="dataItem.commissionType=='assistant'">Phụ tá</span>
                    <span *ngIf="dataItem.commissionType=='counselor'">Tư vấn</span>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column title="Tiền hoa hồng" class="text-right">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    {{dataItem.amount | number}}
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
        <div class="d-flex">
            <div>Tổng</div>
            <div>{{sumReport}}</div>
        </div>
    </div>
</div>