<div class="pms-wrapper d-flex">
    <div class="pms-left border mr-2">
        <app-product-category-list (onDelete)="onDeletecate($event)" (createBtnEvent)="onCreateBtnEvent($event)"
            [categories]="categories" (updateBtnEvent)="onUpdateBtnEvent($event)" (onSelect)="onSelectedCate($event)" [type]="type"></app-product-category-list>
    </div>
    <div class="pms-right border h-100 overflow-auto d-flex flex-column p-2">
        <div class="flex-0-0-auto mb-3 d-flex align-items-center">
            <div class="has-search mr-1 flex-fill">
                <span class="fa fa-search form-control-feedback"></span>
                <input [(ngModel)]="searchMedicine" (ngModelChange)="this.searchMedicineUpdate.next($event)"
                    class="form-control size-text-14" placeholder="Tìm kiếm theo mã hoặc tên ..." type="text">
            </div>
            <div class="flex-fill">
                <button *ngIf="canAdd" class="btn btn-sm btn-primary mr-2" (click)="createMedicine()">Thêm mới</button>
                <button type="button" class="btn btn-secondary btn-sm mr-2" (click)="importFromExcel()">
                    <i class="fas fa-upload"></i> Import
                </button>
                <button type="button" class="btn btn-secondary btn-sm mr-2" (click)="exportExcelFile()">
                    <i class="fas fa-download"></i>&nbsp;Xuất file Excel</button>
                <button class="btn btn-sm btn-secondary  mr-2" (click)="updateMedicineFromExcel()">
                    <i class="fas fa-upload"></i>
                    Cập nhật excel
                </button>
            </div>
        </div>
        <div class="flex-1-1-100 h-100 overflow-hidden">
            <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading"
                (pageChange)="pageChange($event)">
                <kendo-grid-column field="name" title="Tên thuốc" width="200">
                </kendo-grid-column>
                <kendo-grid-column field="defaultCode" title="Mã thuốc" width="150">
                </kendo-grid-column>
                <kendo-grid-column field="categName" title="Nhóm thuốc" width="150">
                </kendo-grid-column>
                <kendo-grid-column *ngIf="configsettings?.groupMedicine || false" field="listPrice" title="Giá thuốc"
                    width="150">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        {{dataItem.listPrice | number}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column *ngIf="canEdit || canDelete" field="id" width="100">
                    <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                        Thao tác
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <button *ngIf="canEdit" class="btn btn-success btn-sm mr-2" (click)="editMedicine(dataItem)">
                            <i class="far fa-edit"></i></button>
                        <button *ngIf="canDelete" class="btn btn-danger btn-sm" (click)="deleteMedicine(dataItem)">
                            <i class="far fa-trash-alt"></i></button>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>
        </div>
    </div>
</div>