.pms-wrapper {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.pms-left {
    flex: 0 0 300px;
    margin-right: 15px;
}

.pms-right {
    flex: 1;
}

.search-input {
    box-shadow: none;
}

.list-group-item {
    border-radius: 0px !important;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control:focus {
    box-shadow: none !important;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.k-widget.k-grid {
    height: 100% !important;
}

.edit_remove_action button:last-child {
    margin-right: 0;
}

li { cursor: pointer; }