<div class="px-3 py-3 bg-white">
    <div class="mb-2">
        <button type="button" class="btn btn-primary btn-sm" (click)="dialogAppointment(null)" accesskey="c">
            <i class="fas fa-plus"></i> Tạo lịch hẹn
        </button>
    </div>
    <div>
        <div class="o_content">
            <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading" (pageChange)="pageChange($event)">
                <kendo-grid-column field="name" title="Mã lịch hẹn" width="100">
                </kendo-grid-column>
                <kendo-grid-column field="date" title="Ngày hẹn" width="150">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        {{dataItem.time}} - {{dataItem.date | date:'EEEE, dd/MM/yyyy'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="doctorName" title="Bác sĩ" width="150">
                </kendo-grid-column>
                <kendo-grid-column field="note" title="Nội dung" width="150">
                </kendo-grid-column>
                <kendo-grid-column field="state" title="Trạng thái" width="100">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <span>{{stateGet(dataItem.state)}}</span>
                        <!-- <label *ngIf="dataItem.state == 'confirmed'">Đang hẹn</label>
                        <label *ngIf="dataItem.state =='done'">Đã tới</label>
                        <label *ngIf="dataItem.state =='cancel'">Hủy hẹn</label> -->
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="id" width="100">
                    <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                        Thao tác
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <button class="btn btn-success btn-sm mr-2" title="Sửa" (click)="dialogAppointment(dataItem)">
                            <span class="far fa-edit"></span></button>
                        <button class="btn btn-danger btn-sm" title="Xóa" (click)="deleteAppointment(dataItem)">
                            <span class="far fa-trash-alt"></span></button>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>
        </div>
    </div>
</div>