<div class="d-flex">
    <div class="d-flex flex-fill">
        <div class="flex-fill">
            <kendo-numerictextbox class="font-weight-600" *ngIf="form.discountType == this.discountTypeDict['VNĐ']" [min]="0" [autoCorrect]="true" [(ngModel)]="form.discountFixed" style="width:100%" [format]="'n0'" [spinners]="false" (change)="onChangeDiscount($event)">
            </kendo-numerictextbox>
            <kendo-numerictextbox class="font-weight-600" *ngIf="form.discountType == this.discountTypeDict['%']" [min]="0" [autoCorrect]="true" [max]="100" [(ngModel)]="form.discountPercent" [format]="'n0'" style="width:100%" [spinners]="false" (change)="onChangeDiscount($event)">
            </kendo-numerictextbox>
        </div>
        <div class="btn-group-toggle discount-options ml-2">
            <label class="btn border" [class.active]="form.discountType == 'percentage'">
                <input class="form-check-input" type="radio" autocomplete="off" [(ngModel)]="form.discountType" (change)="onChangeDiscountType()" id="percentage1" value="percentage">
                %
            </label>
            <label class="btn border" [class.active]="form.discountType == 'fixed'">
                <input class="form-check-input" type="radio" autocomplete="off" [(ngModel)]="form.discountType" (change)="onChangeDiscountType()" id="fixed1" value="fixed">
                VNĐ
            </label>
        </div>
    </div>
    <div class="ml-3">
        <button (click)="applyDiscount()" class="btn btn-primary ml-auto btn-use">Áp dụng</button>
    </div>
</div>