<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="active">Thẻ thành viên</li>
        </ol>
        <div class="o_cp_searchview">
            <div class="o_cp_searchview_group">
                <div class="o_searchview">
                    <input class="o_searchview_input" placeholder="Tìm kiếm theo số thẻ, mã vạch, khách hàng"
                        type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
                </div>
            </div>
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <button type="button" class="btn btn-primary btn-sm" (click)="addNewCard()" accesskey="c">Thêm
                    </button>
                    <button type="button" class="btn btn-light btn-sm" (click)="exportExcelFile()">
                        <i class="fas fa-download"></i>&nbsp;Xuất file Excel</button>
                </div>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
            <div class="o_search_options">
                <app-tmt-option-select-dropdown title="Trạng thái" [options]="stateFilterOptions"
                    (selectChange)="onStateSelectChange($event)">
                </app-tmt-option-select-dropdown>
            </div>
        </div>
    </div>
</div>

<div class="o_content">
    <app-shared-card-card-grid [gridData]="gridData" [limit]="limit" [skip]="skip" [loading]="loading"
        (editClick)="onEditClick($event)" (deleteClick)="onDeleteClick($event)">
    </app-shared-card-card-grid>
</div>