<!-- <div class="modal-header">
    <h4 class="modal-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div> -->
<header class="modal-header">
    <h4 class="modal-title">{{windowTitle()}}<span class="o_subtitle text-muted small"></span></h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <!-- <kendo-tabstrip>
        <kendo-tabstrip-tab [title]="'Thông tin'" [selected]="true">
            <ng-template kendoTabContent> -->
    <form class="o_form_view" [formGroup]="formCreate" kendo-validator="validator">
        <input type="hidden" formControlName="customer" />
        <input type="hidden" formControlName="supplier" />

        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="oe_title">
                    <label *ngIf="queryCustomer" class="o_form_label oe_edit_only required-label">Tên khách
                        hàng</label>
                    <label *ngIf="!queryCustomer" class="o_form_label oe_edit_only">Tên NCC</label>
                    <h1>
                        <input class="form-control" formControlName="name">
                    </h1>
                </div>
                <!---------------------------- CUSTOMER ---------------------------------->
                <div class="o_group" *ngIf="queryCustomer">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_left">
                                    <label class="o_form_label">Mã </label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_left">
                                    <input class="form-control" formControlName="ref" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_left">
                                    <label class="o_form_label">Giới tính</label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_left">
                                    <input type="radio" class="radio-gender-male" value="Male" id="male"
                                        formControlName="gender" />
                                    <label for="male">Nam</label>
                                    <input type="radio" class="radio-gender-female" value="Female" id="female"
                                        formControlName="gender" />
                                    <label for="female">Nữ</label>
                                    <input type="radio" class="radio-gender-other" value="Other" id="other"
                                        formControlName="gender" />
                                    <label for="other">Khác</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_left">
                                    <label class="o_form_label">Số điện
                                        thoại</label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_left">
                                    <input class="form-control" (input)="onlyGetNumbers('phone')" maxlength="12"
                                        formControlName="phone" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_left">
                                    <label class="o_form_label">Ngày sinh</label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_left">
                                    <div class="form-group">
                                        <div class="d-flex">
                                            <select class="form-control kd-dropdown-dob-d mr-1"
                                                formControlName="birthDay">
                                                <option value="null">Ngày</option>
                                                <option *ngFor="let i of dayList">
                                                    {{i}}</option>
                                            </select>
                                            <select class="form-control kd-dropdown-dob-m mr-1"
                                                formControlName="birthMonth">
                                                <option value="null">Tháng</option>
                                                <option *ngFor="let i of monthList">
                                                    {{i}}</option>
                                            </select>
                                            <select class="form-control kd-dropdown-dob-y" formControlName="birthYear">
                                                <option value="null">Năm</option>
                                                <option *ngFor="let i of yearList">
                                                    {{i}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_left">
                                    <label class="o_form_label">Tiểu sử bệnh</label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_left">
                                    <div *ngFor="let i of historiesList">
                                        <label><input type="checkbox" [checked]="checked(i)"
                                                (change)="checkboxChange(i,$event.target.checked)" /> {{i.name}}
                                        </label>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_left">
                                    <label class="o_form_label">Tiểu sử khác</label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_left">
                                    <textarea class="form-control" formControlName="medicalHistory"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_right">
                                    <label class="o_form_label">Mã vạch</label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_right">
                                    <input class="form-control" formControlName="barcode" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_right">
                                    <label class="o_form_label">Số nhà</label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_right">
                                    <input class="form-control" formControlName="street" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_right">
                                    <label class="o_form_label">Tỉnh/Thành</label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_right">
                                    <kendo-combobox class="kd-dropdown-area" [data]="provincesFilter"
                                        formControlName="city" [valueField]="'code'" [textField]="'name'"
                                        (valueChange)="changeProvince()" [filterable]="true"
                                        (filterChange)="filterProvince($event)">
                                    </kendo-combobox>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_right">
                                    <label class="o_form_label">Quận/Huyện</label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_right">
                                    <kendo-combobox class="kd-dropdown-area" [data]="districtsFilter"
                                        formControlName="district" [valueField]="'code'" [textField]="'name'"
                                        (valueChange)="changeDistrict()" [filterable]="true"
                                        (filterChange)="filterDistrict($event)">
                                    </kendo-combobox>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_right">
                                    <label class="o_form_label">Phường/Xã</label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_right">
                                    <kendo-combobox class="kd-dropdown-area" [data]="wardsFilter" formControlName="ward"
                                        [valueField]="'code'" [textField]="'name'" [filterable]="true"
                                        (filterChange)="filterWard($event)">
                                    </kendo-combobox>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <!-------------------------------------- SUPPLIER --------------------------------->
                <div class="o_group" *ngIf="!queryCustomer">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_left">
                                    <label class="o_form_label">Mã </label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_left">
                                    <input class="form-control" formControlName="ref" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_left">
                                    <label class="o_form_label">Số điện thoại</label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_left">
                                    <input class="form-control" (input)="onlyGetNumbers('phone')" maxlength="11"
                                        formControlName="phone" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_left">
                                    <label class="o_form_label">Số Fax</label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_left">
                                    <input class="form-control" (input)="onlyGetNumbers('fax')" maxlength="10"
                                        formControlName="fax" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_left">
                                    <label class="o_form_label">Email</label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_left">
                                    <input class="form-control" formControlName="email" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_left">
                                    <label class="o_form_label">Ghi chú</label></td>
                                <td colspan="1" style="width:100%" class="o_td_control_left">
                                    <textarea class="form-control" formControlName="comment"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_right">
                                    <label class="o_form_label">Số nhà</label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_right">
                                    <input class="form-control" formControlName="street" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_right">
                                    <label class="o_form_label">Tỉnh/Thành</label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_right">
                                    <kendo-combobox class="kd-dropdown-area" [data]="provincesFilter"
                                        formControlName="city" [valueField]="'code'" [textField]="'name'"
                                        (valueChange)="changeProvince()" [filterable]="true"
                                        (filterChange)="filterProvince($event)">
                                    </kendo-combobox>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_right">
                                    <label class="o_form_label">Quận/Huyện</label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_right">
                                    <kendo-combobox class="kd-dropdown-area" [data]="districtsFilter"
                                        formControlName="district" [valueField]="'code'" [textField]="'name'"
                                        (valueChange)="changeDistrict()" [filterable]="true"
                                        (filterChange)="filterDistrict($event)">
                                    </kendo-combobox>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label o_td_label_right">
                                    <label class="o_form_label">Phường/Xã</label>
                                </td>
                                <td colspan="1" style="width:100%" class="o_td_control_right">
                                    <kendo-combobox class="kd-dropdown-area" [data]="wardsFilter" formControlName="ward"
                                        [valueField]="'code'" [textField]="'name'" [filterable]="true"
                                        (filterChange)="filterWard($event)">
                                    </kendo-combobox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <kendo-panelbar *ngIf="queryCustomer">
                    <kendo-panelbar-item [title]="'Thông tin mở rộng'">
                        <ng-template kendoPanelBarContent>
                            <div class="panel-expand">
                                <div class="o_notebook">
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel"
                                            aria-labelledby="home-tab">
                                            <div class="o_group">
                                                <table class="o_group o_inner_group o_group_col_6">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="1" class="o_td_label o_td_label_left">
                                                                <label class="o_form_label">Nghề nghiệp</label>
                                                            </td>
                                                            <td colspan="1" style="width: 100%"
                                                                class="o_td_control_right">
                                                                <input class="form-control"
                                                                    formControlName="jobTitle" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="1" class="o_td_label o_td_label_left">
                                                                <label class="o_form_label">Nhóm</label>
                                                            </td>
                                                            <td colspan="1" style="width: 100%"
                                                                class="o_td_control_right">
                                                                <kendo-multiselect class="form-control"
                                                                    [data]="fullCategoriesList" [textField]="'name'"
                                                                    [valueField]="'id'" formControlName="categories">
                                                                </kendo-multiselect>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="o_group o_inner_group o_group_col_6">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="1" class="o_td_label o_td_label_right">
                                                                <label class="o_form_label">Email</label>
                                                            </td>
                                                            <td colspan="1" style="width: 100%"
                                                                class="o_td_control_right">
                                                                <input class="form-control" formControlName="email" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="1" class="o_td_label o_td_label_right">
                                                                <label class="o_form_label">Ghi
                                                                    chú</label></td>
                                                            <td colspan="1" style="width: 100%"
                                                                class="o_td_control_right">
                                                                <textarea class="form-control"
                                                                    formControlName="comment"></textarea>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <span><b>Bạn biết đến phòng khám thông qua ?</b></span>
                                    </div>
                                    <div class="d-flex">
                                        <div class="panel-source">
                                            <div>
                                                <input type="radio" value="ads" formControlName="source"
                                                    id="ads" /><label for="ads">Quảng cáo</label>
                                            </div>
                                            <div>
                                                <input type="radio" value="friend" formControlName="source"
                                                    id="friend" /><label for="friend">Bạn
                                                    bè</label>
                                            </div>
                                            <div>
                                                <input type="radio" value="employee" formControlName="source"
                                                    id="employee" /><label for="employee">Nhân
                                                    viên</label>
                                            </div>
                                            <div>
                                                <input type="radio" value="other" formControlName="source"
                                                    id="others" /><label for="others">Khác</label>
                                            </div>
                                        </div>
                                        <div class="panel-source-detail">
                                            <div *ngIf="formCreate.get('source').value=='employee'">
                                                <span>Nhân viên giới thiệu</span>
                                                <kendo-combobox formControlName="employees" [filterable]="true"
                                                    [data]="employeeSimpleFilter" #employeeCbx [valueField]="'id'"
                                                    [textField]="'name'">
                                                </kendo-combobox>
                                            </div>
                                            <div *ngIf="formCreate.get('source').value=='other'">
                                                <textarea type="text" formControlName="note" placeholder="Chi tiết"
                                                    class="form-control" style="width:100%"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-panelbar-item>
                    <!-- <kendo-panelbar-item [title]="'Bạn biết đến phòng khám thông qua ?'">
                                    <ng-template kendoPanelBarContent>
                                        <div class="panel-expand">
        
                                        </div>
                                    </ng-template>
                                </kendo-panelbar-item> -->
                </kendo-panelbar>
            </div>
        </div>

    </form>
    <!-- </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Hình ảnh'">
            <ng-template kendoTabContent> -->
    <!-- <div>
                <kendo-upload [autoUpload]="false" [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl"
                    [restrictions]="uploadRestrictions" (select)="selectEventHandler($event)"
                    (clear)="clearEventHandler($event)" (remove)="removeEventHandler($event)"
                    (complete)="completeEventHandler($event)" (success)=" successEventHandler($event)">
                </kendo-upload>
    <div *ngIf="imagePreviews.length" class="img-preview example-config">
        <h3>Preview selected images</h3>
        <img *ngFor="let image of imagePreviews" [src]="image.src" alt="image preview"
            style="width:100%; margin: 10px;" />
    </div>
    </div> -->
    <!-- </ng-template>
        </kendo-tabstrip-tab>
    </kendo-tabstrip> -->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm mr-2" [disabled]="!formCreate.valid"
        (click)="createNewCustomer()"><i class="fas fa-save"></i>&nbsp;Lưu</button>
    <!-- <button type="button" class="btn btn-light btn-sm mr-2" (click)="closeWindow(null)"><i
            class="fas fa-window-close"></i>&nbsp;Đóng</button> -->
    <button type="button" class="btn btn-light btn-sm mr-2" (click)="closeModal(null)"><i
            class="fas fa-window-close"></i>&nbsp;Đóng</button>

    <button type="button" hidden class="btn btn-primary btn-sm mr-2" *ngIf="cusId==null" (click)="createNewAndMore()"><i
            class="fas fa-plus-circle"></i>&nbsp;Lưu và Thêm mới</button>
</div>