<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ngbAutofocus (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <div class="o_form_view" [formGroup]="saleLineForm">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_group mt-0 mb-0">
                    <table class="o_group o_inner_group">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Dịch vụ
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-combobox [data]="filteredProducts" [disableControl]="productUpdatable == false"
                                        [textField]="'name'" [filterable]="true"
                                        (valueChange)="onChangeProduct($event)" #productCbx formControlName="product"
                                        [valueField]="'id'">
                                    </kendo-combobox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="o_group mt-0 mb-0">

                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Bác sĩ
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-combobox [data]="filteredUsers" [textField]="'name'" [filterable]="true"
                                        #salesmanCbx formControlName="salesman" [valueField]="'id'">
                                    </kendo-combobox>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Đơn giá
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-numerictextbox [format]="'n0'" [disableControl]="line && line.qtyInvoiced > 0"
                                        formControlName="priceUnit">
                                    </kendo-numerictextbox>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Số lượng
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-numerictextbox [format]="'n0'" formControlName="productUOMQty">
                                    </kendo-numerictextbox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Giảm
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <div class="d-flex">
                                        <kendo-numerictextbox [class.d-none]="discountTypeValue !== 'percentage'"
                                            [min]="0" [max]="100" formControlName="discount" [autoCorrect]="true">
                                        </kendo-numerictextbox>
                                        <kendo-numerictextbox [format]="'n0'"
                                            [class.d-none]="discountTypeValue !== 'fixed'"
                                            (valueChange)="onChangeDiscountFixed($event)"
                                            formControlName="discountFixed">
                                        </kendo-numerictextbox>
                                        <select class="form-control width-auto" formControlName="discountType">
                                            <option value="percentage">%</option>
                                            <option value="fixed">VNĐ</option>
                                        </select>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Thành tiền
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <span class="fw500">{{getPriceSubTotal() | number}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="o_group mt-0 mb-0">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Loại răng
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-combobox [data]="filteredToothCategories" [textField]="'name'"
                                        [filterable]="true" formControlName="toothCategory"
                                        (valueChange)="onChangeToothCategory($event)" #toothCategoryCbx
                                        [valueField]="'id'">
                                    </kendo-combobox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Chẩn đoán
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input type="text" class="form-control" formControlName="diagnostic" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="teeth-map">
                    <table class="table">
                        <tr *ngFor="let ham of hamList | keyvalue">
                            <td [ngClass]="{'text-right': vitri.key === '0_right'}"
                                *ngFor="let vitri of ham.value | keyvalue">
                                <div (click)="onSelected(rang)" class="tooth-item"
                                    [ngClass]="{'selected': isSelected(rang)}" *ngFor="let rang of vitri.value">
                                    {{rang.name}}</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSave()" accesskey="s">Lưu</button>
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="activeModal.dismiss()"
        accesskey="q">Đóng</button>
</footer>