.form-group {
    margin-bottom: 0;
}

.card-body {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 0 15px;
}

.appoint-table tr td:first-child {
    font-weight: 500;
}

.appoint-table tr td:last-child {
    font-weight: bolder;
    padding-left: 30px;
}

.appointment-title {
    padding: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 37px;
    /* identical to box height */
    color: #0B92F3;
}
