<div class="form-group">
    <label>Tên hoạt động</label>
    <input type="text" class="form-control">
</div>

<div class="form-group">
    <label>Nội dung</label>
    <textarea class="form-control"></textarea>
</div>

<div class="form-group">
    <label>Chạy sau</label>
    <div class="d-flex">
        <input type="number" class="form-control">
        <select class="form-control">
            <option value="hours">giờ</option>
            <option value="days">ngày</option>
            <option value="weeks">tuần</option>
            <option value="months">tháng</option>
        </select>
    </div>
</div>