<div class="section">
    <div class="section-left">
        <div class="section-header">
            <h5 class="mb-0">Danh sách dịch vụ</h5>
            <button class="btn btn-sm btn-primary opacity-0">None</button>
        </div>
        <div class="section-body">
            <div *ngFor="let service of services; index as i" class="border rounded bg-white p-2 mb-2">
                <h5>{{service.Name}}</h5>
                <div>Răng:
                    <span>{{formatTeethList(service.Teeth)}} </span>
                </div>
                <div>Chuẩn đoán: </div>
                <h5>
                    Tiến trình điều trị 
                    <span class="text-primary cursor-pointer" (click)="editTreatmentProcess(service)"><i class="fas fa-edit"></i></span>
                </h5>
                <table class="table table-sm table-bordered text-center table-thead-nowrap mb-0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Nội dung</th>
                            <th>Hoàn thành</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let step of service.Steps; index as j">
                            <td>{{j + 1}}</td>
                            <td class="text-left">{{step.Name}}</td>
                            <td>
                                <input type="checkbox" [checked]="step.IsDone" (change)="checkStatusDotKhamStep(step)">
                            </td>
                            <td>
                                <button *ngIf="!step.IsDone" type="button" class="btn btn-primary btn-sm"
                                    (click)="sendDotKhamStep(service, step)">Điều trị</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="section-right">
        <div class="section-header section-right-header">
            <h5 class="mb-0">Danh sách đợt khám</h5>
            <button (click)="onCreateDotKham()" class="btn btn-sm btn-primary">Tạo đợt khám</button>
        </div>
        <div class="section-body">
            <app-sale-orders-dotkham-cu #dotkhamVC *ngFor="let dk of dotkhams; let i = index" [dotkham]="dk" (dotkhamChange)="dotkhamChange($event, i)" [activeDotkham]="activeDotkham"></app-sale-orders-dotkham-cu>
        </div>
    </div>
</div>