<div class="section">
    <div class="section-left">
        <div class="section-header">
            <h5 class="mb-0">Danh sách dịch vụ</h5>
            <button class="btn btn-sm btn-primary opacity-0">None</button>
        </div>
        <div class="section-body">
            <div *ngFor="let service of services; index as i" class="border-0 rounded bg-white p-2 mb-3 shadow-sm">
                <h5>{{service.Name}}</h5>
                <div>Răng:
                    <span>{{formatTeethList(service.Teeth)}} </span>
                </div>
                <div>Chuẩn đoán: {{service.Diagnostic}}</div>
                <div class="d-flex align-items-center justify-content-between my-2">
                    <h5 class="mb-0">Công đoạn điều trị </h5>
                    <a (click)="editTreatmentProcess(service)" class="text-success">
                        <i class="fas fa-edit"></i>
                    </a>
                </div>
                <table class="table table-sm text-center table-tbody-ver-align-middle border-bottom mb-0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th class="text-left">Công đoạn</th>
                            <th>Xong</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let step of service.Steps; index as j">
                            <td>{{j + 1}}</td>
                            <td class="text-left">{{step.Name}}</td>
                            <td>
                                <input type="checkbox" [checked]="step.IsDone" (change)="checkStatusDotKhamStep(step)">
                            </td>
                            <td>
                                <button *ngIf="!step.IsDone" type="button" class="btn btn-primary btn-sm"
                                    (click)="sendDotKhamStep(service, step)">
                                    <i class="fas fa-angle-double-right"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="section-right">
        <div class="section-header section-right-header">
            <h5 class="mb-0">Danh sách đợt khám</h5>
            <button (click)="onCreateDotKham()" class="btn btn-sm btn-primary">Tạo đợt khám</button>
        </div>
        <div class="flex-1-1-100 overflow-auto">
            <ng-container *ngIf="dotkhams.length">
                <app-sale-orders-dotkham-cu #dotkhamVC *ngFor="let dk of dotkhams; let i = index" [dotkham]="dk" (dotkhamChange)="dotkhamChange($event, i)" [activeDotkham]="activeDotkham"></app-sale-orders-dotkham-cu>
            </ng-container>
            <!-- <ng-container *ngIf="!dotkhams.length">
                <div style="min-height: 100%;" class="d-flex justify-content-center align-items-center w-100 h-100">
                     <img width="100%" height="100%" src="../../../assets/images/background/bg-dotkham.jpg" alt="">
                    <button (click)="onCreateDotKham()" class="btn btn-sm btn-primary">Tạo đợt khám</button>
                </div>
            </ng-container> -->

        </div>
    </div>
</div>