.k-content {
    max-height : 100px;
    overflow: scroll;
}

.state-badge{
    font-size: 0.5em;
    color: white;
    width: 13%;
    text-align: center;
    font-style: italic;
    padding: 3px;
    float: right;
    margin: 10px;
}