<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="active">Tùy chỉnh mẫu in</li>
        </ol>
        <div class="o_cp_searchview">
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <button type="button" class="btn btn-primary mr-2" accesskey="s" (click)="onSave()">Lưu</button>
                <button type="button" class="btn btn-secondary mr-2" accesskey="p" (click)="onPrint()">In
                    thử</button>
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>
<div class="o_content">
    <div class="o_form_view">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="d-flex">
                    <div class="mb-2 mr-2">
                        <label>Chọn mẫu in</label>
                        <select (ngModelChange)="onChangeType($event)" [(ngModel)]="this.filter.type"
                            class="form-control">
                            <option [value]="item.value" *ngFor="let item of types">{{item.text}}
                            </option>
                        </select>
                    </div>
                    <div class="mb-2 mr-2">
                        <label>Chọn khổ in</label>
                        <select (ngModelChange)="onChangePaperSize($event)" [(ngModel)]="this.filter.printPaperSizeId"
                            class="form-control">
                            <option [value]="item.id" *ngFor="let item of paperSizes">{{item.name}}
                            </option>
                        </select>
                        <!-- <button (click)="onCreatePaperSize()" title="Thêm khổ in"
                        class="btn btn-sm btn-light"><span class="k-icon k-i-plus"></span></button> -->
                    </div>
                </div>
                <div class="mb-2">
                    <button (click)="onDefault()" class="btn btn-outline-primary mr-2">Sử dụng mẫu
                        có
                        sẵn</button>
                    <button (click)="onAddKeyWord()" class="btn btn-outline-primary">
                        Thêm từ khóa
                    </button>
                </div>
                <div class="row">
                    <div class="col">
                        <ckeditor #editor [config]="configEditor" [(ngModel)]="configEdit.content">
                        </ckeditor>
                    </div>
                    <div class="col">
                        <div class="card" style="height: 100%;">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">Bản xem trước</h5>
                                    <button type="button" class="btn btn-primary" accesskey="c"
                                        (click)="onGenerate()">Làm mới</button>
                                    <!-- <button (click)="onPrint()" class="btn btn-outline-primary">In thử</button> -->
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <div class="flex-fill">
                                    <iframe #iframe style="height: 100%; width: 100%;" frameBorder="0"
                                        sandbox="allow-same-origin" [attr.srcdoc]="contentPrev | safeHtml "></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>