<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li class="active">Kho</li>
        </ol>
        <div>

            <div class="o_cp_buttons">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a routerLink="stock-report-xuat-nhap-ton" class="nav-link px-3 py-1" routerLinkActive="active">Nhập - Xuất - Tồn</a>
                    </li>
                    <li class="nav-item" *ngIf="showNhapKho">
                        <a routerLink="incoming-pickings" class="nav-link px-3 py-1" routerLinkActive="active">Nhập kho</a>
                    </li>
                    <li class="nav-item" *ngIf="showXuatKho">
                        <a routerLink="outgoing-pickings" class="nav-link px-3 py-1" routerLinkActive="active">Xuất kho</a>
                    </li>
                    <li class="nav-item" *ngIf="showProductRequest">
                        <a routerLink="request-products" class="nav-link px-3 py-1" routerLinkActive="active">Yêu cầu vật tư</a>
                    </li>
                    <li class="nav-item" *ngIf="showSotckInventory">
                        <a routerLink="stock-inventories" class="nav-link px-3 py-1" routerLinkActive="active">Kiểm kho</a>
                    </li>
                </ul>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<router-outlet></router-outlet>