<div class="border rounded p-2 mt-2">
    <div [formGroup]="formGroupInfo" class="bg-white mb-2">
        <div class="div-table w-100">
            <div class="div-row">
                <div style="width: 200px; font-size: 1.1rem;" class="div-cell font-weight-600 pl-3 pt-3">
                    {{line.name}}
                </div>
            </div>
        </div>
        <div class="px-3 w-100 pb-2">
            <div class="o_group">
                <table class="o_group o_inner_group o_group_col_4">
                    <tbody>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label o_form_label_help">
                                    Răng
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                <span>12, 13</span>
                                <img class="btn-teeth" src="assets/icons/teeth.svg" alt="" (click)="toothSelection()">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="o_td_label">
                                <label class="o_form_label o_form_label_help">
                                    Chẩn đoán
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="o_td_label">
                                <textarea formControlName="diagnostic" class="form-control"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="o_group o_inner_group o_group_col_4">
                    <tbody>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label o_form_label_help">
                                    Bác sĩ
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                <span class="form-control-plaintext" *ngIf="!isEditting">{{line.employee?.name}}</span>
                                <kendo-combobox [filterable]="true" (filterChange)="onEmployeeFilter($event)"
                                    *ngIf="isEditting" style="width:100%;" [data]="filteredEmployeesDoctor"
                                    [textField]="'name'" #employeeCbx formControlName="employee" [valueField]="'id'">
                                </kendo-combobox>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label o_form_label_help">
                                    Phụ tá
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                <span class="form-control-plaintext" *ngIf="!isEditting">{{line.assistant?.name}}</span>
                                <kendo-combobox [filterable]="true" (filterChange)="onEmployeeAssistant($event)"
                                    *ngIf="isEditting" style="width:100%;" [data]="filteredEmployeesAssistant"
                                    [textField]="'name'" #assistantCbx formControlName="assistant" [valueField]="'id'">
                                </kendo-combobox>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label o_form_label_help">
                                    Người tư vấn
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                <span class="form-control-plaintext" *ngIf="!isEditting">{{line.counselor?.name}}</span>
                                <kendo-combobox [filterable]="true" (filterChange)="onEmployeeCounselor($event)"
                                    *ngIf="isEditting" style="width:100%;" [data]="filteredEmployeesCounselor"
                                    [textField]="'name'" #counselorCbx formControlName="counselor" [valueField]="'id'">
                                </kendo-combobox>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="o_group o_inner_group o_group_col_4">
                    <tbody>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label o_form_label_help">
                                    Đơn giá
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%; text-align: end;">
                                <div>
                                    <ng-container *ngIf="!isEditting; else elseTemplatePriceUnitPro">
                                        {{getPriceUnitLinePromotion(line) | number}}
                                    </ng-container>
                                    <ng-template #elseTemplatePriceUnitPro>
                                        {{(formInfoControl('priceUnit').value - (line.amountDiscountTotal || 0)) | number}}
                                        <!-- {{getPriceUnitLinePromotion(formGroupInfo.value) | number}} -->
                                    </ng-template>
                                </div>
                                <div>
                                    <ng-container *ngIf="!isEditting; else elseTemplatePriceUnit">
                                        <span class="font-weight-lighter">
                                            Giá gốc: {{line.priceUnit | number}}
                                        </span>
                                    </ng-container>
                                    <ng-template #elseTemplatePriceUnit>
                                        <span class="font-weight-lighter">
                                            Giá gốc: <span class="mr-1"
                                                [class.text-danger]="formInfoControl('priceUnit').errors">{{formInfoControl('priceUnit').value
                                                | number}}</span>
                                            <i _ngcontent-sgd-c6="" class="far fa-edit text-success pointer"
                                                [ngbPopover]="popContent" [popoverTitle]="popTitle"
                                                [autoClose]="'outside'"></i>
                                        </span>
                                    </ng-template>
    
                                    <ng-template #popContent let-greeting="greeting">
                                        <kendo-numerictextbox style="width:100%;" [min]="0" [format]="'n0'"
                                            [spinners]="false" formControlName="priceUnit">
                                        </kendo-numerictextbox>
                                    </ng-template>
                                    <ng-template #popTitle let-language="language">Giá gốc</ng-template>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label_help">
                                    Số lượng
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%; text-align: end;">
                                <ng-container *ngIf="!isEditting; else elseTemplateQty">
                                    <span class="font-weight-600">
                                        {{line.productUOMQty | number}}
                                    </span>
                                </ng-container>
                                <ng-template #elseTemplateQty>
                                    <kendo-numerictextbox required style="width:60%;" [format]="'n0'" [min]="0"
                                        [spinners]="false" formControlName="productUOMQty">
                                    </kendo-numerictextbox>
                                </ng-template>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label_help">
                                    Thành tiền
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%; text-align: end;">
                                <div class="font-weight-600">
                                    <ng-container *ngIf="!isEditting; else elseTemplatePriceSub">
                                        {{line.priceSubTotal | number: '1.0-0'}}
                                    </ng-container>
                                    <ng-template #elseTemplatePriceSub>
                                        {{getPriceSubTotalFormGroup() | number}}
                                    </ng-template>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding: 0 45px 0 0;">
                                <hr>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label_help">
                                    Thanh toán
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%; text-align: end;">
                                <div *ngIf="!isFast" class="font-weight-600">
                                    {{line.amountInvoiced | number}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label_help">
                                    Còn lại
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%; text-align: end;">
                                <div *ngIf="!isFast" class="font-weight-600">
                                    {{((isEditting? getPriceSubTotalFormGroup(): line.priceSubTotal)-
                                    line.amountInvoiced) |
                                    number}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- ưu đãi -->
    <div class="d-flex justify-content-between">
        <div class="card border promotions">
            <div class="card-body px-3 py-2">
                <div class="d-flex">
                    <span>Ưu đãi phiếu điều trị</span>
                    <span class="ml-auto">{{line.amountPromotionToOrder | number}}</span>
                </div>
                <div class="d-flex">
                    <span>Ưu đãi dịch vụ</span>
                    <img *ngIf="line.state != 'done'" (click)="onOpenPromotion()" class="ml-2 pointer"
                        src="assets/icons/promotion-bg-primary.svg" alt="">
                    <span class="ml-auto">{{line.amountPromotionToOrderLine | number}}</span>
                </div>
            </div>
        </div>
        <div class="popover-footer d-flex" style="padding-top: 2.5rem">
            <button *ngIf="!isEditting" type="button" (click)="editLine()" title="Sửa dịch vụ"
                class="btn btn-sm btn-primary">
                <i class="far fa-edit pr-1"></i>
                <span>Chỉnh sửa</span>
            </button>
            <button *ngIf="isEditting" (click)="updateLineInfo(true)" class="btn btn-sm btn-primary">
                <i class="far fa-edit pr-1"></i>
                <span>Cập nhật</span>
            </button>
            <button (click)="deleteLine()" class="btn btn-danger btn-sm ml-2" title="Xóa dịch vụ">
                <i class="fas fa-trash pr-1"></i>
                <span>Xóa</span>
            </button>
            <ng-container *ngIf="line.id">
                <ng-container *ngIf="line.isActive == true; else elseTemplateActive">
                    <button type="button" (click)="onActive(!line.isActive)" class="btn btn-sm btn-secondary ml-2"
                        title="Ngừng dịch vụ">
                        <i class="fas fa-minus-circle text-white pr-1"></i>
                        <span>Ngừng dịch vụ</span>
                    </button>
                </ng-container>
                <ng-template #elseTemplateActive>
                    <button type="button" (click)="onActive(!line.isActive)" class="btn btn-sm btn-danger ml-2"
                        title="Làm dịch vụ">
                        <i class="fas fa-minus-circle text-white pr-1"></i>
                        <span>Đã ngừng dịch vụ</span>
                    </button>
                </ng-template>
            </ng-container>
            <button *ngIf="isEditting" (click)="onCancel()" class="btn btn-sm btn-danger ml-2">Hủy</button>
        </div>
    </div>
</div>
