/* :host {
    display: contents;
} */

.b-sticky-left {
    position: sticky;
    left: 0;
    /* border: 1px solid #dee2e6; */
    z-index: 3;
    background-color: #f9f9f9;
}

.b-sticky-right {
    position: sticky;
    right: 0;
    background-color: #f9f9f9;
    /* border: 1px solid #dee2e6; */
    z-index: 3;
}

.tooth-item-collapsed {
    padding: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    margin-right: 4px;
    cursor: pointer;
}

.tooth-item-collapsed.selected {
    background-color: #5095f0;
    color: #fff;
}

.teeth-map td {
    border-left: none !important;
}

.btn:hover {
    cursor: pointer;
}

.icon:hover {
    cursor: pointer;
}

.icon {
    color: hsl(211deg 100% 50%)!important;
}