<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta Name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TDental.vn</title>
    <link rel="stylesheet" type="text/css" href="/css/print.css" />
    <style>
        @@page {
            size: A4 landscape !important;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <div class="d-flex mb-2">
                {{ if model.company.logo != "" && model.company.logo != null}}
                <img class="img-fluid me-3 w-20" src="{{model.company.logo}}" alt="{{model.company.name}}">
                {{ end }}

                <div>
                    <div class="text-xl font-semibold">{{model.company.name}}</div>
                    {{if model.company.address != ""}}

                    <div>Địa chỉ: {{model.company.address}}</div>

                    {{ end }}

                    {{ if model.company.phone}}

                    <div>ĐT: {{model.company.phone}}</div>

                    {{ end }}

                    {{if model.company.email }}

                    <div>Email: {{model.company.email}}</div>

                    {{ end }}

                </div>
            </div>

            <div class="text-center mb-2">
                <div class="text-3xl font-semibold">HÓA ĐƠN THUỐC</div>
                <div>Ngày {{model.order_date.day}} tháng {{model.order_date.month}} năm {{model.order_date.year}} </div>
                <div class="font-semibold">Số: {{model.name}}</div>
            </div>
            <div class="o_form_view mb-2">
                <div class="d-flex">
                    <table class="o_group o_inner_group">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Khách hàng
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">{{model.partner.name}}</td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Địa chỉ
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    {{model.partner.address}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Bác sĩ
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    {{if model.employee != null }}
                                    {{model.employee.name}}
                                    {{ end }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="o_form_view mb-2">
                <table class="table table-sm table-bordered mb-0">
                    <thead>
                        <tr>
                            <th style="">Tên thuốc</th>
                            <th style="width: 100px" class="text-center">Số lượng</th>
                            <th style="width: 100px" class="text-center">Đơn giá</th>
                            <th style="width: 100px" class="text-right">Thành tiền</th>
                        </tr>
                    </thead>

                </table>
                {{ for line in  model.medicine_order_lines }}
                <table class="table table-sm table-bordered mb-0 table-border-top-0">
                    <tr>
                        <td style="" >
                            <div class="font-semibold">{{line.product.name}}</div>
                            <i>
                                Ngày uống {{line.toa_thuoc_line.number_of_times | math.format "#,###.##" "vi"}} lần,
                                mỗi lần {{line.toa_thuoc_line.amount_of_times | math.format "#,###.##" "vi"}} {{line.product.uomname}},
                                {{line.toa_thuoc_line.get_use_at_display}}
                            </i>
                        </td>
                        <td style="width: 100px"  class="text-center">{{line.quantity | math.format "#,###.##" "vi"}}</td>
                        <td style="width: 100px" class="text-center">{{line.price | math.format "#,###.##" "vi"}}</td>
                        <td style="width: 100px" class="text-right">{{line.amount_total | math.format "#,###.##" "vi"}}</td>
                    </tr>
                </table>
                {{ end }}

            </div>
            <div class="o_form_view float-right mb-2">
                <div class="d-flex">
                    <div>
                        <table class="o_group o_inner_group">
                            <tbody>
                                <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label o_form_label_help">
                                            Tổng tiền
                                        </label>
                                    </td>
                                    <td class="pe-0 text-right font-semibold" colspan="1" style="width: 100%;">{{model.amount | math.format "#,###.##" "vi"}}</td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label o_form_label_help">
                                            Thanh toán
                                        </label>
                                    </td>
                                    <td class="pe-0 text-right font-semibold" colspan="1" style="width: 100%;">
                                        {{if model.account_payment == null }}
                                        {{0}}
                                        {{else}}
                                        {{model.account_payment.amount | math.format "#,###.##" "vi"}}
                                        {{ end }}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label o_form_label_help">
                                            Còn lại
                                        </label>
                                    </td>
                                    <td class="pe-0 text-right font-semibold" colspan="1" style="width: 100%;">
                                        {{model.amount - (model.account_payment == null ? 0 : model.account_payment.amount) | math.format "#,###.##" "vi"}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="">
                <div class="o_form_view">
                    <table class="o_group o_inner_group">
                        <tbody>
                            <tr>
                                <td style="" colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Lời dặn
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">{{model.toa_thuoc.note}}</td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Chẩn đoán bệnh
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">{{model.toa_thuoc.diagnostic}}</td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Tái khám
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    {{if model.toa_thuoc.re_examination_date }}
                                    {{model.toa_thuoc.re_examination_date | date.to_string '%d/%m/%Y'}}
                                    {{ end }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-flex mt-2">
                <div class="col">
                    <div class="text-center">
                        <span class="font-semibold">Người lập phiếu</span> <br />
                        <i>(Ký, họ tên)</i> <br />
                        <span></span> <br />
                        <span></span> <br />
                        <span></span> <br />
                        <span class="font-semibold">
                            {{if model.employee != null }}
                            {{model.employee.name | string.upcase }}
                            {{ end }}
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <span class="font-semibold"> Bệnh nhân</span> <br />
                        <i>(Ký, họ tên)</i> <br />
                        <span></span> <br />
                        <span></span> <br />
                        <span></span> <br />
                        <span class="font-semibold">
                            {{model.partner.name | string.upcase }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>