:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.o_helpfull_link {
    display: inline-block;
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 16px;
    left: 16px;
    z-index: 43438080;
}

.o_helpfull_link img{
    width: 100%;
    height: auto;
    cursor: pointer;
}