:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.o_helpfull_link {
    width: 30px;
    height: 30px;
}

.o_helpfull_link img{
    width: 100%;
    height: auto;
    cursor: pointer;
}

.sidebar .sidebar-minimizer {
    display: flex;
    align-items: center;
}