<div id="printAccountPaymentDiv" *ngIf="accountPaymentPrint" style="display: none;">
    <div class="o_form_view o_print">
        <div class="text-center">
            <h5 class="mb-0">{{accountPaymentPrint.companyName}}</h5>
            <div>Địa chỉ: {{accountPaymentPrint.companyAddress}}</div>
            <div *ngIf="accountPaymentPrint.companyPhone">ĐT: {{accountPaymentPrint.companyPhone}}</div>
            <div *ngIf="accountPaymentPrint.companyEmail">Email: {{accountPaymentPrint.companyEmail}}</div>
        </div>
        <div class="text-center">
            <h1 class="text-uppercase">Biên lai thanh toán</h1>
        </div>
        <div class="o_group">
            <table class="o_group o_inner_group o_group_col_6">
                <tbody>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Ngày thanh toán
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">
                            {{accountPaymentPrint.paymentDate | date: 'shortDate'}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Phương thức
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">
                            {{accountPaymentPrint.journalName}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Số tiền
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">
                            {{accountPaymentPrint.amount | number}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="o_group o_inner_group o_group_col_6">
                <tbody>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Khách hàng
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">
                            {{accountPaymentPrint.partnerDisplayName}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Địa chỉ
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">
                            {{accountPaymentPrint.partnerAddress}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Số phiếu điều trị</th>
                        <th>Ngày lập phiếu</th>
                        <th class="text-right">Tổng tiền</th>
                        <th class="text-right">Thanh toán</th>
                        <th class="text-right">Còn nợ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of accountPaymentPrint.saleOrders; let i=index">
                        <td>{{ order.name }}</td>
                        <td>{{ order.dateOrder | date: 'short' }}</td>
                        <td class="text-right">{{ order.amountTotal | number }}</td>
                        <td class="text-right">{{ (order.amountTotal - order.residual) | number }}</td>
                        <td class="text-right">{{ order.residual | number }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col col-sm">
                <div class="text-center font-weight-bold">
                    Khách hàng
                </div>
            </div>
            <div class="col col-sm">
                <div class="text-center font-weight-bold">
                    Người lập
                </div>
            </div>
        </div>
    </div>
</div>