<header class="modal-header bg-primary text-white py-2">
    <h5 class="modal-title">
        {{title}}
        <span class="text-white ml-2" placement="bottom"
            ngbTooltip="Lưu ý: Không thể áp dụng chung Khuyến mãi, thẻ thành viên, thẻ ưu đãi dịch vụ tại cùng một dịch vụ">
            <i class="fas fa-info-circle"></i>
        </span>
        <span class="o_subtitle text-muted small"></span>
    </h5>
    <!-- <span class="ml-auto font-weight-600 align-self-center">{{sumPromotion()|number}}</span> -->
    <button type="button" class="close text-white ml-1" style="opacity: 1;" data-dismiss="modal" aria-label="Close"
        (click)="onClose()" tabindex="-1">×</button>
</header>


<div class="modal-body o_act_window">
    <div class="px-3 py-2">
        <div>
            <!-- giảm tiền -->
            <div class="mb-2" *ngIf="isDiscountLine">
                <label class="font-weight-600">Giảm đơn giá</label>

                <ng-container *ngIf="getListPromotion('discount').length == 0; else elseTemplateDiscount">
                    <app-promotion-discount (applyEvent)="applyDiscount($event)"></app-promotion-discount>
                </ng-container>
                <ng-template #elseTemplateDiscount>
                    <div *ngFor="let item of getListPromotion('discount')"
                        class="d-flex justify-content-between align-items-center">
                        <span class="font-weight-600">{{getPriceUnitPromotion(item.amount) | number: '1.0-0'}}</span>
                        <button type="button" class="btn bg-danger" (click)="onDeletePromotion(item)">
                            <i title="Xóa giảm tiền" class="far fa-trash-alt text-white"></i>
                        </button>
                    </div>
                </ng-template>

            </div>
            <!-- mã thủ công -->
            <div class="mb-2">
                <label for="" class="font-weight-600">Mã khuyến mãi</label>
                <app-sale-order-apply-coupon (applySuccess)="onApplyCouponSuccess($event)">
                </app-sale-order-apply-coupon>
                <div class="">
                    <div *ngFor="let item of getListPromotion('code_usage_program'); let i = index"
                        class="d-flex justify-content-between mt-2 align-items-start">
                        <div class="d-flex align-items-start">
                            <img src="../../../assets/icons/promotion.svg" alt="">
                            <span class="ml-1 d-flex flex-column">
                                <span>{{item.name}}</span>
                                <span style="color: #929DAA">Số tiền giảm: {{item.amount | number}}</span>
                            </span>
                        </div>
                        <i title="Xóa giảm tiền" class="fa fa-trash-alt bg-danger text-white btn-icon"
                            (click)="onDeletePromotion(item)"></i>

                    </div>
                </div>
            </div>
            <!-- mã tự động -->
            <div class="mb-2">
                <label for="" class="font-weight-600 mb-0">Danh sách khuyến mãi</label>
                <div>
                    <p *ngFor="let item of autoPromotions" class="d-flex justify-content-between my-0 mt-1">
                        <label class="my-0" for="">
                            <img src="../../../assets/icons/promotion.svg" alt="">
                            {{item.name}}</label>
                        <ng-container *ngIf="!getApplied(item); else elseTemplateBtnApply">
                            <button type="button" class="btn btn-primary" (click)="applyPromotion(item)">
                                Chọn
                            </button>
                        </ng-container>
                        <ng-template #elseTemplateBtnApply>
                            <label>Đã áp dụng</label>
                        </ng-template>
                    </p>
                </div>
            </div>
            <!-- khuyến mãi đã chọn -->
            <!-- <div *ngIf="getListPromotion('promotion_program').length">
                <label class="font-weight-600 mb-0">Khuyến mãi đã chọn</label>
                <div>
                    <div *ngFor="let item of getListPromotion('promotion_program')"
                        class="d-flex justify-content-between align-items-start mb-2">
                        <div class="d-flex align-items-start">
                            <img src="../../../assets/icons/promotion.svg" alt="">
                            <span class="ml-1 d-flex flex-column">
                                <span>{{item.name}}</span>
                                <span style="color: #929DAA">Số tiền giảm: {{item.amount | number}}</span>
                            </span>
                        </div>
                        <button type="button" class="btn btn-danger" (click)="onDeletePromotion(item)"
                            title="Xóa khuyến mãi">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </div> -->
             <!-- thẻ thành viên -->
             <div class="mt-2">
                <label class="font-weight-600 mb-0">Danh sách thẻ thành viên</label>
                <div>
                    <p *ngFor="let item of cardCards" class="d-flex justify-content-between my-0 mt-1">
                        <label class="my-0" for="">
                            <img src="../../../assets/icons/promotion.svg" alt="">{{item.typeName}}</label>
                        <ng-container *ngIf="!getAppliedCardCard(item); else elseTemplateCardsApply">
                            <button type="button" class="btn btn-primary" (click)="applyCardCard(item)">
                                Chọn
                            </button>
                        </ng-container>
                        <ng-template #elseTemplateCardsApply>
                            <label>Đã áp dụng</label>
                        </ng-template>
                    </p>
                </div>
            </div>
            <!-- thẻ ưu đãi dịch vụ -->
            <div class="mt-2">
                <label class="font-weight-600 mb-0">Danh sách thẻ ưu đãi dịch vụ</label>
                <div>
                    <p *ngFor="let item of servicePreferenceCards" class="d-flex justify-content-between my-0 mt-1">
                        <label class="my-0" for="">
                            <img src="../../../assets/icons/promotion.svg" alt="">{{item.cardType.name}}</label>
                        <ng-container *ngIf="!getAppliedCard(item); else elseTemplateCardsApply">
                            <button type="button" class="btn btn-primary" (click)="applyServiceCard(item)">
                                Chọn
                            </button>
                        </ng-container>
                        <ng-template #elseTemplateCardsApply>
                            <label>Đã áp dụng</label>
                        </ng-template>
                    </p>
                </div>
            </div>
            <!-- Những ưu đãi đã chọn -->
            <div>
                <label class="font-weight-600 mb-0">Danh sách đã chọn</label>
                <div>
                    <div *ngFor="let item of getListPromotionApplied()" class="d-flex justify-content-between align-items-start mb-2">
                        <div class="d-flex align-items-start">
                            <img src="../../../assets/icons/promotion.svg" alt="">
                            <span class="ml-1 d-flex flex-column">
                                <span>{{item.name}}</span>
                                <span style="color: #929DAA">Số tiền giảm: {{item.amount | number}}</span>
                            </span>
                        </div>
                        <button type="button" class="btn btn-danger" (click)="onDeletePromotion(item)"
                            title="Xóa khuyến mãi">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<footer class="modal-footer">
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="onClose()" accesskey="q">Đóng</button>
</footer>