<header class="modal-header">
    <h4 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>
<div class="modal-body o_act_window">
    <form class="o_form_view o_form_editable" [formGroup]="formCreate">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6" style="width:100%">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Tên nhóm
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input class="form-control" formControlName="name">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm mr-2" [disabled]="!formCreate.valid"
        (click)="createUpdateEmployee()"><i class="fas fa-save"></i>&nbsp;Lưu</button>
    <button type="button" class="btn btn-light btn-sm mr-2" (click)="activeModal.dismiss()"><i
            class="fas fa-window-close"></i>&nbsp;Đóng</button>

</div>