<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/surveys/manage']">
                    <span>Danh sách khảo sát</span>
                </a>
            </li>
            <li class="active">
                <span>{{surveyAssignment.saleOrder && surveyAssignment.saleOrder.partner?.name}}</span>
            </li>
        </ol>
        <div>
            <div class="o_cp_buttons">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a routerLink="infor-care" class="nav-link py-1" routerLinkActive="active">Thông tin chăm
                            sóc</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="infor-survey-evaluation" class="nav-link px-3 py-1"
                            routerLinkActive="active">Thông tin khảo sát đánh giá</a>
                    </li>

                </ul>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<div class="o_content">
    <router-outlet></router-outlet>
</div>