@page {
  size: auto;
}

[type="text"], [type="password"], [type="number"], textarea, select {
  width: 100%;
  display: block;
  outline: none;
}

.o_form_view .o_form_sheet_bg .o_form_sheet {
  min-width: 900px;
  max-width: 1000px;
  min-height: 330px;
  background: #fff;
  padding: 16px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .o_form_view .o_form_sheet_bg>.o_form_sheet {
    margin: 12px auto;
  }
}

@media (min-width: 1534px) {
  .o_form_view>.o_form_sheet_bg>.o_form_sheet {
    width: 100%;
    max-width: 1140px;
  }
}

.k-content.k-window-content .o_form_sheet {
  padding: 0;
  margin: 0;
}

.o_form_view .oe_title>h1>input {
  font-size: 20px;
}

.o_form_view .o_group {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}

.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child {
  margin-top: 0;
}

.o_form_view .o_group {
  display: flex;
  margin: 10px 0;
}

.o_form_view .o_group .o_group_col_6 {
  flex: 0 0 50%;
  vertical-align: top;
}

.o_form_view .o_group.o_inner_group {
  display: flex;
}

.o_form_view .o_group.o_inner_group>tbody>tr>td {
  vertical-align: top;
}

.o_form_view .o_group.o_inner_group>tbody>tr>td {
  padding: 0 45px 0 0;
}

.o_form_view .o_group.o_inner_group>tbody>tr>td.o_td_label {
  width: 0%;
  padding: 0px 15px 15px 0;
  min-width: 150px;
}

.o_form_view .o_form_label {
  margin: 0 5px 0 0;
  /* font-size: 1.08333333rem;
    line-height: 1.5; */
  font-weight: bold;
}

.o_form_view .o_group .o_form_label {
  font-weight: normal;
}

.o_form_view .o_group .o_td_label .o_form_label {
  font-weight: 600;
  margin-right: 0px;
}

.o_form_view .o_group .k-widget.k-combobox, .o_form_view .o_group .k-widget.k-numerictextbox, .o_form_view .o_group .k-widget.k-dateinput, .o_form_view .o_group .k-widget.k-datepicker {
  width: 100%;
}

.o_control_panel {
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  background-color: #f0eeee;
  border-bottom: 1px solid #a8a8a8;
}

.o_control_panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  border-bottom: 1px solid #cccccc;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  margin-bottom: 10px;
}

.o_control_panel .breadcrumb {
  width: 50%;
}

.o_control_panel .o_cp_searchview {
  width: 50%;
  min-height: 30px;
}

.o_cp_left {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.o_control_panel .o_cp_left {
  width: 50%;
  margin-top: 5px;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
}

.o_cp_right {
  width: 50%;
}

.o_control_panel .o_cp_right {
  width: 50%;
  margin-top: 5px;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-box;
  display: flex;
}

.o_control_panel .o_cp_searchview {
  width: 50%;
  min-height: 30px;
}

.o_searchview .o_searchview_input {
  width: 100px;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
}

.o_searchview {
  display: flex;
  align-items: flex-end;
  position: relative;
  flex-flow: row wrap;
  padding: 0 20px 1px 0;
}

.o_searchview {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  border-image: initial;
  border-radius: 4px 0 0 4px !important;
  padding: 1px 25px 3px 5px;
}

.o_searchview .o_searchview_input {
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.o_control_panel>.breadcrumb {
  padding: 0;
  margin-bottom: 0;
  background-color: #f0eeee;
  font-size: 20px;
}

.o_control_panel.o_breadcrumb_full>.breadcrumb {
  width: 100%;
}

.o_control_panel .breadcrumb>li {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  max-width: 90%;
  display: inline-block;
}

.o_control_panel .breadcrumb>li>a {
  cursor: pointer;
}

.breadcrumb>.active {
  color: #777;
}

.breadcrumb>li+li::before {
  content: "/ ";
  color: rgb(119, 119, 119);
  padding: 0px 5px;
}

@media (min-width: 475px) {
  .o_form_view .oe_inline.o_inner_group, .o_form_view .o_inner_group.oe_left, .o_form_view .o_inner_group.oe_right, .o_form_view .o_inner_group.o_group.oe_subtotal_footer {
    width: 1px !important;
  }
}

.o_form_view .oe_right, .o_form_view .o_group.o_inner_group.oe_subtotal_footer {
  float: right !important;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer {
  border-top: 1px solid #dee2e6;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer>tbody>tr:first-child>td {
  padding-top: 4px;
}

.o_form_view .o_group .o_td_label .o_form_label {
  font-weight: 600;
  margin-right: 0px;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer>tbody>tr>td {
  padding: 0;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer>tbody>tr>td.o_td_label {
  text-align: right;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer>tbody>tr>td .o_form_label {
  padding-right: 20px;
  min-width: 0;
  white-space: nowrap;
}

.o_control_panel .o_form_buttons_view button {
  margin-right: 4px;
}

.o_form_view .o_notebook .tab-content>.tab-pane {
  padding: 15px 0;
}

.main_wrapper {
  min-height: 440px;
  padding: 10px 15px;
}

.mainLeft {
  background: #fff;
  float: left;
  width: 280px;
  margin-bottom: 20px;
}

.mainRight {
  min-height: 600px;
  margin-left: 295px;
  position: relative;
  margin-bottom: 20px;
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.3);
}

.loader {
  left: 50%;
  margin-left: -4em;
  font-size: 10px;
  border: .8em solid rgba(218, 219, 223, 1);
  border-left: .8em solid rgba(58, 166, 165, 1);
  animation: spin 1.1s infinite linear;
}

.loader, .loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4.05em;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.btn.btn-icon.btn-sm {
  line-height: 1;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer .oe_subtotal_footer_separator {
  font-weight: 600;
  font-size: 1.3em;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer>tbody>tr>td .o_field_widget {
  text-align: right;
  -webkit-box-pack: end;
  justify-content: flex-end;
  width: 100%;
}

.grid-small th, .grid-small td {
  padding: .3rem!important;
}

.accordion.search-section {
  min-width: 250px;
  margin-right: 15px;
}

@media print {
  .isPrinting>* {
    display: none;
  }
  .isPrinting app-print-layout {
    display: block;
  }
  .o_print .table td, .o_print .table th {
    border-color: #333!important;
  }
}

.o_form_view.o_print .o_group.o_inner_group>tbody>tr>td.o_td_label {
  width: 0%;
  padding: 0px 5px 5px 0;
  min-width: 150px;
}

.o_form_view.o_print .o_group.o_inner_group.oe_subtotal_footer>tbody>tr:first-child>td {
  padding: 0;
}

.o_print .table td, .o_print .table th {
  border-color: #333!important;
}

.o_form_view.o_print .o_group.o_inner_group.oe_subtotal_footer {
  border-color: #333!important;
}