<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <kendo-grid [data]="gridData" [selectable]="true" [resizable]="true" (pageChange)="pageChange($event)" [kendoGridSelectBy]="'id'" [selectedKeys]="selectedIds">
        <kendo-grid-checkbox-column showSelectAll="true" width="50"></kendo-grid-checkbox-column>
        <kendo-grid-column field="name" title="Khách hàng"></kendo-grid-column>
        <kendo-grid-column field="phone" title="Số Điện thoại"></kendo-grid-column>
        <kendo-grid-column field="dateOfBirth" title="Ngày sinh"></kendo-grid-column>
        <kendo-grid-column field="gender" title="Giới tính"></kendo-grid-column>
        <kendo-grid-column field="countLine" title="Số dịch vụ"></kendo-grid-column>
        <kendo-grid-column title="Doanh thu">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.debit | number}}
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSave()" accesskey="s">Lưu</button>
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="activeModal.dismiss()"
        accesskey="q">Đóng</button>
</footer>