.active {
    background-color: #6C757D;
}

.item-rang:hover {
    cursor: pointer;
    /* background-color: rgb(48, 94, 163); */
}

.icon-edit {
    color: #28A745;
}

.bg-close {
    background-color: #6C757D;
    color: white;
}

.bg-close:hover {
    background-color: #464b50;
}