<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>
<div class="modal-body o_act_window">
    <form class="container o_form_view h-100" [formGroup]="formGroup">
        <div class="">
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_12">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help font-weight-bolder">
                                        Kích hoạt chương trình
                                    </label>
                                </td>
                                <td colspan="1" class="o_td_label" style="width: 80%;">
                                    <label class="switch">
                                        <input type="checkbox" formControlName="IsCareAfterOrderAutomation">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="o_td_label">
                                    <label class="o_form_label o_form_label_help font-weight-bolder">
                                        Điều kiện gửi tin
                                    </label>
                                    <table class="ml-5">
                                        <tr>
                                            <td colspan="1" class="o_td_label">
                                                <label class="o_form_label o_form_label_help">
                                                    Tên thiết lập
                                                </label>
                                            </td>
                                            <td colspan="1" style="width: 80%;">
                                                <input class="form-control" formControlName="name" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="o_td_label">
                                                <label class="o_form_label o_form_label_help mt-2 mb-2">
                                                    Chọn brandname
                                                </label>
                                            </td>
                                            <td colspan="1" style="width: 80%;">
                                                <kendo-combobox [data]="filteredSmsAccount" ngbAutofocus class="mb-2 mt-2"
                                                    [textField]="'brandName'" formControlName="smsAccount"
                                                    [filterable]="true" #smsAccountCbx [valueField]="'id'">
                                                    <ng-template kendoComboBoxItemTemplate let-dataItem>
                                                        <span>{{dataItem.brandName}} ({{dataItem.name}})</span>
                                                    </ng-template>
                                                </kendo-combobox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="o_td_label">
                                                <label class="o_form_label o_form_label_help">
                                                    Thời gian gửi tin
                                                </label>
                                            </td>
                                            <td colspan="1" class="d-flex tr-send" style="width: 100%;">
                                                <kendo-numerictextbox [min]="1" formControlName="timeBeforSend"
                                                    [autoCorrect]="true" [spinners]="false" format="n0">
                                                </kendo-numerictextbox>
                                                <select formControlName="TypeTimeBeforSend" class="form-control ml-2">
                                                    <option class="form-control" value="day">Ngày
                                                    </option>
                                                    <option class="form-control" value="month">Tháng
                                                    </option>
                                                </select>
                                                <span class="ml-2 text-span">sau khi hoàn thành điều trị</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="o_td_label">
                                                <label class="o_form_label o_form_label_help mt-2">
                                                    Thời điểm gửi tin
                                                </label>
                                            </td>
                                            <td colspan="1" style="width: 100%;">
                                                <kendo-timepicker formControlName="dateTimeSend" class="mt-2"></kendo-timepicker>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="o_td_label">
                                    <label class="o_form_label o_form_label_help font-weight-bolder">
                                        Gửi cho khách hàng sử dụng
                                    </label>
                                    <div class="d-flex ml-5">
                                        <div class="form-check mr-2">
                                            <input (change)="onChangeRadioButton($event)" class="form-check-input"
                                                formControlName="filter" type="radio" name="filter" id="productCategory"
                                                value="productCategory" checked>
                                            <label class="form-check-label font-weight-600" for="productCategory">
                                                Nhóm dịch vụ
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input (change)="onChangeRadioButton($event)" formControlName="filter"
                                                class="form-check-input font-weight-600" type="radio" name="filter"
                                                id="product" value="product">
                                            <label class="form-check-label" for="product">
                                                Dịch vụ
                                            </label>
                                        </div>
                                    </div>
                                    <div class="ml-5">
                                        <div *ngIf="filter=='productCategory'">
                                            <kendo-multiselect (filterChange)="loadProductCategory($event)"
                                                [filterable]="true" style="min-height: 100px;" class="mr-3"
                                                [data]="filteredProductCategories" [textField]="'name'"
                                                [placeholder]="'Chọn nhóm dịch vụ'" [valueField]="'id'"
                                                formControlName="productCategories">
                                            </kendo-multiselect>
                                        </div>
                                        <div *ngIf="filter=='product'">
                                            <kendo-multiselect (filterChange)="loadProduct($event)" class="mr-3"
                                                style="min-height: 100px;" [data]="filteredProducts" [filterable]="true"
                                                [placeholder]="'Chọn dịch vụ'" [textField]="'name'" [valueField]="'id'"
                                                formControlName="products">
                                            </kendo-multiselect>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="o_td_label">
                                    <label class="o_form_label o_form_label_help font-weight-bolder">
                                        Nội dung tin nhắn
                                    </label>
                                    <table class="ml-5">
                                        <tr>
                                            <td colspan="1" class="o_td_label">
                                                <label class="o_form_label o_form_label_help mb-2">
                                                    Tin nhắn mẫu
                                                </label>
                                            </td>
                                            <td colspan="1" style="width: 80%;">
                                                <kendo-combobox [data]="filteredTemplate" ngbAutofocus
                                                    [textField]="'name'" formControlName="template" [filterable]="true"
                                                    #smsTemplateCbx (valueChange)="onChangeTemplate($event)"
                                                    [valueField]="'id'" class="mb-2">
                                                </kendo-combobox>
                                                <!-- <a class="btn btn-sm btn-light" (click)="addTemplate()">
                                                    <span class="k-icon k-i-plus"></span>
                                                </a> -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <!-- <td colspan="1" class="o_td_label">
                                                <label class="o_form_label">Nội dung</label>
                                            </td> -->
                                            <td colspan="2" style="width: 80%;">
                                                <app-sms-template-content [type]="'saleOrderLine'"
                                                    [textareaLength]="textareaLimit" [template]="template">
                                                </app-sms-template-content>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="flexCheckChecked" (change)="checkedTemplateCopy($event)">
                                                    <label class="form-check-label" for="flexCheckChecked">
                                                        Lưu làm tin mẫu
                                                    </label>
                                                </div>
                                            </td>
                                            <td colspan="1" style="width: 80%;" *ngIf="isTemplateCopy">
                                                <input type="text" class="form-control mt-2" formControlName="templateName">
                                                <span class="text-danger"
                                                    *ngIf="formGroup.controls.templateName.value==''">
                                                    Nhập tiêu đề tin nhắn mẫu
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSave()" accesskey="s">Xác nhận</button>
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="activeModal.dismiss()"
        accesskey="q">Đóng</button>
</footer>