<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li>
                <a routerLink="/tenants">Danh sách đăng ký</a>
            </li>
            <li class="active">Đăng ký</li>
        </ol>
        <div class="o_cp_searchview">
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">

            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>
<div class="o_content">
    <div class="o_form_view o_form_editable">
        <div class="o_form_sheet_bg">
            <div class="clearfix position-relative o_form_sheet" [formGroup]="formGroup">
                <div *ngIf="registerSuccess">
                    <h1 class="text-success">Chúc mừng bạn đã đăng ký thành công!</h1>
                    <div class="form-group">
                        <label>Tên phòng khám</label>
                        <h5>{{registerResult.companyName}}</h5>
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ truy cập phần mềm của bạn là:</label>
                        <h5>
                            <a
                                [href]="getHostName(registerResult.hostname)">{{getHostName(registerResult.hostname)}}</a>
                        </h5>
                    </div>
                    <div class="form-group">
                        <label>Tên đăng nhập</label>
                        <h5>admin</h5>
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        <h5>{{registerResult.phone}}</h5>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="createNew()">Đăng ký mới</button>
                </div>
                <div [ngClass]="{'d-none': registerSuccess}">
                    <div class="container-fluid">
                        <div class="form-row">
                            <label class="col-sm-2 col-form-label" for="name">Họ tên</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" formControlName="name" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="col-sm-2 col-form-label" for="email">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" formControlName="email" required 
                                    placeholder="Dùng để reset mật khẩu" />
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                    <div *ngIf="email.errors.required">
                                        Nhập email
                                    </div>
                                    <div *ngIf="email.errors.email">
                                        Email không hợp lệ
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="col-sm-2 col-form-label" for="phone">Điện thoại</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control" id="phone" formControlName="phone" required />
                                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
                                    <div *ngIf="phone.errors.required">
                                        Nhập điện thoại
                                    </div>
                                    <div *ngIf="phone.errors.pattern">
                                        Điện thoại không hợp lệ
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="col-sm-2 col-form-label" for="companyName">Tên phòng khám</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="companyName" formControlName="companyName" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="col-sm-2 col-form-label" for="address">Địa chỉ</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="address" formControlName="address" />
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="col-sm-2 col-form-label" for="customerSource">Nguồn khách hàng</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="customerSource" formControlName="customerSource" />
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="col-sm-2 col-form-label">Người triển khai</label>
                            <div class="col-sm-10">
                                <kendo-combobox class="form-control" [data]="filterdEmployees" [textField]="'name'"
                                    [filterable]="true" #empCbx formControlName="employeeAdmin" [valueField]="'id'">
                                </kendo-combobox>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="col-sm-2 col-form-label" for="hostName">Tên miền sử dụng</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="hostName" formControlName="hostName" required />
                                <span>{{getHostName(hostName.value)}}</span>
                                <div *ngIf="hostName.invalid && (hostName.dirty || hostName.touched)" class="alert alert-danger">
                                    <div *ngIf="hostName.errors.required">
                                        Nhập tên miền sử dụng
                                    </div>
                                    <div *ngIf="hostName.errors.minlength">
                                        Tên miền sử dụng tối thiểu {{hostName.errors.minlength.requiredLength}} kí tự
                                    </div>
                                    <div *ngIf="hostName.errors.pattern">
                                        Tên miền sử dụng chỉ được chứa kí tự từ a -> z, 0 -> 9.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="col-sm-2 col-form-label" for="userName">Tên đăng nhập</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="userName" formControlName="userName" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="col-sm-2 col-form-label" for="password">Mật khẩu</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password" minlength="6" formControlName="password" required />
                                <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="password.errors.required">
                                        Nhập mật khẩu
                                    </div>
                                    <div *ngIf="password.errors.minlength">
                                        Mật khẩu tối thiểu {{password.errors.minlength.requiredLength}} kí tự
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="col-sm-2 col-form-label" for="confirmPassword">Xác nhận mật khẩu</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" required />
                                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="confirmPassword.errors.required">
                                        Nhập xác nhận mật khẩu
                                    </div>
                                    <div *ngIf="confirmPassword.errors.mustMatch">
                                        Nhập lại mật khẩu không khớp
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-primary" accesskey="s" (click)="onSubmit()">
                                    Đăng ký
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>