<div class="o_cp_controller">
  <div class="o_control_panel">
    <ol class="breadcrumb">
      <li class="active">Nguồn khách hàng</li>
    </ol>
    <div class="o_cp_searchview">
      <div class="o_searchview">
        <input class="o_searchview_input" placeholder="Tìm kiếm..." type="text" [(ngModel)]="search"
          (ngModelChange)="this.searchUpdate.next($event)">
      </div>
    </div>
    <div class="o_cp_left">
      <div class="o_cp_buttons">
        <div class="o_form_buttons_view">
          <button type="button" class="btn btn-primary btn-sm" accesskey="a" (click)="createItem()">Thêm</button>
          <!-- <button type="button" class="btn btn-light btn-sm" (click)="importFromExcel()">
            <i class="fas fa-upload"></i> Import
          </button> -->
        </div>
      </div>
      <div class="o_cp_sidebar">
      </div>
    </div>
    <div class="o_cp_right">
    </div>
  </div>
</div>

<div class="o_content">
  <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading"
    (pageChange)="pageChange($event)">
    <kendo-grid-column field="name" title="Tên">
    </kendo-grid-column>
    <kendo-grid-column field="id">
      <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
        Thao tác
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <button class="btn btn-success btn-sm mr-2" title="Sửa" (click)="editItem(dataItem)">
          <span class="far fa-edit"></span></button>
        <button class="btn btn-danger btn-sm" title="Xóa" (click)="deleteItem(dataItem)">
          <span class="far fa-trash-alt"></span></button>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
