<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ngbAutofocus
        (click)="activeModal.dismiss()" tabindex="-1">×</button>
</header>
<div class="modal-body o_act_window">
    <form class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <table class="o_group o_inner_group o_group_col_12">
                    <tbody class="w-100">
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label">Số ID thẻ</label>
                            </td>
                            <td colspan="1">
                                <input class="form-control" formControlName="barcode" />
                                <div *ngIf="f.barcode.errors && (f.barcode.touched || f.barcode.dirty || submitted)" class="text-danger mb-1">
                                    <div *ngIf="f.barcode.errors.required">Nhập ID thẻ</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label">Trạng thái thẻ</label>
                            </td>
                            <td colspan="1">
                                <span *ngIf="getValueFC('state') === 'draft'">Chưa kích hoạt</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label">Hạng thẻ</label>
                            </td>
                            <td colspan="1">
                                <kendo-combobox formControlName="cardType"></kendo-combobox>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label">Ngày bắt đầu</label>
                            </td>
                            <td colspan="1">
                                <div class="d-flex justify-content-between">
                                    <div class="">
                                        <kendo-datepicker style="width: 170px;" formControlName="activatedDateObj">
                                        </kendo-datepicker>
                                    </div>
                                    <div class="d-flex-between-center">
                                        <label style="font-weight: 600;" class="mr-2">Ngày kết thúc</label>
                                        <kendo-datepicker style="width: 170px;" formControlName="expiredDateObj">
                                        </kendo-datepicker>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label">Khách hàng</label>
                            </td>
                            <td colspan="1">
                                <div class="d-flex">
                                    <div class="flex-grow-1 mr-2">
                                        <kendo-combobox [filterable]="true" [data]="customerSimpleFilter" #customerCbx
                                            [valueField]="'id'" [textField]="'name'" formControlName="partner">
                                        </kendo-combobox>
                                    </div>
                                    <div>
                                        <a title="Thêm khách hàng" class=" btn btn-primary"
                                            (click)="quickCreateCustomerModal()">
                                            <i class="fas fa-plus text-white"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary mr-2" (click)="onSave()">
        Lưu</button>
    <button type="button" class="btn btn-primary mr-2" (click)="actionActivate()">
        Kích hoạt</button>
    <button type="button" class="btn btn-secondary ml-0" (click)="activeModal.dismiss()">
        Đóng</button>
</div>