<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="active">Chương trình khuyến mãi</li>
        </ol>
        <div class="o_cp_searchview">
            <div class="o_cp_searchview_group">
                <div class="o_searchview">
                    <input class="o_searchview_input" placeholder="Tìm kiếm theo tên chương trình" type="text"
                        [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
                </div>
            </div>
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <button *ngIf="canSaleCouponProgramCreate" type="button" class="btn btn-primary btn-sm" (click)="createItem()" accesskey="c">
                        Thêm
                    </button>
                </div>
            </div>
            <div class="o_cp_sidebar">
                <div class="btn-group">
                    <div class="btn-group o_dropdown" *ngIf="selectedIds.length && canSaleCouponProgramUpdate">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" type="button" id="dropdownMenuButton">
                            Thao tác
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item" (click)="actionArchive()">Tạm dừng</button>
                            <button class="dropdown-item" (click)="actionUnArchive()">Kích hoạt</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="o_cp_right">
            <kendo-combobox class="kendo-combobox-sm mr-1" [placeholder]="'Lọc theo trạng thái'"
                [popupSettings]="{width: 'auto'}" [filterable]="true" 
                [data]="listFilterStatus" [valueField]="'value'" [textField]="'text'"
                (valueChange)="valueChangeStatus($event)" (filterChange)="filterChangeStatus($event)">
            </kendo-combobox>
        </div>
    </div>
</div>

<div class="o_content">
    <div class="filter-active">
        <input type="radio" name="filterActive" class="btn-check" id="saleProgramActive" [value]="true" [(ngModel)]="filterActive" (change)="changeFilterActive()">
        <label for="saleProgramActive" class="btn btn-sm rounded-right-0" [ngClass]="filterActive ? 'btn-primary' : 'btn-outline-primary'">Đã kích hoạt</label>
        <input type="radio" name="filterActive" class="btn-check" id="saleProgramInactive" [value]="false" [(ngModel)]="filterActive" (change)="changeFilterActive()">
        <label for="saleProgramInactive" class="btn btn-sm rounded-left-0" [ngClass]="!filterActive ? 'btn-primary' : 'btn-outline-primary'">Chưa kích hoạt</label>
    </div>
    <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading"
        (pageChange)="pageChange($event)" [selectable]="true" [kendoGridSelectBy]="'id'" [selectedKeys]="selectedIds">
        <kendo-grid-checkbox-column showSelectAll="true" width="50"></kendo-grid-checkbox-column>
        <kendo-grid-column field="name" title="Chương trình">
        </kendo-grid-column>
        <kendo-grid-column title="Số lượng KM">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.maximumUseNumber ? dataItem.maximumUseNumber : "Không giới hạn"}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Thời gian áp dụng">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.ruleDateFrom | date:'shortDate'}} - {{dataItem.ruleDateTo | date:'shortDate'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="amountTotal" title="Giá trị khuyến mãi" class="text-right">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.amountTotal | number}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Trạng thái">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span [class]="getColorStatus(dataItem.statusDisplay)">
                    {{dataItem.statusDisplay}}
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="id" *ngIf="canSaleCouponProgramUpdate || canSaleCouponProgramDelete">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                Thao tác
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button *ngIf="canSaleCouponProgramUpdate" class="btn btn-success btn-sm mr-2" title="Sửa" (click)="editItem(dataItem)">
                    <span class="far fa-edit"></span>
                </button>
                <button *ngIf="canSaleCouponProgramDelete" class="btn btn-danger btn-sm" title="Xóa" (click)="deleteItem(dataItem)">
                    <span class="far fa-trash-alt"></span>
                </button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>