<header class="modal-header">
  <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
    tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
  <div class="o_form_view" [formGroup]="formGroup">
    <div class="o_form_sheet_bg">
      <div class="o_form_sheet">
        <div class="o_group mt-0 mb-0">
          <table class="o_group o_inner_group o_group_col_6">
            <tbody>
              <tr>
                <td colspan="1" class="o_td_label">
                  <label class="o_form_label">
                    Loại phục hình
                  </label>
                </td>
                <td colspan="1" style="width: 100%;">
                  <kendo-combobox [data]="filteredProducts" [class.d-none]="lineState == 'purchase'" ngbAutofocus
                    [textField]="'name'" [filterable]="true" (valueChange)="onChangeProduct($event)" #productCbx
                    formControlName="product" [valueField]="'id'">
                  </kendo-combobox>
                  <span *ngIf="line" [class.d-none]="lineState != 'purchase'">{{line.product ? line.product.name : ''}}
                  </span>
                  <div *ngIf="f.product.errors && (f.product.touched || f.product.dirty || submitted)"
                    class="text-danger">
                    <div *ngIf="f.product.errors.required">Chọn loại phục hình</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="1" class="o_td_label">
                  <label class="o_form_label">
                    Màu sắc
                  </label>
                </td>
                <td colspan="1" style="width: 100%;">
                  <input type="text" class="form-control" [class.d-none]="lineState == 'purchase'"
                    formControlName="color" />
                  <span *ngIf="line" [class.d-none]="lineState != 'purchase'">{{line.color}}&nbsp;</span>
                </td>
              </tr>
              <tr>
                <td colspan="1" class="o_td_label">
                  <label class="o_form_label">
                    Ghi chú
                  </label>
                </td>
                <td colspan="1" style="width: 100%;">
                  <textarea type="text" class="form-control" [class.d-none]="lineState == 'purchase'"
                    formControlName="note"></textarea>
                  <span *ngIf="line" [class.d-none]="lineState != 'purchase'">{{line.note}}&nbsp;</span>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="o_group o_inner_group o_group_col_6">
            <tbody>
              <tr>
                <td colspan="1" class="o_td_label">
                  <label class="o_form_label o_form_label_help">
                    Số lượng
                  </label>
                </td>
                <td colspan="1" style="width: 100%;">
                  <kendo-numerictextbox [min]="0" [class.d-none]="lineState == 'purchase'" [format]="'n0'"
                    formControlName="productQty">
                  </kendo-numerictextbox>
                  <span *ngIf="line" [class.d-none]="lineState != 'purchase'">{{line.productQty | number}}</span>
                </td>
              </tr>
              <tr>
                <td colspan="1" class="o_td_label">
                  <label class="o_form_label">
                    Đơn giá
                  </label>
                </td>
                <td colspan="1" style="width: 100%;">
                  <kendo-numerictextbox [min]="0" [class.d-none]="lineState == 'purchase'" [format]="'n0'"
                    formControlName="priceUnit">
                  </kendo-numerictextbox>
                  <span *ngIf="line" [class.d-none]="lineState != 'purchase'">{{line.priceUnit | number}}</span>
                </td>
              </tr>
              <tr>
                <td colspan="1" class="o_td_label">
                  <label class="o_form_label">
                    Thành tiền
                  </label>
                </td>
                <td colspan="1" style="width: 100%;">
                  <span>{{getPriceSubTotal() | number}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="o_group mt-0 mb-0">
          <table class="o_group o_inner_group o_group_col_6">
            <tbody>
              <tr>
                <td colspan="1" class="o_td_label">
                  <label class="o_form_label">
                    Loại răng
                  </label>
                </td>
                <td colspan="1" style="width: 100%;">
                  <kendo-combobox [data]="filteredToothCategories" [class.d-none]="lineState == 'purchase'"
                    [textField]="'name'" [filterable]="true" formControlName="toothCategory"
                    (valueChange)="onChangeToothCategory($event)" #toothCategoryCbx [valueField]="'id'">
                  </kendo-combobox>
                  <span *ngIf="line"
                    [class.d-none]="lineState != 'purchase'">{{line.toothCategory ? line.toothCategory.name : ''}}</span>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="o_group o_inner_group o_group_col_6">
            <tbody>
              <tr>
                <td colspan="1" class="o_td_label">
                  <label class="o_form_label">
                    Mã bảo hành
                  </label>
                </td>
                <td colspan="1" style="width: 100%;">
                  <input type="text" class="form-control" formControlName="warrantyCode" />
                </td>
              </tr>
              <tr>
                <td colspan="1" class="o_td_label">
                  <label class="o_form_label">
                    Hạn bảo hành
                  </label>
                </td>
                <td colspan="1" style="width: 100%;">
                  <kendo-datepicker formControlName="warrantyPeriodObj">
                  </kendo-datepicker>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="teeth-map">
          <table class="table">
            <tr *ngFor="let ham of hamList | keyvalue">
              <td [ngClass]="{'text-right': vitri.key === '0_right'}" *ngFor="let vitri of ham.value | keyvalue">
                <div (click)="onSelected(rang)" class="tooth-item" [ngClass]="{'selected': isSelected(rang)}"
                  *ngFor="let rang of vitri.value">
                  {{rang.name}}</div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onSave()" accesskey="s">Lưu</button>
  <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="activeModal.dismiss()"
    accesskey="q">Đóng</button>
</footer>
