<div class="o_control_panel">
    <ol class="breadcrumb">
        <li class="active">Khách hàng</li>
    </ol>
    <div class="o_cp_searchview">
        <div class="o_searchview">
            <input type="text" class="o_searchview_input" placeholder="Theo mã, tên hoặc số điện thoại"
                [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)" />
        </div>
    </div>
    <div class="o_cp_left">
        <div class="o_cp_buttons">
            <div class="o_form_buttons_view">
                <button type="button" accesskey="c" class="btn btn-primary btn-sm" (click)="createItem()">Thêm</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="importFromExcel()">Import</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="exportPartnerExcelFile()"><i
                        class="fas fa-download"></i>&nbsp;Xuất file Excel</button>
            </div>
        </div>
        <div class="o_cp_sidebar">
        </div>
    </div>
    <div class="o_cp_right">
        <div>
            <kendo-combobox [data]="filteredCategs" [placeholder]="'Nhóm khách hàng'" [filterable]="true"
                (valueChange)="onCategChange($event)" [textField]="'name'" #categCbx [(ngModel)]="searchCateg"
                [valueField]="'id'" [popupSettings]="{width: 'auto'}">
            </kendo-combobox>
        </div>
    </div>
</div>

<div class="o_content">
    <kendo-grid partnersBinding [advanceFilter]="advanceFilter" [skip]="skip" [sort]="gridSort" (pageChange)="pageChange($event)" [height]="550" [filter]="gridFilter" #grid [pageable]="true" [pageSize]="10">
        <kendo-grid-column field="Name" title="Họ tên" width="200" [locked]="true">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div>
                    <a class="text-primary" title="Xem hồ sơ khách hàng" [routerLink]="['/partners/customer/' + dataItem.Id]">
                        <span *ngIf="dataItem.ref">[{{dataItem.Ref}}] </span>
                        {{dataItem.Name}}
                    </a>
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Ref" title="Mã KH" width="150" [locked]="true"></kendo-grid-column>
        <kendo-grid-column field="Phone" title="Điện thoại" width="150" [locked]="true"></kendo-grid-column>
        <!-- <kendo-grid-column field="lastAppointmentDate" title="Lịch hẹn tiếp theo/gần đây" width="250" [locked]="true">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.lastAppointmentDate | date: 'HH:mm - EEEE, dd/MM/yyyy'}}
            </ng-template>
        </kendo-grid-column> -->
        <kendo-grid-column field="Age" title="Tuổi" width="70"></kendo-grid-column>
        <kendo-grid-column field="GenderDisplay" title="Giới tính" width="120"></kendo-grid-column>
        <kendo-grid-column field="Address" title="Địa chỉ" width="400"></kendo-grid-column>
        <kendo-grid-column field="DateOfBirth" title="Ngày sinh" width="120"></kendo-grid-column>
        <kendo-grid-column field="Date" title="Ngày tạo" width="120">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.Date | date: 'shortDate'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="JobTitle" title="Nghề nghiệp" width="150"></kendo-grid-column>
        <kendo-grid-column field="Email" title="Email" width="250"></kendo-grid-column>
        <kendo-grid-column field="Comment" title="Ghi chú" width="250"></kendo-grid-column>
        <kendo-grid-column field="Id" width="100">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                Thao tác
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <!-- <button class="btn btn-info btn-sm mr-2" title="In Hồ sơ khách hàng" (click)="printItem(dataItem)">
                    <span class="fas fa-print"></span></button> -->
                <button class="btn btn-success btn-sm mr-2" title="Sửa" (click)="editItem(dataItem)">
                    <i class="far fa-edit"></i></button>
                <button class="btn btn-danger btn-sm" title="Xóa" (click)="deleteItem(dataItem)">
                    <i class="far fa-trash-alt"></i></button>
            </ng-template>
        </kendo-grid-column>
        <!-- <div *kendoGridDetailTemplate="let dataItem">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info_{{dataItem.id}}" role="tab"
                        aria-controls="info" aria-selected="true">Thông tin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="invoice-tab" data-toggle="tab" href="#invoice_{{dataItem.id}}" role="tab"
                        aria-controls="invoice" aria-selected="false">Phiếu điều trị</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment_{{dataItem.id}}" role="tab"
                        aria-controls="payment" aria-selected="false">Lịch sử thanh toán</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane py-2 fade show active" id="info_{{dataItem.id}}" role="tabpanel"
                    aria-labelledby="info-tab">
                    <app-partner-customer-info [partnerId]="dataItem.id"></app-partner-customer-info>
                </div>
                <div class="tab-pane py-2 fade" id="invoice_{{dataItem.id}}" role="tabpanel"
                    aria-labelledby="invoice-tab">
                    <app-partner-tab-sale-order-list [item]="dataItem"></app-partner-tab-sale-order-list>
                </div>
                <div class="tab-pane py-2 fade" id="payment_{{dataItem.id}}" role="tabpanel"
                    aria-labelledby="payment-tab">
                    <app-partner-payments (paymentChange)="onPaymentChange()" [partnerId]="dataItem.id">
                    </app-partner-payments>
                </div>
            </div>
        </div> -->
    </kendo-grid>
    <app-partner-profile-print></app-partner-profile-print>
</div>