.filter {
  margin-top: -0.5rem !important;
}

.filter > * {
  margin-top: 0.5rem !important;
}

.filter-search {
  max-width: 335px;
}

.cus-text-truncate {
  display: inline-block;
  max-width: calc(150px - 1.71rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
