<div class="filter-toathuoc">
    <div class="w-50">
        <app-tai-date-range-filter-dropdown [dateFrom]="dateFrom" [title]="'Thời gian'" [dateTo]="dateTo"
            (searchChange)="onSearchDateChange($event)">
        </app-tai-date-range-filter-dropdown>
    </div>
    <div class="w-50">
        <input class="form-control btn-sm" placeholder="Tìm kiếm theo khách hàng" type="text" [(ngModel)]="search"
            (ngModelChange)="this.searchUpdate.next($event)">
    </div>
</div>
<kendo-grid [data]="gridData" [pageSize]="limit" [skip]="offset" [pageable]="true" [loading]="loading"
    (pageChange)="pageChange($event)">
    <kendo-grid-column field="date" title="Ngày tạo" width="200">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{dataItem.date | date:'short'}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="partnerName" title="Khách hàng" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="saleOrderName" title="Phiếu điều trị" width="150">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <a class="text-primary text-decoraction" routerLink="/sale-orders/form" [queryParams]="{id: dataItem.saleOrderId}">
                {{dataItem.saleOrderName}}
            </a>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="name" title="Số đơn thuốc" width="150">

    </kendo-grid-column>
    <kendo-grid-column field="employeeName" title="Bác sĩ" width="120">
    </kendo-grid-column>
    <kendo-grid-column class="text-center" field="id" width="100">
        <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
            Thao tác
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <button class="btn btn-primary btn-sm" title="Tạo thanh toán toán hóa đơn thuốc"
                (click)="createPrescriptionPayment(dataItem)">
                <img src="./assets/images/add-payment.png" alt="">Tạo hóa đơn
            </button>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>