<div class="o_cp_controller">
    <div class="o_control_panel">
        <div class="o_cp_t_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <app-tai-date-range-filter-dropdown [dateFrom]="dateFrom" [title]="'Thời gian'" [dateTo]="dateTo"
                        (searchChange)="onSearchDateChange($event)">
                    </app-tai-date-range-filter-dropdown>
                </div>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_t_right">
            <input class="o_searchview_input o_searchview" placeholder="Tìm kiếm theo khách hàng, số đơn thuốc"
                type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
        </div>
    </div>
</div>
<div class="o_content">
    <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="offset" [pageable]="true" [loading]="loading"
        (pageChange)="pageChange($event)">
        <kendo-grid-column field="date" title="Ngày tạo" width="80">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.date | date:'shortDate'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="partnerDisplayName" title="Khách hàng" width="150">
        </kendo-grid-column>
        <kendo-grid-column field="saleOrderName" title="Phiếu điều trị" width="80">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <a class="text-primary text-decoraction" routerLink="/sale-orders/form"
                    [queryParams]="{id: dataItem.saleOrderId}">
                    {{dataItem.saleOrderName}}
                </a>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="name" title="Số đơn thuốc" width="100">

        </kendo-grid-column>
        <kendo-grid-column field="employeeName" title="Bác sĩ" width="100">
        </kendo-grid-column>
        <kendo-grid-column class="text-center" field="id" width="100">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                Thao tác
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button class="btn btn-primary btn-sm" title="Tạo thanh toán hóa đơn thuốc" (click)="createPrescriptionPayment(dataItem)">
                    <img src="./assets/images/add-payment.png" alt="">Tạo hóa đơn
                </button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>