<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li>
                <a routerLink="/tcare-campaigns">{{title}}</a>
            </li>
        </ol>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <button type="button" accesskey="s" class="btn btn-primary btn-sm" (click)="onSave()">
                        Lưu</button>
                </div>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<div style="padding: 15px;">
    <div style="max-width: 50%;">
        <form [formGroup]="formGroup">
            <div class="form-group">
                <label for="formGroupExampleInput">Tên quy trình</label>
                <input type="text" class="form-control" formControlName="name" id="formGroupExampleInput"
                    placeholder="Example input">
            </div>
        </form>
    </div>
    <div class="row" style="position: relative;">
        <div class="col-2" style="padding-right:0">
            <div id="sidebarContainer" class="border shadow-sm"
                style="overflow:hidden;min-height: 555px; height: 555px; padding:10px; ">
                <div>
                    <div>
                        <div class="my-1"><b style="font-size: 0.9rem;">Sequences:</b></div>
                        <div class="border p-1" id="sidebarContainer_sequences"></div>
                    </div>
                    <div>
                        <div class="my-1"><b style="font-size: 0.9rem;">Goals:</b></div>
                        <div class="border p-1" id="sidebarContainer_goals"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10" style="padding-left:0">
            <div id="graphContainer"
                style="overflow:hidden;min-height: 555px; height: 555px; background-image:url('./assets/editors/images/grid.gif');cursor:default;">
            </div>
        </div>
        <div id="outlineContainer"
            style="position:absolute;overflow:hidden;top:42px;right:15px;width:200px;height:140px;background:transparent;border-style:solid;border-color:black;">
        </div>
    </div>
</div>