<div>
    <div [formGroup]="formCampaign">
        <!-- <div class="o_statusbar_buttons">
            <input type="text" (blur)="onSave()" class="form-control o_statusbar_input_title " formControlName="name">
        </div> -->
        <div class="d-flex justify-content-between align-items-center mb-2">
            <div>
                <span class="mr-2">Chạy mỗi ngày vào lúc</span>
                <kendo-timepicker [disabled]="campaign.active" style="width: 100px;"
                  formControlName="scheduleStart">
                </kendo-timepicker>
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-sm" (click)="onSave()">Lưu chiến dịch</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2 graph_icon_sidebar">
        <div id="sidebarContainer" class="border shadow-sm">
            <div>
                <div>
                    <div class="my-1"><b style="font-size: 0.9rem;">Gửi tin</b></div>
                    <div class="border p-1" id="sidebarContainer_sequences"></div>
                </div>
                <div>
                    <div class="my-1"><b style="font-size: 0.9rem;">Điều kiện</b></div>
                    <div class="border p-1" id="sidebarContainer_goals"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-10 graph_content">
        <div id="graphContainer" class="graph_container"
            style="background-image: url('./assets/editors/images/grid.gif');">
        </div>
    </div>
</div>