<div class="card">
    <div class="card-body">
        <!-- <h5>Báo cáo công nợ khách hàng</h5> -->
        <div class="filter d-flex flex-0-0-auto justify-content-between">
            <div class="d-flex w-50">
                <button class="btn btn-primary" (click)="createCardLevel()">
                    <i class="fas fa-plus mr-1"></i>Tạo hạng thẻ
                </button>
            </div>
            <div class="o_searchview w-50">
                <input type="text" class="o_searchview_input" placeholder="Tìm kiếm theo tên hạng thẻ" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)" />
                <span class="o_searchview_icon fas fa-search"></span>
            </div>
        </div>
        <div class="o_dashboard_view">
            <div class="overflow-auto">
                <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="pagerSettings" [loading]="loading" (pageChange)="pageChange($event)">
                    <kendo-grid-column field="name" title="Tên hạng thẻ">
                    </kendo-grid-column>
                    <kendo-grid-column title="Hạn mức thẻ">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            {{getCardLevel(dataItem)}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Thao tác">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <button class="btn btn-success mr-2" title="Sửa" (click)="editItem(dataItem)">
                                <span class="far fa-edit"></span></button>
                            <button class="btn btn-danger" title="Xóa" (click)="deleteItem(dataItem)">
                                <span class="far fa-trash-alt"></span></button>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
            </div>
        </div>
    </div>
</div>