<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ngbAutofocus (click)="onCancel()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <div class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="oe_title">
                    <h5>
                        <span>CÂU HỎI KHẢO SÁT ĐÁNH GIÁ</span>
                    </h5>
                </div>
                <div class="o_group">
                    <div formArrayName="lines">
                        <ng-container *ngFor="let line of lines.controls;let i=index">
                            <div class="section mb-1" [formGroupName]="i">
                                <h6>{{line.get('question').value.sequence}}/ {{line.get('question').value.name}}</h6>
                                <ng-container *ngIf="line.get('question').value.type === 'radio';else text">
                                    <div class="radio pl-2" *ngFor="let item of line.get('question').value.answers">
                                        <input formControlName="score"
                                            [attr.disabled]="surveyAssignmentStatus == 'done' ? true: null"
                                            [value]="item.score" type="radio" [id]="item.id"
                                            (change)="onChange(line,item)">
                                        <label class="ml-1" [for]="item.id">
                                            {{item.score}} điểm: {{item.name}}
                                        </label>
                                    </div>
                                </ng-container>
                                <ng-template #text>
                                    <ng-container>
                                        <textarea class="form-control pl-2"
                                            [attr.disabled]="surveyAssignmentStatus == 'done' ? true: null" rows="4"
                                            formControlName="valueText"></textarea>
                                    </ng-container>
                                </ng-template>

                            </div>
                        </ng-container>
                    </div>


                </div>
                <div class="oe_title">
                    <h5>
                        <span>GÁN TAG KHẢO SÁT</span>
                    </h5>
                </div>
                <div class="o_group">
                    <div class="d-flex" *ngIf="surveyAssignmentStatus !== 'done';else other_content">
                        <kendo-multiselect class="mr-3" [data]="surveyTags" [textField]="'name'" [valueField]="'id'"
                            formControlName="surveyTags">
                        </kendo-multiselect>
                        <button  title="Thêm nhãn khảo sát" class="btn btn-secondary"
                            (click)="quickCreateSurveyTagModal()">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <ng-template #other_content>
                        <div class="d-flex">
                            <h6 *ngFor="let tag of surveyTags">
                                <span class="badge badge-secondary p-2 mr-1" [ngClass]="'o_tag_color_' + tag.color">
                                    {{tag.name}}
                                </span>   
                            </h6>
                        </div>
                        
                    </ng-template>
                </div>

                <div class="oe_title">
                    <h5>
                        <span>NỘI DUNG KHẢO SÁT</span>
                    </h5>
                </div>
                <div class="o_group">
                    <textarea class="form-control pl-2" [attr.disabled]="surveyAssignmentStatus == 'done' ? true: null"
                        rows="4" formControlName="note"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-primary" *ngIf="surveyAssignmentStatus !== 'done'" (click)="onSave()"
        accesskey="s">Hoàn thành</button>
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="onCancel()"
        accesskey="q">Đóng</button>
</footer>