.o_form_sheet_new {
    width: 100%;
    background-color: #fff;
    padding: 16px;
}

.o_td_label {
    min-width: 160px;
    font-weight: 600;
}

.select-control {
    min-width: 100px;
}

.btn-square {
    width: 25px;
    height: 25px;
    position: relative;
}

.fa-check:before {
    position: absolute;
    top: 5px;
    left: 5px;
}