<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb w-100">
            <li>
                <a [routerLink]="['/card-types/member-cards']">
                    Danh sách loại thẻ
                </a>
            </li>
            <li class="active">
                <span *ngIf="cardTypeId">{{cardTypeName}}</span>
                <span *ngIf="!cardTypeId">Tạo mới</span>
            </li>
        </ol>
        <div class="o_cp_left">
            <button class="btn btn-primary" (click)="onSave()">Lưu</button>
        </div>
    </div>
</div>
<div class="o_content py-3">
    <form class="o_form_view" [formGroup]="cardForm">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Tên hạng thẻ
                                    </label>
                                </td>
                                <td colspan="1" style="width:100%">
                                    <input class="form-control" formControlName="name">
                                    <div *ngIf="f.name.errors && (f.name.touched || f.name.dirty || submitted)"
                                            class="text-danger">
                                            <div *ngIf="f.name.errors?.required" class="text-danger">
                                                Nhập tên hạng thẻ
                                            </div>
                                        </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Điểm tích lũy tối thiểu
                                        <span class="text-primary" placement="right" ngbTooltip="Số điểm tích lũy tối thiểu để đạt hạng thành viên này. Với tỷ lệ quy đổi là 10.000đ thực thu tương ứng với 1 điểm tích lũy.">
                                            <i class="fas fa-exclamation-circle"></i>
                                        </span>
                                    </label>
                                </td>
                                <td colspan="1" style="width:100%">
                                    <kendo-numerictextbox  [min]="0" autoCorrect = 'true'  [format]="'n0'" class="mr-2" formControlName="basicPoint">
                                    </kendo-numerictextbox>
                                    <div class="text-danger" *ngIf="submitted && f.basicPoint.errors?.required">
                                        Nhập điểm tích lũy tối thiểu
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Màu sắc
                                    </label>
                                </td>
                                <td colspan="1" style="width:100%">
                                    <button *ngFor="let item of [].constructor(12); index as i" type="button"
                                        class="btn btn-square mr-2 mb-2" [ngClass]="'o_tag_color_' + i"
                                        (click)="clickColor(i)">
                                        <i *ngIf="i == colorSelected" class="fas fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="o_td_label mb-2">
                    Cấu hình ưu đãi
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <app-service-list-search-dropdown (onSelectService)="addLine($event)" [placeHolder] = "'Tìm kiếm theo mã hoặc tên dịch vụ...'" ></app-service-list-search-dropdown>
                    <div>
                        <button class="btn btn-primary mr-2" (click)="onApplyCateg()">
                            Áp dụng cho cả nhóm
                        </button>
                        <button class="btn btn-primary" (click) ="onApplyAll()">
                            Áp dụng cho toàn bộ
                        </button>
                    </div>
                </div>
                <div>
                    <table class="table">
                        <tr>
                            <th>Tên dịch vụ</th>
                            <th>Giá bán</th>
                            <th>Ưu đãi theo thẻ</th>
                            <th></th>

                        </tr>
                        <ng-container>
                            <tbody formArrayName="productPricelistItems">
                                <ng-container
                                    *ngFor="let categ of this.productPricelistItems.controls; let categIndex = index"
                                    [formGroupName]="categIndex">
                                    <tr>
                                        <td colspan="2" class="o_td_label">
                                            {{categ.get('name').value}}
                                        </td>
                                        <td class="text-right">
                                        </td>
                                        <td></td>
                                    </tr>

                                    <ng-container formArrayName="products">
                                        <tr *ngFor="let gr of categ.get('products')['controls']; let proIndex = index"
                                            [formGroupName]="proIndex">
                                            <td class="w-50">
                                                <div>{{gr.get('product').value.name}}</div>
                                                <div>{{gr.get('product').value.defaultCode}}</div>

                                            </td>
                                            <td class="w-20">{{gr.get('product').value.listPrice | number}}</td>
                                            <td class="w-30 text-right">
                                                <app-compute-price-input-popover (onApply) = "apply($event,categIndex, proIndex)" 
                                                [priceObj] = "getPriceObj(gr)">
                                                </app-compute-price-input-popover>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger mr-2" title="Xóa"
                                                    (click)="deleteItem(categIndex, proIndex)">
                                                    <span class="far fa-trash-alt"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-container>

                                </ng-container>

                            </tbody>
                        </ng-container>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>