<div style="max-width: 400px" class="ml-auto mr-auto mt-5">
    <div class="status-code text-center" style="color: red; zoom: 8">404</div>
    <div class="title text-center border text-danger py-2" style="background-color: #f6d3d6;">
        <div>Ứng dụng không tồn tại, vui lòng liên hệ hotline</div>
        <div><b>0908075455</b> để được hỗ trợ</div>
    </div>
    <ul class="list-group text-white mt-4">
        <li class="list-group-item list-group-item-action active d-flex justify-content-lg-between">
            <a href=" https://tdental.vn/">
                <i class="fas fa-home">
                </i> Trang chủ
            </a>
            <span class="font-weight-600">></span>
        </li>
        <li class="list-group-item list-group-item-action active  d-flex justify-content-lg-between">
            <a href="https://tdental.vn/lien-he.html">
                <i class="fas fa-id-card-alt"></i> Liên hệ
            </a>
            <span class="font-weight-600">></span>
        </li>
    </ul>
</div>