<div style="max-width: 400px" class="ml-auto mr-auto mt-5">
    <div class="status-code text-center">404</div>
    <div class="title text-center">
        <div>Ứng dụng không tồn tại, vui lòng liên hệ hotline</div>
        <div><b>0908075455</b> để được hỗ trợ</div>
    </div>
    <ul class="list-group text-white">
        <li class="list-group-item list-group-item-action active">Trang chủ</li>
        <li class="list-group-item list-group-item-action active">Liên hệ</li>
        <li class="list-group-item list-group-item-action active">Đăng nhập</li>
    </ul>
</div>