.summary-col{
    border: 1px solid #E2E7ED;
    border-radius: 4px;
    background-color: white;
}

.btn {
    white-space: nowrap;
}

.date-picker {
    white-space: nowrap;
}

.o_searchview {
    width: 35%;
}