<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>
<div class="modal-body o_act_window">
    <form class="o_form_view" [formGroup]="formGroup" kendo-validator="validator">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr *ngIf="employee">
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Nhân Viên</label>
                                </td>
                                <td colspan="1" style="width: 100%;" *ngIf="employee">
                                    {{employee.name}}
                                </td>
                            </tr>
                            <tr *ngIf="id">
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Số giờ</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    {{chamCong.timeIn && chamCong.timeOut ? chamCong.hourWorked : 0 }}
                                </td>
                            </tr>
                            <tr *ngIf="id">
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Trạng Thái</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <span *ngIf="chamCong.timeIn && chamCong.status != 'done'">Chấm vào</span>
                                    <span *ngIf="chamCong.timeOut && chamCong.status != 'done'">Chấm ra</span>
                                    <span *ngIf="chamCong.status == 'done'">Hoàn thành</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Ngày</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    {{dateTime | date:'EEEE , dd/MM/yyyy'}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Loại</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-combobox class="form-control" [data]="filterdWorks" [textField]="'name'"
                                        [filterable]="true" #workCbx formControlName="workEntryTypeId"
                                        [valueField]="'id'" [valuePrimitive]="true">
                                    </kendo-combobox>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label ">Giờ vào</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-timepicker (valueChange)="changeTimeIn($event)" formControlName="timeIn">
                                    </kendo-timepicker>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label ">Giờ ra</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-timepicker #timeOutRef (valueChange)="changeTimeOut($event)"
                                        formControlName="timeOut">
                                    </kendo-timepicker><br>
                                    <!-- <span class="text-danger" *ngIf="error">Thời gian ra không được nhỏ hơn thời gian vào. Vui lòng nhập lại thời gian ra</span> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" accesskey="s" [disabled]="formGroup.invalid || error"
        (click)="onSave()">Lưu</button>
    <button type="button" class="btn btn-secondary" accesskey="q" (click)="activeModal.dismiss()">Đóng</button>
    <button type="button" class="btn btn-danger ml-2" accesskey="x" (click)="delete(chamCong)">Xóa</button>
</div>