.replace {
    width: 42.1px;
    display: inline-flex;
    flex-direction: column;
}

.none {
    display: none !important;
}

.o_form_view .o_form_sheet_bg .o_form_sheet {
    min-width: 400px;
    max-width: 1000px;
    min-height: auto;
}