.appointment-state{
    padding: 15px;
}

.edit_remove_action button {
    background: none;
    border: none;
    margin-right: 5px;
    border-style: none;
    padding: 0;
    outline: none;
}

.dropdown-toggle::after {
    display:none;
}

.dropdown-wrapper {
    width: 200px;
}

textarea.ng-invalid {
    border: 1px solid red;
    box-shadow: none;
  }