<div class="px-3 py-2 d-flex justify-content-between">
    <button class="btn btn-sm btn-primary" (click)="createFacebookUser()">Tải danh sách khách hàng</button>
    <input class="px-2" style="max-width: 400px;" placeholder="Tìm kiếm theo tên hay mã khách hàng " type="text"
        [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
</div>

<div>
    <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading"
        (pageChange)="pageChange($event)">
        <kendo-grid-column field="psId" title="PSID">
        </kendo-grid-column>
        <!-- <kendo-grid-column title="Ảnh đại diện">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <img src="https://graph.facebook.com/{{dataItem.psId}}/profile_pic?height=40&amp;width=40">
            </ng-template>
        </kendo-grid-column> -->
        <kendo-grid-column field="name" title="Tên khách hàng">
        </kendo-grid-column>
        <kendo-grid-column field="gender" title="Giới tính">
        </kendo-grid-column>
        <kendo-grid-column field="dateCreated" title="Ngày tạo">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.dateCreated | date : 'short'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="action">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                Kết nối
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button *ngIf="!dataItem.partnerId" 
                    class="btn btn-success btn-sm"
                    (click)="showModalConnectPartner(dataItem, rowIndex)">Kết nối</button>
                <button *ngIf="dataItem.partnerId" 
                    class="btn btn-warning btn-sm"
                    style="color: white"
                    (click)="removePartner(dataItem, rowIndex)">Hủy kết nối</button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>
<br>
<br>
<div *ngFor="let item of dataSendMessage; index as i">
    <input *ngIf="item.type === 'text' || item.type === 'template'" placeholder="Nhập tin nhắn.." [(ngModel)]="item.text">
    <input *ngIf="item.type === 'text' || item.type === 'template'" type="button" value="Thêm nút"
        (click)="onCreate('template_button', i)">
    <div *ngIf="item.type === 'image'">Chọn image</div>
    <div *ngIf="item.type === 'video'">Chọn video</div>
</div>

<input type="button" value="Tin nhắn" (click)="onCreate('text', null)">
<input type="button" value="Image" (click)="onCreate('image', null)">
<input type="button" value="Video" (click)="onCreate('video', null)">
