<div class="px-3 py-2 d-flex justify-content-between">
    <div>
        <button class="btn btn-sm btn-primary" (click)="syncUsers()">Đồng bộ danh sách người tương tác</button>
        <button class="btn btn-sm btn-primary ml-1" (click)="syncNumberPhoneUsers()">Đồng bộ SĐT người tương tác</button>
    </div>  
    <input class="px-2" style="max-width: 400px;" placeholder="Tìm kiếm..." type="text" [(ngModel)]="search"
        (ngModelChange)="this.searchUpdate.next($event)">
</div>

<div>
    <kendo-grid [data]="gridData" [pageSize]="limit" [skip]="skip" [pageable]="true" [loading]="loading"
        (pageChange)="pageChange($event)">
        <kendo-grid-column title="Hình đại diện" width="120">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <img class="rounded-circle" [src]="dataItem.avatar" height="50" width="50">
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="name" title="Tên" width="200">
        </kendo-grid-column>
        <kendo-grid-column title="Số điện thoại" width="200">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <app-partner-phone-popover [phones]="dataItem.phone" [customerId]="dataItem.id"></app-partner-phone-popover> {{dataItem.phone}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="partnerName" title="Khách hàng liên kết" width="150">
        </kendo-grid-column>
        <kendo-grid-column field="id" width="100">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                Thao tác
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button class="btn btn-success btn-sm mr-2" title="Sửa" (click)="editItem(dataItem)">
                    <span class="far fa-edit"></span>
                </button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>