<kendo-scheduler [kendoSchedulerBinding]="events" [selectedDate]="selectedDate" startTime="06:00"
    [currentTimeMarker]="false" [eventClass]="getEventClass" (eventDblClick)="eventDblClickHandler($event)"
    [editable]="true" (remove)="removeHandler($event)" (dateChange)="onDateChange($event)" [slotDivisions]="2">
    <ng-template kendoSchedulerEventTemplate let-event>
        <div style="display: flex;flex-direction: column;">
            <div style="overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;">{{ event.title }}</div>
            <small>{{ event.dataItem.start | date: 'HH:mm' }}</small>
        </div>
    </ng-template>

    <kendo-scheduler-day-view>
    </kendo-scheduler-day-view>

    <kendo-scheduler-week-view>
    </kendo-scheduler-week-view>

    <kendo-scheduler-month-view>
    </kendo-scheduler-month-view>
</kendo-scheduler>