<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="active">Quản lý phiếu Labo</li>
        </ol>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">

                </div>
            </div>
            <div class="o_cp_sidebar">

            </div>
        </div>
        <div class="o_cp_right">
            <div class="o_search_options">
                <div class="d-flex">
                    <button routerLinkActive="active" routerLink="prescriptions"
                        class="btn btn-secondary btn-sm mr-2">Đơn thuốc</button>
                    <button routerLinkActive="active" routerLink="prescription-payments"
                        class="btn btn-secondary btn-sm">Hóa đơn thuốc</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="o_content">
    <router-outlet></router-outlet>
</div>