.table .thead-light th{
    font-weight: normal;
}

.o_form_view .o_form_statusbar{
    align-items: center;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button.btn-primary.disabled {
    color: white;
    font-size: 11px;
    background-color: #007bff;
    cursor: default;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button:not(:first-child):before {
    border-left-color: #007bff;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button.btn-primary.disabled:after {
    border-left-color: #007bff;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button.disabled{
    background-color: #e9ecef;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button:not(:first-child):before, 
.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button:not(:first-child):after{
    border-left: 10px solid #e9ecef;
}

.o_form_view .o_form_sheet_bg .o_form_sheet{
    border: none;
}

.o_form_view .o_form_statusbar{
    border-bottom: none;
    margin: 0;
    padding: 16px 16px 0 16px;
}

.o_form_view .o_form_sheet_bg .o_form_sheet{
    padding-top: 0;
}