.o_web_client {
    background-color: white !important;
}

.k-grid-footer-wrap table tfoot tr td {
    border: none;
}

.date-picker{
    white-space: nowrap;
}

.btn-sm {
    white-space: nowrap !important;
}