<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li>
                Hạng thành viên
            </li>
        </ol>
        <div>
            <div class="o_cp_buttons">

            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<div class="o_content">
    <button type="button" (click)="createLevel()" class="ml-2 btn btn-primary btn-md btn-position">
        <i class="fas fa-cog"></i>
       <span class="ml-4">Thiết lập hạng thành viên</span>
    </button>
</div>