/* .dropdown-menu {
    max-width: 410px;
    width: 100%;
    min-width: 300px;
}

.dropdown-menu .dropdown-item {
    padding: 0 !important;
} */

.search-icon {
    position: absolute;
    top: 40px;
    left: 0px;
    color: hsl(208deg 7% 46%);
    padding: 10px;
}

.input-search {
    padding-left: 36px;
}

._wrapper {
    min-height: 300px;
    max-height: 400px;
}



.form-check-input:checked+.form-check-label {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
   
}

.table-list-product td {
    padding: .75rem;
    vertical-align: top;
    border-top: none !important;
}


.form-check-label{
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.form-check{
    padding-left: 2px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control:focus {
    box-shadow: none !important;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.has-search input{
    border-radius: 5px;
}

.flex-0-0-auto {
    flex: 0 0 auto;
}

.flex-1-1-100 {
    flex: 1 1 100%;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control:focus {
    box-shadow: none !important;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

tbody>.cursor:hover {
    background-color: #c1c1c1;
}

.cursor {
    cursor: pointer;
}

.size-text-14 {
    font-size: 13.5px;
    border-radius: 0;
}

.sticky-table {
    width: 100% !important;
    border-collapse: separate !important;
    /* Don't collapse */
    border-spacing: 0 !important;
}



