<ng-select class="_search_wrapper" bindLabel="name" [typeahead]="searchInput$" (change)="onSearchChange($event)"
    [minTermLength]="2" [loading]="searchLoading" placeholder="Tìm kiếm nhanh" [items]="search$ | async"
    [(ngModel)]="selectedResult" typeToSearchText="Vui lòng nhập 2 kí tự trở lên">
    <ng-template ng-header-tmp>
        <div class="_search_all_header">
            <span *ngFor="let option of options">
                <input (click)="onChangeResultSelection(option.value)" class="btn-check" type="radio" [attr.id]="option.value"
                    value="all">
                <label class="btn btn-light btn-sm" [ngClass]="{'btn-light': resultSelection != option.value, 'btn-primary': resultSelection == option.value}" [for]="option.value">{{option.text}}</label>
            </span>
        </div>
    </ng-template>
    <ng-template ng-option-tmp let-item="item">
        <div class="font-weight-600">{{item.name}}</div>
        <div [innerHtml]="item.note">
        </div>
    </ng-template>
    <ng-template ng-notfound-tmp>
        <div class="ng-option disabled">
            <div class="d-flex flex-column">
                <img class="ml-auto mr-auto" width="50%" height="50%"
                    src="../../../assets/images/background/not-found.svg">
                <h6 class="ml-auto mr-auto">Không có kết quả tìm kiếm</h6>
            </div>
        </div>
    </ng-template>
</ng-select>