<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <form class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="oe_title">
                    <label class="o_form_label oe_edit_only">Tên</label>
                    <h1>
                        <input class="form-control" formControlName="name" name="name">
                    </h1>
                </div>
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Điện thoại</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input type="text" class="form-control" formControlName="phone" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Mã</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input class="form-control" formControlName="ref" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Email</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input type="text" class="form-control" formControlName="email" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label"><label class="o_form_label">Ghi
                                        chú</label></td>
                                <td colspan="1" style="width: 100%;">
                                    <textarea class="form-control" formControlName="comment"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Địa chỉ
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <div class="o_address_format mb-2">
                                        <div class="mb-2">
                                            <input class="form-control" placeholder="Số nhà, đường..." type="text"
                                                formControlName="street" />
                                        </div>
                                        <div class="mb-2">
                                            <kendo-combobox [data]="dataResultCities" [textField]="'name'"
                                                [filterable]="true" [placeholder]="'Tỉnh/Thành'" [filterable]="true"
                                                (filterChange)="handleCityFilter($event)" #cityCbx
                                                (valueChange)="handleCityChange($event)" formControlName="city"
                                                [valueField]="'code'">
                                            </kendo-combobox>
                                        </div>
                                        <div class="mb-2">
                                            <kendo-combobox [data]="dataResultDistricts" [textField]="'name'"
                                                [disabled]="isDisabledDistricts" [placeholder]="'Quận/Huyện'"
                                                (filterChange)="handleDistrictFilter($event)" [filterable]="true"
                                                #districtCbx (valueChange)="handleDistrictChange($event)"
                                                formControlName="district" [valueField]="'code'">
                                            </kendo-combobox>
                                        </div>
                                        <kendo-combobox [data]="dataResultWards" [textField]="'name'"
                                            [disabled]="isDisabledWards" [placeholder]="'Phường/Xã'" [filterable]="true"
                                            (filterChange)="handleWardFilter($event)" #wardCbx
                                            (valueChange)="handleWardChange($event)" formControlName="ward"
                                            [valueField]="'code'">
                                        </kendo-combobox>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <div>
        <button type="button" class="btn btn-primary btn-sm mr-2" (click)="onSave()" accesskey="s">Lưu</button>
        <button type="button" class="btn btn-light btn-sm mr-2" (click)="onCancel()" accesskey="q">Đóng</button>
    </div>
</div>