<form class="o_form_view" [formGroup]="formGroup">
    <div class="o_form_sheet_bg">
        <div class="o_form_sheet">
            <div class="oe_title">
                <label class="o_form_label oe_edit_only">Tên nhà cung cấp</label>
                <h1>
                    <input class="form-control" formControlName="name" name="name">
                </h1>
            </div>
            <div class="o_group">
                <table class="o_group o_inner_group o_group_col_6">
                    <tbody>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label">
                                    Địa chỉ
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                <div class="o_address_format" style="margin-bottom: 10px;">
                                    <input class="form-control" placeholder="Số nhà, đường..." type="text"
                                        formControlName="street" />
                                    <kendo-combobox [data]="dataResultCities" [textField]="'name'" [filterable]="true"
                                        [placeholder]="'Tỉnh'" [filterable]="true"
                                        (filterChange)="handleCityFilter($event)" #cityCbx
                                        (valueChange)="handleCityChange($event)" formControlName="city"
                                        [valueField]="'code'">
                                    </kendo-combobox>
                                    <kendo-combobox [data]="dataResultDistricts" [textField]="'name'"
                                        [disabled]="isDisabledDistricts" [placeholder]="'Huyện'"
                                        (filterChange)="handleDistrictFilter($event)" [filterable]="true" #districtCbx
                                        (valueChange)="handleDistrictChange($event)" formControlName="district"
                                        [valueField]="'code'">
                                    </kendo-combobox>
                                    <kendo-combobox [data]="dataResultWards" [textField]="'name'"
                                        [disabled]="isDisabledWards" [placeholder]="'Xã'" [filterable]="true"
                                        (filterChange)="handleWardFilter($event)" #wardCbx
                                        (valueChange)="handleWardChange($event)" formControlName="ward"
                                        [valueField]="'code'">
                                    </kendo-combobox>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label">Mã NCC</label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                <input class="form-control" formControlName="ref" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="o_group o_inner_group o_group_col_6">
                    <tbody>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label">Số điện thoại</label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                <input type="text" class="form-control" formControlName="phone" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label">Email</label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                <input type="text" class="form-control" formControlName="email" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="o_td_label"><label class="o_form_label">Ghi
                                    chú</label></td>
                            <td colspan="1" style="width: 100%;">
                                <input class="form-control" formControlName="comment" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <button type="button" class="btn btn-primary btn-sm mr-2" (click)="onSave()" accesskey="s">Lưu</button>
                <button type="button" class="btn btn-light btn-sm mr-2" (click)="onCancel()" accesskey="q">Đóng</button>
            </div>
        </div>
    </div>
</form>