.o_control_panel_child {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    /* border-bottom: 1px solid #cccccc; */
    flex-flow: row wrap;
    padding-top: 5px;
    padding-right: 13px;
    padding-bottom: 5px;
    padding-left: 15px;
    background-color: #f0eeee;
}

.nav-link.active {
    color: #fff;
    background-color: #007bff;
}