
.form-check-input:checked+.form-check-label {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.form-check{
    padding: 0;
}

.table thead th{
    border-bottom: none;
    vertical-align: middle;
}
.table td, .table th{
    border-top: none;
}

.o_form_section_right table tbody tr{
    border-bottom: 1px solid #dee2e6;
}

.o_form_section_right table tbody tr:last-child{
    border-bottom: none;
}
.group_product{
    padding: 4px;
}
.o_form_view .o_group{
    margin: 0px;
    padding: 16px;
}
.btn.btn_none_radius{
    border-bottom-left-radius:0 !important;
    border-bottom-right-radius:0 !important;
}

.text_bold{
    font-weight: 500;
    color: #007BFF;
    font-size: 1.14rem;
}

.t_head{
    padding-left: 0.5rem;
    background-color: #F2F2F2;
}

.o_form_view .o_form_sheet_bg{
    background-color: #ebedef;
}

.o_form_section{
    margin: 16px;
    background-color: white;
    border-radius: 6px;
}

.section_left {
    width: fit-content;
    border-radius: 6px;
    margin-left: 15px;
    background-color: white;
}

.section_right {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    border-radius: 6px;
    margin: 0 15px;
    background-color: white;
}

.t_tilte{
    font-size: 16px;
    font-weight: 500;
    padding: 8px 10px;
    margin: 0;
    border-bottom: 1px solid #dee2e6;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button.btn-primary.disabled {
    color: white;
    font-size: 11px;
    background-color: #007bff;
    cursor: default;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button:not(:first-child):before {
    border-left-color: #007bff;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button.btn-primary.disabled:after {
    border-left-color: #007bff;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button.disabled{
    background-color: #e9ecef;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button:not(:first-child):before, 
.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button:not(:first-child):after{
    border-left: 10px solid #e9ecef;
}

.table .th-light{
    background-color: #F8F9FA;
    border-color: #F8F9FA;
}
.table .th-light th{
    font-weight: normal;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button.btn-primary.disabled {
    color: white;
    font-size: 11px;
    background-color: #007bff;
    cursor: default;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button:not(:first-child):before {
    border-left-color: #007bff;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button.btn-primary.disabled:after {
    border-left-color: #007bff;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button.disabled{
    background-color: #e9ecef;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button:not(:first-child):before, 
.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button:not(:first-child):after{
    border-left: 10px solid #e9ecef;
}
