<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/programs/promotion-programs']">
                    Chương trình khuyến mãi
                </a>
            </li>
            <li class="active">
                <span *ngIf="id">{{program.name}}</span>
                <span *ngIf="!id">Mới</span>
            </li>
        </ol>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <button type="button" class="btn btn-primary btn-sm" accesskey="s" (click)="onSave()">
                        Lưu</button>
                    <button type="button" class="btn btn-secondary btn-sm" (click)="createNew()" *ngIf="id">
                        Thêm mới</button>
                </div>
            </div>
        </div>
        <div class="o_cp_right">
        </div>
    </div>
</div>

<div class="o_content">
    <form class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_statusbar">
                <div class="o_statusbar_buttons">
                    <!-- <button type="button" name="315" class="btn btn-secondary btn-sm" (click)="generateCoupons()">
                        <span>Khởi tạo Coupon</span>
                    </button> -->
                </div>
            </div>
            <div class="o_form_sheet">
                <div class="o_not_full oe_button_box">
                    <!-- <button type="button" class="btn oe_stat_button" (click)="viewCoupons()">
                        <i class="fas o_button_icon fa-ticket-alt"></i>
                        <div name="coupon_count" class="o_field_widget o_stat_info o_readonly_modifier">
                            <span class="o_stat_value">{{(program.couponCount || 0) | number}}</span>
                            <span class="o_stat_text">Coupon</span>
                        </div>
                    </button> -->
                    <button type="button" class="btn oe_stat_button">
                        <i class="fas o_button_icon fa-dollar-sign"></i>
                        <div name="order_count" class="o_field_widget o_stat_info o_readonly_modifier">
                            <span class="o_stat_value">{{(program.orderCount || 0) | number}}</span>
                            <span class="o_stat_text">Đơn hàng</span>
                        </div>
                    </button>
                </div>
                <div class="oe_title">
                    <label class="o_form_label oe_edit_only">Tên chương trình</label>
                    <h1>
                        <input type="text" class="form-control" required formControlName="name" />
                    </h1>
                    <div *ngIf="f.name.errors && (f.name.touched || f.name.dirty || submitted)" class="text-danger mb-1">
                        <div *ngIf="f.name.errors.required">Nhập tên chương trình</div>
                    </div>
                </div>
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="2" style="width: 100%;">
                                    <div class="o_horizontal_separator">Điều kiện</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Số lượng
                                        <i class="fas fa-question-circle text-primary" placement="bottom"
                                            triggers="mouseenter:mouseleave"
                                            ngbPopover="Số lượng mua tối thiểu để được phần thưởng"
                                            popoverTitle="Số lượng tối thiểu"></i>
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-numerictextbox [min]="0" [format]="'n0'" formControlName="ruleMinQuantity">
                                    </kendo-numerictextbox>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Tiền mua tối thiểu
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-numerictextbox [min]="0" [format]="'n0'" formControlName="ruleMinimumAmount">
                                    </kendo-numerictextbox>
                                </td>
                            </tr>
                            <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label">Sử dụng mã khuyến mãi</label></td>
                                <td style="width: 100%;">
                                    <div class="o_field_radio o_vertical o_field_widget">
                                        <div class="custom-control custom-radio o_radio_item">
                                            <input type="radio" class="custom-control-input o_radio_input"
                                                (change)="onChangePromoCodeUsage()" formControlName="promoCodeUsage"
                                                value="no_code_needed" id="radio686_no_code_needed">
                                            <label class="custom-control-label o_form_label"
                                                for="radio686_no_code_needed">Tự động áp dụng</label>
                                        </div>

                                        <div class="custom-control custom-radio o_radio_item">
                                            <input type="radio" class="custom-control-input o_radio_input"
                                                (change)="onChangePromoCodeUsage()" formControlName="promoCodeUsage"
                                                value="code_needed" id="radio686_code_needed">
                                            <label class="custom-control-label o_form_label"
                                                for="radio686_code_needed">Sử dụng một mã</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr [class.d-none]="promoCodeUsage != 'code_needed'">
                                <td class="o_td_label">
                                    <label class="o_form_label o_required_modifier">Mã khuyến mãi</label>
                                </td>
                                <td style="width: 100%;">
                                    <input type="text" class="form-control" formControlName="promoCode">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td colspan="2" style="width: 100%;">
                                    <div class="o_horizontal_separator">Giá trị</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label oe_inline">Áp dụng
                                        trên</label></td>
                                <td style="width: 100%;">
                                    <div class="d-flex">
                                        <kendo-numerictextbox class="mr-2" [min]="0" [format]="'n0'"
                                            formControlName="maximumUseNumber" style="width: 100px;">
                                        </kendo-numerictextbox>
                                        <span> Đơn hàng đầu tiên</span>
                                    </div>
                                    <span class="text-muted"> Nếu 0,
                                        không giới hạn</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label">Ngày bắt đầu</label></td>
                                <td style="width: 100%;">
                                    <kendo-datepicker formControlName="ruleDateFromObj">
                                    </kendo-datepicker>
                                </td>
                            </tr>
                            <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label">Ngày kết thúc</label></td>
                                <td style="width: 100%;">
                                    <kendo-datepicker formControlName="ruleDateToObj">
                                    </kendo-datepicker>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="o_group">
                    <div class="o_horizontal_separator">Phần thưởng</div>
                    <!-- <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label">Áp dụng</label>
                                </td>
                                <td style="width: 100%;">
                                    <div class="o_field_radio o_vertical o_field_widget">
                                        <div class="custom-control custom-radio o_radio_item">
                                            <input type="radio" class="custom-control-input o_radio_input"
                                                formControlName="promoApplicability" value="on_current_order"
                                                id="radio693_on_current_order">
                                            <label class="custom-control-label o_form_label"
                                                for="radio693_on_current_order">Áp dụng trên đơn hàng hiện tại</label>
                                        </div>
                                        <div class="custom-control custom-radio o_radio_item">
                                            <input type="radio" class="custom-control-input o_radio_input"
                                                formControlName="promoApplicability" value="on_next_order"
                                                id="radio693_on_next_order">
                                            <label class="custom-control-label o_form_label"
                                                for="radio693_on_next_order">Áp dụng trên đơn hàng kế tiếp</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td style="width: 50%;">
                                    <span class="text-muted">
                                        <b>Áp dụng trên đơn hàng hiện tại -</b> Phần thưởng sẽ được áp dụng trên đơn
                                        hàng hiện tại.<br>
                                        <b>Áp dụng trên đơn hàng kế tiếp -</b> Tặng coupon cho đơn hàng kế tiếp.
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table> -->
                    <!-- <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label">Phần thưởng</label></td>
                                <td style="width: 100%;">
                                    <div class="o_field_radio o_vertical o_field_widget">
                                        <div class="custom-control custom-radio o_radio_item">
                                            <input formControlName="rewardType" type="radio"
                                                class="custom-control-input o_radio_input" checked="true"
                                                data-value="discount" data-index="0" id="radio139_discount">
                                            <label class="custom-control-label o_form_label"
                                                for="radio139_discount">Chiết khấu</label>
                                        </div>

                                        <div class="custom-control custom-radio o_radio_item">
                                            <input formControlName="rewardType" type="radio"
                                                class="custom-control-input o_radio_input" data-value="product"
                                                data-index="1" id="radio139_product">
                                            <label class="custom-control-label o_form_label" for="radio139_product">Miễn
                                                phí dịch vụ</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table> -->
                    <table class="o_group o_inner_group o_group_col_6">
                        <tbody>
                            <tr [class.d-none]="['discount', 'free_shipping'].indexOf(rewardType) !== -1">
                                <td class="o_td_label">
                                    <label class="o_form_label o_required_modifier">Dịch vụ miễn phí</label>
                                </td>
                                <td style="width: 100%;">
                                    <kendo-combobox [data]="filteredProducts" [textField]="'name'" [filterable]="true"
                                        #productCbx formControlName="rewardProduct" [valueField]="'id'">
                                    </kendo-combobox>
                                </td>
                            </tr>
                            <tr
                                [class.d-none]="['discount', 'free_shipping'].indexOf(rewardType) !== -1 || rewardProduct == null">
                                <td class=" o_td_label">
                                    <label class="o_form_label">Số lượng</label>
                                </td>
                                <td style="width: 100%;">
                                    <kendo-numerictextbox [min]="0" [format]="'n0'"
                                        formControlName="rewardProductQuantity">
                                    </kendo-numerictextbox>
                                </td>
                            </tr>
                            <tr [class.d-none]="['product', 'free_shipping'].indexOf(rewardType) !== -1">
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Áp dụng chiết khấu
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <div class="d-flex">
                                        <select class="form-control" formControlName="discountType">
                                            <option value="percentage">Phần trăm</option>
                                            <option value="fixed_amount">Giảm tiền</option>
                                        </select>
                                        <kendo-numerictextbox [class.d-none]="discountType != 'percentage'" [min]="0"
                                            [format]="'n0'" formControlName="discountPercentage">
                                        </kendo-numerictextbox>
                                        <span [class.d-none]="discountType != 'percentage'">%</span>
                                    </div>
                                </td>
                            </tr>
                            <tr [class.d-none]="rewardType != 'discount' || discountType != 'fixed_amount'">
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Tiền giảm
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-numerictextbox [min]="0" [format]="'n0'"
                                        formControlName="discountFixedAmount">
                                    </kendo-numerictextbox>
                                </td>
                            </tr>
                            <tr
                                [class.d-none]="['product', 'free_shipping'].indexOf(rewardType) !== -1 || discountType != 'percentage'">
                                <td class="o_td_label">
                                    <label class="o_form_label">Chiết khấu trên</label></td>
                                <td style="width: 100%;">
                                    <div class="o_field_radio o_vertical o_field_widget">
                                        <div class="custom-control custom-radio o_radio_item">
                                            <input type="radio" formControlName="discountApplyOn"
                                                class="custom-control-input o_radio_input" id="radio151_on_order"
                                                value="on_order">
                                            <label class="custom-control-label o_form_label"
                                                for="radio151_on_order">Trên đơn hàng</label>
                                        </div>

                                        <div class="custom-control custom-radio o_radio_item">
                                            <input type="radio" formControlName="discountApplyOn"
                                                class="custom-control-input o_radio_input" value="specific_products"
                                                id="radio151_specific_products">
                                            <label class="custom-control-label o_form_label"
                                                for="radio151_specific_products">Trên vài dịch vụ cụ thể</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr
                                [class.d-none]="discountApplyOn != 'specific_products' || discountType != 'percentage' || ['product', 'free_shipping'].indexOf(rewardType) !== -1">
                                <td class="o_td_label">
                                    <label class="o_form_label">Dịch vụ</label></td>
                                <td style="width: 100%;">
                                    <kendo-multiselect [data]="listProducts" [filterable]="true" #productMultiSelect
                                        [textField]="'name'" [valueField]="'id'"
                                        formControlName="discountSpecificProducts">
                                    </kendo-multiselect>
                                </td>
                            </tr>
                            <!-- <tr
                                [class.d-none]="discountType != 'percentage' || ['product', 'free_shipping'].indexOf(rewardType) !== -1">
                                <td class="o_td_label">
                                    <label class="o_form_label">Tiền chiết khấu tối đa</label></td>
                                <td style="width: 100%;">
                                    <kendo-numerictextbox [min]="0" [format]="'n0'" formControlName="discountMaxAmount">
                                    </kendo-numerictextbox>
                                    <span class="text-muted">Nếu 0, không giới hạn</span>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>