input[type="radio"].btn-radio {
    display: none;
}

.o_field_radio.o_vertical.o_field_widget {
    width: 100%;
}

.cus-kendo-multiselect {
    min-height: 100px;
}

.button-radio {
    min-width: 150px;
}

.btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.o_stat_value {
    color: green !important;
}

.hide {
    opacity: 0;
}

@media (min-width: 1200px) {
    .o_form_view .oe_button_box>.btn.oe_stat_button, .o_form_view .oe_button_box>.o_dropdown_more {
        width: 25.5%;
    }
}

.o_form_view .oe_button_box .btn.oe_stat_button > .o_button_icon {
    vertical-align: unset;
}