<div class="t_section_right">
    <div class="t_treatment_wrapper">
        <div class="o_cp_controller">
            <div class="o_control_panel">
                <div class="d-flex justify-content-between">
                    <button type="button" (click)="createNewSaleOrder()" class="ml-2 btn btn-primary"><i class="fas fa-plus-circle mr-1"></i> Thêm phiếu điều trị</button>
                    <div class="o_searchview w-50">
                        <input type="text" class="o_searchview_input" [placeholder]="viewType=='saleOrder' ? 'Tìm kiếm theo số phiếu điều trị' : 'Tìm kiếm theo số phiếu điều trị, tên dịch vụ'" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)" />
                        <span class="o_searchview_icon fas fa-search"></span>
                    </div>
                </div>
                <div class="d-flex mt-2">
                    <div class="d-flex" style="flex: 1;"></div>
                    <div class="d-flex align-items-center w-50 justify-content-start">
                        <div style="font-size: 1rem;" class="mr-2">
                            Chế độ xem
                        </div>
                        <select [(ngModel)]="viewType" (change)="onChangeViewType()" class="form-control w-auto mr-1">
                            <option value="saleOrder">Theo phiếu điều trị</option>
                            <option value="saleOrderLine">Theo dịch vụ</option>
                        </select>
                        <app-date-range-picker-filter [opens]="'right'" [startDate]="dateFrom" [endDate]="dateTo" (searchChange)="onSearchDateChange($event)"></app-date-range-picker-filter>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="t_treatment_grid">
            <div class="kendo-grid-data">
                <kendo-grid *ngIf="viewType == 'saleOrder'" [data]="saleOrdersData" [pageable]="pagerSettings" [pageSize]="limit" [skip]="skip" (pageChange)="pageChange($event)" [resizable]="true" [loading]="loading">
                    <kendo-grid-column [headerStyle]="{'color': 'black', 'font-weight':'600','line-height': '1em'}" field="Name" title="Số phiếu" width="100">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <a class="text-primary" (click)="getFormSaleOrder(dataItem.id)">{{dataItem.name}}</a>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [headerStyle]="{'color': 'black','font-weight':'600','line-height': '1em'}" field="DateOrder" title="Ngày lập phiếu" width="120">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.dateOrder | date:'short'}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column class="text-right" [headerStyle]="{'color': 'black','font-weight':'600','line-height': '1em'}" field="AmountTotal" title="Tổng tiền" width="120">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.amountTotal | number}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column class="text-right" [headerStyle]="{'color': 'black','font-weight':'600','line-height': '1em'}" title="Thanh Toán" width="120">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{ (dataItem.amountTotal - dataItem.residual) | number }}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column class="text-right" [headerStyle]="{'color': 'black','font-weight':'600','line-height': '1em'}" field="Residual" title="Còn lại" width="120">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.residual | number}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [headerStyle]="{'color': 'black','font-weight':'600','line-height': '1em'}" field="State" title="Trạng thái" width="100">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span *ngIf="dataItem.state === 'draft'">Nháp</span>
                            <span *ngIf="dataItem.state === 'done'">Hoàn thành</span>
                            <span *ngIf="dataItem.state === 'sale'">Đang điều trị</span>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [headerStyle]="{'color': 'black','font-weight':'600','line-height': '1em'}" title="#" width="40">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <button type="button" class="btn btn-icon btn-light" (click)="deleteItem(dataItem)">
                                <span class="k-icon k-i-delete"></span>
                            </button>
                        </ng-template>
                    </kendo-grid-column>
                    <div *kendoGridDetailTemplate="let dataItem">
                        <app-partner-customer-treatment-sale-order-line [saleOrderId]="dataItem.id">
                        </app-partner-customer-treatment-sale-order-line>
                    </div>
                </kendo-grid>

                <kendo-grid *ngIf="viewType == 'saleOrderLine'" [data]="saleOrderLinesData" [pageable]="pagerSettings" [pageSize]="limit" [skip]="skip" 
                (pageChange)="pageChange($event)" [resizable]="true" [loading]="loading">
                    <kendo-grid-column title="Dịch vụ" field="name" width="200">
                        <ng-template kendoGridCellTemplate let-dataItem >
                            <div class="pr-1 border_left_product" [ngStyle]="{'border-color':getColor(dataItem.state)}">
                                <a class="text-primary" (click)="getFormSaleOrder(dataItem.order.id)">{{dataItem.name}}</a>
                                <div>{{dataItem.order.name}}</div>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Ngày tạo">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.dateCreated | date:'shortDate'}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Răng">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{getTeeth(dataItem.teeth)}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Chẩn đoán" field = "diagnostic">
                    </kendo-grid-column>
                    <kendo-grid-column title="Bác sĩ">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.employee ? dataItem.employee.name : ''}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Số lượng" field = "productUOMQty" width="100">
                    </kendo-grid-column>
                    <kendo-grid-column title="Thành tiền">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.priceSubTotal | number}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Thanh toán">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.amountInvoiced}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Còn lại">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.priceSubTotal - dataItem.amountInvoiced | number}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Trạng thái">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span class="badge" [ngStyle]="{'background-color':getColor(dataItem.state)}">{{getState(dataItem.state)}}</span>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
            </div>
        </div>
       
    </div>
</div>