<div class="t_section_right">
    <div class="t_treatment_wrapper">
        <div class="o_cp_controller">
            <div class="o_control_panel">
                <div class="breadcrumb">
                    <div class="d-flex">
                        <app-tai-date-range-filter-dropdown title="Thời gian" [dateFrom]="dateFrom" [dateTo]="dateTo" (searchChange)="onSearchDateChange($event)">
                        </app-tai-date-range-filter-dropdown>
                        <button type="button" (click)="createNewSaleOrder()" class="ml-2 btn btn-primary btn-sm"><i
                            class="fas fa-plus"></i> Thêm phiếu điều trị</button>
                    </div>
                </div>
                <div class="o_cp_searchview">
                    <div class="o_searchview">
                        <input class="o_searchview_input" placeholder="Tìm kiếm theo số phiếu điều trị" type="text" [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)">
                    </div>
                </div>
                <div class="o_cp_left">
                    <div class="o_cp_buttons">

                    </div>
                    <div class="o_cp_sidebar">
                    </div>
                </div>
                <div class="o_cp_right">

                </div>
            </div>
        </div>
        <div class="t_treatment_grid">
            <div class="kendo-grid-data">
                <kendo-grid [data]="saleOrdersData" [pageable]="true" [pageSize]="limit" [skip]="skip" (pageChange)="pageChange($event)" [resizable]="true" [loading]="loading">
                    <kendo-grid-column [headerStyle]="{'color': 'black', 'font-weight':'600','line-height': '1em'}" field="Name" title="Số phiếu" width="100">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <a class="text-primary" (click)="getFormSaleOrder(dataItem.id)">{{dataItem.name}}</a>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [headerStyle]="{'color': 'black','font-weight':'600','line-height': '1em'}" field="DateOrder" title="Ngày lập phiếu" width="120">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.dateOrder | date:'short'}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column class="text-right" [headerStyle]="{'color': 'black','font-weight':'600','line-height': '1em'}" field="AmountTotal" title="Tổng tiền" width="120">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.amountTotal | number}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column class="text-right" [headerStyle]="{'color': 'black','font-weight':'600','line-height': '1em'}" title="Thanh Toán" width="120">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{ (dataItem.totalPaid || 0 | number) }}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column class="text-right" [headerStyle]="{'color': 'black','font-weight':'600','line-height': '1em'}" field="Residual" title="Còn lại" width="120">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.residual | number}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [headerStyle]="{'color': 'black','font-weight':'600','line-height': '1em'}" field="State" title="Trạng thái" width="100">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span *ngIf="dataItem.state === 'draft'">Nháp</span>
                            <span *ngIf="dataItem.state === 'done'">Hoàn thành</span>
                            <span *ngIf="dataItem.state === 'sale'">Đang điều trị</span>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [headerStyle]="{'color': 'black','font-weight':'600','line-height': '1em'}" title="#" width="40">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <button type="button" class="btn btn-icon btn-sm btn-light" (click)="deleteItem(dataItem)">
                                <span class="k-icon k-i-delete"></span>
                            </button>
                        </ng-template>
                    </kendo-grid-column>
                    <div *kendoGridDetailTemplate="let dataItem">
                        <app-partner-customer-treatment-sale-order-line [saleOrderId]="dataItem.id">
                        </app-partner-customer-treatment-sale-order-line>
                    </div>
                </kendo-grid>
            </div>
        </div>
    </div>
</div>