<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>
<div class="modal-body o_act_window">
    <form class="o_form_view" [formGroup]="formGroup" kendo-validator="validator">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_12">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Tên loại</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input type="text" class="form-control" formControlName="name">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Mã</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input type="text" class="form-control" formControlName="code">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Thứ tự</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-numerictextbox [format]="'n0'" formControlName="sequence">
                                    </kendo-numerictextbox>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Làm tròn</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <select class="form-control" formControlName="roundDays"
                                    (change)="onChangeRounding()">
                                    <option selected value="NO">Không làm tròn</option>
                                    <option value="HALF">Làm tròn nửa ngày</option>
                                    <option value="FULL">Làm tròn 1 ngày</option>
                                </select>
                                </td>
                            </tr>
                            <tr *ngIf="this.roundDays.value !== 'NO'">
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Kiểu làm tròn</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <select class="form-control" formControlName="roundDaysType">
                                    <option value="HALF-UP">Gần nhất</option>
                                    <option value="UP">Lên</option>
                                    <option value="DOWN">Xuống</option>
                                </select>
                                </td>
                            </tr>
                            <!-- <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Nghỉ vẫn được chấm công</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <input type="checkbox" formControlName="isHasTimeKeeping">
                                </td>
                            </tr>

                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">Màu</label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <div class="color-table row">
                                        <div class="col-3" *ngFor="let item of itemColors">
                                            <div (click)="chooseColor(item)" class="swatch"
                                                [ngStyle]="{'background-color': item}">
                                                <span [ngClass]="{'show': oldColor == item}" class="color_span"><i
                                                        class="fas fa-check"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" accesskey="s" [disabled]="!formGroup.valid"
        (click)="onSave()">Lưu</button>
    <button type="button" class="btn btn-secondary" accesskey="q" (click)="activeModal.dismiss()">Đóng</button>
</div>