.table-wrapper {
    min-height: 300px;
    max-height: 600px;
    overflow: auto;
    display:inline-block;
    width: 100%;
}

.t_stickey_header {
  position: sticky; 
  top:0; 
}
.table tbody tr {
  cursor: pointer;
}

.table tbody tr:hover {
  background-color: #56575891;
}



.sticky-table {
  width: 100% !important;
  border-collapse: separate !important;
  /* Don't collapse */
  border-spacing: 0 !important;
}

.sticky-table .sticky-th {
  /* Apply both top and bottom borders to the <th> */
  position: sticky !important;
  top: 0 !important;
  border-top: 1px solid #dee2e6 !important;
  border-bottom: 1px solid #dee2e6 !important;
  border-right: 1px solid #dee2e6 !important;
}

.sticky-table .sticky-td {
  /* For cells, apply the border to one of each side only (right but not left, bottom but not top) */
  border-bottom: 1px solid #dee2e6 !important;
  border-right: 1px solid #dee2e6 !important;
}

.sticky-table .sticky-th:first-child, .sticky-table .sticky-td:first-child {
  /* Apply a left border on the first <td> or <th> in a row */
  border-left: 1px solid #dee2e6 !important;
}
