
.header-title {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #007bff!important;
}

.image-custom {
    margin-right: 10px;
    height: auto;
    width: auto;
}

.title-custom {
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.pl-0{
    padding-left: 0 !important;
}

.pr-0{
    padding-right: 0 !important;
}

.t_wrapper {
    padding: 15px;
}

.t_kanban {
    display: flex;
    flex-flow: row wrap;
}

.t_card {
    flex: 1 1 auto;
    width: 240px;
    margin: 5px 5px;
    margin-right: 4px;
}

.t_card_right {
    flex: 1 1 auto;
    width: 295px;
    margin: 5px 5px;
    margin-right: 4px;
}

.t_report_item {
    flex: 1;
    text-align: center;
}

.t_card_ghost {
    height: 0;
    min-height: 0 !important;
    visibility: hidden;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.t_kende_grid_height{
    height: 350px;
}

.button-border-bottom {
    border: 1px solid #cfcfcf;
    border-top-style: none !important;
    border-right-style: none !important;
    border-left-style: none !important;
    -webkit-align-items: baseline;
    align-items: baseline;
    display: inline-flex;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
  }
  
  .form-check-inline {
      display: -webkit-inline-box;
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      padding-left: 0;
      margin-right: 0rem;
  }
  
  
  input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  
  
  label.form-check-label-radio {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: #efefef;
    color: black;
    transition: all .3s ease-out;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  input[type="radio"]:checked+label {
    background-color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    color: aliceblue;

  }

  input[value="cancel"][type="radio"]:checked+label {
    background-color: #ec173a;
    padding: 5px 10px;
    border-radius: 5px;
    color: aliceblue;

  }

  .timekeeping-popover-width{
      min-width: 500px !important;
  }

  .button-border-bottom {
    border: 1px solid #cfcfcf;
    border-top-style: none !important;
    border-right-style: none !important;
    border-left-style: none !important;
    -webkit-align-items: baseline;
    align-items: baseline;
    display: inline-flex;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
  }
  .form-check-input {
    padding: 5px 10px;
    border-radius: 5px;
  }

  .input-group-append{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: #efefef;
    color: black;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .grid-wrapper {
    position: relative;
  }

  .k-i-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 64px;
    background-color: rgba(255,255,255,.3);
    color: #ff6757;
  }

  .state-filter-wrapper {
     margin-bottom: 10px;
  }

  .state-filter-wrapper button {
    margin-right: 10px;
  }

  .edit_remove_action button {
    background: none;
    border: none;
    margin-right: 5px;
    border-style: none;
    padding: 0;
    outline: none;
}

