<div class="input-group" ngxDaterangepickerMd [(ngModel)]="selected" [opens]="'right'" [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" [ranges]="ranges" [linkedCalendars]="true" [showCancel]="true">
    <span *ngIf="selected?.startDate && selected?.endDate" class="form-control custom-input border-right-0">
        {{ selected.startDate | date:'dd/MM/yyyy' }} - {{ selected.endDate| date:'dd/MM/yyyy' }}
    </span>
    <span class="form-control custom-input border-right-0" *ngIf="!selected?.startDate && !selected?.endDate">Chọn thời gian</span>
    <div (click)="open()" class="input-group-append">
        <span class="input-group-text">
        <i style="font-size: 20px;" class="fas fa-calendar-alt"></i>
     </span>
    </div>
    <div (click)="clear()" *ngIf="selected?.startDate && selected?.endDate" class="input-group-append cursor-pointer">
        <span class="input-group-text">X</span>
    </div>
</div>