.custom-input {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.clear:hover {
    opacity: 0.8;
}
.date-picker {
    width: 200px !important;
}

.title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}