<div class="o_cp_controller">
    <div class="o_control_panel o_breadcrumb_full">
        <ol class="breadcrumb">
            <li *ngIf="customerId">
                <a [routerLink]="['/partners/customer/' + customerId + '/treatment-payment']">Phiếu điều trị</a>
            </li>
            <li class="active">
                <span *ngIf="id">{{saleOrder.name}}</span>
                <span *ngIf="!id">Mới</span>
            </li>
        </ol>
        <!-- <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <button type="button" class="btn btn-secondary btn-sm" (click)="createNew()" accesskey="c"
                        *ngIf="id">
                        Thêm mới</button>
                </div>
            </div>
        </div>
        <div class="o_cp_right">
        </div> -->
    </div>
</div>

<div class="o_content">
    <form class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_statusbar">
                <div class="o_statusbar_buttons">
                    <a [routerLink]="['/partners/customer/' + customerId + '/treatment-payment']"
                        class="btn btn-secondary btn-sm">
                        Trở lại
                    </a>
                    <button type="button" accesskey="1" *ngIf="saleOrder.state == 'draft'"
                        class="btn btn-primary btn-sm" (click)="onSaveConfirm()">
                        Lưu và xác nhận
                    </button>
                    <button type="button" class="btn btn-primary btn-sm mx-1" (click)="onSave()">Lưu</button>
                    <button type="button" class="btn btn-primary btn-sm mx-1" (click)="actionConfirm()">Xác nhận</button>
                    <button *ngIf="['sale', 'done'].indexOf(saleOrder.state) !== -1" type="button"
                        class="btn btn-primary btn-sm" (click)="actionSaleOrderPayment()">
                        Thanh toán
                    </button>
                    <button *ngIf="saleOrderId" type="button" class="btn btn-secondary btn-sm mx-1"
                        (click)="printSaleOrder()">
                        In phiếu
                    </button>
                    <button *ngIf="['sale'].indexOf(saleOrder.state) !== -1" type="button"
                        class="btn btn-danger btn-sm mx-1" (click)="actionCancel()">
                        Hủy phiếu
                    </button>
                </div>

            </div>
            <div class="o_form_sheet">
                <!-- <div class="oe_title">
                    <h1>
                        <span>{{saleOrder.name}}</span>
                    </h1>
                </div> -->
                <div class="o_group">
                    <table class="o_group o_inner_group o_group_col_4">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Khách hàng
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <div class="d-flex">
                                        <kendo-combobox [class.d-none]="saleOrder.state != 'draft'"
                                            [data]="filteredPartners" [textField]="'name'" [filterable]="true"
                                            #partnerCbx formControlName="partner" [valueField]="'id'"  (valueChange)="onChangePartner($event)">
                                        </kendo-combobox>
                                        <a type="button" [class.d-none]="saleOrder.state != 'draft'"
                                            title="Thêm khách hàng" class="pl-2 py-1"
                                            (click)="quickCreateCustomer()">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Ngày sinh:
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                   
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Số điện thoại:
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">

                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Địa chỉ:
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group o_group_col_4">
                        <tbody>
                            <tr>
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label o_form_label_help">
                                        Ngày lập phiếu
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <kendo-datetimepicker [class.d-none]="saleOrder.state != 'draft'"
                                        formControlName="dateOrderObj">
                                    </kendo-datetimepicker>
                                    <span
                                        [class.d-none]="saleOrder.state == 'draft'">{{saleOrder.dateOrder | date: 'short'}}</span>
                                </td>
                            </tr>
                            <tr *ngIf="saleOrder.quote">
                                <td colspan="1" class="o_td_label">
                                    <label class="o_form_label">
                                        Phiếu tư vấn
                                    </label>
                                </td>
                                <td colspan="1" style="width: 100%;">
                                    <a *ngIf="saleOrder.quote" [routerLink]="['/sale-quotations/form']"
                                        [queryParams]="{id: saleOrder.quote.id}">{{saleOrder.quote.name}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="o_group o_inner_group o_group_col_4">
                        <div class="justify-content-between justify-content-end">
                            <button type="button" class="btn btn-outline-secondary btn-sm mx-1">
                                <span>Tư vấn</span>
                            </button>
                            <button type="button" class="btn btn-outline-secondary btn-sm mx-1">
                                <span>Đơn thuốc</span>
                            </button>
                            <button type="button" class="btn btn-outline-secondary btn-sm mx-1">
                                <span>Lịch hẹn</span>
                            </button>
                        </div>
                       
                    </div>
                </div>

                <div class="o_notebook">
                    <div class="h-100">
                        <div class="w-100 h-100 d-flex">
                            <div class="w-25 h-100 border-right">
                                <app-sale-order-list-service (newEventEmiter)="addLine($event)">
                                </app-sale-order-list-service>
                            </div>
                            <div class="w-75 h-100">
                                <!-- Component Form Service Payment -->
                                <div class="my-1">

                                    <button type="button" hasGroups [groups]="'sale.group_service_card'"
                                        class="btn btn-outline-secondary btn-sm mx-1" (click)="showApplyCardDialog()"
                                        *ngIf="['draft', 'sent','sale'].indexOf(saleOrder.state) !== -1">
                                        <span>thẻ tiền mặt</span>
                                    </button>
                                    <button type="button" hasGroups [groups]="'sale.group_sale_coupon_promotion'"
                                        class="btn btn-outline-secondary btn-sm mx-1" (click)="showApplyCouponDialog()"
                                        *ngIf="['draft', 'sent', 'sale'].indexOf(saleOrder.state) !== -1">
                                        <span>coupon, mã khuyến mãi</span>
                                    </button>
                                    <button type="button" hasGroups [groups]="'sale.group_sale_coupon_promotion'"
                                        name="recompute_coupon_lines" placement="bottom"
                                        triggers="mouseenter:mouseleave"
                                        ngbPopover="Khi nhấn, phiếu điều trị sẽ kiểm tra và áp dụng những chương trình khuyến mãi có thể áp dụng."
                                        popoverTitle="Cập nhật khuyến mãi" class="btn btn-outline-secondary btn-sm mx-1"
                                        *ngIf="['draft', 'sent', 'sale'].indexOf(saleOrder.state) !== -1"
                                        (click)="applyPromotion()">
                                        <span>Cập nhật khuyến mãi</span>
                                    </button>
                                    <app-sale-order-apply-discount-default-dialog
                                        (discountFormGroup)="onApplyDiscount($event)">
                                    </app-sale-order-apply-discount-default-dialog>
                                </div>

                                <div class="t-conTable" style="min-height: 340px;">
                                    <div class="t-parTable t-scrollbar">
                                        <table class="t-sticky-thead t-sticky-col-left t-sticky-col-right">
                                            <thead>
                                                <tr>
                                                    <th [style.min-width.px]="200">Dịch vụ</th>
                                                    <th [style.min-width.px]="110">Thông tin bổ sung</th>                                                  
                                                    <th class="text-center">Số lượng</th>
                                                    <th class="text-right">Đơn giá</th>
                                                    <th [style.min-width.px]="150" class="text-center">Giảm
                                                    </th>
                                                    <th class="text-right">Thành tiền</th>                                                 
                                                    <th class="text-center" [style.min-width.px]="20">
                                                        #
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="orderLines">
                                                <ng-container *ngFor="let line of orderLines.controls; let i=index">
                                                    <tr [formGroupName]="i">
                                                        <td>{{line.get('name').value }}</td>
                                                        <td>
                                                            <app-sale-order-teeth-popover [line]="line"
                                                                (eventTeeth)="updateTeeth($event)">
                                                            </app-sale-order-teeth-popover>
                                                        </td>                                                                                                  
                                                        <td class="text-right">
                                                            <kendo-numerictextbox style="max-width: 90px;" [min]="0"
                                                                [spinners]="false" (blur)="updateSaleOrder()"
                                                                formControlName="productUOMQty"
                                                                (valueChange)="onChangeQuantity(line)">
                                                            </kendo-numerictextbox>
                                                        </td>
                                                        <td class="text-right" style="max-width: 300px;">
                                                            {{ line.get('priceUnit').value | number }}</td>
                                                        <td>
                                                            <div class="d-flex align-items-center justify-content-end">
                                                                <kendo-numerictextbox
                                                                    [class.d-none]="line.get('discountType').value !== 'percentage'"
                                                                    [min]="0" [max]="100" formControlName="discount"
                                                                    (blur)="updateSaleOrder()" [autoCorrect]="true"
                                                                    [spinners]="false"
                                                                    (valueChange)="onChangeDiscount(line)"
                                                                    style="max-width: 100px;">
                                                                </kendo-numerictextbox>
                                                                <kendo-numerictextbox [format]="'n0'" [spinners]="false"
                                                                    [min]="0" (blur)="updateSaleOrder()"
                                                                    [class.d-none]="line.get('discountType').value !== 'fixed'"
                                                                    (valueChange)="onChangeDiscountFixed(line)"
                                                                    formControlName="discountFixed"
                                                                    style="max-width: 100px;">
                                                                </kendo-numerictextbox>
                                                                <select class="form-control" style="max-width: 70px;"
                                                                    (change)="onChangeDiscountType(line)"
                                                                    formControlName="discountType">
                                                                    <option value="percentage">%</option>
                                                                    <option value="fixed">VNĐ</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td class="text-right">
                                                            {{line.get('priceSubTotal').value | number}}
                                                        </td>                                                       
                                                        <td class="text-right">
                                                            <div>
                                                                <!-- <button type="button" class="btn btn-icon btn-sm btn-light mr-1"
                                                                            (click)="editLine(line)">
                                                                            <span class="k-icon k-i-edit"></span>
                                                                        </button> -->
                                                                <button type="button"
                                                                    class="btn btn-icon btn-sm btn-light"
                                                                    (click)="deleteLine(i)">
                                                                    <span class="k-icon k-i-delete"></span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </ng-container>

                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <table class="table-borderless table-text-right mr-4 my-3 table-payment-result">
                                        <tr>
                                            <td>Thành tiền</td>
                                            <td>{{getAmountTotal | number}}</td>
                                        </tr>

                                        <tr>
                                            <td>Tổng tiền</td>
                                            <td>{{getAmountTotal | number}}</td>
                                        </tr>
                                        <tr>
                                            <td>Số tiền thanh toán</td>
                                            <td>{{getAmountPaidTotal | number}}</td>
                                        </tr>
                                        <tr>
                                            <td>Còn lại</td>
                                            <td>{{saleOrder.residual | number}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </form>
</div>

<app-account-payment-print></app-account-payment-print>

<div id="printSaleOrderDiv" *ngIf="saleOrderPrint" style="display: none;">
    <div class="o_form_view o_print">
        <div class="text-center">
            <h5 class="mb-0">{{saleOrderPrint.companyName}}</h5>
            <div *ngIf="saleOrderPrint.companyAddress">{{saleOrderPrint.companyAddress}}</div>
            <!-- <div>ĐT: {{saleOrderPrint.companyPhone}} - Email: {{saleOrderPrint.companyEmail}}</div> -->
        </div>
        <div class="text-center">
            <h1>PHIẾU ĐIỀU TRỊ</h1>
            <span>Số phiếu: {{saleOrderPrint.name}} - Ngày điều trị: {{saleOrderPrint.dateOrder | date: 'short'}}</span>
        </div>
        <div class="o_group">
            <table class="o_group o_inner_group o_group_col_6">
                <tbody>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Khách hàng
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">
                            {{saleOrderPrint.partnerName}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Địa chỉ
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">
                            {{saleOrderPrint.partnerAddress}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="o_group o_inner_group o_group_col_6">
                <tbody>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Điện thoại
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">
                            {{saleOrderPrint.partnerPhone}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Dịch vụ</th>
                        <th class="text-right">Số lượng</th>
                        <th class="text-right">Đơn giá</th>
                        <th class="text-right">Giảm (%)</th>
                        <th class="text-right">Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let line of saleOrderPrint.orderLines; let i=index">
                        <td>{{ line.productName }}</td>
                        <td class="text-right">{{ line.productUOMQty | number }}</td>
                        <td class="text-right">{{ line.priceUnit | number }}</td>
                        <td class="text-right">{{ line.discount | number }}</td>
                        <td class="text-right">{{ line.priceSubTotal | number }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="o_group o_inner_group oe_subtotal_footer oe_right">
                <tbody>
                    <tr>
                        <td colspan="1" class="o_td_label" style="width: 50%;">
                            <label class="o_form_label oe_subtotal_footer_separator">
                                Tổng tiền
                            </label>
                        </td>
                        <td colspan="1" style="width: 50%;">
                            <span
                                class="oe_subtotal_footer_separator o_form_field o_form_field_number">{{saleOrderPrint.amountTotal | number}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="text-center font-weight-bold">
                    Khách hàng
                </div>
            </div>
            <div class="col-sm">
                <div class="text-center font-weight-bold">
                    Người lập
                </div>
            </div>
        </div>
    </div>
</div>