<kendo-tabstrip (tabSelect)="onTabSelect($event)">
  <kendo-tabstrip-tab [selected]="true" [title]="'thông tin ngày công'">
    <ng-template kendoTabContent>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Kiểu</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Số ngày công</th>
            <th scope="col">Số giờ công</th>
            <th scope="col">Tổng tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listWorkDays">
            <td>{{ item.name}}</td>
            <td>{{ item.name}}</td>
            <td>{{ item.numberOfDays}}</td>
            <td>{{ item.numberOfHours}}</td>
            <td>{{ item.amount |  currency: "VND" }}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </kendo-tabstrip-tab>
    <kendo-tabstrip-tab [title]="'Các mục lương'">
      <ng-template kendoTabContent>
        <!-- <button class="mb-2 btn btn-primary" kendoButton (click)="ShowAddSalaryRulePopup()">Thêm</button> -->
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Tên loại lương</th>
              <th scope="col">Mã code</th>
              <th scope="col">Số tiền</th>
              <th scope="col">Tổng tiền</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listLines.data">
              <td>{{ item.name}}</td>
              <td>{{ item.code}}</td>
              <td>{{ item.amount? (item.amount | currency: "VND") : (0 |  currency: "VND")}}</td>
              <td>{{ item.total? (item.total | currency: "VND") : (0 |  currency: "VND")}}</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="pageChange($event)">
          </ngb-pagination>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
   
  </kendo-tabstrip>