<kendo-tabstrip>
    <kendo-tabstrip-tab [selected]="true" [title]="'Các mục lương'">
      <ng-template kendoTabContent>
        <!-- <button class="mb-2 btn btn-primary" kendoButton (click)="ShowAddSalaryRulePopup()">Thêm</button> -->
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">tên lương</th>
              <th scope="col">code</th>
              <th scope="col">số tiền</th>
              <th scope="col">Tổng tiền</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listLines.data">
              <td>{{ item.name}}</td>
              <td>{{ item.code}}</td>
              <td>{{ item.amount |  currency: "VND"}}</td>
              <td>{{ item.total |  currency: "VND"}}</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="pageChange($event)">
          </ngb-pagination>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>