<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TPOS.VN</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/print.css" />
    <style>
        @@page {
            size: A5 landscape portrait;
            margin: 5mm;
        }

        html, body {
            width: 100%;
            margin: auto;
            padding: 0;
        }

        code {
            padding: 0;
            font-size: 90%;
            color: #c7254e;
            white-space: nowrap;
            background-color: #f9f2f4;
            border-radius: 4px;
        }

        .table-custom > thead > tr > th {
            vertical-align: middle !important;
            text-align: center;
        }

        .table-custom > tbody > tr > td {
            vertical-align: middle !important;
        }

        .table.print-header, .table.print-header td, .table.print-header th {
            border: none !important;
            padding: 0;
        }

        .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
            padding: 2px;
        }

        .table.print-header th {
            font-weight: 500;
        }

        .table.print-header h1 {
            font-size: 20px;
        }

        .table .table-heading {
            text-transform: uppercase;
        }

        .table tbody + tbody {
            border-top: 1px solid #333 !important;
        }

        .price_text {
            display: inline-block;
        }

            .price_text:first-letter {
                text-transform: uppercase;
            }

        .table .CompanyContact {
            vertical-align: top !important;
            /*padding-left: 5px !important;*/
        }

        .table .info-top {
            vertical-align: top !important;
        }

        .dataBody {
            margin-top: -10px;
        }

        .table tfoot > tr > td {
            font-weight: bold !important;
        }

        .company_logo {
            max-width: 150px;
        }

        .table_cus tr th, .table_cus tr td {
            border: none;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
