@{
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TDental.vn</title>
    <link rel="stylesheet" type="text/css" href="/css/print.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>