@using ApplicationCore.Models
@model ReportLayoutViewModel

<!DOCTYPE html>
<html>
<head>
    <base href="http://localhost:4200/">
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1" />
    <title>TDental Report</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/print.css" />
</head>
<body class="container">
    <div id="wrapwrap">
        <main>
            {0}
        </main>
    </div>
</body>
</html>