<header class="modal-header">
    <h5 class="modal-title">{{title}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"
        tabindex="-1">×</button>
</header>

<div class="modal-body o_act_window">
    <form class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <div class="o_group">
                    <table class="o_group o_inner_group">
                        <tbody>
                            <tr>
                                <td class="d-flex align-items-center">
                                    <span>Chỉ khách hàng phù hợp với </span>
                                    <select class="form-control ml-2" style="width: fit-content;"
                                        formControlName="logic">
                                        <option value="and">Tất cả điều kiện</option>
                                        <option value="or">Bất kì điều kiện nào</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="o_group o_inner_group" [class.o_group_col_6]="!getTypeConditionValue()">
                        <tbody>
                            <tr>
                                <td style="padding-right: 20px;">
                                    <select class="form-control" formControlName="typeCondition"
                                        (change)="handleTypeConditionChange($event)">
                                        <option value="">-- Chọn điều kiện --</option>
                                        <option value="birthday">Sinh nhật</option>
                                        <option value="lastTreatmentDay">Ngày điều trị cuối</option>
                                        <option value="partnerGroup">Nhóm khách hàng</option>
                                        <option value="service">Dịch vụ sử dụng</option>
                                        <option value="serviceGroup">Nhóm dịch vụ sử dụng</option>
                                    </select>
                                </td>
                                <td *ngIf="getTypeConditionValue()" style="padding-right: 20px;">
                                    <select class="form-control" formControlName="flagCondition">
                                        <option *ngFor="let item of listFlagCondition; index as i;" [value]="item">
                                            {{convertFlagCondition(item)}}
                                        </option>
                                    </select>
                                </td>
                                <td *ngIf="getTypeConditionValue() && isDay(formGroup.get('typeCondition').value)"
                                    class="max-w-100px" style="padding-right: 0;">
                                    <kendo-numerictextbox class="form-control" [value]="numbericValueCondition"
                                        (valueChange)="handleNumbericValueConditionChange($event)"
                                        [min]="0" [format]="'n0'">
                                    </kendo-numerictextbox>
                                </td>
                                <td *ngIf="getTypeConditionValue() && !isDay(formGroup.get('typeCondition').value)"
                                    class="min-w-200px" style="padding-right: 0;">
                                    <kendo-combobox [data]="listData" [textField]="'name'" [valueField]="'id'"
                                        formControlName="selectedValueCondition"
                                        [filterable]="true"
                                        [placeholder]="'-- ' + placeholderValueCondition() + ' --'"
                                        (valueChange)="handleValueConditionChange($event)"
                                        (filterChange)="handleValueConditionFilter($event)">
                                    </kendo-combobox>
                                </td>
                                <td *ngIf="getTypeConditionValue()"
                                    style="vertical-align: middle; padding: 0; text-align: right;">
                                    <span>{{unitCondition()}}</span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot *ngIf="getTypeConditionValue()">
                            <tr>
                                <td colspan="4" style="text-align: right;">
                                    <button *ngIf="!selectedTag && selectedTag != 0" type="button" class="btn btn-primary btn-sm" (click)="onAddTag()"
                                        accesskey="a">Thêm điều kiện</button>
                                    <button *ngIf="selectedTag || selectedTag == 0" type="button" class="btn btn-secondary btn-sm" (click)="onCancelTag()"
                                        accesskey="a">Hủy</button>
                                    <button *ngIf="selectedTag || selectedTag == 0" type="button" class="btn btn-primary btn-sm ml-2" (click)="onSaveTag()"
                                        accesskey="a">Lưu điều kiện</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div *ngIf="listTags.length" class="o_group border rounded pt-2 px-2 pb-1">
                    <button *ngFor="let tag of listTags; index as i;" class="mr-2 mb-1 btn btn-light btn-sm border"
                        [disabled]="selectedTag === i"
                        (click)="clickTag(tag, i)">
                        <span>{{convertTypeCondition(tag.typeCondition)}}</span>
                        <u class="pl-1">{{convertFlagCondition(tag.flagCondition)}}</u>
                        <u class="pl-1">{{isDay(tag.typeCondition) ? tag.valueCondition : tag.nameCondition}}</u>
                        <span *ngIf="isDay(tag.typeCondition)" class="pl-1">ngày</span>
                        <span class="remove" (click)="deleteTag(i)">
                            <i class="fas fa-times pl-2"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSave()" accesskey="s">Lưu</button>
    <button type="button" class="btn btn-secondary o_form_button_cancel" (click)="activeModal.dismiss()"
        accesskey="q">Đóng</button>
</footer>