<div class="">
    <div class="mb-2">
        <button class="btn btn-primary" (click)="inputFile.click()">
            <!-- <i class="far fa-image"></i> -->
            <span class="font-weight-600">
                Thêm ảnh
            </span>
        </button>
        <input #inputFile class="o_input_file" multiple="multiple" name="ufile" type="file" accept="image/*"
            (change)="addImages($event)">
    </div>

    <div class="o_attachments py-2">
        <div *ngIf="imagesPreview.length == 0" class="p-5 text-center">
            <img class="" src="assets/images/box.svg" alt="">
            <p>Chưa có dữ liệu</p>
        </div>

        <div class="o_AttachmentList_partialList">
            <div [attr.title]="img.name" *ngFor="let img of imagesPreview;index as i"
                class="o_Attachment">
                <div [ngStyle]="{'background-image':'url('+img.url+')'}" (click)="viewImage(img)" [attr.data-mimetype]="img.mineType"
                    class="o_Attachment_image o_image o-attachment-viewable o-details-overlay o-medium">
                    <div class="o_Attachment_imageOverlay">
                        <div class="o_Attachment_details o_Attachment_imageOverlayDetails">
                            <div class="o_Attachment_filename">{{img.name}}</div>
                            <!-- <div class="o_Attachment_extension">png</div> -->
                        </div>
                        <div class="o_Attachment_actions">
                            <div title="Remove" class="o_Attachment_action o_Attachment_actionUnlink"
                                (click)="deleteImages(img, $event)">
                                <i class="fa fa-times"></i>
                            </div>
                            <!-- <div title="Download" class="o_Attachment_action o_Attachment_actionDownload">
                                <i class="fa fa-download"></i>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>