<div class="">
    <div class="mb-2">
        <button class="btn btn-primary" (click)="inputFile.click()">
            <!-- <i class="far fa-image"></i> -->
            <span class="font-weight-600">
                Thêm ảnh
            </span>
        </button>
        <input #inputFile class="o_input_file" multiple="multiple" name="ufile" type="file" accept="image/*"
            (change)="addImages($event)">
    </div>

    <div class="o_attachments py-2">
        <div *ngIf="imagesPreview.length == 0" class="p-5 text-center">
            <img class="" src="assets/images/box.svg" alt="">
            <p>Chưa có dữ liệu</p>
        </div>
        <!-- <div class="p-2" *ngFor="let item of imagesPreview;let i=index"> -->
        <!-- <h5 class="ml-1 mb-0">{{getTitleDate(item[0])}}</h5> -->

        <!-- <div class="o_attachments_previews">
                <div class="o_attachment" *ngFor="let img of imagesPreview;let i = index">
                    <div class="o_attachment_wrap" (click)="viewImage(img)">
                        <img width="100%" [src]="img.url + '?width=240&height=240'" alt="">
                        <div class="o_attachment_overlay">
                            <span class="o_attachment_filename">{{img.name}}</span>
                            <div class="o_attachment_actions">
                                <span class="fa fa-times o_attachment_action" title="Delete {{img.name}}"
                                    (click)="deleteImages(img, $event)"></span>
                                <a class="o_attachment_action" (click)="stopPropagation($event)" href="{{img.name}}"
                                    target="_blank">
                                    <i aria-label="Download" class="fa fa-download text-white" role="img"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        <!-- <div class="o_AttachmentList_partialList o_AttachmentList_partialListImages">
            <div title="Screenshot (4).png"
                class="o_Attachment o-downloadable o-editable o-viewable o_AttachmentList_attachment o_AttachmentList_imageAttachment">
                <div href="https://statics.tdental.vn/images/localhost/211011/984613653_20200608_090530_879119_xquangrang.max-800x800.jpg&download=true"
                    style="background-image:url(https://statics.tdental.vn/images/localhost/211011/984613653_20200608_090530_879119_xquangrang.max-800x800.jpg?width=100); background-size: auto;"
                    data-mimetype="image/png"
                    class="o_Attachment_image o_image o-attachment-viewable o-details-overlay o-small">
                    <div class="o_Attachment_imageOverlay">
                        <div class="o_Attachment_details o_Attachment_imageOverlayDetails">
                            <div class="o_Attachment_filename">Screenshot (4).png</div>
                            <div class="o_Attachment_extension">png</div>
                        </div>
                        <div class="o_Attachment_actions">
                            <div title="Remove" class="o_Attachment_action o_Attachment_actionUnlink">
                                <i class="fa fa-times"></i>
                            </div>
                            <div title="Download" class="o_Attachment_action o_Attachment_actionDownload">
                                <i class="fa fa-download"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="o_AttachmentList_partialList">
            <div [attr.title]="img.name" *ngFor="let img of imagesPreview;index as i"
                class="o_Attachment">
                <div [ngStyle]="{'background-image':'url('+img.url+')'}" (click)="viewImage(img)" [attr.data-mimetype]="img.mineType"
                    class="o_Attachment_image o_image o-attachment-viewable o-details-overlay o-medium">
                    <div class="o_Attachment_imageOverlay">
                        <div class="o_Attachment_details o_Attachment_imageOverlayDetails">
                            <div class="o_Attachment_filename">{{img.name}}</div>
                            <!-- <div class="o_Attachment_extension">png</div> -->
                        </div>
                        <div class="o_Attachment_actions">
                            <div title="Remove" class="o_Attachment_action o_Attachment_actionUnlink"
                                (click)="deleteImages(img, $event)">
                                <i class="fa fa-times"></i>
                            </div>
                            <div title="Download" class="o_Attachment_action o_Attachment_actionDownload">
                                <i class="fa fa-download"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>