<div class="o_cp_controller">
    <div class="o_control_panel">
        <ol class="breadcrumb">
            <li class="active">Nhà cung cấp</li>
        </ol>
        <div class="o_cp_searchview">
            <div class="o_searchview">
                <input type="text" class="o_searchview_input" placeholder="Theo mã, tên hoặc số điện thoại"
                    [(ngModel)]="search" (ngModelChange)="searchUpdate.next($event)" />
            </div>
        </div>
        <div class="o_cp_left">
            <div class="o_cp_buttons">
                <div class="o_form_buttons_view">
                    <button type="button" class="btn btn-primary btn-sm" accesskey="c"
                        (click)="createItem()">Thêm</button>
                </div>
            </div>
            <div class="o_cp_sidebar">
            </div>
        </div>
    </div>
</div>

<div class="o_content">
    <kendo-grid [data]="gridData" [pageable]="true" [pageSize]="limit" [skip]="skip" (pageChange)="pageChange($event)"
        [loading]="loading">
        <kendo-grid-column field="ref" title="Mã" width="100"></kendo-grid-column>
        <kendo-grid-column field="name" title="Tên" width="200"></kendo-grid-column>
        <kendo-grid-column field="phone" title="Điện thoại" width="120"></kendo-grid-column>
        <kendo-grid-column field="debt" title="Nợ hiện tại" width="100" class="text-right">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.debt | number}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column title="Thao tác" width="100">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button title="Sửa" (click)="editItem(dataItem)" class="btn btn-success btn-sm mr-1"><i
                        class="fas fa-edit"></i></button>
                <button title="Xóa" (click)="deleteItem(dataItem)" class="btn btn-danger btn-sm"><i
                        class="far fa-trash-alt"></i></button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
</div>