<header class="modal-header">
    <h5 class="modal-title">{{appointId ? 'Cập nhật lịch hẹn' : 'Đặt lịch hẹn' }}<span
            class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ngbAutofocus
        (click)="activeModal.dismiss()" tabindex="-1">×</button>
</header>
<div class="modal-body o_act_window">
    <form class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="o_form_sheet">
                <!-- <div class="oe_title">
                    <h1>
                        <span>{{formGroup.get('name').value}}</span>
                    </h1>
                </div> -->
                <div class="d-flex">
                    <div class="mr-3">
                        <table class="o_group o_inner_group">
                            <tbody>
                                <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label">Thời gian</label>
                                    </td>
                                    <td colspan="1">
                                        <select class="form-control" formControlName="appTime">
                                            <option [value]="i" *ngFor="let i of timeList">
                                                {{i}}</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <kendo-calendar [navigation]="false" formControlName="apptDate">
                            </kendo-calendar>
                        </div>
                    </div>
                    <div>
                        <table class="o_group o_inner_group">
                            <tbody>
                                <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label">Khách hàng</label>
                                    </td>
                                    <td colspan="1" style="width: 100%;">
                                        <div *ngIf="dotKhamId && partner">{{partner.name}}</div>
                                        <div [ngClass]="dotKhamId ? 'd-none' : 'd-flex'">
                                            <kendo-combobox formControlName="partner" [filterable]="true"
                                                [data]="customerSimpleFilter" (valueChange)="onChangePartner()"
                                                #partnerCbx [valueField]="'id'" [textField]="'displayName'">
                                            </kendo-combobox>
                                            <!-- <a title="Sửa khách hàng" class="pl-2 py-1" type="button" *ngIf="partner"
                                                        (click)="updateCustomerModal()">
                                                        <i class="fas fa-external-link-alt"></i>
                                                    </a> -->
                                            <a type="button" title="Thêm khách hàng" class="pl-2 py-1"
                                                (click)="quickCreateCustomerModal()">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="partner && partnerAge">
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label">Tuổi</label>
                                    </td>
                                    <td colspan="1" style="width: 100%;">
                                        <div>{{partnerAge}}</div>
                                    </td>
                                </tr>
                                <tr *ngIf="partner && partnerPhone">
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label">Điện thoại</label>
                                    </td>
                                    <td colspan="1" style="width: 100%;">
                                        <div *ngIf="partner">{{partnerPhone}}</div>
                                    </td>
                                </tr>
                                <tr *ngIf="partner && tags.length > 0">
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label">Nhãn khách hàng</label>
                                    </td>
                                    <td colspan="1" style="width: 100%;">
                                        <ng-container *ngFor="let item of tags.controls; let i = index;">
                                            <span class="badge badge-secondary mr-1">
                                                {{item.get('Name').value}}
                                            </span>
                                        </ng-container>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="o_group o_inner_group">
                            <tbody>
                                <tr>
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label">Bác sĩ</label>
                                    </td>
                                    <td colspan="1" style="width: 100%;">
                                        <kendo-combobox formControlName="doctor" [filterable]="true"
                                            [data]="filteredEmployees" #doctorCbx [valueField]="'id'"
                                            [textField]="'name'">
                                        </kendo-combobox>
                                    </td>
                                </tr>
                                <tr *ngIf="appointId">
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label">Trạng thái</label>
                                    </td>
                                    <td>
                                        <select class="form-control" formControlName="state">
                                            <option value="confirmed">Đang hẹn</option>
                                            <option value="waiting">Chờ khám</option>
                                            <option value="examination">Đang khám</option>
                                            <option value="done">Hoàn thành</option>
                                            <option value="cancel">Đã hủy</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr *ngIf="state == 'cancel'">
                                    <td colspan="1" class="o_td_label">
                                        <label class="o_form_label">Lý do hủy hẹn</label>
                                    </td>
                                    <td colspan="1" style="width: 100%;">
                                        <input type="text" class="form-control" formControlName="reason" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="o_td_label o_td_label_right">
                                        <label class="o_form_label">
                                            Nội dung
                                        </label>
                                    </td>
                                    <td colspan="1" style="width: 100%;" class="o_td_control_right">
                                        <textarea class="form-control" rows="5" formControlName="note"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm mr-2" accesskey="s" (click)="onSave()">
        <i class="fas fa-save"></i>&nbsp;Lưu</button>
    <button type="button" class="btn btn-light btn-sm mr-2" accesskey="q" (click)="activeModal.dismiss()">
        <i class="fas fa-window-close"></i>&nbsp;Đóng</button>
</div>