.k-datepicker {
  width: 100%;
}

kendo-window-titlebar.k-window-titlebar.k-dialog-titlebar.k-header {
  background-color: red;
}

.k-alert-error {
  color: red;
}

.w-fit-content {
  width: fit-content;
}
